---
layout: default
title: Chattanooga
masthead-image: "../../media/images/governments/chattanooga_header.jpg"
nav_tier1_active: "governments"
nav-breadcrumbs:
 - Governments: "/cities"
 - Chattanooga: "/cities/chattanooga"
---

<section> 
        <div class="layout-semibreve">
    
            {% include nav-breadcrumbs.html %}

            <header class="badge-heading badge-blue badge-fellowship">
                <h2>Chattanooga</h2>
            </header>

            <section>
                <div class="layout-semibreve">
                    <div class="layout-gutters">
                        <p>Known as the “Scenic City”, Chattanooga is surrounded on by mountains and ridges. Although famous for its natural beauty, Chattanooga also boasts some of the fastest Internet speeds in the country and the city is home to large tech companies like Amazon and local newcomers Supply Hog, Sodaworks and Variable Technologies.</p>
                        <p>The 2014 Fellows in Chattanooga, along with the city's brigade, Open Chattanooga, are helping the city spearhead an open data movement.</p>
                        
                        <p>
                            <a href="#2014" class="button button-s">the 2014 Fellows</a>
                            <a href="http://openchattanooga.com/" class="button button-s" target="_blank">Open Chattanooga</a>
                            <a href="https://data.chattlibrary.org/" class="button button-s" target="_blank">Open Data from Open Government Collaborative</a></p>

                    </div>
                </div>
            </section>
        </div>
    </section>

    <section class="slab-blue">
        <div class="layout-semibreve">
            <div class="highlight highlight-with-avatar">
                <img class="highlight-avatar" src="../../media/images/governments/chattanooga_seal.png" /> 
<a id="2014"></a>
                <blockquote>
                	<p>
                        This opportunity validates our place in the ever-growing world of technology. But, more importantly, it ultimately makes local government more open, accessible, and innovative.
                	</p>
                </blockquote>

                <p class="attribute">Mayor Andy Berke</p>

            </div>
        </div>

    </section>
    
    <section>
        <div class="layout-semibreve">

            <header class="badge-heading badge-red badge-fellowship">
                <h2>The 2014 Fellowship in Chattanooga</h2>
            </header>

                    <div class="layout-gutters">
                        <p>Code for America Chattanooga is working with City Hall to open government data and foster an ecosystem of civic application development. The team helped launch the city’s <a href="https://data.chattlibrary.org/" target="_blank">open data site</a>, shepherded an <a href="http://www.chattanooga.gov/images/citymedia/mayorsoffice/Executive_Orders/2014-04_open_data_policy_executive_order.pdf" target="_blank">open data policy</a>, deployed a <a href="http://localwiki.net/cha/" target="_blank">local wiki</a>, and organized a <a href="http://tester.openchattanooga.com/" target="_blank">Civic User Testing Group</a>, in partnership with the Benwood Foundation.</p>

                        <p>Additionally, the Fellows are working on <a href="http://bestnestapp.com/" target="_blank">Best Nest</a>, a platform that helps renters make informed housing choices. It brings together disparate data: code violations, evictions, energy, transit, and parcel data to empower renters in their search for safe, affordable housing. Check out the Fellows' <a href="http://midyear.chitchatt.org/" target="_blank">mid-year update</a> to learn more.</p>

			<img src="../../media/images/governments/chattanooga-best-nest.png" width="724" height="300">
                    </div>
                    <br/>
                    <br/>


            <div class="layout">
<h4>Meet the team: </h4>
                <ul>
                    <li class="layout-crotchet">
                        {% include people/jason-denizac.html context="2014-fellows" base="../.." %}
                    </li>
                    <li class="layout-crotchet">
                        {% include people/jeremia-kimelman.html context="2014-fellows" base="../.." %}
                    </li>
                    <li class="layout-crotchet">
                        {% include people/giselle-sperber.html context="2014-fellows" base="../.." %}
                    </li>
                </ul>
                <p><b>Team Leads</b>: Stacy Richardson, Chief Policy Officer and Jeff Cannon, Chief Innovation Officer<br>
                <b>Community Partners</b>: Benwood Foundation, Lyndhurst Foundation</p>

                <p>Follow the fellows' progress on their blog <a href="http://chitchatt.org/" target="_blank">ChitChatt</a></p>
                <p>Contribute to <strong>Best Nest</strong> on <a href="https://github.com/codeforamerica/bestnestapp.com" target="_blank">Github</a>.</p>
            </div>
       </div>
    </section>

    <section class="slab-gray">
        <div class="layout-semibreve">
            <header class="badge-heading badge-orange badge-fellowship">
                <h2>Articles &amp; video</h2>
            </header>   

            <ul class="teasers">
                <li class="layout-crotchet"> 
                <article class="teaser">
                    <iframe width="300" height="165" src="//www.youtube.com/embed/vEV7TxsHVqM?list=UU6VjQY-gIxXGKmjW0LeMGOw" frameborder="0" allowfullscreen></iframe>
                    <div class="teaser-description">
                        <h4 class="teaser-title">
                            Chattanooga Code for America Fellows - <a href="http://youtu.be/vEV7TxsHVqM?list=UU6VjQY-gIxXGKmjW0LeMGOw">BETA</a>
                        </h4>
                        <div class="teaser-body">
                            <p>Giselle Sperber, Jason Denizac, and Jeremia Kimelan discuss their projects in Chattanooga, TN. ...
                            </p>
                        </div>
                    </div>
                </article>
                </li>
                
                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://www.nooga.com/166904/building-an-open-data-ecosystem-one-bit-at-a-time/" target="_blank"><img class="teaser-image" src="../../media/images/press/chattanooga-201406-nooga.png" alt="Nooga blog post" width="300" height="165" style="margin:0px;height:165px;width:300px;"/></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">Building an open data ecosystem one bit at a time — <a href="http://www.nooga.com/166904/building-an-open-data-ecosystem-one-bit-at-a-time/" target="_blank">Nooga</a></h4>

                            <div class="teaser-body">
                                <p>Smartphones, the Web and in-car location devices did not exist when the military created the Global Positioning System. But the now-familiar services built around GPS, from Yelp to public transit apps ...
                                </p>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://technical.ly/brooklyn/2014/05/19/code-america-giselle-sperber/" target="_blank"><img class="teaser-image" src="../../media/images/press/chattanooga-201405-technically.png" alt="Technically blog post"  width="300" height="165" style="margin:0px;height:165px;width:300px;"/></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">Code for America 2015 Fellowship Seeks Developers and Designers — <a href="http://technical.ly/brooklyn/2014/05/19/code-america-giselle-sperber/" target="_blank">Technical.ly</a></h4>

                            <div class="teaser-body">
                                <p>Giselle Sperber, a Code for America fellow now working in Chattanooga, Tennessee, wrote us a letter home to the borough. <i>Dear Brooklyn, It’s been four months since I left and while I miss you a lot </i>...
                                </p>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://nooga.com/165856/chattanooga-drafting-data-policy-on-github/" target="_blank"><img class="teaser-image" src="../../media/images/press/chattanooga-201403-nooga2.png" alt="Nooga blog post"  width="300" height="165" style="margin:0px;height:165px;width:300px;"/></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">Chattanooga drafting data policy on GitHub — <a href="http://nooga.com/165856/chattanooga-drafting-data-policy-on-github/" target="_blank">Nooga</a></h4>

                            <div class="teaser-body">
                                <p>The words "government policy" typically evoke images of bureaucrats in cubicles writing technical documents that will be read by other bureaucrats two cubicles down. It’s not an open process. ...
                                </p>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://www.chattanoogapulse.com/columns/tech/computer-code,-meet-city-code/" target="_blank"><img class="teaser-image" src="../../media/images/press/chattanooga-201403-pulse.png" alt="Chattanooga Pulse article"  width="300" height="165" style="margin:0px;height:165px;width:300px;"/></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">Computer Code, Meet City Code — <a href="http://www.chattanoogapulse.com/columns/tech/computer-code,-meet-city-code/" target="_blank">The Pulse</a></h4>

                            <div class="teaser-body">
                                <p>OK, WHICH KIND OF CODE ARE WE TALKING about here? I’m reasonably certain it’s not about code breakers, code talkers or secret decoder rings. In 2014, Chattanooga is one of ten cities nationwide to receive Code For America Fellows ...
                                </p>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://nooga.com/165819/chawikiorg-is-whatever-you-want-it-to-be/" target="_blank"><img class="teaser-image" src="../../media/images/press/chattanooga-201403-nooga.png" alt="Nooga blog post"  width="300" height="165" style="margin:0px;height:165px;width:300px;"/></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">ChaWiki.org is whatever you want it to be — <a href="http://nooga.com/165819/chawikiorg-is-whatever-you-want-it-to-be/" target="_blank">Nooga</a></h4>

                            <div class="teaser-body">
                                <p>Open-source platform ChaWiki.org seeks to become a hub for all things Chattanooga. In just two weeks, 46 users have generated more than 124 individual pages and 32 maps featuring everything from the best happy hours ...</p>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://www.timesfreepress.com/news/2014/feb/11/winter-wallop-in-forecast/" target="_blank"><img class="teaser-image" src="../../media/images/press/chattanooga-201402-timesfree.png" alt="Times Free Press article"  width="300" height="165" style="margin:0px;height:165px;width:300px;"/></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">'Big deal' snow forecast triggers Chattanooga area school closings — <a href="http://www.timesfreepress.com/news/2014/feb/11/winter-wallop-in-forecast/" target="_blank">Times Free Press</a></h4>

                            <div class="teaser-body">
                                <p>"I created the page because the question of snow is in the front of everyone's minds, especially given the disruption caused by the snow two weeks ago" said Denizac, a web developer with a nonprofit group called Code for America ...</p>
                            </div>
                        </div>
                    </article>
                </li>
				
                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://nooga.com/165386/a-website-asks-the-most-important-question-is-it-snowing-in-chattanooga/" target="_blank"><img class="teaser-image" src="../../media/images/press/chattanooga-201402-nooga.png" alt="Nooga blog post"  width="300" height="165" style="margin:0px;height:165px;width:300px;"/></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">A website asks the most important question: Is it snowing in Chattanooga? — <a href="http://nooga.com/165386/a-website-asks-the-most-important-question-is-it-snowing-in-chattanooga/" target="_blank">Nooga</a></h4>

                            <div class="teaser-body">
                                <p>A website created by the Code for America fellows answers the question on everybody’s mind: Is it snowing in Chattanooga? ...
                                </p>
                            </div>
                        </div>
                    </article>
                </li>

				<!--OLD-->
				<li class="layout-crotchet"> 
                <article class="teaser">
                    <a href="http://www.nooga.com/165295/code-for-america-team-wants-to-tackle-a-city-problem-or-two/" alt=""  target="_blank"/><img class="teaser-image" src="../../media/images/press/feb4_nooga.jpg" alt=" Nooga blog post"  width="300" height="165" style="margin:0px;height:165px;width:300px;"/></a> 
                    <div class="teaser-description">
                        <h4 class="teaser-title">
                            Code for America team wants to tackle a city problem or two — <a href="http://www.nooga.com/165295/code-for-america-team-wants-to-tackle-a-city-problem-or-two/" target="_blank">Nooga</a>
                        </h4>
                        <div class="teaser-body">
                            <p>
                                Code for America representatives toured former industrial sites that have since been transformed into Chattanooga’s Southside. They hope to soon join a transformation in the city’s digital infrastructure, too...
                            </p>
                        </div>
                    </div>
                </article>
                </li>
                <li class="layout-crotchet"> 
                <article class="teaser">
                    <a href="http://www.newschannel9.com/news/top-stories/stories/chattanooga-named-code-america-city-7496.shtml" target="_blank"><img class="teaser-image" src="../../media/images/press/chattanooga_press1.jpg" alt="News Channel 9 story"  width="300" height="165" style="margin:0px;height:165px;width:300px;"/></a> 
                    <div class="teaser-description">
                        <h4 class="teaser-title">
                            Chattanooga Named Code For America City — <a href="http://www.newschannel9.com/news/top-stories/stories/chattanooga-named-code-america-city-7496.shtml" target="_blank">News Channel 9</a>
                        </h4>
                        <div class="teaser-body">
                            <p>
                                Chattanooga was named as a Code for America (CfA) Fellowship City Tuesday. CfA will provide at least three fellows for a year, beginning in January 2014. City staff and local developers will work with the CfA fellows to develop...
                            </p>
                        </div>
                    </div>
                </article>
                </li>
                <li class="layout-crotchet"> 
                <article class="teaser">
                    <a href="http://www.nooga.com/163864/chattanooga-chosen-for-code-for-america-fellowship/" target="_blank"><img class="teaser-image" src="../../media/images/press/chattanooga_press2.jpg" alt="Nooga blog psot"  width="300" height="165" style="margin:0px;height:165px;width:300px;"/></a> 
                    <div class="teaser-description">
                        <h4 class="teaser-title">
                            Chattanooga chosen for Code for America fellowship — <a href="http://www.nooga.com/163864/chattanooga-chosen-for-code-for-america-fellowship/"  target="_blank">Nooga</a>
                        </h4>
                        <div class="teaser-body">
                            <p>
                                Starting next year, a team of developers will begin to build Web apps intended to improve city services and community outreach in Chattanooga.<br>Mayor Andy Berke’s office announced this morning that Chattanooga is one of...
                            </p>
                        </div>
                    </div>
                </article>
                </li>


            </ul>

        </div>
    </section>
