{% if include.context == "app-page" %}

	<div class="heading">
		<h2>BizFriend.ly</h2>
	</div>
	
	<div class="layout-minor">
		<img class="isolate" src="{{ include.base }}/media/images/apps/bizfriendly.jpg" />
	    <h3 class="text-prominent">Overview</h3>
	    <p>BizFriend.ly is a go-to digital literacy resource where small to mid-sized businesses can find empowering, easy-to-use online tools.</p>
	    
	    <p class="text-whisper"><a href="{{ include.base }}/http://bizfriend.ly/">http://bizfriend<wbr>.ly/</a></p>
	    
	    <h4 class="text-whisper layout-tight">Created by</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/people/andrew-hyder">Andrew Hyder</a></li>
	    	<li><a href="{{ include.base }}/people/ariel-kennan">Ariel Kennan</a></li>
	    </ul>
	    
	    <h4 class="text-whisper layout-tight">Created for</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/cities/kansascity/index.html">Kansas City, Kansas & Kansas City, Missouri</a></li>
	    </ul>
	    
	</div>
	
	<div class="layout-major">
	    	
	    <p>BizFriend.ly is a learning and sharing community that helps entrepreneurs start, run and grow great businesses.</p>
	        
	    <div class="spotlight">
	    	<h3 class="text-whisper">Summary</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Live</th><td><a href="http://bizfriend.ly/">http://bizfriend.ly/</a></td></tr>
	    		<tr><th>Video</th><td><a href="http://vimeo.com/80395212">Learning and Sharing on BizFriend.ly</a></td></tr>
	    		<tr><th>Codebase</th><td><a href="https://github.com/codeforamerica/bizfriendly-web">View on GitHub</a></td></tr>
	    		<tr><th>Environment</th><td>Python/Flask & Javascript</td></tr>
	    		<tr><th>Redeploy</th><td>Centrally hosted content platform; add lessons about web services and governments at <a href="http://bizfriend.ly">http://bizfriend.ly</a></td></tr>
	    	</table>
	    	<a href="https://codeforamerica.wufoo.com/forms/app-inquiry-form/" class="button-alternative">Contact us to deploy this app</a>
	    </div>
	    
        <p>Led by the Kansas City, Kansas and Kansas City, Missouri Mayors' Offices and built by 2013 Code for America's fellows Andrew Hyder and Ariel Kennan, BizFriend.ly brings together small and mid-sized business owners, their employees, community experts, governments, and providers of web services all in one place to learn and share.</p>

<p><strong>Learning</strong></p>
<p>Lessons provide entrepreneurs with an easy-to-follow, real-time, step-by-step guide to various programs and web-based services. Multiple lessons are available under each service, so users can pick the lessons that best fit their needs. <a href="http://vimeo.com/78485499">Watch a short video</a> of someone learning how to create a Facebook page on BizFriend.ly.</p>  

<p><strong>Teaching</strong></p>
<p>Users are able to easily create their own lessons, to keep content up-to-date, and share their expertise with the community through content creation tools built into BizFriend.ly. At present, content for BizFriend.ly has been built with Code for America, KC Public Library, and KCMO CDE. You're invited to add new lessons about a web service or government. <a href="http://vimeo.com/78485500">Watch a short video</a> of someone teaching on BizFriend.ly.</p> 

<p><strong>Connecting</strong></p>
<p>The platform provides encouragement and validation from peers and experts, as well as tracking of personal accomplishments, creating a real sense of pride, and community, and social support.</p>
      
 <p>Presented to the cities of Kansas City, Kansas and Kansas City, Missouri as a minimum viable product in April 2013 and as an alpha in August 2013, beta in October 2013 and launched locally in Kansas City in November 2013, the app continues to add new users and lessons. For more on the project, check it out at <a href=http://bizfriend.ly>BizFriend.ly.</a></p>
	    
	</div>

{% elsif include.context == 'apps-list' or include.context == 'our-startups' %}

    <article class="teaser teaser-app">
        <header class="teaser-header">
            <a href="{{ include.base }}/apps/bizfriendly">
                <h1 class="teaser-title">BizFriendly</h1>
            </a>
        </header>
        <div class="teaser-body">
            <p>BizFriend.ly is a go-to digital literacy resource where small to mid-sized businesses can find empowering, easy-to-use online tools.</p>
            
            <h2 class="text-whisper">Environment</h2>
            <p>Python/Flask & Javascript</p>
            
            <h2 class="text-whisper">Redeploy</h2>
            <p>Centrally hosted content platform; add lessons about web services and governments at <a href="http://bizfriend.ly">http://bizfriend.ly</p>
            
            <p><a href="{{ include.base }}/apps/bizfriendly">Learn more about this app</a></p>
        </div>
        <footer class="teaser-footer">
            <a href="{{ include.base }}/apps/bizfriendly" class="teaser-masthead">
                <img class="teaser-image" src="{{ include.base }}/media/images/apps/bizfriendly.jpg" />
            </a>
        </footer>
    </article>

{% endif %}
