{% if include.context == "app-page" %}
 <div class="layout-semibreve">
  <div class="heading">
    <h2>City Analytics Dashboard</h2>
  </div>
  
  
        
      <p>The City Analytics Dashboard lets you display the live traffic on your website easily from your Google Analytics account.ne.</p>
      
      <!--img class="isolate" src="{{ include.base }}/media/images/apps/cityvoice-triptych-v1.png"/-->
      
      <p>You can setup a dashboard in just a couple of minutes if you have:</p>

    <ul>
      <li>Access to the associated Google Analytics account</li>
      <li>The ability to use or create an account with Heroku</li>
    </ul>



      <div class="spotlight">
        <table class="table-unstyled table-minor">
          <tr><th>Live Example</th><td><a href="http://www.southbendvoices.com/">http://www<wbr>.southbendvoices<wbr>.com/</a></td></tr>
          <tr><th>Codebase</th><td><a href="https://github.com/codeforamerica/city-analytics-dashboard">https://github<wbr>.com/<wbr>codeforamerica/<wbr>city-analytics-dashboard</a></td></tr>
          <tr><th>Environment</th><td>Sinatra (ruby) and JavaScript</td></tr>
          <!--tr><th>Redeploy</th><td>Contact <a href="http://postcode.io">Postcode.io</a> or follow Heroku <a href="https://github.com/codeforamerica/cityvoice#setup-internal-documentation">installation instructions on Github</a>.</td></tr-->
        </table>
      </div>
      
        <p>CityVoice was created to make community feedback quick, easy and accessible for residents and actionable for public servants. It invites residents to participate through on-location signs and flyers; residents call a phone number, enter a location code, and answer structured polls as well as leaving voice answers to open-ended questions. The responses are collected and presented on a public website.</p>
        <p>Municipalities can use the data and information collected to get broad overviews of community sentiment on issues as well as drill down to the details of a specific location. In South Bend, CityVoice is being used for a&nbsp;Vacant and Abandoned Properties Initiative&nbsp;and&nbsp;is helping the City prioritize what actions to pursue for over 1000 vacant and abandoned properties.</p>
        <p>See its impact in South Bend:&nbsp;South Bend Tribune,&nbsp;WSBT 22,&nbsp;Fox 28</p>
        
        <section class="slab-dark-blue"> 
        <div class="layout-semibreve">
        <h4>Created by:</h4>
            <div class="layout-minor">
                <a href="/governments/southbend/"><img style="border: 5px solid red" class="profile-photo u-photo" src="../../media/images/governments/oakland_seal.png" alt="southbend_seal"/></a> 
      </div>
      <div class="layout-major">
        <div class="layout-crotchet">
          <a href="/people/frances-berrimam/"><img style="border: 5px solid white" class="u-photo profile-photo" src="{{ include.base }}/media/images/people/frances-berriman.jpg"/>
          <h4 class="text-whisper">Frances Berriman</h4></a>
        </div>
        <div class="layout-crotchet">
          <a href="/people/michal-migurski/"><img style="border: 5px solid white" class="profile-photo u-photo" src="{{ include.base }}/media/images/people/michal-migurski.jpg"/>
          <h4 class="text-whisper">Michal Migurski</h4></a>
        </div>
        <!--div class="layout-crotchet">
          <a href="/people/reed-duecy-gibbs/"><img style="border: 5px solid white" class="profile-photo u-photo" src="{{ include.base }}/media/images/people/tamara-manik-perlman.jpg"/>
          <h4 class="text-whisper">Tamara Manik-Perlman</h4></a>
        </div-->
      </div>
    </div>
  </section>
  </div>

{% elsif include.context == 'apps-list' or include.context == 'our-startups' %}

    <article class="teaser teaser-app">
        <header class="teaser-header">
            <a href="{{ include.base }}/apps/city-analytics-dashboard">
                <h1 class="teaser-title">City Analytics Dashboard</h1>
            </a>
        </header>
        <div class="teaser-body">
            <p>Display your website's live traffic</p>
            
            <h2 class="text-whisper">Environment</h2>
            <p>Sinatra (ruby) and JavaScript</p>
            
            <h2 class="text-whisper">Redeploy</h2>
            <p>Contact <a href="http://postcode.io">Postcode.io</a> or follow Heroku <a href="https://github.com/codeforamerica/cityvoice#setup-internal-documentation">installation instructions on Github</a>.</p>
            
            <p><a href="{{ include.base }}/apps/cityvoice">Learn more about this app</a></p>
        </div>
        <footer class="teaser-footer">
            <a href="{{ include.base }}/apps/cityvoice" class="teaser-masthead">
                <img class="teaser-image" src="{{ include.base }}/media/images/apps/cityvoice.jpg" />
            </a>
        </footer>
    </article>

{% endif %}