{% if include.context == "app-page" %}

	<div class="heading">
		<h2>Family Assessment Form</h2>
	</div>
	
	<div class="layout-minor">
		<img class="isolate" src="{{ include.base }}/media/images/apps/family-assessment-form.jpg" />
	    <h3 class="text-prominent">Overview</h3>
	    <p>The Family Assessment Form (FAF) Web is a tool designed by social workers, researchers, and technology experts to help family support practitioners improve family functioning, service planning for families, and organizational performance.</p>
	    
	    <p class="text-whisper"><a href="http://myfaf.org/">http://myfaf<wbr>.org/</a></p>
	    
	    <h4 class="text-whisper layout-tight">Founded by</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li>Sarayu Ramanan</li>
	    </ul>
	    
	    <h4 class="text-whisper layout-tight">Part of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/civic-startups">2013 Accelerator</a></li>
	    </ul>
	    
	</div>
	
	<div class="layout-major">
	    	
	    <p>The Family Assessment Form (FAF) Web is a tool designed by social workers, researchers, and technology experts to help family support practitioners improve family functioning, service planning for families, and organizational performance.</p>
	        
	    <div class="spotlight">
	    	<h3 class="text-whisper">Summary</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Live</th><td><a href="http://myfaf.org/">http://myfaf<wbr>.org/</a></td></tr>
	    		<tr><th>Video</th><td><a href="http://www.youtube.com/watch?v=pBa55UKpI7o">http://www<wbr>.youtube<wbr>.com/<wbr>watch?v=<wbr>pBa55UKpI7o</a></td></tr>
	    		<tr><th>Environment</th><td></td></tr>
	    		<tr><th>Redeploy</th><td></td></tr>
	    	</table>
	    	<a href="https://codeforamerica.wufoo.com/forms/app-inquiry-form/" class="button-alternative">Contact us to deploy this app</a>
	    </div>
	    
        <p>The&nbsp;Family Assessment Form (FAF) Web&nbsp;is a tool designed by social workers, researchers, and technology experts to help family support practitioners improve family functioning, service planning for families, and organizational performance.</p>
        <p>The FAF is ideal for use in organizations performing home visitation services for families that address comprehensive concerns about family well-being and child welfare. FAF Web enables all stakeholders to access essential data remotely from any internet-enabled device.</p>
        <p>The&nbsp;Family Assessment Form (FAF) Web&nbsp;is a Code for America accelerator company. For more information visit myfaf.org</p>
	    
	</div>

{% elsif include.context == 'apps-list' or include.context == 'our-startups' %}

    <article class="teaser teaser-app">
        <header class="teaser-header">
            <a href="{{ include.base }}/apps/family-assessment-form">
                <h1 class="teaser-title">Family Assessment Form</h1>
            </a>
        </header>
        <div class="teaser-body">
            <p>The Family Assessment Form (FAF) Web is a tool designed by social workers, researchers, and technology experts to help family support practitioners improve family functioning, service planning for families, and organizational performance.</p>
            
            <h2 class="text-whisper">Environment</h2>
            <p></p>
            
            <h2 class="text-whisper">Redeploy</h2>
            <p></p>
            
            <p><a href="{{ include.base }}/apps/family-assessment-form">Learn more about this app</a></p>
        </div>
        <footer class="teaser-footer">
            <a href="{{ include.base }}/apps/family-assessment-form" class="teaser-masthead">
                <img class="teaser-image" src="{{ include.base }}/media/images/apps/family-assessment-form.jpg" />
            </a>
        </footer>
    </article>

{% endif %}
