{% if include.context == "app-page" %}

	<div class="heading">
		<h2>Honolulu Answers</h2>
	</div>
	
	<div class="layout-minor">
		<img class="isolate" src="{{ include.base }}/media/images/apps/honolulu-answers.jpg" />
	    <h3 class="text-prominent">Overview</h3>
	    <p>Honolulu Answers allows residents to search for answers about city services as if they were typing questions into Google.</p>
	    
	    <p class="text-whisper"><a href="http://answers.honolulu.gov/">http://answers<wbr>.honolulu<wbr>.gov/</a></p>
	    
	    <h4 class="text-whisper layout-tight">Created by</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/people/sheba-najmi">Sheba Najmi</a></li>
	    	<li><a href="{{ include.base }}/people/mick-thompson">Mick Thompson</a></li>
	    	<li><a href="{{ include.base }}/people/elizabeth-hunt">Elizabeth Hunt</a></li>
	    	<li><a href="{{ include.base }}/people/diana-tran">Diana Tran</a></li>
	    </ul>
	    
	    <h4 class="text-whisper layout-tight">Created for</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/cities/honolulu">City of Honolulu</a></li>
	    </ul>
	    
	</div>
	
	<div class="layout-major">
	    	
	    <p>
	    Honolulu Answers allows residents to search for answers about city services as if they were typing questions into Google.
            Answers is used in <a href="http://answers.honolulu.gov">Honolulu</a>, <a href="http://answers.oaklandnet.com">Oakland</a>, <a href="http://www.wmgreenguide.com">Western Michigan</a>, <a href="http://faq.codeformuenster.org">Münster</a>, and <a href="http://answers.tucsonaz.gov">Tucson</a>.
	    </p>
	        
	    <div class="spotlight">
	    	<h3 class="text-whisper">Summary</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Live</th><td><a href="http://answers.honolulu.gov/">http://answers<wbr>.honolulu<wbr>.gov/</a></td></tr>
	    		<tr><th>Video</th><td><a href="http://vimeo.com/43632898">http://vimeo<wbr>.com/<wbr>43632898</a></td></tr>
	    		<tr><th>Codebase</th><td><a href="https://github.com/codeforamerica/honolulu_answers">https://github<wbr>.com/<wbr>codeforamerica/<wbr>honolulu_answers</a></td></tr>
	    		<tr><th>Environment</th><td></td></tr>
	    		<tr><th>Redeploy</th><td></td></tr>
	    	</table>
	    	<a href="#" class="button-alternative">Contact us to deploy this app</a>
	    </div>
	    
	    <p>Honolulu Answers is a first-of-its-kind for municipal government. It’s a citizen-centric website that is question driven with clean, easy-to-navigate design. This simple site functions similar to Google — it centers around a search box where a resident can ask a question or type in keywords using standard language and receive friendly and comprehensible responses.</p>
        <p>Check out the app at answers.honolulu.gov</p>
	    
	</div>

{% elsif include.context == 'apps-list' or include.context == 'our-startups' %}

    <article class="teaser teaser-app">
        <header class="teaser-header">
            <a href="{{ include.base }}/apps/honolulu-answers">
                <h1 class="teaser-title">Honolulu Answers</h1>
            </a>
        </header>
        <div class="teaser-body">
            <p>Honolulu Answers allows residents to search for answers about city services as if they were typing questions into Google.</p>
            
            <h2 class="text-whisper">Environment</h2>
            <p></p>
            
            <h2 class="text-whisper">Redeploy</h2>
            <p></p>
            
            <p><a href="{{ include.base }}/apps/honolulu-answers">Learn more about this app</a></p>
        </div>
        <footer class="teaser-footer">
            <a href="{{ include.base }}/apps/honolulu-answers" class="teaser-masthead">
                <img class="teaser-image" src="{{ include.base }}/media/images/apps/honolulu-answers.jpg" />
            </a>
        </footer>
    </article>

{% endif %}
