{% if include.context == "app-page" %}

	<div class="heading">
		<h2>MindMixer</h2>
	</div>
	
	<div class="layout-minor">
		<img class="isolate" src="{{ include.base }}/media/images/apps/mindmixer.jpg" />
	    <h3 class="text-prominent">Overview</h3>
	    <p>Mindmixer offers community leaders a chance to crowdsource ideas, share assets and manage feedback</p>
	    
	    <p class="text-whisper"><a href="http://www.mindmixer.com/">http://www<wbr>.mindmixer<wbr>.com/</a></p>
	    
	    <h4 class="text-whisper layout-tight">Founded by</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li>Nick Bowden</li>
	    	<li>Nathan Preheim</li>
	    </ul>
	    
	    <h4 class="text-whisper layout-tight">Part of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/civic-startups">2012 Accelerator</a></li>
	    </ul>
	    
	</div>
	
	<div class="layout-major">
	    	
	    <p>Mindmixer offers community leaders a chance to crowdsource ideas, share assets and manage feedback</p>
	        
	    <div class="spotlight">
	    	<h3 class="text-whisper">Summary</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Live</th><td><a href="http://www.mindmixer.com/">http://www<wbr>.mindmixer<wbr>.com/</a></td></tr>
	    		<tr><th>Video</th><td><a href="http://www.youtube.com/watch?v=P24M-rUBMK4">http://www<wbr>.youtube<wbr>.com/<wbr>watch?v=<wbr>P24M-rUBMK4</a></td></tr>
	    		<tr><th>Deploy</th><td>Commercially-available hosted platform</td></tr>
	    	</table>
	    	<a href="https://codeforamerica.wufoo.com/forms/app-inquiry-form/" class="button-alternative">Contact us to deploy this app</a>
	    </div>
	    
	    <p>Mindmixer is a simple platform that generates a broader audience and creates more effective community participation. The app offers measurable results and invaluable insights for community leaders and elected officials.</p>
	    
	</div>

{% elsif include.context == 'apps-list' or include.context == 'our-startups' %}

    <article class="teaser teaser-app">
        <header class="teaser-header">
            <a href="{{ include.base }}/apps/mindmixer">
                <h1 class="teaser-title">MindMixer</h1>
            </a>
        </header>
        <div class="teaser-body">
            <p>Mindmixer offers community leaders a chance to crowdsource ideas, share assets and manage feedback</p>
            
            <h2 class="text-whisper">Deploy</h2>
            <p>Commercially-available hosted platform</p>
            
            <p><a href="{{ include.base }}/apps/mindmixer">Learn more about this app</a></p>
        </div>
        <footer class="teaser-footer">
            <a href="{{ include.base }}/apps/mindmixer" class="teaser-masthead">
                <img class="teaser-image" src="{{ include.base }}/media/images/apps/mindmixer.jpg" />
            </a>
        </footer>
    </article>

{% endif %}
