{% if include.context == "app-page" %}

	<div class="heading">
		<h2>OpenCounter</h2>
	</div>
	
	<div class="layout-minor">
		<img class="isolate" src="{{ include.base }}/media/images/apps/open-counter.jpg" />
	    <h3 class="text-prominent">Overview</h3>
	    <p>Open Counter streamlines the creation of new businesses by offering small business owners a simple and 24-7 interface for business permit applications.</p>
	    
	    <p class="text-whisper"><a href="http://opencounter.cityofsantacruz.com/applicants/sign_in">http://opencounter<wbr>.cityofsantacruz<wbr>.com/<wbr>applicants/<wbr>sign_in</a></p>
	    
	    <h4 class="text-whisper layout-tight">Created by [HUMANS]</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="#">[HUMAN]</a></li>
	    </ul>
	    
	    <h4 class="text-whisper layout-tight">Created for</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="#">[HUMAN]</a></li>
	    </ul>
	    
	</div>
	
	<div class="layout-major">
	    	
	    <p>Open Counter streamlines the creation of new businesses by offering small business owners a simple and 24-7 interface for business permit applications.</p>
	        
	    <div class="spotlight">
	    	<h3 class="text-whisper">Summary</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Live</th><td><a href="http://opencounter.cityofsantacruz.com/applicants/sign_in">http://opencounter<wbr>.cityofsantacruz<wbr>.com/<wbr>applicants/<wbr>sign_in</a></td></tr>
	    		<tr><th>Video</th><td><a href="http://vimeo.com/44008088">http://vimeo<wbr>.com/<wbr>44008088</a></td></tr>
	    		<tr><th>Codebase</th><td><a href="https://github.com/codeforamerica/opencounter">https://github<wbr>.com/<wbr>codeforamerica/<wbr>opencounter</a></td></tr>
	    		<tr><th>Environment</th><td></td></tr>
	    		<tr><th>Redeploy</th><td></td></tr>
	    	</table>
	    	<a href="#" class="button-alternative">Contact us to deploy this app</a>
	    </div>
	    
	    <p>Though the value of starting new business is clearly evident, turning a business plan into a real and functional business is a substantial undertaking including complicated permitting and substantial paperwork.</p>
	    <p>Open Counter helps to streamline the new business permitting process. It provides would-be business owners a simple, easy to navigate interface to obtain permits and kickstart a business.</p>
	    <p>Get the code.</p>
	    
	</div>

{% elsif include.context == 'all-apps' or include.context == 'paid-apps' or include.context == 'our-startups' or include.context == 'local-service-apps' %}

    <article class="teaser teaser-app">
        <header class="teaser-header">
            <a href="{{ include.base }}/apps/open-counter">
                <h1 class="teaser-title">OpenCounter</h1>
            </a>
        </header>
        <div class="teaser-body">
            <p>Open Counter streamlines the creation of new businesses by offering small business owners a simple and 24-7 interface for business permit applications.</p>
            
            <h2 class="text-whisper">Environment</h2>
            <p></p>
            
            <h2 class="text-whisper">Redeploy</h2>
            <p></p>
            
            <p><a href="{{ include.base }}/apps/open-counter">Learn more about this app</a></p>
        </div>
        <footer class="teaser-footer">
            <a href="{{ include.base }}/apps/open-counter" class="teaser-masthead">
                <img class="teaser-image" src="{{ include.base }}/media/images/apps/open-counter.jpg" />
            </a>
        </footer>
    </article>

{% endif %}
