{% if include.context == "app-page" %}

	<div class="heading">
		<h2>Prepared.ly</h2>
	</div>
	
	<div class="layout-minor">
		<img class="isolate" src="{{ include.base }}/media/images/apps/prepared-ly.jpg" />
	    <h3 class="text-prominent">Overview</h3>
	    <p>Prepared.ly offers a simple interface for emergency preparedness with checklists and facts in order to help residents protect themselves against natural disasters.</p>
	    
	    <p class="text-whisper"><a href="http://prepared.ly">http://prepared<wbr>.ly</a></p>
	    
	    <h4 class="text-whisper layout-tight">Created by</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/people/aurelio-tinio">Aurelio Tinio</a></li>
	    	<li><a href="{{ include.base }}/people/emily-wright-moore">Emily Wright Moore</a></li>
	    	<li><a href="{{ include.base }}/people/joe-merante">Joe Merante</a></li>
	    </ul>
	    
	    <h4 class="text-whisper layout-tight">Created for</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/cities/austin/index.html">City of Austin</a></li>
	    </ul>
	    
	</div>
	
	<div class="layout-major">
	    	
	    <p>Prepared.ly offers a simple interface for emergency preparedness with checklists and facts in order to help residents protect themselves against natural disasters.</p>
	        
	    <div class="spotlight">
	    	<h3 class="text-whisper">Summary</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Live</th><td><a href="http://prepared.ly">http://prepared<wbr>.ly</a></td></tr>
	    		<tr><th>Video</th><td><a href="http://vimeo.com/44008140">http://vimeo<wbr>.com/<wbr>44008140</a></td></tr>
	    		<tr><th>Codebase</th><td><a href="https://github.com/codeforamerica/prepared.ly/">https://github<wbr>.com/<wbr>codeforamerica/<wbr>prepared<wbr>.ly/</a></td></tr>
	    		<tr><th>Environment</th><td></td></tr>
	    		<tr><th>Redeploy</th><td></td></tr>
	    	</table>
	    	<a href="https://codeforamerica.wufoo.com/forms/app-inquiry-form/" class="button-alternative">Contact us to deploy this app</a>
	    </div>
	    
	    <p>Wildfires, hurricanes, tornadoes and natural disasters are a regular and real part of life. It’s not only important to know which forces of nature you’re susceptible to, but to be prepared and ready for them. Built with help from the City of Austin and Texas Forest Service and easily redeployed for any type of disaster, Prepared.ly helps citizens prepare for the worst. The application provides near real-time information on home and business property risk, offers disaster preparedness tasks, offers the ability to track progress and set reminders, and connects directly to fire safety professionals.</p>
	    <p>To check out the app visit&nbsp;prepared.ly.</p>
	    
	</div>

{% elsif include.context == 'apps-list' or include.context == 'our-startups' %}

    <article class="teaser teaser-app">
        <header class="teaser-header">
            <a href="{{ include.base }}/apps/prepared-ly">
                <h1 class="teaser-title">Prepared.ly</h1>
            </a>
        </header>
        <div class="teaser-body">
            <p>Prepared.ly offers a simple interface for emergency preparedness with checklists and facts in order to help residents protect themselves against natural disasters.</p>
            
            <h2 class="text-whisper">Environment</h2>
            <p></p>
            
            <h2 class="text-whisper">Redeploy</h2>
            <p></p>
            
            <p><a href="{{ include.base }}/apps/prepared-ly">Learn more about this app</a></p>
        </div>
        <footer class="teaser-footer">
            <a href="{{ include.base }}/apps/prepared-ly" class="teaser-masthead">
                <img class="teaser-image" src="{{ include.base }}/media/images/apps/prepared-ly.jpg" />
            </a>
        </footer>
    </article>

{% endif %}
