{% if include.context == "app-page" %}

	<div class="heading">
		<h2>Promptly</h2>
	</div>
	
	<div class="layout-minor">
		<img class="isolate" src="{{ include.base }}/media/images/apps/promptly.jpg" />
	    <h3 class="text-prominent">Overview</h3>
	    <p>Promptly text messages San Francisco Human Services Agency clients with important information to keep them enrolled in services.</p>
	    
	    <p class="text-whisper"><a href="http://promptly.io">http://promptly<wbr>.io</a></p>
	    
	    <h4 class="text-whisper layout-tight">Created by</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/people/andy-hull">Andy Hull</a></li>
	    	<li><a href="{{ include.base }}/people/marc-hebert">Marc Hébert</a></li>
	    	<li><a href="{{ include.base }}/people/rebecca-ackerman">Rebecca Ackerman</a></li>
	    	<li><a href="{{ include.base }}/people/jacob-solomon">Jacob Solomon</a></li>
	    </ul>
	    
	    <h4 class="text-whisper layout-tight">Created for</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/cities/san-francisco">San Francisco Human Services Agency</a></li>
	    	<li><a href="{{ include.base }}/cities/san-francisco">San Francisco Mayor's Office of Civic Innovation</a></li>
	    </ul>
	    
	</div>
	
	<div class="layout-major">
	    	
	    <p>Promptly text messages San Francisco Human Services Agency clients with important information to keep them enrolled in services.</p>
	        
	    <div class="spotlight">
	    	<h3 class="text-whisper">Summary</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Live</th><td><a href="http://promptly.io">http://promptly<wbr>.io</a></td></tr>
	    		<tr><th>Video</th><td><a href="http://www.youtube.com/watch?v=vnJIzYBdcVI">http://www<wbr>.youtube<wbr>.com/<wbr>watch?v=vnJIzYBdcVI</a></td></tr>
	    		<tr><th>Codebase</th><td><a href="https://github.com/codeforamerica/promptly">https://github<wbr>.com/<wbr>codeforamerica/<wbr>promptly</a></td></tr>
	    		<tr><th>Environment</th><td></td></tr>
	    			    		<tr><th>Redeploy</th><td>Follow Heroku <a href="https://github.com/codeforamerica/promptly#install-locally">installation instructions on Github</a>.</td></tr>	    	</table>
	    			    			    </div>
	    
        <p>Many CalFresh (Food Stamps) recipients in San Francisco &nbsp;discover that they’ve been disenrolled from benefits while trying to pay for their groceries. It’s a stressful and embarrassing moment. What’s worse, some of these same people have to reapply for services from scratch.&nbsp;Promptly stops this from happening by sending a text message to recipients before they’re disenrolled.</p>
        <p>Promptly was built for the San Francisco Human Service Agency by 2013 fellows in collaboration with the&nbsp;Human Service Agency&nbsp;and the Mayor’s Office of Civic Innovation. Although Promptly was first used to keep people enrolled in CalFresh, the app is also a flexible tool to help schedule, monitor, and send text message notifications for any reason.</p>
        <p>Interested in using Promptly? Check it out at promptly.io,&nbsp;fork it on GitHub&nbsp;or contact us for info.</p>
	    
	</div>

{% elsif include.context == 'apps-list' or include.context == 'our-startups' %}

    <article class="teaser teaser-app">
        <header class="teaser-header">
            <a href="{{ include.base }}/apps/promptly">
                <h1 class="teaser-title">Promptly</h1>
            </a>
        </header>
        <div class="teaser-body">
            <p>Promptly text messages San Francisco Human Services Agency clients with important information to keep them enrolled in services.</p>
        
            <h2 class="text-whisper">Environment</h2>
            <p></p>
        
            <h2 class="text-whisper">Redeploy</h2>
            <p>Follow Heroku <a href="https://github.com/codeforamerica/promptly#install-locally">installation instructions on Github</a>.</p>
        
            <p><a href="{{ include.base }}/apps/promptly">Learn more about this app</a></p>
        </div>
        <footer class="teaser-footer">
            <a href="{{ include.base }}/apps/promptly" class="teaser-masthead">
                <img class="teaser-image" src="{{ include.base }}/media/images/apps/promptly.jpg" />
            </a>
        </footer>
    </article>

{% endif %}
