{% if include.context == "app-page" %}

	<div class="heading">
		<h2>RecordTrac</h2>
	</div>
	
	<div class="layout-minor">
		<img class="isolate" src="{{ include.base }}/media/images/apps/RecordTrac_header.jpg" />
	    <h3 class="text-prominent">Overview</h3>
	    <p>RecordTrac makes public records requests friendlier for the public and easier for governments to manage. The application is delivered by PostCode.io, a full service civic technology company.</p>
	    
	    <p class="text-whisper"><a href="http://records.oaklandnet.com">http://records<wbr>.oaklandnet<wbr>.com</a></p>
	    
	    <h4 class="text-whisper layout-tight">Created by</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/people/cris-cristina">Cris Cristina</a></li>
	    	<li><a href="{{ include.base }}/people/richa-agarwal">Richa Agarwal</a></li>
	    	<li><a href="{{ include.base }}/people/sheila-dugan">Sheila Dugan</a></li>
	    </ul>
	    
	    <h4 class="text-whisper layout-tight">Created for</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/cities/oakland">City of Oakland</a></li>
	    </ul>
	    
	</div>
	
	<div class="layout-major">
	    	
	    <p>RecordTrac makes public records requests friendlier for the public and easier for governments to manage. The application is delivered by PostCode.io, a full service civic technology company.</p>
	        
	    <div class="spotlight">
	    	<h3 class="text-whisper">Summary</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Live</th><td><a href="http://records.oaklandnet.com">http://records<wbr>.oaklandnet<wbr>.com</a></td></tr>
	    		<tr><th>Video</th><td><a href="http://www.youtube.com/watch?v=F4XP9DJ-htg">http://www<wbr>.youtube<wbr>.com/<wbr>watch?v=F4XP9DJ-htg</a></td></tr>
	    		<tr><th>Codebase</th><td><a href="https://github.com/codeforamerica/public-records/">https://github<wbr>.com/<wbr>codeforamerica/<wbr>public-records/</a></td></tr>
	    		<tr><th>Environment</th><td></td></tr>
	    		<tr><th>Redeploy</th><td>Contact <a href="http://postcode.io">Postcode.io</a> or follow <a href="https://github.com/codeforamerica/recordtrac/blob/master/docs/redeploy.md">installation instructions on Github</a>.</td></tr>
	    	</table>
	    </div>
	    
        <p>In 2013, the City of Oakland recognized the need to digitize and improve its public records program. At the time, requests were not well tracked, city staff found the system tough to navigate and the information was often buried. In essence, the public was left wondering where their requests were going and whether they'd be fulfilled. RecordTrac aims to solve that.</p>
        <p>Built by the 2013 fellowship team Richa Agarwal, Cris Cristina and Sheila Dugan for the City of Oakland, the app offers transparency into the request process including letting city employees:</p>
        <ul>
        <li>upload links or documents;</li>
        <li>triage requests to other departments;</li>
        <li>ask questions of requesters;</li>
        <li>explain whether or not the requests' fulfillment is in paper format or online; and,</li>
        <li>track request timing / fulfillment</li>
        </ul>
        <p>TRecordTrac makes public records requests friendlier for the public and easier for governments to manage. The application is delivered by PostCode.io, a full service civic technology company.</p>
        <p>To date the request app is widely used across Oakland City departments. To try it visit <a href="records.oaklandnet.com/landing">records.oaklandnet.com</a>.</p>
	    
	</div>

{% elsif include.context == 'apps-list' or include.context == 'our-startups' %}

    <article class="teaser teaser-app">
        <header class="teaser-header">
            <a href="{{ include.base }}/apps/recordtrac">
                <h1 class="teaser-title">RecordTrac</h1>
            </a>
        </header>
        <div class="teaser-body">
            <p>RRecordTrac makes public records requests friendlier for the public and easier for governments to manage. The application is delivered by PostCode.io, a full service civic technology company.</p>
            
            <h2 class="text-whisper">Environment</h2>
            <p></p>
            
            <h2 class="text-whisper">Redeploy</h2>
            <p>Contact <a href="http://postcode.io">Postcode.io</a> or follow Heroku <a href="https://github.com/codeforamerica/cityvoice#setup-internal-documentation">installation instructions on Github</a>.</p>
            
            <p><a href="{{ include.base }}/apps/recordtrac">Learn more about this app</a></p>
        </div>
        <footer class="teaser-footer">
            <a href="{{ include.base }}/apps/recordtrac" class="teaser-masthead">
                <img class="teaser-image" src="{{ include.base }}/media/images/apps/RecordTrac_header.jpg" />
            </a>
        </footer>
    </article>

{% endif %}
