{% if include.context == "app-page" %}

	<div class="heading">
		<h2>StreetCred</h2>
	</div>
	
	<div class="layout-minor">
		<img class="isolate" src="{{ include.base }}/media/images/apps/streetcred.jpg" />
	    <h3 class="text-prominent">Overview</h3>
	    <p>StreetCred Software keeps law enforcement officials safe and on top of their game by helping them manage arrest warrants, eliminating warrant backlogs and radically improving their real-time information at the point before apprehension.</p>
	    
	    <p class="text-whisper"><a href="http://streetcredsoftware.com">http://streetcredsoftware<wbr>.com</a></p>
	    
	    <h4 class="text-whisper layout-tight">Founded by</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/david-henderson">David Henderson</a></li>
	    	<li><a href="{{ include.base }}/nick-selby">Nick Selby</a></li>
	    </ul>
	    
	    <h4 class="text-whisper layout-tight">Part of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/civic-startups">2013 Accelerator</a></li>
	    </ul>
	    
	</div>
	
	<div class="layout-major">
	    	
	    <p>StreetCred Software keeps law enforcement officials safe and on top of their game by helping them manage arrest warrants, eliminating warrant backlogs and radically improving their real-time information at the point before apprehension.</p>
	        
	    <div class="spotlight">
	    	<h3 class="text-whisper">Summary</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Live</th><td><a href="http://streetcredsoftware.com">http://streetcredsoftware<wbr>.com</a></td></tr>
	    		<tr><th>Video</th><td><a href=""></a></td></tr>
	    		<tr><th>Codebase</th><td><a href=""></a></td></tr>
	    		<tr><th>Environment</th><td></td></tr>
	    		<tr><th>Redeploy</th><td></td></tr>
	    	</table>
	    	<a href="#" class="button-alternative">Contact us to deploy this app</a>
	    </div>
	    
	    <p>StreetCred Software helps police agencies manage their arrest warrants, eliminate warrant backlogs, and radically improve efficiency while increasing officer safety.</p>
	    <p>The product helps agencies understand their fugitive population, measure effectiveness, and make improvements. StreetCred Software, Inc., was founded by two Texas police officers. One is an 18-year veteran investigator and fugitive hunter, the other a technology industry veteran who became a cop in 2010.</p>
	    <p>StreetCred is a Code for America's accelerator company. For more info visit&nbsp;streetcredsoftware.com.</p>
	    
	</div>

{% elsif include.context == 'all-apps' or include.context == 'paid-apps' or include.context == 'our-startups' %}

    <article class="teaser teaser-app">
        <header class="teaser-header">
            <a href="{{ include.base }}/apps/streetcred">
                <h1 class="teaser-title">StreetCred</h1>
            </a>
        </header>
        <div class="teaser-body">
            <p>StreetCred Software keeps law enforcement officials safe and on top of their game by helping them manage arrest warrants, eliminating warrant backlogs and radically improving their real-time information at the point before apprehension.</p>
            
            <h2 class="text-whisper">Environment</h2>
            <p></p>
            
            <h2 class="text-whisper">Redeploy</h2>
            <p></p>
            
            <p><a href="{{ include.base }}/apps/streetcred">Learn more about this app</a></p>
        </div>
        <footer class="teaser-footer">
            <a href="{{ include.base }}/apps/streetcred" class="teaser-masthead">
                <img class="teaser-image" src="{{ include.base }}/media/images/apps/streetcred.jpg" />
            </a>
        </footer>
    </article>

{% endif %}
