{% if include.context == "app-page" %}

	<div class="heading">
		<h2>TextMyBus</h2>
	</div>
	
	<div class="layout-minor">
		<img class="isolate" src="../../media/images/apps/text-my-bus.jpg" />
	    <h3 class="text-prominent">Overview</h3>
	    <p>TextMyBus provides a simple text messaging service to relay real time transit information to riders.</p>
	    
	    <p class="text-whisper"><a href="http://textmybus.com/">http://textmybus<wbr>.com/</a></p>
	    
	    <h4 class="text-whisper layout-tight">Created by</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="../../people/matt-hampel">Matt Hampel</a></li>
	    	<li><a href="../../people/alicia-rouault">Alicia Rouault</a></li>
	    	<li><a href="../../people/prashant-singh">Prashant Singh</a></li>
	    </ul>
	    
	    <h4 class="text-whisper layout-tight">Created for</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="../../cities/detroit">City of Detroit</a></li>
	    </ul>
	    
	</div>
	
	<div class="layout-major">
	    	
	    <p>TextMyBus provides a simple text messaging service to relay real time bus arrival information to riders and an API for developers to build 3rd party transit apps.</p>
	        
	    <div class="spotlight">
	    	<h3 class="text-whisper">Summary</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Live</th><td><a href="http://textmybus.com/">http://textmybus<wbr>.com/</a></td></tr>
	    		<tr><th>Video</th><td><a href="http://www.youtube.com/watch?v=Fh46GLyKSmg">http://www<wbr>.youtube<wbr>.com/<wbr>watch?v=Fh46GLyKSmg</a></td></tr>
	    	</table>
	    	<a href="https://codeforamerica.wufoo.com/forms/app-inquiry-form/" class="button-alternative">Contact us to deploy this app</a>
	    </div>
	    
	    <p>Led by city contact Karla Henderson and built during the 2012 Fellowship year for the City of Detroit's Department of Transportation fellows Matt Hampel, Alicia Rouault, and Prashant Singh,&nbsp;built Text My Bus to relay real-time transit information to Detroit commuters.</p>
        <p>TextMyBus provides a simple text messaging service to relay real time transit information to riders. In an environment where Detroiters are faced with cold winters, dangerous street corners, and broken street lights, TextMyBus provides critical information to anyone with a phone that has text messaging capability. DDOT riders simply text in their closest intersection or street address to 50464 and receive a list of routes that service nearby bus stops. Riders then select the route they’d like and find out the live arrival-time predictions.</p>
        <p>Launched in September 2012, the app continues to serve the community with over 1,500 active users and over 3.6 million messages served. The project has since received funding from the US Economic Development Administration’s Strong Cities, Strong Communities and the National Center for Safe Routes to School.</p>
        <p>The system also provides an API for technologists to access real-time transit data, powering multiple smartphone apps and websites for Detroit commuters</p>
        <p>Visit <a href="http://textmybus.com/">TextMyBus</a> to check out the app.</p>

	</div>

{% elsif include.context == 'apps-list' or include.context == 'our-startups' %}

    <article class="teaser teaser-app">
        <header class="teaser-header">
            <a href="text-my-bus">
                <h1 class="teaser-title">TextMyBus</h1>
            </a>
        </header>
        <div class="teaser-body">
            <p>TextMyBus provides a simple text messaging service to relay real time transit information to riders.</p>
            
            <h2 class="text-whisper">Environment</h2>
            <p></p>
            
            <h2 class="text-whisper">Redeploy</h2>
            <p></p>
            
            <p><a href="text-my-bus">Learn more about this app</a></p>
        </div>
        <footer class="teaser-footer">
            <a href="text-my-bus" class="teaser-masthead">
                <img class="teaser-image" src="../media/images/apps/text-my-bus.jpg" />
            </a>
        </footer>
    </article>

{% endif %}
