{% if include.context == "app-page" %}

	<div class="heading">
		<h2>The Daily Brief</h2>
	</div>
	
	<div class="layout-minor">
		<img class="isolate" href="{{ include.base }}/media/images/apps/the-daily-brief.jpg" />
	    <h3 class="text-prominent">Overview</h3>
	    <p>The Daily Brief allows users to explore and filter 311 service requests by neighborhood, service name, and status.</p>
	    
	    <p class="text-whisper"><a href="http://311labs.org/experiments/dailybrief">http://311labs<wbr>.org/<wbr>experiments/<wbr>dailybrief</a></p>
	    
	    <h4 class="text-whisper layout-tight">Created by</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/people/angel-kittyachavalit">Angel Kittyachavalit</a></li>
	    	<li><a href="{{ include.base }}/people/ben-sheldon">Ben Sheldon</a></li>
	    	<li><a href="{{ include.base }}/people/jesse-bounds">Jesse Bounds</a></li>
	    	<li><a href="{{ include.base }}/people/rob-brackett">Rob Brackett</a></li>
	    </ul>
	    
	    <h4 class="text-whisper layout-tight">Created for</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/cities/chicago">City of Chicago</a></li>
	    </ul>
	    
	</div>
	
	<div class="layout-major">
	    	
	    <p>The Daily Brief allows users to explore and filter 311 service requests by neighborhood, service name, and status.</p>
	        
	    <div class="spotlight">
	    	<h3 class="text-whisper">Summary</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Live</th><td><a href="http://311labs.org/experiments/dailybrief">http://311labs<wbr>.org/<wbr>experiments/<wbr>dailybrief</a></td></tr>
	    		<tr><th>Codebase</th><td><a href="https://github.com/codeforamerica/311DailyBrief">https://github<wbr>.com/<wbr>codeforamerica/<wbr>311DailyBrief</a></td></tr>
	    		<tr><th>Environment</th><td></td></tr>
	    		<tr><th>Redeploy</th><td></td></tr>
	    	</table>
	    	<a href="https://codeforamerica.wufoo.com/forms/app-inquiry-form/" class="button-alternative">Contact us to deploy this app</a>
	    </div>
	    
	    <p>The Daily Brief allows users to explore and filter 311 service requests by neighborhood, service name, and status. The app utilizes a city's Open 311 data to offer a snapshot of realtime city requests.</p>
        <p>To check out the app and other 311-related efforts visit <a href="http://311labs.org">http://311labs.org</a></p>
	    
	</div>

{% elsif include.context == 'apps-list' or include.context == 'our-startups' %}

    <article class="teaser teaser-app">
        <header class="teaser-header">
            <a href="{{ include.base }}/apps/the-daily-brief">
                <h1 class="teaser-title">The Daily Brief</h1>
            </a>
        </header>
        <div class="teaser-body">
            <p>The Daily Brief allows users to explore and filter 311 service requests by neighborhood, service name, and status.</p>
            
            <h2 class="text-whisper">Environment</h2>
            <p></p>
            
            <h2 class="text-whisper">Redeploy</h2>
            <p></p>
            
            <p><a href="{{ include.base }}/apps/the-daily-brief">Learn more about this app</a></p>
        </div>
        <footer class="teaser-footer">
            <a href="{{ include.base }}/apps/the-daily-brief" class="teaser-masthead">
                <img class="teaser-image" src="{{ include.base }}/media/images/apps/the-daily-brief.jpg" />
            </a>
        </footer>
    </article>

{% endif %}
