{% if include.context == 'apps-list' or include.context == 'our-startups' %}
 
     <article class="teaser teaser-app">
         <header class="teaser-header">
             <a href="http://www.trailheadlabs.com/">
                 <h1 class="teaser-title">Trailhead Labs</h1>
             </a>
         </header>
         <div class="teaser-body">
             <p>Trailhead Labs creates innovative applications designed to help people enjoy the outdoors. Trailhead Labs created OuterSpatial, the outdoor application platform.</p>
           
             <p><a href="http://www.trailheadlabs.com/">Learn more about this app</a></p>
         </div>
         <footer class="teaser-footer">
             <a href="http://www.trailheadlabs.com/" class="teaser-masthead">
                 <img class="teaser-image" src="{{ include.base }}/media/images/apps/trailheadlabs.png" />
             </a>
         </footer>
     </article>
 
 {% endif %}
