{% if include.context == "app-page" %}

	<div class="heading">
		<h2>Where’s My School Bus?</h2>
	</div>
	
	<div class="layout-minor">
		<img class="isolate" src="{{ include.base }}/media/images/apps/wheres-my-school-bus.jpg" />
	    <h3 class="text-prominent">Overview</h3>
	    <p>Where's My School Bus? is a location information app allowing parents to track their child’s bus in real time.</p>
	    
	    <p class="text-whisper"><a href="http://schoolbus.bostonpublicschools.org">http://schoolbus<wbr>.bostonpublicschools<wbr>.org</a></p>
	    
	    <h4 class="text-whisper layout-tight">Created by</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/joel-mahoney">Joel Mahoney</a></li>
	    	<li><a href="{{ include.base }}/karla-macedo">Karla Macedo</a></li>
	    	<li><a href="{{ include.base }}/talin-salway">Talin Salway</a></li>
	    </ul>
	    
	    <h4 class="text-whisper layout-tight">Created for</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/cities/boston">City of Boston</a></li>
	    </ul>
	    
	</div>
	
	<div class="layout-major">
	    	
	    <p>Where's My School Bus? is a location information app allowing parents to track their child’s bus in real time.</p>
	        
	    <div class="spotlight">
	    	<h3 class="text-whisper">Summary</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Live</th><td><a href="http://schoolbus.bostonpublicschools.org">http://schoolbus<wbr>.bostonpublicschools<wbr>.org</a></td></tr>
	    		<tr><th>Codebase</th><td><a href="https://github.com/codeforamerica/wheresmyschoolbus">https://github<wbr>.com/<wbr>codeforamerica/<wbr>wheresmyschoolbus</a></td></tr>
	    		<tr><th>Environment</th><td>Ruby on Rails & Jquery Mobile</td></tr>
	    		<tr><th>Redeploy</th><td>Fork the <a href="https://github.com/codeforamerica/wheresmyschoolbus">GitHub repo</a></td></tr>
	    	</table>
	    	<a href="https://codeforamerica.wufoo.com/forms/app-inquiry-form/" class="button-alternative">Contact us to deploy this app</a>
	    </div>
	    
	    <p>Built during the 2011 Fellowship year for the City of Boston by Joel Mahoney, Karla Macedo and Talin Salway,&nbsp;Where’s My School Bus offers real-time school bus tracking for parents.</p>
        <p>A student’s bus is displayed on a detailed map, showing both its recent and current location. Waiting at the stop for a late bus? Blizzard got traffic moving at a crawl? Use your smartphone or computer to instantly check the bus location. Tracking your student’s bus has never been easier, faster or more accurate.</p>
        <p>To try the app visit schoolbus.bostonpublicschools.org.</p>
	    
	</div>

{% elsif include.context == 'apps-list' or include.context == 'our-startups' %}

    <article class="teaser teaser-app">
        <header class="teaser-header">
            <a href="{{ include.base }}/apps/wheres-my-school-bus">
                <h1 class="teaser-title">Where’s My School Bus?</h1>
            </a>
        </header>
        <div class="teaser-body">
            <p>Where's My School Bus? is a location information app allowing parents to track their child’s bus in real time.</p>
            
            <h2 class="text-whisper">Environment</h2>
            <p>Ruby on Rails & Jquery Mobile</p>
            
            <h2 class="text-whisper">Redeploy</h2>
            <p>Fork the <a href="https://github.com/codeforamerica/wheresmyschoolbus">GitHub repo</a></p>
            
            <p><a href="{{ include.base }}/apps/wheres-my-school-bus">Learn more about this app</a></p>
        </div>
        <footer class="teaser-footer">
            <a href="{{ include.base }}/apps/wheres-my-school-bus" class="teaser-masthead">
                <img class="teaser-image" src="{{ include.base }}/media/images/apps/wheres-my-school-bus.jpg" />
            </a>
        </footer>
    </article>

{% endif %}
