/*  Pattern: Alert --------------------------------------- */

.alert {
    @include rem(padding, 10px);
    @include rem(font-size, 14px); 
    @include rem(margin, 0 0 16px 0);  
    @include rem(border-radius, 3px);
    @include background-color ($color-yellow, 0.4);
    border: 1px solid;
    @include border-color ($color-yellow, 0.5);
    color: $color-dark-gray;
    clear: both;
    
    p {
        margin: 0;
        }
    
    p + * {
        @include rem(margin-bottom, 8px);  
        }
    
    }

.alert-failure {
    @extend .alert;
    @include background-color ($color-red, 0.3);
    @include border-color ($color-red, 0.1);
    }

.alert-success {
    @extend .alert;
    @include background-color (#3F863F, 0.2);
    @include border-color (#3F863F, 0.1);
    }

.alert-info {
    @extend .alert;
    @include background-color ($color-blue, 0.2);
    @include border-color ($color-blue, 0.1);
    }