//  Badge Heading ----------------------------------------

.badge-heading {
    @include rem(margin, 0 0 22px);
    @include rem(padding-top, 32px);
    border-bottom: 1px solid;
    border-color: $color-light-gray;
    clear: both;
    position: relative;
    }

    @media (min-width: 40em) {
        
        .badge-heading {
            @include rem(padding-left, 65px);
            @include rem(min-height, 65px);
            background-position: left top;
            background-repeat: no-repeat;
            }

        .badge-heading:before,
        .badge-heading:after {
            background-repeat: no-repeat;
            content: "";
            height: 50px;
            width: 50px;
            position: absolute;
            left: 0;
            @include rem(top, 29px);
            }
        
        .badge-heading:before {
            background-color: $color-black;
            border-radius: 100px;
            background-size: 50px;
            }
        
        
        /* Badge colors */
        
        .badge-white:before {
            background-color: $color-white;
            }
        
        .badge-blue:before {
            background-color: $color-blue;
            }
        
        .badge-gray:before {
            background-color: $color-gray;
            }
        
        .badge-orange:before {
            background-color: $color-orange;
            }
        
        .badge-purple:before {
            background-color: $color-purple;
            }
        
        .badge-red:before {
            background-color: $color-red;
            }
        
        .badge-teal:before {
            background-color: $color-teal;
            }
        
        .badge-dark-blue:before {
            background-color: $color-dark-blue;
            }
            
            
        /* Badge images */
        
        .badge-heading:after {
            background-image: url("../images/badge-rocket.png");
            z-index: 1;
            background-position: 9px 12px;
            }
            .svg .badge-heading:after {
                background-image: url("../images/badge-rocket.svg");
                }
        
        .badge-brigade:after {
            background-image: url("../images/badge-brigade.png");
            z-index: 1;
            background-position: 8px 5px;
            }
            .svg .badge-brigade:after {
                background-image: url("../images/badge-brigade.svg");
                }
        
        .badge-peernetwork:after {
            background-image: url("../images/badge-peernetwork.png");
            z-index: 1;
            background-position: 13px 6px;
            }
            .svg .badge-peernetwork:after {
                background-image: url("../images/badge-peernetwork.svg");
                }
        
        .badge-startups:after {
            background-image: url("../images/badge-startups.png");
            z-index: 1;
            background-position: 14px 3px;
            }
            .svg .badge-startups:after {
                background-image: url("../images/badge-startups.svg");
                }
        
        .badge-fellowship:after {
            background-image: url("../images/badge-fellowship.png");
            z-index: 1;
            background-position: 15px 5px;
            }
            .svg .badge-fellowship:after {
                background-image: url("../images/badge-fellowship.svg");
                }
        
        .badge-github:after {
            background-image: url("../images/badge-github.png");
            z-index: 1;
            background-position: 12px 11px;
            }
            .svg .badge-github:after {
                background-image: url("../images/badge-github.svg");
                }
        
        .badge-glasses:after {
            background-image: url("../images/badge-glasses.png");
            z-index: 1;
            background-position: 7px 18px;
            }
            .svg .badge-glasses:after {
                background-image: url("../images/badge-glasses.svg");
                }
        
        .badge-gov:after {
            background-image: url("../images/badge-gov.png");
            z-index: 1;
            background-position: 12px 6px;
            }
            .svg .badge-gov:after {
                background-image: url("../images/badge-gov.svg");
                }
        
        .badge-graph:after {
            background-image: url("../images/badge-graph.png");
            z-index: 1;
            background-position: 11px 10px;
            }
            .svg .badge-graph:after {
                background-image: url("../images/badge-graph.svg");
                }
        }
    
    
    /* Backwards compatibility with sections */
    
    .layout-breve > .badge-heading:first-child {
        padding-top: 0;
    }
    
    .layout-breve > .badge-heading:first-child:before,
    .layout-breve > .badge-heading:first-child:after {
        top: 0;
    }