.badge-heading {
    @extend .heading;
    min-height: 3.5em;
    padding: 1.3em 0 0.5em 4.5em;
    clear: both;
    }

.badge-heading i {
    position: absolute;
    left: 0;
    top: 0.5em;
    }

.badge-heading i:before {
    color: #fff;
    }