.badge-heading {
    margin: 1em -4%;
    padding-right: 4%;
    padding-left: 4%;
    border-bottom: 1px solid;
    border-color: #e5e5e5;
    border-color: rgba(229, 229, 229, 0.8);
    position: relative;
    }

@media (min-width: 40em) {
.badge-heading {
    min-height: 3.5em;
    padding: 1.3em 0 0.5em 5.2em;
    clear: both;
    margin: 1em 0 1em 0;
    }
}

.badge-heading i {
    position: absolute;
    left: 0;
    top: 0.5em;
    }

.badge-heading i:before {
    color: #fff;
    }

.badge-heading .pop {
    display: none;
    }

@media (min-width: 40em) {
.badge-heading .pop {
    display: block;
    }
}