button,
input[type="button"],
input[type="submit"],
.button:link,
.button:visited,
.button:hover,
.button:focus,
.button:active {
    display: inline-block;
    padding: 0.8em 2em;
    @include background-color($color-blue, 1);
    color: white;
    border-radius: 0.2em;
    text-decoration: none;
    border: none;
    margin: 0 0 0.5em 0;
    font-size: 0.85em;
    font-weight: normal;
    line-height: 1.4em;
    font-family: $font-sans-regular;
    width: auto;
    vertical-align: middle;
    }

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    @include background-color($color-blue, 0.8);
    cursor: pointer;
    }

button:active,
.button:active,
input[type="submit"]:active {
    @include background-color($color-blue, 1);
    }


input[disabled],
input[disabled]:hover,
input[disabled]:focus,
input[disabled]:active,
button[disabled],
button[disabled]:hover,
button[disabled]:focus,
button[disabled]:active,
.button.button-disabled,
.button.button-disabled:hover,
.button.button-disabled:focus,
.button.button-disabled:active {
    @include background-color($color-medium-gray, 0.8);
    cursor: not-allowed;
    }

.button-prominent,
input.button-prominent,
.button-prominent:link,
.button-prominent:visited,
.button-prominent:hover,
.button-prominent:focus,
.button-prominent:active {
    @include background-color($color-red, 1);
    }

input.button-prominent:hover,
input.button-prominent:focus,
.button-prominent:hover,
.button-prominent:focus {
    @include background-color($color-red, 0.8);
    }



.slab-red .button-prominent,
.slab-red input.button-prominent,
.slab-red .button-prominent:link,
.slab-red .button-prominent:visited,
.slab-red .button-prominent:hover,
.slab-red .button-prominent:focus,
.slab-red .button-prominent:active {
    @include background-color($color-dark-red, 1);
    }

.slab-red input.button-prominent:hover,
.slab-red input.button-prominent:focus,
.slab-red .button-prominent:hover,
.slab-red .button-prominent:focus {
    @include background-color($color-medium-red, 0.8);
    }

.slab-medium-red .button-prominent,
.slab-medium-red input.button-prominent,
.slab-medium-red .button-prominent:link,
.slab-medium-red .button-prominent:visited,
.slab-medium-red .button-prominent:hover,
.slab-medium-red .button-prominent:focus,
.slab-medium-red .button-prominent:active {
    @include background-color($color-dark-red, 1);
    }

.slab-medium-red input.button-prominent:hover,
.slab-medium-red input.button-prominent:focus,
.slab-medium-red .button-prominent:hover,
.slab-medium-red .button-prominent:focus {
    @include background-color($color-black, 0.4);
    }


.button-unstyled,
input.button-unstyled,
.button-unstyled:link,
.button-unstyled:visited,
.button-unstyled:hover,
.button-unstyled:focus,
.button-unstyled:active {
    @include color($color-black, 0.6);
    background-color: transparent;
    text-shadow: none;
    padding-left: 0.25em;
    padding-right: 0.25em;
    }

.button-unstyled:hover,
.button-unstyled:focus,
.button-unstyled:active {
    @include color($color-black, 1);
    }