/*  Pattern: Calendar ------------------------------------ */

.calendar {
	border: 3px solid $color-light-gray;
	border-radius: 3px;
	display: table;
	table-layout: fixed;
	position: relative;

    .calendar-header {
    	width: 100%;
    	border: 3px solid $color-light-gray;
    	text-align: center;
    	}
    
    .calendar-heading {
    	margin-bottom: 0;
    	text-transform: uppercase;
    	font-family: $font-sans-regular;
    	@include rem(font-size, 25px);
    	}
    
    .calendar-days {
    	display: table-row-group;
    	}
    
    td,
    th,
    tr {
    	text-align: center;
    	padding-right: 0;
    	border-bottom: none;
    	}
    
    .calendar-day-names th {
    	color: $color-red;
    	font-weight: normal;
    	@include rem(font-size, 18px);
    	}
    
    .calendar-week {
    	display: table-row;
    	}
    
    .calendar-week td {
    	position: relative;
    	}
    
    .calendar-day-weekend,
    .calendar-week td:last-child,
    .calendar-week td:first-child {
    	@include background-color($color-light-gray, 0.5);
    	}
    
    .calendar-week .calendar-has-event {
    	color: $color-blue;
    	font-weight: bold;
    	
    	}
    
    .calendar-week .calendar-has-event:hover {
    	outline: 2px solid $color-red;
    	cursor: default;
    	}
    
    .calendar-events {
    	width: 150px;
    	background-color: $color-gray;
    	color: $color-white;
    	@include rem(font-size, 12px);
    	text-align: left;
    	@include rem(padding, 5px);
    	position: absolute;
    	z-index: 1;
    	height: auto;
    	left: 90%;
    	top: 50%;
    	font-weight: normal;
    	border-radius: 0 3px 3px 3px;
    	display: none;
    	}
    
    tr .calendar-has-event:last-child .calendar-events {
    	right: 90%;
    	left: auto;
    	border-radius: 3px 0 3px 3px;
    	}
    
    .calendar-has-event:hover .calendar-events {
    	display: block;
    	}
    
    .calendar-events li {
    	background-image: none;
    	padding: 0;
    	margin: 0;
    	@include rem(line-height, 16px);
    	}
    
    .calendar-days th,
    .calendar-week td {
    	border-right: 1px solid $color-light-gray;
    	display: table-cell;
    	}
    
    .calendar-nav {
    	position: relative;
    	}
    
    .calendar-month-next,
    .calendar-month-prev {
    	@include rem(font-size, 12px);
    	padding: 0.3em 0.5em 0.25em;
    	@include rem(padding, 8px 8px 4px);
    	border-bottom: none;
    	width: 100%;
    	text-align: center;
    	}
    
    .calendar-month-next {
        }
    
    .calendar-month-next:link,
    .calendar-month-next:visited,
    .calendar-month-next:hover,
    .calendar-month-next:focus,
    .calendar-month-next:active,
    .calendar-month-prev:link,
    .calendar-month-prev:visited,
    .calendar-month-prev:hover,
    .calendar-month-prev:focus,
    .calendar-month-prev:active {
    	border-bottom: none;
    	}
    
    .calendar-month-prev span,
    .calendar-month-next span {
    	text-indent: -9999px;
    	display: block;
    	}
    
    .calendar-month-prev:before {
    	content:  "‹ ";
    	font-size: 2em;
    	
    	}
    
    .calendar-month-next:before {
    	content:  " ›";
    	font-size: 2em;
    	}
    
    .calendar-summary th {
    	@include rem(font-size, 16px);
    	@include rem(padding, 10px 0 8px 0);
    	text-align: right;
    	}
    
    .calendar-summary-events {
    	text-align: left;
    	@include rem(font-size, 14px);
    	@include rem(line-height, 16px);
    	text-transform: none;
    	@include rem(padding, 0 0 0 8px);
    	@include rem(margin, 2px 0 0 0);
    	}
    
    .calendar-summary-events li {
    	background-image: none;
    	padding: 0;
    	margin-bottom: 0.5em;
    	}

}