.hero {
    @include background-color($color-corporate-blue, 1);
    clear: both;
    }

.hero .hero-header {
    padding-top: 2em;
    padding-bottom: 1em;
    overflow: hidden;
    width: 100%;
    }

.hero-header .nav-breadcrumbs {
    float: left;
    @include color($color-white, 0.7);
    }

.hero-header .nav-breadcrumbs a:link,
.hero-header .nav-breadcrumbs a:visited,
.hero-header .nav-breadcrumbs a:hover,
.hero-header .nav-breadcrumbs a:focus,
.hero-header .nav-breadcrumbs a:active {
    @include color($color-white, 1);
    }

.hero-header .nav-breadcrumbs a:hover,
.hero-header .nav-breadcrumbs a:focus,
.hero-header .nav-breadcrumbs a:active {
    @include color($color-white, 0.7);
    }

.hero-header .nav-breadcrumbs li:first-child {
    background-image: url('../icons/flag-white.png');
    }

.hero-header .page-title {
    float: left;
    clear: left;
    color: white;
    margin: 0;
    font-family: $font-sans-bold;
    font-size: 3em;
    text-transform: uppercase;
    }

.hero-header .button-cta {
    float: right;
    margin-top: 0.8em;
    }