.list-no-bullets {
    margin-left: 0;
    float: left;
    width: 100%;
    padding: 0;
    }

.list-no-bullets li {
    list-style-type: none;
    background-image: none;
    padding-left: 0;
    line-height: 1.5em;
    }

.list-form {
    margin-left: 0;
    float: left;
    padding-left: 0;
    width: 100%;
    }

.list-form li {
    list-style-type: none;
    margin-bottom: 1em;
    background-image: none;
    padding-left: 0;
    }

.list-form .form-field input,
.list-form .form-field textarea,
.list-form .form-field select {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    }

.list-form .form-field select {
    width: 100%;
    margin: 0;
    }

.list-form .form-field textarea {
    min-height: 100px;
    }

.list-form .form-field-group {
    width: 100%;
    float: left;
    }

.list-form .form-field-group input,
.list-form .form-field-group select {
    width: auto;
    padding-left: 0.85em;
    padding-right: 0.85em;
    }

.list-form .form-field-group .form-field {
    float: left;
    margin-right: 1em;
    }

.list-inline {
    margin-left: 0;
    padding-left: 0;
    }

.list-inline li {
    display: inline;
    margin: 0 0.15em 0 0;
    background-image: none;
    padding: 0;
    }

.list-inline li:last-child {
    border-right: none;
    }

.list-inline li a {
    padding: 0 0.5em 0 0;
    }

.list-gappy li {
    margin-bottom: 1em;
    }

.list-horizontal li {
    float: left;
    }

.list-social li {
    background-image: none;
    padding: 0;
    }

.list-social-horizontal {
    margin: 0;
    padding: 0;
    }

.list-social-horizontal li {
    display: inline;
    font-size: 0.85em;
    margin-right: 0.8em;
    }
@media (min-width: 60em) {
.list-buttons {
    display: flex;
    }

.list-buttons li {
    flex: 1;
    margin: 0 0.4em;
    text-align: center;
    }



.list-buttons .button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    }

.list-buttons li:first-child {
    margin-left: 0;
    }
    
.list-buttons li:last-child {
    margin-right: 0;
    }

}

.list-credits {
    text-align: center;
    font-weight: bold;
    }

.list-credits a {
    text-align: center;
    @include color($color-blue, 1);
    text-transform: uppercase;
    }

.list-credits li:after {
    content: ("-");
    
    }

.list-credits li:last-child:after {
    content: none;
    }

.list-ruled {
    @extend .list-no-bullets;
    margin-bottom: 1em;
    }

.list-ruled li {
    border-bottom: 1px solid;
    @include border-color($color-light-gray, 1);
    padding: 0.5em 0;
    }

.list-ruled li:last-child {
    border-bottom: none;
    }

.list-icons {
    
    }

.list-icons li {
    margin-bottom: 1em;
    padding-left: 60px;
    }

.list-icons li a {
    display: block;
    clear: both;
    @extend .heading-mini;
    }