.list-credits {
    text-align: center;
    font-weight: bold;
    position: relative;
    @include rem(max-width, 800px);
    margin: 0 auto;
    @include rem(font-size, 13px);
    }

.list-credits ul {
    @extend .list-inline;
    }

.list-credits a {
    text-align: center;
    @include color($color-blue, 1);
    // text-transform: uppercase;
    }

.list-credits li:after {
    content: ("–");
    }

.list-credits li:last-child:after {
    content: none;
    }
