.list-logos a:link,
.list-logos a:visited,
.list-logos a:hover,
.list-logos a:focus,
.list-logos a:active {
    border: none;
    }

.list-logos {
    margin: 1em 0;
    }

.list-logos li {
    display: inline-block;
    padding: 0;
    background-image: none;
    margin: 2em 4%;
    width: 41%;
    vertical-align: middle;
    }

.list-logos li a {
    display: inline-block;
    }