.masthead {
    display: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    z-index: -2;
    @include background-color($color-dark-gray, 1); 
    }

@media (min-width: 40em) {
.masthead {
    display: block;
    clear: both;
    }
}

.masthead-hero {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: -1;
    
    }

.masthead-image {
    max-width: none;
    }

@media (min-width: 70em) {
    .masthead-image {
      width: 100%;  
    }
    }

.masthead .masthead-header {
    padding-top: 5em;
    padding-bottom: 1em;
    overflow: hidden;
    width: auto;
    display: table;
    z-index: 1;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
    }


.masthead-l .masthead-header {
    padding-top: 17em;
    }

.masthead-header .nav-breadcrumbs {
    float: left;
    @include color($color-white, 0.7);
    
    }

.masthead-header .nav-breadcrumbs a:link,
.masthead-header .nav-breadcrumbs a:visited,
.masthead-header .nav-breadcrumbs a:hover,
.masthead-header .nav-breadcrumbs a:focus,
.masthead-header .nav-breadcrumbs a:active {
    @include color($color-white, 1);
    }

.masthead-header .nav-breadcrumbs a:hover,
.masthead-header .nav-breadcrumbs a:focus,
.masthead-header .nav-breadcrumbs a:active {
    @include color($color-white, 0.7);
    }

.masthead-header .nav-breadcrumbs li:first-child {
    background-image: url('../icons/flag-white.png');
    }

.masthead-header .page-title {
    float: left;
    clear: left;
    color: white;
    margin: 0;
    font-family: $font-sans-bold;
    font-size: 6em;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.8em;
    }

.masthead-header .button-cta {
    float: right;
    margin-top: 0.8em;
    }