.nav-global-primary {
    display: none;
    }

@media (min-width: 40em) {
.nav-global-primary {
    display: block;
    @include background-color($color-black, 1);
    @include color($color-white, 1); 
    width: 96%;
    margin: 0;
    float: left;
    padding: 0.2em 2% 0.3em;
    position: fixed;
    z-index: 2;
    top: 0;
    }
}

.nav-global-primary ul {
    text-align: right;
    }

.nav-global-primary li {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 0.8em;
    }

.nav-global-primary li:last-child {
    margin-right: 0;
    }

.nav-global-primary li a {
    display: block;
    padding: 0em 0.5em;
    @include color($color-white, 1);
    }

.nav-global-primary li a:hover,
.nav-global-primary li a:focus,
.nav-global-primary li a:active {
    @include background-color($color-red, 1);
    border-radius: 0.2em;
    }


.nav-global-primary .search-global input {
    @include background-color($color-black, 1);
    border: 1px solid;
    @include border-color($color-light-gray, 0.5);
    border-radius: 0;
    padding: 0.4em 0.2em 0.15em;
    width: 100%;
    }