.nav-breadcrumbs {
    @include color($color-gray, 0.7);
    }

.nav-breadcrumbs ul {
    @extend .list-inline;
    margin: 0;
    }

.nav-breadcrumbs ul li {
    border-right: none;
    background-image: url('../images/arrow-breadcrumb.png');
    padding-right: 23px;
    background-position: right center;
    background-repeat: no-repeat;
    margin-right: 0;
    }

.nav-breadcrumbs li:last-child {
    padding: 0.5em;
    background-image: none;
    }

.nav-breadcrumbs li:first-child a {
    background-image: url('../images/flag-blue.png');
    display: inline-block;
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: left center;
    }

.nav-breadcrumbs li:first-child:hover,
.nav-breadcrumbs li:first-child:focus,
.nav-breadcrumbs li:first-child:active {
    opacity: 0.7;
    }

.nav-breadcrumbs a,
.nav-breadcrumbs a:link,
.nav-breadcrumbs a:visited,
.nav-breadcrumbs a:hover,
.nav-breadcrumbs a:focus,
.nav-breadcrumbs a:active {
    padding: 0.5em 0.5em 0.5em 0.25em;
    display: inline-block;
    @include color($color-gray, 1);
    }

.nav-breadcrumbs a:hover,
.nav-breadcrumbs a:focus,
.nav-breadcrumbs a:active {
    @include color($color-gray, 0.7);
    }

.nav-breadcrumbs li:first-child a {
    display: inline-block;
    text-indent: -9999px;
    width: 50px;
    }