.nav-global-primary {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1em;
    width: 100%;
    }

@media (min-width: 40em) {
.nav-global-primary {
    width: auto;
    float: right;
    margin-top: 0.5em;
    }
    }

.nav-global-primary ul {
    @extend .list-no-bullets;
    display: table;
    }

.nav-global-primary li {
    border: none;
    display: table-cell;
    }

@media (min-width: 40em) {
    .nav-global-primary li {
        display: inline-block;
        }
    }

.nav-global-primary li a {
    padding: 0.5em 1em;
    }

.nav-global-primary li:last-child a {
    padding-right: 0;
    }

.nav-global-primary li a:link,
.nav-global-primary li a:visited {
    @include color($color-corporate-black, 1);
    }

.nav-global-primary li a:hover,
.nav-global-primary li a:focus,
.nav-global-primary li a:active {
    @include color($color-corporate-red, 1);
    }