.nav-tags li {
	display: inline-block;
	}

.nav-tags li a {
	@include background-color($color-gray, 0.4);
	color: $color-white;
	display: block;
	font-weight: normal;
	@include rem(padding, 3px 13px);
	border-radius: 3px;
	@include rem(margin, 0 5px 8px 0);
	}

.nav-tags li a:hover,
.nav-tags li a:focus,
.nav-tags li a:active,
.nav-tags .state-active a {
	@include background-color($color-blue, 0.6);
	}