body {
    background-color: $color-dark-gray;
    }

.js-container {
    background-color: $color-white;
    width: 100%;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    @include transition(all);
    min-height: 100%;
    }

.js-container.slid {
    right: 75%;
    }

.js-offcanvas {
    width: 75%;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    }

.js-offcanvas .nav-global-secondary {
    }

.js-offcanvas .nav-global-secondary li {
    clear: both;
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 1em;
    }
    
.js-offcanvas .nav-global-secondary li a,
.js-offcanvas .nav-global-secondary li .button {
    border-bottom: 1px solid $color-medium-gray;
    color: $color-white;
    margin: 0;
    padding: 0.5em 1em;
    }

.js-offcanvas .nav-global-primary {
    position: relative;
    clear: both;
    @extend .nav-global-secondary;
    background-color: $color-dark-gray;
    }