.post-preview {
    @include rem(margin-bottom, 80px);
    }

.post-preview .post-link {
    display: block;
    @include rem(margin-top, 40px);
    clear: both;
    }

.post-preview .post-content > p:first-child:first-letter {
    float: left; 
    font-size: 3.4em; 
    line-height: 1em;
    margin: 0;
    padding: 0 0.15em 0 0;
    @include font-serif-bold;
    }
    
.post-preview .post-body {
    clear: both;
    }

.post-preview .post-author {
    padding-left: 65px;
    position: relative;
    min-height: 55px;
    }
    
.post-preview .profile-photo {
    position: absolute;
    left: 0;
    top: -8px;
    height: 50px;
    width: 50px;
    }

.post-preview .profile-name {
    color: $color-white;
    @include rem(font-size, 18px);
    @include rem(margin-top, 5px);
    }

