.post {
    }
    
.post .post-header {
    @extend .heading;
    padding-left: 2%;
    margin: 0 0 2em;
    }

.post .post-date {
    text-transform: uppercase;
    @include color($color-medium-gray, 1);
    margin-top: 2em;
    font-size: 0.8em;
    display: block;
    }

.post .post-body {
    clear: both;
    width: 98%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    }
    
    @media (min-width: 60em) {
        .post .post-body {
            width: 100%;
            float: left;
            margin: 0;
            }
    }

.post .post-content > p:first-child {
    min-height: 3em;
    margin-top: 0;
    }

.post .post-content > p:first-child:first-letter {
    float: left; 
    font-size: 3.4em; 
    line-height: 1em;
    margin: 0;
    padding: 0 0.15em 0 0;
    @include font-serif-bold;
    
    }

/*
@media (min-width: 60em) {
    .post-content blockquote {
        margin-left: -43%;
    }
}
*/

.post-author .profile-photo {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0.5em 0.8em 0 0;
    }

.post-author .profile-note {
    }

.post-author .profile-note p {
    margin-top: 0;
    line-height: 1.7em;
    }

.post-categories {
    @extend .list-no-bullets;
    text-transform: uppercase;
    margin-top: 0;
    }

.post-categories a:link,
.post-categories a:visited,
.post-categories a:hover,
.post-categories a:focus,
.post-categories a:active {
    @include color($color-blue, 1);
    }

@media print {
	.post-categories {
		display: none;
		}
	}