.post {
    }

.post .post-content {
    @extend .layout-colspan-6;
    padding-left: 0;
    margin-left: 0;
    float: right;
    }

.post .post-author {
    @extend .layout-col;
    @extend .layout-colspan-2;
    margin-left: 10%;
    @include color($color-medium-gray, 1);
    font-size: 0.85em;
    }

.post .post-author .profile-photo {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 1em 0 0;
    }

.post .post-header {
    @extend .heading;
    padding-left: 2%;
    }

.post .post-date {
    text-transform: uppercase;
    @include color($color-medium-gray, 1);
    margin-top: 2em;
    font-size: 0.8em;
    display: block;
    }

.post .post-body {
    clear: both;
    width: 100%;
    float: left;
    }

.post .post-content > p:first-child {
    min-height: 3em;
    }

.post .post-content > p:first-child:first-letter {
    float: left; 
    font-size: 3.4em; 
    line-height: 1em;
    margin: 0;
    padding: 0 0.15em 0 0;
    font-family: $font-serif-bold;
    
    }

@media (min-width: 60em) {
.post .post-content blockquote {
    margin: 0 0 0 -16.7%;
    }
}