/* Profile */
/* v2 */ .profile-grid > li {
    width: 100%;
    clear: both;
    margin: 0;
    }

@media (min-width: 40em) {
/* Profile */
/* v2 */ .profile-grid > li {
    width: 32.0%;
    float: left;
    clear: none;
    margin: 0;
    }

/* v2 */.profile-small > li {
    margin-top: 48px;
    }

/* Profiles next to each other */
/* v2 */ .profile-grid > li + li {
    margin-left: 1%;
    margin-left: calc(2% - 4px);
    }

/* The last profile on each row (in a 3 column grid) */
/* v2 */ .profile-grid > li:nth-of-type(3n+4) {
	margin-left: 0;
    clear: both;
    }
}

/* v1 */.profile-small,
/* v2 */.profile-grid > li {
    @include rem(border-radius, 2px);
    @include rem(margin, 60px 0 16px 0);
    @include rem(padding, 60px 0 0 0);
    border: 1px solid;
    @include border-color($color-medium-gray, 0.3);
    background-image: none;
    position: relative;
    text-align: center;
    }

/* v1 */.profile-small .profile-photo,
/* v2 */.profile-grid > li > img {
    border: 6px solid white; /* Adds a gap round the gray border */
    height: 80px;
    left: 50%;
    margin-left: -46px; /* Half the width of the image and border */
    position: absolute;
    top: -45px;
    width: 80px;
    }

/* v2 */.profile-grid > li > img {
    border-radius: 100px;
    }

/* v1 */.profile-small .profile-note,
/* v1 */.profile-small .profile-note p,
/* v2 */.profile-grid > li > p {
    @include rem(line-height, 21px); 
    @include rem(font-size, 14px);
    }

/* v1 */.profile-small .profile-name,
/* v1 */.profile-small .profile-note p,
/* v2 */.profile-grid > li > h3,
/* v2 */.profile-grid > li > p {
    @include rem(padding, 0 8px);
    }

/* v1 */.profile-small .profile-name,
/* v2 */.profile-grid > li > h3 {
    @include rem(font-size, 22px);
    @include rem(margin-bottom, 4px);
    @include font-sans-bold;
    }

/* v1 */.profile-small .link-more,
/* v2 */.profile-grid > li > a {
    @include rem(font-size, 13px);
    @include color($color-red, 1);
    @include rem(line-height, 16px);
    @include font-sans-bold;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid transparent;
    }

/* v1 */.profile-small .link-more:hover,
/* v1 */.profile-small .link-more:focus,
/* v1 */.profile-small .link-more:active,
/* v2 */.profile-grid > li > a:hover,
/* v2 */.profile-grid > li > a:focus,
/* v2 */.profile-grid > li > a:active {
    border-bottom: 1px solid $color-red;
    }

/* v2 */.profile-grid > li > a {
    @include rem(margin-bottom, 14px);
    }

/* v1 */.profile-small .list-social,
/* v2 */.profile-grid > li > ul {
    @include background-color($color-light-gray, 0.6);
    @include rem(padding, 10px 0 3px 0);
    margin: 0;
    }

/* v1 */.profile-small .list-social li,
/* v2 */.profile-grid > li > ul > li {
    list-style-type: none;
    }