.seal {
    margin: 0 0 1.25em;
    display: block;
    font-family: $font-serif-regular;
    font-size: 1.2em
    }

@media (min-width: 40em) {
    .seal {
    text-align: center;
    border: 1px solid;
    @include border-color($color-light-gray, 1);
    border-radius: 0.4em;
    display: block;
    padding: 1em;
    margin-bottom: 1.25em;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    clear: none;
    }
    }

.seal:link,
.seal:visited,
.seal:hover,
.seal:focus,
.seal:active {
    @include color($color-blue, 1);
    border-bottom: none;
    }

.seal:hover,
.seal:focus,
.seal:active {
    @include color($color-black, 1);
    @include border-color($color-light-gray, 1);
    }

.seal .seal-label {
    clear: both;
    display: block;
    }

.seal .seal-image {
    display: none;
    }

@media (min-width: 40em) {
    .seal .seal-image {
        width: 100px;
        margin: 0 auto 0.5em;
        display: block;
        }
    }