section,
[class*="slab-"] {
    clear: both;
    width: 100%;
    float: left;
    }

[class*="slab-"] {
    }

.slab-blue,
.bg-blue,
.block-blue {
    @include background-color($color-blue, 1);
    }
    
    .slab-blue a:link,
    .slab-blue a:visited,
    .slab-blue a:hover,
    .slab-blue a:focus,
    .slab-blue a:active,
    .bg-blue a:link,
    .bg-blue a:visited,
    .bg-blue a:hover,
    .bg-blue a:focus,
    .bg-blue a:active,
    .block-blue a:link,
    .block-blue a:visited,
    .block-blue a:hover,
    .block-blue a:focus,
    .block-blue a:active {
        @include color($color-white, 0.6);
        }
    
    .slab-blue a:hover,
    .slab-blue a:focus,
    .slab-blue a:active,
    .bg-blue a:hover,
    .bg-blue a:focus,
    .bg-blue a:active,
    .block-blue a:hover,
    .block-blue a:focus,
    .block-blue a:active {
        border-bottom: 1px solid;
        @include border-color($color-white, 0.6);
        }
    
    .slab-blue .text-whisper,
    .bg-blue .text-whisper,
    .block-blue .text-whisper {
        @include color($color-white, 0.7);
        }
    
.slab-dark-blue,
.bg-dark-blue,
.block-dark-blue {
    @include background-color($color-dark-blue, 1);
    color: $color-white;
    }

.slab-dark-blue a:link,
.slab-dark-blue a:visited,
.slab-dark-blue .text-feature,
.bg-dark-blue a:link,
.bg-dark-blue a:visited,
.bg-dark-blue .text-feature,
.block-dark-blue a:link,
.block-dark-blue a:visited,
.block-dark-blue .text-feature {
    color: $color-white;
    }

.slab-dark-blue .text-whisper,
.bg-dark-blue .text-whisper,
.block-dark-blue .text-whisper {
    @include color($color-white, 0.7);
    }

.slab-dark-blue a:hover,
.slab-dark-blue a:focus,
.slab-dark-blue a:active,
.bg-dark-blue a:hover,
.bg-dark-blue a:focus,
.bg-dark-blue a:active,
.block-blue a:hover,
.block-dark-blue a:focus,
.block-dark-blue a:active {
    border-bottom: 1px solid $color-white;
    }

@media print {
	.slab-dark-blue,
	.bg-dark-blue,
	.block-dark-blue {
		background-color: transparent;
		color: inherit;
		}
	}

.slab-red,
.bg-red,
.block-red {
    @include background-color($color-red, 1);
    color: $color-white;
    }
    
    @media print {
    	.slab-red,
    	.bg-red,
    	.block-red {
    		background-color: transparent;
    		color: inherit;
    		}
    	}
    
    .slab-red a:link,
    .slab-red a:visited,
    .slab-red a:hover,
    .slab-red a:focus,
    .slab-red a:active,
    .bg-red a:link,
    .bg-red a:visited,
    .bg-red a:hover,
    .bg-red a:focus,
    .bg-red a:active,
    .block-red a:link,
    .block-red a:visited,
    .block-red a:hover,
    .block-red a:focus,
    .block-red a:active {
        @include color($color-white, 0.7);
        border-bottom: none;
        }
    
    .slab-red a:hover,
    .slab-red a:focus,
    .slab-red a:active,
    .slab-red label,
    .bg-red a:hover,
    .bg-red a:focus,
    .bg-red a:active,
    .bg-red label,
    .block-red a:hover,
    .block-red a:focus,
    .block-red a:active,
    .block-red label {
        color: $color-white;
        }
    
    .slab-red .list-icons a:link,
    .slab-red .list-icons a:visited,
    .slab-red .list-icons a:hover,
    .slab-red .list-icons a:focus,
    .slab-red .list-icons a:active,
    .bg-red .list-icons a:link,
    .bg-red .list-icons a:visited,
    .bg-red .list-icons a:hover,
    .bg-red .list-icons a:focus,
    .bg-red .list-icons a:active,
    .block-red .list-icons a:link,
    .block-red .list-icons a:visited,
    .block-red .list-icons a:hover,
    .block-red .list-icons a:focus,
    .block-red .list-icons a:active {
        color: $color-white;
        }
    
    .slab-red a.text-whisper:link,
    .slab-red a.text-whisper:visited,
    .slab-red a.text-whisper:hover,
    .slab-red a.text-whisper:focus,
    .slab-red a.text-whisper:active,
    .bg-red a.text-whisper:link,
    .bg-red a.text-whisper:visited,
    .bg-red a.text-whisper:hover,
    .bg-red a.text-whisper:focus,
    .bg-red a.text-whisper:active,
    .block-red a.text-whisper:link,
    .block-red a.text-whisper:visited,
    .block-red a.text-whisper:hover,
    .block-red a.text-whisper:focus,
    .block-red a.text-whisper:active {
        border-bottom: none;
        font-weight: 500;
        @include color($color-white, 0.7);
        }
    
    .slab-red a.text-whisper:hover,
    .slab-red a.text-whisper:focus,
    .slab-red a.text-whisper:active,
    .bg-red a.text-whisper:hover,
    .bg-red a.text-whisper:focus,
    .bg-red a.text-whisper:active,
    .block-red a.text-whisper:hover,
    .block-red a.text-whisper:focus,
    .block-red a.text-whisper:active {
        color: $color-white;
        }
    
    .slab-red .text-whisper,
    .bg-red .text-whisper,
    .block-red .text-whisper {
        @include color($color-white, 0.7);
        }
    

.slab-medium-red,
.bg-medium-red,
.block-medium-red {
    @include background-color($color-medium-red, 1);
    color: $color-white;
    }
    
    .slab-medium-red a:link,
    .slab-medium-red a:visited,
    .slab-medium-red a:hover,
    .slab-medium-red a:focus,
    .slab-medium-red a:active,
    .bg-medium-red a:link,
    .bg-medium-red a:visited,
    .bg-medium-red a:hover,
    .bg-medium-red a:focus,
    .bg-medium-red a:active,
    .block-medium-red a:link,
    .block-medium-red a:visited,
    .block-medium-red a:hover,
    .block-medium-red a:focus,
    .block-medium-red a:active {
        color: $color-white;
        border-bottom: none;
        }
    
    .slab-medium-red a:hover,
    .slab-medium-red a:focus,
    .slab-medium-red a:active,
    .bg-medium-red a:hover,
    .bg-medium-red a:focus,
    .bg-medium-red a:active,
    .block-medium-red a:hover,
    .block-medium-red a:focus,
    .block-medium-red a:active {
        @include color($color-white, 0.7);
        }
    
    .slab-medium-red form input,
    .slab-medium-red form select,
    .bg-medium-red form input,
    .bg-medium-red form select,
    .block-medium-red form input,
    .block-medium-red form select {
        border: none;
        }
    
    .slab-medium-red .text-whisper,
    .bg-medium-red .text-whisper,
    .block-medium-red .text-whisper {
        @include color($color-white, 0.7);
        }

.slab-gray,
.bg-gray,
.block-gray {
    @include background-color($color-light-gray, 0.5);
    }

.slab-black,
.bg-black,
.block-black {
    background-color: $color-black;
    color: $color-white;
    }

.slab-dark-gray,
.bg-dark-gray,
.block-dark-gray {
    background-color: $color-dark-gray;
    color: $color-white;
    }
    
    .slab-black a:link,
    .slab-black a:visited,
    .slab-black a:hover,
    .slab-black a:focus,
    .slab-black a:active,
    .bg-black a:link,
    .bg-black a:visited,
    .bg-black a:hover,
    .bg-black a:focus,
    .bg-black a:active,
    .block-black a:link,
    .block-black a:visited,
    .block-black a:hover,
    .block-black a:focus,
    .block-black a:active,
    
    .slab-dark-gray a:link,
    .slab-dark-gray a:visited,
    .slab-dark-gray a:hover,
    .slab-dark-gray a:focus,
    .slab-dark-gray a:active,
    .bg-dark-gray a:link,
    .bg-dark-gray a:visited,
    .bg-dark-gray a:hover,
    .bg-dark-gray a:focus,
    .bg-dark-gray a:active,
    .block-dark-gray a:link,
    .block-dark-gray a:visited,
    .block-dark-gray a:hover,
    .block-dark-gray a:focus,
    .block-dark-gray a:active {
        @include color($color-white, 1);
        border-bottom: none;
        }
    
    .slab-black a:hover,
    .slab-black a:focus,
    .slab-black a:active,
    .bg-black a:hover,
    .bg-black a:focus,
    .bg-black a:active,
    .block-black a:hover,
    .block-black a:focus,
    .block-black a:active,
    
    .slab-dark-gray a:hover,
    .slab-dark-gray a:focus,
    .slab-dark-gray a:active,
    .bg-dark-gray a:hover,
    .bg-dark-gray a:focus,
    .bg-dark-gray a:active,
    .block-dark-gray a:hover,
    .block-dark-gray a:focus,
    .block-dark-gray a:active {
        @include color($color-white, 0.7);
        }
    
    .slab-black .text-whisper,
    .bg-black .text-whisper,
    .block-black .text-whisper,
    
    .slab-dark-gray .text-whisper,
    .bg-dark-gray .text-whisper,
    .block-dark-gray .text-whisper {
        @include color($color-white, 0.7);
        }
    
    .slab-black form input,
    .slab-black form select,
    .bg-black form input,
    .bg-black form select,
    .block-black form input,
    .block-black form select,
    
    .slab-dark-gray form input,
    .slab-dark-gray form select,
    .bg-dark-gray form input,
    .bg-dark-gray form select,
    .block-dark-gray form input,
    .block-dark-gray form select {
        border: none;
        }
 
.slab-red .button-prominent,
.slab-red input.button-prominent,
.slab-red .button-prominent:link,
.slab-red .button-prominent:visited,
.slab-red .button-prominent:hover,
.slab-red .button-prominent:focus,
.slab-red .button-prominent:active,
.bg-red .button-prominent,
.bg-red input.button-prominent,
.bg-red .button-prominent:link,
.bg-red .button-prominent:visited,
.bg-red .button-prominent:hover,
.bg-red .button-prominent:focus,
.bg-red .button-prominent:active,
.block-red .button-prominent,
.block-red input.button-prominent,
.block-red .button-prominent:link,
.block-red .button-prominent:visited,
.block-red .button-prominent:hover,
.block-red .button-prominent:focus,
.block-red .button-prominent:active {
    @include background-color($color-dark-red, 1);
    }

.slab-red input.button-prominent:hover,
.slab-red input.button-prominent:focus,
.slab-red .button-prominent:hover,
.slab-red .button-prominent:focus,
.bg-red input.button-prominent:hover,
.bg-red input.button-prominent:focus,
.bg-red .button-prominent:hover,
.bg-red .button-prominent:focus,
.block-red input.button-prominent:hover,
.block-red input.button-prominent:focus,
.block-red .button-prominent:hover,
.block-red .button-prominent:focus {
    @include background-color($color-medium-red, 0.8);
    }

.slab-medium-red .button-prominent,
.slab-medium-red input.button-prominent,
.slab-medium-red .button-prominent:link,
.slab-medium-red .button-prominent:visited,
.slab-medium-red .button-prominent:hover,
.slab-medium-red .button-prominent:focus,
.slab-medium-red .button-prominent:active,
.bg-medium-red .button-prominent,
.bg-medium-red input.button-prominent,
.bg-medium-red .button-prominent:link,
.bg-medium-red .button-prominent:visited,
.bg-medium-red .button-prominent:hover,
.bg-medium-red .button-prominent:focus,
.bg-medium-red .button-prominent:active,
.block-medium-red .button-prominent,
.block-medium-red input.button-prominent,
.block-medium-red .button-prominent:link,
.block-medium-red .button-prominent:visited,
.block-medium-red .button-prominent:hover,
.block-medium-red .button-prominent:focus,
.block-medium-red .button-prominent:active {
    @include background-color($color-dark-red, 1);
    }

.slab-medium-red input.button-prominent:hover,
.slab-medium-red input.button-prominent:focus,
.slab-medium-red .button-prominent:hover,
.slab-medium-red .button-prominent:focus,
.bg-medium-red input.button-prominent:hover,
.bg-medium-red input.button-prominent:focus,
.bg-medium-red .button-prominent:hover,
.bg-medium-red .button-prominent:focus,
.block-medium-red input.button-prominent:hover,
.block-medium-red input.button-prominent:focus,
.block-medium-red .button-prominent:hover,
.block-medium-red .button-prominent:focus {
    @include background-color($color-black, 0.4);
    }

.slab-medium-red .text-whisper,
.bg-medium-red .text-whisper,
.block-medium-red .text-whisper {
    @include color($color-white, 0.7);
    }

[class*="slab-"].slab-bg1 {
    background-color: transparent;
    position: relative;
    background-repeat: repeat-x;
    background-position: bottom center;
    background-image: url('../images/fade-black.png');
    }

.slab-bg1:before {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url('../images/photo-bg1.jpg');
    background-size: cover;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
    }