@media (min-width: 40em) and (min-height: 30em) {

.sticky {
    position: fixed;
    margin-top: 2.65em;
    top: 0;
    padding: 0.5em 0;
    }
    
.sticky + main {
    margin-top: 6em;
    }

.sticky .global-header-logo {
    width: 90px;
    }

.sticky .nav-global-secondary {
    margin-top: 0.18em;
    }

}