.teaser {
    margin-bottom: 1.8em;
    }

.teaser a:link,
.teaser a:visited,
.teaser a:hover,
.teaser a:focus,
.teaser a:active {
    @include color($color-corporate-red, 1);
    margin: 0;
    }

.teaser .teaser-description {
    padding: 1em;
    border: 1px solid;
    @include border-color($color-light-gray, 1);
    border-top: none;
    }

.teaser .teaser-title {
    margin: 0 0 1em 0;
    }

.teaser .teaser-image {
    margin: 0;
    vertical-align: top;
    }