.note {
    @include color($color-medium-gray, 1);
    @include rem(font-size, 13px);
    display: inline-block;
    line-height: 22px;
    vertical-align: top;
    }

.text-invalid {
	color: $color-red;
	}

.text-feature {
    @include rem(font-size, 50px);
    @include rem(margin, 0 0 15px 0);
    @include font-serif-bold;
    color: $color-blue;
    }

.muted {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    }