.wodge-s .wodge-button {
    clear: both;
    margin-top: 1.5em;
    margin-bottom: 0.7em;
    }

.wodge-s .wodge-button .button {
    min-width: 7em;
    }

@media (min-width: 40em) {
    
    .wodge-s .wodge-button {
        clear: none;
        float: left;
        margin-left: 150px;
        margin-top: 0;
        }
    
    .wodge-s .wodge-header {
        float: left;
        margin-right: 0;
        width: 48%;
        }

    }
    
    @media (min-width: 60em) {
        .wodge-s .wodge-button {
            float: right;
            margin-left: 0;
        }
    }