<div class="global-footer" id="global-footer">
    
    <div class="layout-breve layout-tight">
    
        <div class="search-global">
            <input type="search" placeholder="Search" />
        </div>
    
        <nav class="nav-footer" role="navigation">
            <ul>
                <li class="nav-tier1"><a class="nav-heading" href="#">Home</a></li>
                <li class="nav-tier1"><a class="nav-heading" href="#">About</a>
                    <ul class="nav-tier2">
                        <li><a href="#">Who we are</a></li>
                        <li><a href="#">Programs</a></li>
                        <li><a href="#">Donors</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </li>
                <li class="nav-tier1"><a class="nav-heading" href="#">Fellows</a>
                    <ul class="nav-tier2">
                        <li><a href="#">Timeline</a></li>
                        <li><a href="#">Process</a></li>
                        <li><a href="#">Apply</a></li>
                    </ul>
                </li>
                <li class="nav-tier1"><a class="nav-heading" href="#">Cities</a>
                    <ul class="nav-tier2">
                        <li><a href="#">Kansas City, MO</a></li>
                        <li><a href="#">Kansas City, KS</a></li>
                        <li><a href="#">Las Vegas, NV</a></li>
                        <li><a href="#">Louisville, KY</a></li>
                        <li><a href="#">New York City, NY</a></li>
                        <li><a href="#">Oakland, CA</a></li>
                        <li><a href="#">San Francisco, CA</a></li>
                        <li><a href="#">San Mateo County, CA</a></li>
                        <li><a href="#">South Bend, IN</a></li>
                        <li><a href="#">Summit County, OH</a></li>
                    </ul>
                </li>
                <li class="nav-tier1"><a class="nav-heading" href="#">Donate</a>
                    <ul class="nav-tier2">
                        <li><a href="#">Financial Contributions</a></li>
                        <li><a href="#">In-Kind Donations</a></li>
                    </ul>
                </li>
                <li class="nav-tier1"><a class="nav-heading" href="#">Social</a>
                    <ul class="nav-tier2">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">YouTube</a></li>
                        <li><a href="#">RSS</a></li>
                        <li><a href="#">GitHub</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    
    </div>

</div>

<div class="global-foot">
    <div class="layout-tight layout-breve">
        <div class="global-foot-content">
            <img class="global-foot-logo" src="http://style.codeforamerica.org/media/images/logo-inversed.png" />
            <small>Code for America Labs, Inc is a non-partisan, non-political 501(c)(3) organization. Content is licensed through Creative Commons.</small>
        </div>
    </div>
</div>