<div class="global-header">
    <div class="layout-breve layout-tight">
        <a href="/templates/home.php" class="global-header-logo">
            <img src="media/images/logo.png" />
        </a>
        
        <p class="skip-to-nav"><a href="#global-footer">Menu</a></p>
        
        <nav class="nav-global-secondary" role="navigation">
            <ul>
                <li class="nav-tier1 nav-has-children">
                    <a href="/governments/index.php">Governments</a>
                    <ul class="nav-tier2">
                        <li><a href="#">Current Cities</a></li>
                        <li><a href="#">Upcoming Cities</a></li>
                        <li><a href="#">Alumni Cities</a></li>
                        <li><a href="#">Apps &amp; APIs</a></li>
                    </ul>
                </li>
                <li class="nav-tier1 nav-has-children"><a href="/citizens/index.php">Citizens</a></li>
                <li class="nav-tier1 nav-has-children"><a href="/apps/index.php">Apps</a></li>
                <li><a href="/donate/index.php" class="button">Donate</a></li>
            </ul>
        </nav>
    </div>
</div>