//  Base ––––––––––––––––––––––––––––––––––––––––––––––––– //

    @import 'base/typography';
    @import 'base/color-scheme';

/*  Elements ––––––––––––––––––––––––––––––––––––––––––––– */

    @import 'elements/text';
    @import 'elements/headings';
    
    h2 {
    	@include rem(font-size, 25px);
    	}
    
    h3 {
    	@include rem(font-size, 18px);
    	font-family: $font-sans-regular;
    	text-transform: uppercase;
    	letter-spacing: 0.2px;
    	margin-top: 1.5em;
    	}
    
    @import 'elements/links';
    @import 'elements/media';
    @import 'elements/tables';
    @import 'elements/forms';
    
    ul {
    	@include rem(padding-left, 18px);
    	}
    
    ul li {
    	list-style: square;
    	}
    
    ul ul {
    	padding-left: 1em;
    	margin: 0;
    	}

/*  Text ––––––––––––––––––––––––––––––––––––––––––––––––– */

    @import 'patterns/text-whisper';
    @import 'patterns/heading-contrast';
    @import 'patterns/heading';

/*  Patterns ––––––––––––––––––––––––––––––––––––––––––––– */

    @import 'patterns/alert';
    @import 'patterns/button';
    @import 'patterns/blurb';
    @import 'patterns/flags';
    @import 'patterns/masthead';
    @import 'patterns/highlight';
    @import 'patterns/insulate';
    @import 'patterns/isolate';
    @import 'patterns/lists';
    @import 'patterns/island';
    @import 'patterns/slabs';
    @import 'patterns/spotlight';
    @import 'patterns/text-styles';

/*  Global ––––––––––––––––––––––––––––––––––––––––––––––– */

    @import 'global/footer';
    @import 'global/no-layout';
    
    section {
    	border-bottom: 1px solid $color-light-gray;
    	margin: 0 0 1em 0;
    	}
    
    .skip-to-nav:link,
    .skip-to-nav:visited,
    .skip-to-nav:hover,
    .skip-to-nav:focus,
    .skip-to-nav:active {
    	position: fixed;
    	bottom: 0;
    	right: 0;
    	padding: 0.5em;
    	background-color: $color-blue;
    	color: $color-white;
    	opacity: 0.6;
    	transition: 0.3s;
    	}
    
    .skip-to-nav:hover,
    .skip-to-nav:focus,
    .skip-to-nav:active {
    	border-bottom: none;
    	opacity: 1;
    	}