body {
    font-size: 16px;
    }
    
h1 {
    font-size: 2em;
    }

h2 {
    font-size: 1.8em;
    }

h3 {
    font-size: 1.6em;
    }

h4 {
    font-size: 1.4em;
    }

p,
ul,
ol,
dl {
    line-height: 1.4em;
    margin: 1em 0;
    }

ol {
    margin: 0.5em 0 0.5em 1.4em;
    }

ul {
    margin: 0.5em 0 0.5em 1.25em;
    }

ol li {
    list-style-type: decimal;
    }

ul li {
    list-style-type: square;
    }

strong {
    font-weight: bold;
    }

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: $color-corporate-blue;
    text-decoration: none;
}

code,
.code {
    font-family: Menlo,Monaco,'Courier New',Courier,monospace;
    }