/* @group Primer */

.pattern {
    clear: both;
    float: left;
    margin: 0.5em 0 3em;
    width: 100%;
}

.primer {
    background-color: $color-light-grey;
    padding: 0.2em 1% 0.3em;
    float: left;
    margin-bottom: 1em;
    width: 98%;
    }

.primer .code {
    border: 1px solid #ccc;
    float: left;
    width: 75%;
    margin: 0.5em 0 0.5em 0;
    font-family: Menlo,Monaco,'Courier New',Courier,monospace;
    font-size: 13px;
    line-height: 1.2em;
    padding: 0.5em;
    }

.primer .caption {
    float: right;
    width: 23%;
    margin: 0.5em 0;
    }

.primer .name:hover {
    cursor: pointer;
    }

.preview {
    clear: both;
    }

/* @end Primer */

.nav-section-select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color: $color-corporate-black;
    color: white;
    opacity: 0.5;
    border-radius: 0;
    display: inline-block;
    padding: 0.8em 0.5em 0.4em 0.5em;
    position: fixed;
    right: 2em;
    top: 0em;
    width: 150px;
    z-index: 100;
}

/* @group list-swatches */

.swatch {
    float: left;
    width: 100%;
    }

@media (min-width: 30em) {
.swatch {
    float: left;
    width: 50%;
    }
}

@media (min-width: 40em) {
.swatch {
    float: left;
    width: 33%;
    }
}

@media (min-width: 60em) {
.swatch {
    float: left;
    width: 25%;
    }
}

.swatch-preview {
    border: 5px solid #fff;
    box-shadow: 0 0 1px rgba(0,0,0,0.8);
    display: block;
    float: left;
    height: 60px;
    width: 60px;
    margin: 0 0.8em 0.8em 0;
    }

.swatch-details {
    float: left;
    margin: 0 1em 0 0;
    font-size: 0.8em;
    }

/* @end list-swatches */

/* @group list-no-bullets */

.list-no-bullets {
    margin-left: 0;
    }

.list-no-bullets li {
    list-style-type: none;
    }

/* @end list-no-bullets */

/* @group buttons */

.button:link,
.button:visited,
.button:hover,
.button:focus,
.button:active {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: $color-corporate-blue;
    color: white;
    border-radius: 0.2em;
    box-shadow: 4px 4px 0 $color-dark-blue;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    }

.button:hover,
.button:focus {
    background-color: #4DB3E7;
    }

.button:active {
    box-shadow: 0 0 0 $color-dark-blue;
    margin-top: 4px;
    margin-left: 4px;
    }

.button-prominent:link,
.button-prominent:visited,
.button-prominent:hover,
.button-prominent:focus,
.button-prominent:active {
    background-color: $color-corporate-red;
}


/* @end buttons */

.highlight {
    background-color: teal;
    color: white;
    padding: 1em 2em;
    font-size: 1.2em;
    position: relative;
    }

@media (min-width: 40em) {
.highlight-with-avatar {
    padding-left: 250px;
    }
}


.highlight-avatar {
    background-color: white;
    padding: 10px;
    border-radius: 10em;
    border: 5px solid rgba(0,0,0,0.2);
    width: 100px;
    float: left;
    margin-right: 1.5em;
    border-style: inset;
    top: 2em;
    margin-bottom: 1em;
    }

@media (min-width: 40em) {
.highlight-avatar {
    position: absolute;
    left: 60px;
}
}