/* @group Primer */

.pattern {
    clear: both;
    float: left;
    margin: 0.5em 0 3em;
    width: 100%;
    }

.primer {
    background-color: $color-light-grey;
    padding: 0.2em 1% 0.3em;
    float: left;
    margin-bottom: 1em;
    width: 98%;
    }

.primer .code {
    border: 1px solid #ccc;
    float: left;
    width: 67.5%;
    margin: 0.5em 0 0.5em 0;
    font-family: Menlo,Monaco,'Courier New',Courier,monospace;
    font-size: 13px;
    line-height: 1.2em;
    padding: 0.5em;
    }

.primer .caption {
    float: right;
    width: 30%;
    margin: 0.5em 0;
    font-size: 0.85em;
    white-space: pre-line;
    line-height: 1.4em;
    }

.primer .name:hover {
    cursor: pointer;
    }

.preview {
    clear: both;
    }

/* @end Primer */

.nav-section-select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color: $color-corporate-black;
    color: white;
    opacity: 0.5;
    border-radius: 0;
    display: inline-block;
    padding: 0.8em 0.5em 0.4em 0.5em;
    position: fixed;
    right: 2em;
    top: 0em;
    width: 150px;
    z-index: 100;
    }


/* @group caption */

.caption {
    font-size: 0.8em;
    @include color($color-medium-grey, 1);
    }

/* @end caption */

/* @group list-swatches */

.swatch {
    float: left;
    width: 100%;
    margin-bottom: 1em;
    }

@media (min-width: 30em) {
.swatch {
    width: 50%;
    }
}

@media (min-width: 40em) {
.swatch {
    width: 33%;
    }
}

@media (min-width: 60em) {
.swatch {
    width: 25%;
    
    }
}

.swatch-preview {
    border: 5px solid #fff;
    box-shadow: 0 0 1px rgba(0,0,0,0.8);
    display: block;
    float: left;
    height: 60px;
    width: 60px;
    margin: 0 0.8em 0.8em 0;
    }

.swatch-details {
    float: left;
    margin: 0 1em 0 0;
    font-size: 0.8em;
    clear: both;
    }

@media (min-width: 70em) {
.swatch-details  {
    clear: none;
    }
}

/* @end list-swatches */

/* @group list-no-bullets */

.list-no-bullets {
    margin-left: 0;
    float: left;
    width: 100%;
    }

.list-no-bullets li {
    list-style-type: none;
    }

/* @end list-no-bullets */


.list-form {
    margin-left: 0;
    float: left;
    width: 100%;
    }

.list-form .form-field {
    list-style-type: none;
    margin-bottom: 1em;
    }


.list-inline {
    margin-left: 0;
    }

.list-inline li {
    display: inline;
    border-right: 2px solid $color-medium-grey;
    margin: 0 0.15em 0 0;
    }

.list-inline li:last-child {
    border-right: none;
    }

.list-inline li a {
    padding: 0 0.5em 0 0;
    }

.list-gappy li {
    margin-bottom: 1em;
}

/* @group buttons */




.button-prominent:link,
.button-prominent:visited,
.button-prominent:hover,
.button-prominent:focus,
.button-prominent:active {
    @include background-color($color-corporate-red, 1);
    }

.button-prominent:hover,
.button-prominent:focus {
    @include background-color($color-corporate-red, 0.8);
    }



.button-unstyled:link,
.button-unstyled:visited,
.button-unstyled:hover,
.button-unstyled:focus,
.button-unstyled:active {
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    @include color($color-corporate-black, 0.6);
}

.button-unstyled:hover,
.button-unstyled:focus,
.button-unstyled:active {
    @include color($color-corporate-black, 1);
}


/* @end buttons */



/* @group highlight */

.highlight {
    @include background-color($color-dark-blue, 1);
    color: white;
    padding: 1em 2em;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    border-radius: 0.5em;
    }

/* @end highlight */

/* @group highlight with avatar */

@media (min-width: 60em) {
.highlight-with-avatar {
    padding-left: 100px;
    }
}


.highlight-avatar {
    background-color: white;
    padding: 10px;
    border-radius: 5em;
    border-width: 8px;
    border-style: solid;
    @include border-color($color-corporate-red, 1);
    width: 100px;
    float: left;
    margin-right: 1.5em;
    border-style: inset;
    top: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    }

@media (min-width: 60em) {
.highlight-avatar {
    position: absolute;
    left: -60px;
    margin-top: 0;
    }
}

/* @end highlight with avatar */

/* @group profile: medium */

.profile-medium {
    min-height: 150px;
    position: relative;
    }

.profile-medium .u-photo {
    width: 150px;
    margin-top: 0.4em;
    }

@media (min-width: 40em) {
    .profile-medium .u-photo {
        position: absolute;
        left: 0;
        top: 0;
        }
}

.profile-medium .p-name {
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: bold;
    }


@media (min-width: 40em) {
    .profile-medium .p-name,
    .profile-medium .p-note {
        margin-left: 165px;
        }
}

.profile-medium .p-note p:first-child {
    margin-top: 0;
    }

/* @end profile: medium */

.stat {
    position: relative;
    padding-bottom: 2em;
    width: 7em;
    text-align: center;
    float: left;
    margin: 0 1em 1em 0;
}

.stat-heading {
    border-bottom: 1px solid;
    @include border-color($color-medium-grey, 0.3);
    @include color($color-medium-grey, 0.7);
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
    font-size: 0.9em;
}

.stat-figure {
    font-size: 3em;
    @include color($color-corporate-black, 1);
    font-family: georgia;
    font-weight: bold;
    text-align: center;
    display: block;
}

.hidden {
    display: none;
}

.blurb {
    text-transform: uppercase;
    @include color($color-dark-grey, 1);
    border-bottom: 1px solid #333;
    @include border-color($color-light-grey, 1);
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
}

.blurb em {
    @include color($color-corporate-red, 1);
}

.icon {
    background-repeat: no-repeat;
}

.cfa-tag {
    background-image: url('/_images/tag-black.png');
    text-indent: -99999px;
    display: block;
    background-size: 90px;
}

.cfa-tag-red {
    background-image: url('/_images/tag-red.png');
}

.cfa-tag-blue {
    background-image: url('/_images/tag-blue.png');
}

.cfa-tag-grey {
    background-image: url('/_images/tag-grey.png');
}

.spotlight {
    @include background-color($color-light-grey, 0.5);
    float: left;
    width: 96%;
    padding: 1em 2%;
}