---
layout: default
title: Charlotte
masthead-image: "../../media/images/governments/charlotte_header.jpg"
nav_tier1_active: "governments"
nav-breadcrumbs:
 - Governments: "/cities"
 - Charlotte: "/cities/charlotte"
---
  
 
    <section> 
        <div class="layout-semibreve">
    
            {% include nav-breadcrumbs.html %}
            
            <!--

            <header class="badge-heading badge-blue badge-fellowship">
                <h2>Charlotte</h2>
            </header>

            <section>
                <div class="layout-semibreve">
                    <div class="layout-gutters">
                        <p>The largest City in North Carolina, Charlotte is the second largest banking center in the US with ten Fortune 500 companies calling the city home. The city is also host to tech giants like LendingTree, an ecosystem of startup groups like Packard Place, Queen City Forward and RevTech Labs and rich academic institutions like UNC Charlotte College of Computing &amp; Informatics.</p>

                        <p>As a 2014 partnership city in Code for America's Fellowship program, our aim is to support Charlotte’s efforts in citizen engagement and greater government transparency.</p>

                        <p>
                        <a href="#2014" class="button button-s">the 2014 Fellows</a>
                        <a href="http://www.codeforcharlotte.org" class="button button-s">Charlotte Brigade</a>
                        </p>

                    </div>
                </div>
            </section>
            
            -->
            
        </div>
    </section>

    <section class="slab-blue">
        <div class="layout-semibreve">
            <div class="highlight highlight-with-avatar">
                <img class="highlight-avatar" src="../../media/images/governments/charlotte_seal.png" alt="">
<a id="2014"></a>
                <blockquote>
                    <p>Our engagement with Code for America provides a unique opportunity to directly support and quickly demonstrate Charlotte’s emerging strategy for citizen engagement.</p>
                </blockquote>

                <p class="attribute">CIO Jeffrey Stovall, City of Charlotte</p>

            </div>
        </div>

    </section>
    
    <section>
        <div class="layout-semibreve">

            <header class="badge-heading badge-red badge-fellowship">
                <h2>The 2014 Fellowship in Charlotte</h2>
            </header>

                    <div class="layout-gutters">
                        <p>The Code for America team in the City of Charlotte is working to increase citizen engagement by providing citizens with access to relevant and accurate information. By helping citizens better understand what’s going on in their neighborhoods, when it’s going to happen, and why, cities can build trust through transparency and proactively incorporate constituent feedback.</p>
                        <p>The City of Charlotte currently pursues various methods of communicating civic information to its residents, such as sending out flyers, emails, brochures, and even tweets. However, these methods don't always adequately convey the most crucial details to whom it's most important. Jessica P., a Charlottean, told us that she arrived home one day to a door hanger on her front door informing her of upcoming construction on her street. She woke up the next morning to a construction crew tearing up her driveway. Jessica and other residents, such as Geoff Y., want more personalized information from the city, as well as a way to engage rather than being passive recipients of information. By interacting with and seeking feedback from community members, the 2014 Fellows have assembled a framework of the type of civic information citizens want to be able to access, as well as the ideal ways to get that information.</p> 
                        <p>Enter <strong><a href="https://github.com/codeforamerica/citygram">Citygram</a></strong>, a geographically-relevant notifications platform powered by open data. It delivers notifications to citizens via SMS and e-mail based on the areas and topics of interest (e.g. traffic, public meetings, rezoning, etc.) that they've chosen. Citygram aims to serve two goals:
                         <ol>
                          <li>to share relevant information that people want  in a simple, elegant way.</li>
                          <li>to make raw data not only open, but also meaningful to people.</li>
                         </ol>
                        
                        <p>Check out the Fellows' <a href="http://tchu88.github.io/charlotte-midyear/" target="_blank">mid-year update</a> to learn more.</p>
                        
                         <br/>
                         <iframe src="//player.vimeo.com/video/99661866" width="688" height="431" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                         <br/>
                     
                    </div>


            <div class="layout">
            <br/><br/>
               <h4>Meet the team:</h4>
                <ul>
                    <li class="layout-crotchet">{% include people/andrew-douglass.html context="2014-fellows" base="../.." %}</li>

                    <li class="layout-crotchet">{% include people/tiffany-chu.html context="2014-fellows" base="../.." %}</li>

                    <li class="layout-crotchet">{% include people/danny-whalen.html context="2014-fellows" base="../.." %}</li>
                </ul>

                <p><strong>Team Leads</strong>: Twyla McDermott, Corporate Technology Program Manager; Jeff Stovall, Chief Information Officer<br/>
                <strong>Community Partners</strong>: Knight Foundation</p>
                
                <p>Follow the Fellows' progress on their blog <a href="http://team-charlotte.tumblr.com/"  target="_blank">Team Charlotte</a></p>
                <p>Contribute to <strong>City Gram</strong> on <a href="https://github.com/codeforamerica/citygram" target="_blank">Github</a>.</p>
            </div>
       </div>
    </section>

    <section class="slab-gray">
        <div class="layout-semibreve">
            <header class="badge-heading badge-orange badge-fellowship">
                <h2>Articles &amp; video</h2>
            </header>

            <ul class="teasers">
                <li class="layout-crotchet"> 
                <article class="teaser">
                    <iframe width="300" height="165" src="//www.youtube.com/embed/gUANTowWP8c?list=UU6VjQY-gIxXGKmjW0LeMGOw" frameborder="0" allowfullscreen></iframe>
                    <div class="teaser-description">
                        <h4 class="teaser-title">
                            Charlotte, Code for America Fellows - <a href="http://youtu.be/gUANTowWP8c?list=UU6VjQY-gIxXGKmjW0LeMGOw" target="_blank">BETA</a>
                        </h4>
                        <div class="teaser-body">
                            <p>Tiffany Chu, Danny Whalen, and Andrew Douglas discuss their projects in Charlottle, NC. ...
                            </p>
                        </div>
                    </div>
                </article>
                </li>
                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://www.programmableweb.com/news/code-america-2015-fellowship-seeks-developers-designers/2014/06/25" target="_blank"><img alt="Charlotte Observer article" src="../../media/images/press/charlotte-201406-programweb.png" width="300" height="165" style="margin:0px;height:165px;width:300px;"></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">Code for America 2015 Fellowship Seeks Developers and Designers — <a href="http://www.programmableweb.com/news/code-america-2015-fellowship-seeks-developers-designers/2014/06/25" target="_blank">Programmable Web</a></h4>

                            <div class="teaser-body">
                                <p>"It takes time to build consensus to push policy through, and because the time frames are really long, we often have to work within the existing policy. For example, in Charlotte, N.C., they are working on internal data policies, and we were able to go over that with them in February and that has been ongoing to help build the governance behind that process."  ...
                                </p>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://digitalcharlotte.org/code-for-america-lands-in-charlotte-the-goal-build-citizen-engagement/" target="_blank"><img alt="Charlotte Observer article" src="../../media/images/press/charlotte-201404-digichar.png" width="300" height="165" style="margin:0px;height:165px;width:300px;"></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">Code for America Lands in Charlotte. The Goal: Build Citizen Engagement — <a href="http://digitalcharlotte.org/code-for-america-lands-in-charlotte-the-goal-build-citizen-engagement/" target="_blank">Digital Charlotte</a></h4>

                            <div class="teaser-body">
                                <p>For years, we have championed the influx of developers, entrepreneurs and technology startups in the Charlotte area. After discovering Code for America chose Charlotte as one of 10 cities to work with for 2014, we were honored to host their kickoff event. It’s no secret we love Charlotte. That’s why we leapt at the opportunity to utilize our Space Volcano for their press event, fund raiser and supporting brigade meet up.  ...
                                </p>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://skookum.com/blog/sdw-hosts-charlotte-code-for-america-kickoff-event/" target="_blank"><img alt="Charlotte Observer article" src="../../media/images/press/charlotte-201403-skookum.png" width="300" height="165" style="margin:0px;height:165px;width:300px;"></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">SDW Hosts Charlotte Code for America Kickoff Event — <a href="http://skookum.com/blog/sdw-hosts-charlotte-code-for-america-kickoff-event/" target="_blank">Skookum Blog</a></h4>

                            <div class="teaser-body">
                                <p>For years, we have championed the influx of developers, entrepreneurs and technology startups in the Charlotte area. After discovering Code for America chose Charlotte as one of 10 cities to work with for 2014, we were honored to host their kickoff event. It’s no secret we love Charlotte. That’s why we leapt at the opportunity to utilize our Space Volcano for their press event, fund raiser and supporting brigade meet up.  ...
                                </p>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://ventureprise.org/index.php?cID=340" target="_blank"><img alt="Venture Enterprise article" src="../../media/images/press/charlotte-201402-ventureprise.png" width="300" height="165" style="margin:0px;height:165px;width:300px;"></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">Why is Code for America Abuzz for Charlotte’s Code for America Initiative? — <a href="http://ventureprise.org/index.php?cID=340" target="_blank">Venture Enterprise</a></h4>

                            <div class="teaser-body">
                                <p>In February, City of Charlotte leaders, Charlotte citizens, and the organization Code for America, represented by three Fellows, officially launched Charlotte’s Code for America initiative. Code for America – CFA – located in San Francisco, CA, was founded in 2009 by Jennifer Pahlka as a 501(c)3 to "change how we (as citizens) participate in government to: connect citizens and governments to design better services, encourage low-risk settings for innovation, support a competitive civic tech marketplace."  ...
                                </p>
                            </div>
                        </div>
                    </article>
                </li>


                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://www.charlotteobserver.com/2014/02/20/4711844/peace-corps-for-geeks-brings-top.html" target="_blank"><img alt="Charlotte Observer article" src="../../media/images/press/charlotte-201402-charobsrv.png" width="300" height="165" style="margin:0px;height:165px;width:300px;"></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">‘Peace Corps for geeks’ brings top tech minds to help Charlotte — <a href="http://www.charlotteobserver.com/2014/02/20/4711844/peace-corps-for-geeks-brings-top.html" target="_blank">Charlotte Observer</a></h4>

                            <div class="teaser-body">
                                <p>In New Orleans, they created a website that gives residents up-to-date information on the status of vacant properties. In Philadelphia, they developed an app that lets citizens weigh in on government discussions via text message. And in Boston, they made mobile apps for parents to track the school bus in real time and for teachers to send students text reminders. Now, it’s Charlotte’s turn.  ...
                                </p>
                            </div>
                        </div>
                    </article>
                </li>


                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://cltblog.com/44044" target="_blank"><img alt="CLT Blog post" src="../../media/images/press/charlotte_press.jpg"></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">Charlotte chosen as a 2014 Code for America city — <a href="http://cltblog.com/44044" target="_blank">CLT Blog</a></h4>

                            <div class="teaser-body">
                                <p>Each year, Code for America selects a small group of cities for an 11-month fellowship, where each city is paired with a team of select researchers, designers, and developers to build new apps and digital infrastructure that increases citizen engagement, and helps to improve the effectiveness of city staff. ...</p>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="layout-crotchet">
                    <article class="teaser">
                        <a href="http://charmeck.org/city/charlotte/mayor/News/Pages/Charlotte-Selected-for-Code-for-America-Fellowship.aspx" target="_blank"><img alt="Office of Mayor Cannon blog post" src="../../media/images/press/oct2013_charlotte.jpg"></a>

                        <div class="teaser-description">
                            <h4 class="teaser-title">Charlotte Selected for 2014 Code for America Fellowship Program — <a href="http://charmeck.org/city/charlotte/mayor/News/Pages/Charlotte-Selected-for-Code-for-America-Fellowship.aspx" target="_blank">Office of Mayor Cannon</a></h4>

                            <div class="teaser-body">
                                <p>Code for America (CfA), a nonprofit that collaborates with local governments to foster innovation, today announced that Charlotte has been chosen as one of 10 governments from across the country that will participate in its 2014 Fellowship program. ...</p>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>

        </div>
    </section>
