# 
# Below are all URL redirects for Code for America.
# 
# For these to work, the document root must have the FollowSymLinks option
# enabled and the FileInfo configuration override active.
#   http://httpd.apache.org/docs/2.4/mod/core.html#options
#   http://httpd.apache.org/docs/2.4/mod/directive-dict.html#Override
# 
# Over the years, we've moved a lot of content from place to place. In the
# past, a Wordpress plugin was used to provide this functionality. With the
# move to a static site, we've reimplemented most redirects as Apache
# RedirectMatch directives, found below.
# 
# More on RedirectMatch:
#   http://httpd.apache.org/docs/2.4/mod/mod_alias.html#redirectmatch
# 
# Directives are processed in order, and the first match is used. If you have
# new ones to add, put them at the end of this file to minimize conflicts and
# problems.
# 
# More on processing order:
#   http://httpd.apache.org/docs/2.4/mod/mod_alias.html#order
# 
# Each directive was written and tested outside the document root, so they are
# prefixed with the '^(.*)' pattern to work even in a local subdirectory.
# 
# The Apps section is handled using the Rewrite Engine, instead of Redirect.
# Apps URLs on the previous site were implemented as query string patterns,
# and only RewriteCond can find these.
# 
# More on Rewrite:
#   http://httpd.apache.org/docs/2.4/mod/mod_rewrite.html
# 

#
# Apps.
#
RewriteEngine On
RewriteCond %{QUERY_STRING} \b(cfa_project|cfa_app)=([^&]+)
RewriteRule .* %{REQUEST_URI}apps/%2? [L,R=301]

#
# Big global redirects:
# In June 2014, renamed all of /cities to /governments.
#
RedirectMatch permanent ^(.*)(?<!/media/images)/cities(/.*)?$ $1/governments$2

#
# Events and Peer Network training broadcasts.
#
RedirectMatch permanent ^(.*)(?<!/events)/codeacross-2014/?$ $1/events/codeacross-2014
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/peer-network-training)/02-18-2014/?$ $1/peer-network-training/02-18-2014
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/peer-network-training)/01-15-2014/?$ $1/peer-network-training/01-15-2014
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/peer-network-training)/03-20-2014/?$ $1/peer-network-training/03-20-2014


RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/meettheauthors/?$ $1/peer-network-training/meettheauthors
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/09-24-2013/?$ $1/peer-network-training/09-24-2013
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/08-22-2013/?$ $1/peer-network-training/08-22-2013
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/08-07-2013/?$ $1/peer-network-training/08-07-2013
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/ask-a-fellow-2013/?$ $1/peer-network-training/ask-a-fellow-2013
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/07-18-2013/?$ $1/peer-network-training/07-18-2013
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/07-11-2013/?$ $1/peer-network-training/07-11-2013
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/07-11-2013-jared/?$ $1/peer-network-training/07-11-2013-jared
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/06-27-2013/?$ $1/peer-network-training/06-27-2013
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/05-30-2013/?$ $1/peer-network-training/05-30-2013
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/05-24-2013/?$ $1/peer-network-training/05-24-2013
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/05-14-2013/?$ $1/peer-network-training/05-14-2013
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/05-13-201/?$ $1/peer-network-training/05-13-201
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/07-02-2013/?$ $1/peer-network-training/07-02-2013
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/04-08-2014/?$ $1/peer-network-training/04-08-2014
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/05-08-14/?$ $1/peer-network-training/05-08-14
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/05-28-14/?$ $1/peer-network-training/05-28-2014
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/06-03-14/?$ $1/peer-network-training/06-03-2014
RedirectMatch permanent ^(.*)(?<!/peer-network-training|/blog)(/blog)?/06-03-14/?$ $1/peer-network-training/06-03-2014
#
# Events and Brigade training broadcasts.
#
RedirectMatch permanent ^(.*)(?<!/brigade-training)/brigade12-12-2013/?$ $1/brigade-training/brigade12-12-2013
RedirectMatch permanent ^(.*)(?<!/brigade-training)/09-19-2013?$/?$ $1/brigade-training/09-19-2013
RedirectMatch permanent ^(.*)(?<!/brigade-training)/brigade01-09-2014/?$ $1/brigade-training/brigade01-09-2014	
RedirectMatch permanent ^(.*)(?<!/brigade-training)/brigade01-14-2014/?$ $1/brigade-training/brigade01-14-2014
RedirectMatch permanent ^(.*)(?<!/brigade-training)/brigade01-16-2014/?$ $1/brigade-training/brigade01-16-2014
RedirectMatch permanent ^(.*)(?<!/brigade-training)/brigade01-23-2014/?$ $1/brigade-training/brigade01-23-2014	
RedirectMatch permanent ^(.*)(?<!/brigade-training)/brigade02-06-2014/?$ $1/brigade-training/brigade02-06-2014
RedirectMatch permanent ^(.*)(?<!/brigade-training)/brigade02-11-2014/?$ $1/brigade-training/brigade02-11-2014
RedirectMatch permanent ^(.*)(?<!/brigade-training)/brigade02-12-2014/?$ $1/brigade-training/brigade02-12-2014
RedirectMatch permanent ^(.*)(?<!/brigade-training)/brigade02-13-2014/?$ $1/brigade-training/brigade02-13-2014
RedirectMatch permanent ^(.*)(?<!/brigade-training)/brigade02-13-2014-2/?$ $1/brigade-training/brigade02-13-2014-2
RedirectMatch permanent ^(.*)(?<!/brigade-training)/brigade06-27-2013/?$ $1/brigade-training/brigade06-27-2013
RedirectMatch permanent ^(.*)(?<!/brigade-training)/brigade12-10-2013/?$ $1/brigade-training/brigade12-10-2013
RedirectMatch permanent ^(.*)(?<!/brigade-training)/brigade06-27-2013/?$ $1/brigade-training/brigade06-27-2013

#
# Wordpress blog.
#
RedirectMatch permanent ^(.*)(?<!/blog)/(wp-admin.+)$ $1/blog/$2
RedirectMatch permanent ^(.*)(?<!/blog)/(wp-login.+)$ $1/blog/$2
RedirectMatch permanent ^(.*)(?<!/blog)/(wp-content/.+)$ $1/blog/$2
RedirectMatch permanent ^(.*)(?<!/blog)/(\d\d\d\d/\d\d/\d\d/.+)$ $1/blog/$2
RedirectMatch permanent ^(.*)(?<!/blog)/(category/.+)$ $1/blog/$2
RedirectMatch permanent ^(.*)(?<!/blog)/(author/.+)$ $1/blog/$2
RedirectMatch permanent ^(.*)(?<!/blog)/(feed/.+)$ $1/blog/$2
RedirectMatch permanent ^(.*)(?<!/blog)/(feed/?)$ $1/blog/$2

#
# General information.
#
RedirectMatch permanent ^(.*)(?<!/about)/team(/?)$ $1/about/team$2
RedirectMatch permanent ^(.*)/who-we-are(/?)$ $1/about/team$2
RedirectMatch permanent ^(.*)/donors(/?)$ $1/supporters$2
RedirectMatch permanent ^(.*)/how-to-help(/?)$ $1/geeks$2
RedirectMatch permanent ^(.*)/programs(/?)$ $1/about$2
RedirectMatch permanent ^(.*)/get-involved(/?)$ $1/about$2
RedirectMatch permanent ^(.*)/about/funders(/?)$ $1/supporters$2
RedirectMatch permanent ^(.*)/support-2(/?)$ $1/supporters$2
RedirectMatch permanent ^(.*)/pages/about(/?)$ $1/about$2
RedirectMatch permanent ^(.*)/what-we-do(/?)$ $1/about$2
RedirectMatch permanent ^(.*)(?<!/brigade)/projects(/?)$ $1/apps$2
RedirectMatch permanent ^(.*)/code-for-america-blog(/?)$ $1/blog$2
RedirectMatch permanent ^(.*)/about/contact(/?)$ $1/contact$2
RedirectMatch permanent ^(.*)(?<!/about)/international(/?)$ $1/about/international$2
RedirectMatch permanent ^(.*)/dc(/?)$ $1/cc$2
RedirectMatch permanent ^(.*)/rss(/?)$ $1/feeds$2
RedirectMatch permanent ^(.*)/speaker-request-form(/?)$ $1/contact$2
RedirectMatch permanent ^(.*)/inkind(/?)$ $1/support-us$2
RedirectMatch permanent ^(.*)/salon(/?)$ $1/events$2
RedirectMatch permanent ^(.*)/governments/citizen-action-center(/?)$ $1/geeks$2
RedirectMatch permanent ^(.*)/intern(/?)$ $1/jobs$2

RedirectMatch permanent ^(.*)/code-across-america(/?)$ $1/code-across-america-2012$2

#
# External redirects.
#
RedirectMatch permanent ^(.*)/donate/?$ https://secure.codeforamerica.org/page/contribute/default
RedirectMatch permanent ^(.*)/open-impact/?$ http://brigade.codeforamerica.org/pages/openimpact
RedirectMatch permanent ^(.*)/beyond-transparency/?$ http://beyondtransparency.org
RedirectMatch permanent ^(.*)/apps/classtalk$ http://classtalk.org/welcome

# Namecheap does some weird stuff with cfasummit.org redirects.
RedirectMatch permanent ^(.*)/startupsponsor/+summit$ https://docs.google.com/forms/d/1noEZYL-rcqfhdhKvg5n-jxlnXLZronhEge_-VEOKbkM/viewform
RedirectMatch permanent ^(.*)/(contact|register|schedule|speakers|sponsors|submit|venue)/+summit/?$ $1/summit/$2/

#Summit Schedule to Pathable
RedirectMatch permanent ^(.*)/summit/schedule(/?)$ https://cfasummit2014.pathable.com/meetings

#
# Fellowship Program.
#
RedirectMatch permanent ^(.*)/fellows/faq(/?)$ $1/geeks/fellowship-faq$2
RedirectMatch permanent ^(.*)/fellows/training(/?)$ $1/geeks/fellowship-faq$2
RedirectMatch permanent ^(.*)/fellows/institute(/?)$ $1/geeks/fellowship-faq$2
RedirectMatch permanent ^(.*)/fellows/selection(/?)$ $1/geeks/fellowship-faq$2
RedirectMatch permanent ^(.*)/fellows/fellow-selection(/?)$ $1/geeks/fellowship-faq$2
RedirectMatch permanent ^(.*)/fellowship-program-timeline(/?)$ $1/geeks/fellowship-faq$2
RedirectMatch permanent ^(.*)/fellows/program-and-timeline(/?)$ $1/geeks/fellowship-faq$2
RedirectMatch permanent ^(.*)/201-program-timeline(/?)$ $1/geeks/fellowship-faq$2
RedirectMatch permanent ^(.*)/fellowship-program-timeline(/?)$ $1/geeks/fellowship-faq$2
RedirectMatch permanent ^(.*)/fellows/2012-program-and-timeline(/?)$ $1/geeks/fellowship-faq$2
RedirectMatch permanent ^(.*)/geeks/fellows/job-description(/?)$ $1/geeks/fellowship-faq$2
RedirectMatch permanent ^(.*)(?<!/geeks)/fellows/job-description(/?)$ $1/geeks/fellows/job-description$2
RedirectMatch permanent ^(.*)(?<!/geeks)/fellows/spread-the-word(/?)$ $1/geeks/fellows/spread-the-word$2
RedirectMatch permanent ^(.*)(?<!/geeks)/fellows/nominate(/?)$ $1/geeks/fellows/nominate$2
RedirectMatch permanent ^(.*)/governments/expectations-of-our-city-partners(/?)$ $1/governments/fellowship-faq$2
RedirectMatch permanent ^(.*)/2012-city-videos(/?)$ $1/communications/testimonial$2
RedirectMatch permanent ^(.*)/governments/2015-cities(/?)$ $1/governments/2015-cities-april-fools$2

#
# Fellowship lists.
#
RedirectMatch permanent ^(.*)(?<!/geeks)/fellows/apply(/?)$ $1/geeks/fellowship-apply$2
RedirectMatch permanent ^(.*)(?<!/geeks/fellows|/governments)/apply(/?)$ https://screendoor.dobt.co/code-for-america/2015-fellowship-application
RedirectMatch permanent ^(.*)/geeks/fellows/alumni-fellows(/?)$ $1/geeks/our-geeks/alumni-fellows$2
RedirectMatch permanent ^(.*)(?<!/geeks)/fellows/alumni-fellows(/?)$ $1/geeks/our-geeks/alumni-fellows$2
RedirectMatch permanent ^(.*)(?<!/geeks/our-geeks)/alumni-fellows(/?)$ $1/geeks/our-geeks/alumni-fellows$2
# 2011:
RedirectMatch permanent ^(.*)(?<!/geeks)/fellows/2011-fellows(/?)$ $1/geeks/our-geeks/2011-fellows$2
RedirectMatch permanent ^(.*)(?<!/geeks/fellows|/alumni-fellows|/our-geeks)/2011-fellows(/?)$ $1/geeks/our-geeks/2011-fellows$2
# 2012:
RedirectMatch permanent ^(.*)(?<!/geeks)/fellows/2012-fellows(/?)$ $1/geeks/our-geeks/2012-fellows$2
RedirectMatch permanent ^(.*)(?<!/geeks/fellows|/alumni-fellows|/our-geeks)/2012-fellows(/?)$ $1/geeks/our-geeks/2012-fellows$2
# 2013:
RedirectMatch permanent ^(.*)(?<!/geeks)/fellows/2013-fellows(/?)$ $1/geeks/our-geeks/2013-fellows$2
RedirectMatch permanent ^(.*)(?<!/geeks/fellows|/alumni-fellows|/our-geeks)/2013-fellows(/?)$ $1/geeks/our-geeks/2013-fellows$2
RedirectMatch permanent ^(.*)/fellows/current-fellows(/?)$ $1/geeks/our-geeks/2013-fellows$2
RedirectMatch permanent ^(.*)/fellows/alumni-fellows/2013-fellows(/?)$ $1/geeks/our-geeks/2013-fellows$2
# 2014:
RedirectMatch permanent ^(.*)(?<!/geeks)/fellows/2014-fellows(/?)$ $1/geeks/our-geeks/2014-fellows$2
RedirectMatch permanent ^(.*)(?<!/geeks/our-geeks)/2014-fellows(/?)$ $1/geeks/our-geeks/2014-fellows$2

#
# Startup Program
#
RedirectMatch permanent ^(.*)(?<!/about)/startups(/?)$ $1/about/startups$2
RedirectMatch permanent ^(.*)/((?<!startups/)accelerator|accelerator-2013|accelerator-2|startups/accelerator)(/?)$ $1/geeks/accelerator-faq$3
RedirectMatch permanent ^(.*)/((?<!startups/)incubator|incubator-2|startups/incubator-2)(/?)$ $1/geeks/incubator-faq$3
RedirectMatch permanent ^(.*)/geeks/our-startups(/?)$ $1/companies/our-companies$2
RedirectMatch permanent ^(.*)/geeks/accelerator-faq(/?)$ $1/companies/accelerator-faq$2

#
# More Fellowship Program
#
RedirectMatch permanent ^(.*)(?<!/governments|/geeks|/about)/fellowship(/?)$ $1/about/fellowship$2
RedirectMatch permanent ^(.*)/governments/fellowship(/?)$ $1/about/fellowship$2
RedirectMatch permanent ^(.*)/geeks/fellowship(/?)$ $1/about/fellowship$2
RedirectMatch permanent ^(.*)/governments/city-impact(/?)$ $1/about/fellowship$2
RedirectMatch permanent ^(.*)(?<!/geeks|/about)/fellows(/?)$ $1/about/fellowship$2
RedirectMatch permanent ^(.*)/the-program(/?)$ $1/about/fellowship$2
RedirectMatch permanent ^(.*)/apply(/?)$ https://screendoor.dobt.co/code-for-america/2015-fellowship-application
RedirectMatch permanent ^(.*)/Apply(/?)$ https://screendoor.dobt.co/code-for-america/2015-fellowship-application

#
# Governments.
#
RedirectMatch permanent ^(.*)/governments/apply(/?)$ $1/governments/fellowship-apply$2
RedirectMatch permanent ^(.*)/governments/2013-apply-now(/?)$ $1/governments/fellowship-apply$2
RedirectMatch permanent ^(.*)/governments/apply-now(/?)$ $1/governments/fellowship-apply$2
RedirectMatch permanent ^(.*)/city-alumni(/?)$ $1/governments/alumni$2
RedirectMatch permanent ^(.*)/cfa-2012(/?)$ $1/governments/alumni$2
RedirectMatch permanent ^(.*)/2012(/?)$ $1/governments/alumni$2
RedirectMatch permanent ^(.*)/governments/faqs-cities-applying-to-program(/?)$ $1/governments/fellowship-faq$2
RedirectMatch permanent ^(.*)(?<!/governments/capabilities)/procurement(/?)$ $1/governments/capabilities/procurement$2

RedirectMatch permanent ^(.*)/civic-data-standards(/?)$ $1/governments/data-standards-faq$2
RedirectMatch permanent ^(.*)/application-info(/?)$ $1/governments/fellowship-apply$2
RedirectMatch permanent ^(.*)/application-questions(/?)$ $1/governments/fellowship-apply$2
RedirectMatch permanent ^(.*)/governments/call-for-applications(/?)$ $1/governments/fellowship-apply$2

RedirectMatch permanent ^(.*)/2013-partners(/?)$ $1/governments/alumni$2
RedirectMatch permanent ^(.*)/city-current(/?)$ $1/governments/alumni$2
RedirectMatch permanent ^(.*)/governments/current(/?)$ $1/governments/alumni$2

RedirectMatch permanent ^(.*)/2013-partners/kansas-city(/?)$ $1/governments/kansascity$2
RedirectMatch permanent ^(.*)/2013-partners/louisville(/?)$ $1/governments/louisville$2
RedirectMatch permanent ^(.*)/2013-partners/las-vegas(/?)$ $1/governments/lasvegas$2
RedirectMatch permanent ^(.*)/2013-partners/new-york-city(/?)$ $1/governments/newyork$2
RedirectMatch permanent ^(.*)/2013-partners/oakland(/?)$ $1/governments/oakland$2
RedirectMatch permanent ^(.*)/2013-partners/san-francisco(/?)$ $1/governments/sanfrancisco$2
RedirectMatch permanent ^(.*)/2013-partners/san-mateo-county(/?)$ $1/governments/sanmateocounty$2
RedirectMatch permanent ^(.*)/2013-partners/south-bend(/?)$ $1/governments/southbend$2
RedirectMatch permanent ^(.*)/2013-partners/summit-county(/?)$ $1/governments/summitcounty$2

RedirectMatch permanent ^(.*)/city-current/kansas-city(/?)$ $1/governments/kansascity$2
RedirectMatch permanent ^(.*)/city-current/louisville(/?)$ $1/governments/louisville$2
RedirectMatch permanent ^(.*)/city-current/las-vegas(/?)$ $1/governments/lasvegas$2
RedirectMatch permanent ^(.*)/city-current/new-york-city(/?)$ $1/governments/newyork$2
RedirectMatch permanent ^(.*)/city-current/oakland(/?)$ $1/governments/oakland$2
RedirectMatch permanent ^(.*)/city-current/san-francisco(/?)$ $1/governments/sanfrancisco$2
RedirectMatch permanent ^(.*)/city-current/san-mateo-county(/?)$ $1/governments/sanmateocounty$2
RedirectMatch permanent ^(.*)/city-current/south-bend(/?)$ $1/governments/southbend$2
RedirectMatch permanent ^(.*)/city-current/summit-county(/?)$ $1/governments/summitcounty$2

RedirectMatch permanent ^(.*)/2012-partners/austin(/?)$ $1/governments/austin$2
RedirectMatch permanent ^(.*)/2012-partners/chicago(/?)$ $1/governments/chicago$2
RedirectMatch permanent ^(.*)/2012-partners/detroit(/?)$ $1/governments/detroit$2
RedirectMatch permanent ^(.*)/2012-partners/honolulu(/?)$ $1/governments/honolulu$2
RedirectMatch permanent ^(.*)/2012-partners/macon(/?)$ $1/governments/macon$2
RedirectMatch permanent ^(.*)/2012-partners/nola(/?)$ $1/governments/neworleans$2
RedirectMatch permanent ^(.*)/2012-partners/philadelphia(/?)$ $1/governments/philadelphia$2

RedirectMatch permanent ^(.*)/2012-city-finalists(/?)$ $1/2012-city-finalists$2
RedirectMatch permanent ^(.*)/2012-city-finalists/chicago(/?)$ $1/governments/chicago$2
RedirectMatch permanent ^(.*)/2012-city-finalists/detroit(/?)$ $1/governments/detroit$2
RedirectMatch permanent ^(.*)/2012-city-finalists/macon(/?)$ $1/governments/macon$2
RedirectMatch permanent ^(.*)/2012-city-finalists/santa-cruz(/?)$ $1/governments/santacruz$2
RedirectMatch permanent ^(.*)/2012-city-finalists/new-orleans(/?)$ $1/governments/neworleans$2

RedirectMatch permanent ^(.*)(?<!/governments)/austin(/?)$ $1/governments/austin$2
RedirectMatch permanent ^(.*)(?<!/governments)/honolulu(/?)$ $1/governments/honolulu$2
RedirectMatch permanent ^(.*)(?<!/governments)/seattle(/?)$ $1/governments/seattle$2
RedirectMatch permanent ^(.*)(?<!/governments|/city-alumni)/boston(/?)$ $1/governments/boston$2
RedirectMatch permanent ^(.*)(?<!/governments|/city-alumni)/chicago(/?)$ $1/governments/chicago$2
RedirectMatch permanent ^(.*)(?<!/governments|/city-alumni)/philadelphia(/?)$ $1/governments/philadelphia$2
RedirectMatch permanent ^(.*)/city-alumni/boston(/?)$ $1/governments/boston$2
RedirectMatch permanent ^(.*)/city-alumni/chicago(/?)$ $1/governments/chicago$2
RedirectMatch permanent ^(.*)/city-alumni/philadelphia(/?)$ $1/governments/philadelphia$2
RedirectMatch permanent ^(.*)/governments/summit-county(/?)$ $1/governments/summitcounty$2

#
# People
#
RedirectMatch permanent ^(.*)(?<!/people)/alex-pandel(/?)$ $1/people/alex-pandel$2
RedirectMatch permanent ^(.*)(?<!/people)/alex-yule(/?)$ $1/people/alex-yule$2
RedirectMatch permanent ^(.*)(?<!/people)/alicia-rouault(/?)$ $1/people/alicia-rouault$2
RedirectMatch permanent ^(.*)(?<!/people)/aurelio-tinio(/?)$ $1/people/aurelio-tinio$2
RedirectMatch permanent ^(.*)(?<!/people)/ben-sheldon(/?)$ $1/people/ben-sheldon$2
RedirectMatch permanent ^(.*)(?<!/people)/elizabeth-hunt(/?)$ $1/people/elizabeth-hunt$2
RedirectMatch permanent ^(.*)(?<!/people)/emily-wright(/?)$ $1/people/emily-wright$2
RedirectMatch permanent ^(.*)(?<!/people)/jesse-bounds(/?)$ $1/people/jesse-bounds$2
RedirectMatch permanent ^(.*)(?<!/people)/jessica-lord(/?)$ $1/people/jessica-lord$2
RedirectMatch permanent ^(.*)(?<!/people)/jim-craner(/?)$ $1/people/jim-craner$2
RedirectMatch permanent ^(.*)(?<!/people)/joe-merante(/?)$ $1/people/joe-merante$2
RedirectMatch permanent ^(.*)(?<!/people)/nick-doiron(/?)$ $1/people/nick-doiron$2
RedirectMatch permanent ^(.*)(?<!/people)/prashant-singh(/?)$ $1/people/prashant-singh$2
RedirectMatch permanent ^(.*)(?<!/people)/rob-brackett(/?)$ $1/people/rob-brackett$2
RedirectMatch permanent ^(.*)(?<!/people)/ruthie-bendor(/?)$ $1/people/ruthie-bendor$2
RedirectMatch permanent ^(.*)(?<!/people)/serena-wales(/?)$ $1/people/serena-wales$2
RedirectMatch permanent ^(.*)(?<!/people)/sheba-najmi(/?)$ $1/people/sheba-najmi$2
RedirectMatch permanent ^(.*)(?<!/people)/zach-williams(/?)$ $1/people/zach-williams$2

#
# Random crap.
#
RedirectMatch permanent ^(.*)/intern(/?)$ $1/jobs$2
RedirectMatch permanent ^(.*)/intern/(hammer___nails|difference|code|policy|tim-screwdriver|design_comms|design|code/\d+)(/?)$ $1/jobs$3
RedirectMatch permanent ^(.*)/issues/openness(/?)$ $1/2011/03/08/openness-in-city-hall$2
RedirectMatch permanent ^(.*)/2014(/?)$ $1/2013/10/15/2014fellowship_launch$2
RedirectMatch permanent ^(.*)/2012-fellows/alex(/?)$ $1/2011/07/27/alex-hillman-cfa-is-a-hall-pass-for-bureaucracy$2
RedirectMatch permanent ^(.*)/ted(/?)$ $1/2012/03/08/jennifer-pahlka-at-ted-video$2
RedirectMatch permanent ^(.*)/TED(/?)$ $1/2012/03/08/jennifer-pahlka-at-ted-video$2
RedirectMatch permanent ^(.*)/city-current/san-francisco(/?)$ $1/2013/04/05/san-francisco-a-city-that-knows-it%e2%80%99s-faults$2
RedirectMatch permanent ^(.*)/pages/tools(/?)$ $1/2013/07/16/tools-of-the-civic-trade$2
RedirectMatch permanent ^(.*)/apps/blightstatus(/?)$ $1/apps/civicinsight$2
RedirectMatch permanent ^(.*)/demo(/?)$ $1/2012/06/13/demo/$2
RedirectMatch permanent ^(.*)/jennifer-pahlka-speaks-out(/?)$ $1/contact$2
RedirectMatch permanent ^(.*)/codeacross(/?)$ $1/events/codeacross-2014/$2
RedirectMatch permanent ^(.*)/code-across-america-2012(/?)$ $1/events/codeacross-2012/$2
RedirectMatch permanent ^(.*)/pdf/(2011_CfA_Report.*)$ $1/2011-annual-report/$2

#
# Set of possible Jekyll file extensions + PHP, from
# https://github.com/jekyll/jekyll/blob/dd3018ce/lib/jekyll/configuration.rb#L39
#
DirectoryIndex index.html index.md index.mkd index.mkdn index.markdown index.textile index.php

ErrorDocument 404 /404.html
