.global-header {
    padding: 0;
    float: left;
    width: 96%;
    padding: 0 2%;
    border-bottom: 1px solid;
    @include border-color($color-light-gray, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
    margin: 0;
    background-color: $color-white;
    z-index: 2;
    @include transition(padding, 0.5s);
    @include rem(margin-bottom, 41px);
    }

.global-header-logo {
    display: block;
    margin: 0 auto;
    width: 8em;
    @include transition(all, 0.4s);
    float: left;
    }

.global-header-logo:link,
.global-header-logo:visited,
.global-header-logo:hover,
.global-header-logo:focus,
.global-header-logo:active {
    border: none;
    }