/* Layout ========================================== */


/*  9 column = quaver  */
    
    .layout-quaver {
        width: 9.33333333333%;
        float: left;
        clear: none;
        margin: 0 2% 0 0;
        background-image: none;
        padding: 0;
        }
    
    .layout-quaver:nth-child(9n+9) {
        margin-right: 0;
        }
    
    .layout-quaver:nth-child(9n+10) {
        clear: both;
        }

/*  3 column = crotchet  */
    
    .layout-crotchet {
        width: 32.0%;
        float: left;
        clear: none;
        margin: 0 2% 0 0;
        background-image: none;
        padding: 0;
        }
    
    .layout-crotchet:nth-child(3n+3) {
        margin-right: 0;
        }
    
    .layout-crotchet:nth-child(3n+4) {
        clear: both;
        }

/*  3 column = crotchet  */
    
    .layout-crotchet-staccato {
        width: 27.0%;
        float: left;
        clear: none;
        margin: 0 9.5% 0 0;
        background-image: none;
        padding: 0;
        }
    
    .layout-crotchet-staccato:nth-child(3n+3) {
        margin-right: 0;
        }
    
    .layout-crotchet-staccato:nth-child(3n+4) {
        clear: both;
        }


/*  2 column = minim  */
    
    .layout-minim {
        float: left;
        width: 49%;
        clear: none;
        margin: 0;
        background-image: none;
        padding: 0;
        }
    
    .layout-minim:nth-child(2n+2) {
        float: right;
        }
    
    .layout-minim:nth-child(2n+3) {
        clear: both;
        }
        
/*  2 column = minim  */
    
    .layout-minim-staccato {
        float: left;
        width: 42%;
        clear: none;
        margin: 0;
        background-image: none;
        padding: 0;
        }
    
    .layout-minim-staccato:nth-child(2n+2) {
        float: right;
        }
    
    .layout-minim-staccato:nth-child(2n+3) {
        clear: both;
        }


/*  1 column = semibreve  */
    
    .layout-semibreve,
    .layout-breve {
        width: 96%;
        padding: 0 2%;
        max-width: 80em;
        margin: 3em auto;
        }
    
    .layout-semibreve {
        max-width: 60em;
        }






@media (min-width: 60em) {

    .layout-gutter {
        padding-left: 12%;
        }
    
    .layout-gutters {
        padding-left: 12%;
        padding-right: 12%;
        }
    
    .layout-break-left {
        max-width: 127%;
        float: right;
        margin-bottom: 1em;
        }
    
    .layout-break-left + * {
        clear: both;
        }
        
    }

.layout-break-up {
    margin-top: -4em;
    }

.layout-chimney-invert .chimney {
    padding: 2em 4%;
    margin: 1em 0 2em -4%;
    }

@media (min-width: 50em) {
    
    .layout-chimney-invert {
    width: 42%;
    position: relative;
    padding-right: 58%;
    }
    
    .layout-chimney-invert p:first-child {
    margin-top: 0;
    }
    
    .layout-chimney-invert .chimney {
    position: absolute;
    right: 0;
    top: 0;
    width: 42%;
    margin: -4em 0 0 0;
    }
    
}



.layout-chimney {
	@extend .layout-semibreve;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	position: relative;
	}




@media (min-width: 50em) {
	
	.layout-chimney .layout-minim-staccato {
		width: 45%;
		padding-left: 0;
		padding-right: 0;
		}
		
    .layout-chimney p:first-child {
    margin-top: 0;
    }
    .layout-chimney .chimney {
    position: absolute;
    width: 33%;
    padding-left: 4%;
    padding-right: 4%;
    margin: -1em 0 0 4%;
    }
}

@media (min-width: 63em) {
    .layout-chimney .chimney {
    margin: -1em 0 0 0;
    }
}



@media (min-width: 50em) {
    .global-footer .nav-footer > ul {
    display: flex;
    }
    
    .global-footer .nav-footer .nav-tier1 {
    flex: 1;
    flex-basis: auto;
    margin-right: 4%;
    float: left;
    width: auto;
    }
}

@media (min-width: 60em) {
    .global-footer .search-global {
    float: right;
    width: 25%;
    margin-left: 0;
    margin-top: -10px;
    }

    .global-footer .nav-footer {
    float: left;
    width: 73%;
    margin-right: 0;
    }

    .global-footer .nav-footer .nav-tier1:first-child {
    display: block;
    }
}

.layout-tight {
    margin: 0 auto;
    }