{% if include.context == 'project-complete' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h3 class="p-name">Albuquerque, New Mexico: Open Data</h3>
	</div>
	<p>Albuquerque, New Mexico</p>
	<p>Population: 555,417 (2012)</p>
	<p>Form of government: Mayor-council</p>
	<p>Open data champion: <a href="https://twitter.com/LeechMT">Mark Leech</a>, Application Services Group Manager</p>
	<p>Date of interview: June 2014</p>
	<h4>What were the most important steps you took to get open data off the ground?</h4>
	<ul>
		<li>Identify community issues that everyone could come together on. These won't necessarily be emotional “hot topic” issues, but instead ones that everyone can be comfortable with). In Albuquerque's case, the flagship issue was bus information. One of the worst mistakes in developing an initiative is to blindly copy or transplant what one community has done without adapting it to the unique needs of another community.</li>
		<li>Obtain buy-in from the technical community – they are important stakeholders.  Building a collaborative relationship that is built on trust and realistic expectations is key.</li>
		<li>Quickly establish a minimal viable product for initial release.  You need to get a balance between credibility, available resources and consumer demand. ABQ-Data went live with about 12 datasets.</li>
		<li>Iterate fast – although everyone prefers data to be correct, getting data published with a tolerable error level (that is subsequently improved) is better than waiting for 100% correct data that is never published.</li>
		<li>Curate the data. Answering questions such as who owns the data, what assumptions were made about the data as well as any limitations goes along way to building credibility.</li>
</ul>
	<h4>How did you prioritize open data in your county?</h4>
	<p>Open data was promoted by Mayor Berry as a follow on to and enhancement of his 2009 transparency efforts (see <a href="http://www.cabq.gov/abq-view">here</a>). Open data arrived also arrived at a time of economic challenges. Therefore there was more willingness for the City organization to challenge the old way of doing things.
</p>
	<h4>What have been the biggest challenges?</h4>
	<ul>
		<li>Supply and demand: The two are related. You can't just dump a bunch of data on folks and declare success with open data. Likewise there also must be a demand for that data. Growing demand is a long-term effort – particularly in communities that do not have a broad-based, well-established tech community.</li>
		<li>Building credibility: Credibility is a key currency both within and external to a government entity.  Open data initiatives need to be a delicate balancing act between what can be done and what ought to be done. You will be greeted with (often justified) suspicion by citizen groups; it takes time and daily effort to build a sufficient level of trust for collaboration.</li>
		<li>Maintaining data quality: A mature open data initiative is dependent on the repositories that hold and provide data. These each have different lifecycle (implementation, upgrade, maintenance retirement), so making sure that ETL data extracts work between versions (or even being made aware that a replacement system has been implemented by a business unit) is an ongoing issue.</li>
</ul>
	<h4>What tactics have you tried to overcome those challenges?</h4>
	<ul>
		<li>Relationship building: A lot of time and effort goes into meeting and developing informal relationships with business units.</li>
		<li>Working with startups: We're beginning to reach out informally to tech startups who may have a good idea and just spend time brainstorming and seeing how we can help them from a data point of view.  Would a new view of a dataset help?  Maybe a different data format?</li>
		<li>Working with the university: Not just the CS folk, but also we also reach out to central IT, library, research, arts, digital media, business studies etc. I recently co-presented at a journalism bootcamp alongside a reporter from the local newspaper; and showed how supply and demand work together to make a story.</li>
</ul>
	<h4>How have you proved the value for open data?</h4>
	<ul>
		<li>External value gets measured in different ways, but should always relate to solving a particular need or influencing a community outcome. Transit data, for example, is of value because it allows consumers to make more informed choices based on the location of the bus.</li>
		<li>Another way of looking at the value is to look at it in terms of reach – how many apps consume a dataset (and from there the number of users who have purchased the apps) could be a measure of the relative value of that dataset.</li>
		<li>Internal value can be measured in terms of operational efficiencies (we're still in the early stages of measuring this), but also in terms of “soft” metrics. Realizing that your data has purpose and therefore value can be a very powerful motivator.</li>
	</ul>
	<h4>What are some of your early successes?</h4>
	<p>The biggest ROI that departments are seeing right now is that we can reduce the number of phone calls for citizens to obtain information. As an example, people calling about Transit issues were usually waiting for a bus and wanting to know where it was right then. Making our bus datasets available saved about $180,000 last year in calls to our 311 call center alone.</p>
	<h4>What has been your most successful argument for generating buy-in among the government staff or community?</h4>
	<ul>
		<li>Your data has value</li>
		<li>Either provide the data or anticipate a FOIA/Inspection of Public request for identical data</li>
		<li>You can reach a wider audience.</li>
	</ul>
</div>

{% elsif include.context == 'project-abstract' %}
<!-- this is the short snippet -->
<div class="wodge wodge-l">
			<h3 class="wodge-header">Albuquerque, New Mexico: Open Data</h3>
			<img src="https://www.codeforamerica.org/blog/wp-content/uploads/2014/06/abq.png" class="wodge-image">
				<div class="wodge-text">
					<p>Rather than going the typical route of using an open data catalog provider like Socrata or even open source CKAN, Albuquerque has pursued a scrappy do-it-yourself strategy. Mark Leech, Application Development Manager has been leading the City’s open data initiative, ABQ Data. </p>
				</div>
			<a href="/projects/albuquerque-open-data" class="button wodge-button">Read more</a>
		</div>

{% endif %}
