{% if include.context == 'project-complete' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Barcelona, Spain: OpenBCN</h2>
	</div>

	<div class="layout-minor">

	    <!--h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2011-fellows/">2011 Fellows</a></li>

	    </ul-->

		<img class="profile-photo u-photo" src="http://placehold.it/195x130" />
	</div>

	<div class="layout-major">

	    <p class="p-note">In partnership with Citymart.org, Barcelona launched The Open Challenge to encourage smaller companies to compete for government procurement contracts. The Open Challenge deviates from the traditional RFP process by soliciting proposals in a competition from any company for solutions to six broadly identified challenges in the public space.</p>


	</div>

</div>

{% elsif include.context == 'project-abstract' %}
<!-- this is the short snippet -->
<div class="wodge wodge-l">
			<h3 class="wodge-header">Barcelona, Spain: OpenBCN</h3>
			<img src="http://placehold.it/195x130" class="wodge-image">
				<div class="wodge-text">
					<p>In partnership with Citymart.org, Barcelona launched The Open Challenge to encourage smaller companies to compete for government procurement contracts. The Open Challenge deviates from the traditional RFP process by soliciting proposals in a competition from any company for solutions to six broadly identified challenges in the public space.</p>
				</div>
			<a href="/projects/barcelona-openbcn" class="button wodge-button">Read more</a>
		</div>

{% endif %}
