{% if include.context == 'project-complete' %}

<div class="layout-semibreve h-card">
        {% include nav-breadcrumbs.html %}

	<h2>Case Study: Open data to improve public transit in Detroit</h2>

	<p>Project: <a href="http://www.codeforamerica.org/apps/text-my-bus/">Text My Bus</a></p>
	<p>Location: Detroit, Michigan</p>

	<h3>Summary</h3>
	<p>The City of Detroit published data they already had in a new digital format to help residents easily find out when their bus will arrive.</p>

	<h3>Background</h3>
	<p>In 2012, the Detroit Department of Transportation (DDOT) worked with Code for America to create Text My Bus. This app lets any rider with an SMS-enabled cell phone text their closest intersection or address to "50464" to find out when their bus will arrive. With this app, Detroit transit users can easily get current, relevant information when they need it.</p>
	<p>The app uses real-time GPS locations of city buses to accurately predict arrival times. Previously, DDOT tracked this GPS data but it wasn’t made available to the public. DDOT only released static timetables that were updated once per quarter. But because buses often don’t run on schedule, the timetables were of little use to riders.</p>
	<p>Furthermore, in 2012, the City of Detroit closed their 311 call center as a cost saving measure (Detroit had the <a href="http://www.govtech.com/e-government/Detroit-Pulls-Plug-on-311-Call-Center.html">highest per-call cost in the nation</a>, at $7.78 per call). This left riders to call DDOT directly if they had a question about bus arrival times — inconvenient for both riders and DDOT staff.</p>
	<p>With the help of a team of Code for America fellows, DDOT worked to make existing real-time transit data publicly available in a useful format.</p>	
	<p>They converted the data into a standard digital format (called <a href="https://developers.google.com/transit/gtfs/">GTFS</a> or the General Transit Feed Specification) that is commonly used by other transit agencies around the country. Then they published it online with an access point that makes the data easy for software developers to use (known as an API, or application programming interface).</p>
	<p>Once the real-time transit data was released in this way, the Code for America fellows were able to build the Text My Bus app in just a few months, <a href="http://www.codeforamerica.org/blog/2012/09/11/text-my-bus-transit-info-for-detroiters/" target="new">launching</a> in time for the first day of school in September.</p>
	<p>Since launching in 2012, Text My Bus has processed over 2.7 million inbound messages from 45,000 users. Approximately 600 people use the service daily in 2014. Easy access to this information improves the experience of using public transit, helping Detroiters avoid long waits in the cold or on an unsafe corner at night.</p>
	<p>And since the transit data is now freely available for anyone to build on, other technologists have developed <a href="http://www.huffingtonpost.com/2013/02/06/detroit-bus-app-stop313-evol-johnson_n_2630329.html">similar free apps for smartphones</a> that Detroit residents can use — at no additional cost to the City of the Detroit. </p>
	<h3>Learn More: Want to make your government’s data easy to find and use?</h3>
	<p>Making data openly available in a standard digital formats helped the City of Detroit provide better services for residents and save time and money.</p>
	<p>Code for America works with governments around the country to help them do the same. <a href="https://codeforamerica.wufoo.com/forms/welcome-to-the-code-for-america-government-network/">Sign up</a> for the Code for America Government Network to learn more about upcoming trainings and free resources you can use to get started with open data.</p>
	
       	<ul class="list-inline list-no-bullets layout-centered"> 
	<li><a href="https://codeforamerica.wufoo.com/forms/welcome-to-the-code-for-america-government-network/" class="button">Sign up</a></li>
	</ul>
</div>

{% elsif include.context == 'project-abstract' %}
<!-- this is the short snippet -->
<div class="wodge wodge-l">
			<h3 class="wodge-header">Case Study: Open data to improve public transit in Detroit</h3>
			<img src="http://www.codeforamerica.org/blog/wp-content/uploads/2014/11/rsz_2012-09-04_ddotlaunch_detroit-300x224_cropped.jpg" class="wodge-image">
				<div class="wodge-text">
					<p>The City of Detroit published data they already had in a new digital format to help residents easily find out when their bus will arrive.</p>
				</div>
			<a href="/projects/detroit-text-my-bus" class="button wodge-button">Learn more</a>
		</div>

{% endif %}
