{% if include.context == 'project-complete' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h3 class="p-name">Case Study: Open data to improve public transit in Detroit</h3>
	</div>
	<p>Project: <a href="http://www.codeforamerica.org/apps/text-my-bus/">Text My Bus</a></p>
	<p>Detroit, Michigan</p>
	<p>Population: 688,701 (2013)</p>
	<p>Form of government: Mayor-Council</p>
	<h4>Summary</h4>
	<p></p>The City of Detroit published data they already had in a new digital format to help residents easily find out when their bus will arrive.</p>

	<h4>Background</h4>
	<p>In 2012, the Detroit Department of Transportation (DDOT) worked with Code for America to create Text My Bus. This app lets any rider with an SMS-enabled cell phone text their closest intersection or address to "50464" to find out when their bus will arrive.</p>
	<p>Easy access to this information improves the experience of using public transit, helping Detroiters avoid long waits in the cold or on an unsafe corner at night. Since launching 2012, Text My Bus has processed over 2.7 million inbound messages from 45,000 users. Approximately 600 people use the service daily in 2014.</p>
	<p>The app uses real-time GPS locations of city buses to accurately predict arrival times. Previously, DDOT tracked this GPS data but it wasn’t made available to the public. DDOT only released static timetables that were updated once per quarter. But buses often don’t run on schedule, so the timetables were of little use to riders. </p>
	<p>With the help of a team of Code for America fellows, DDOT worked to make the real-time transit data that they already had available to the public in a useful format.</p>	
	<p>They converted the data into a standard digital format that is commonly used by other transit agencies around the country. Then they published it online with an access point that makes the data easy for software developers to use (known as an API, or application programming interface).</p>
	<p>Once the real-time transit data was released in this way, the Code for America fellows were able to quickly build the Text My Bus app. With this app, DDOT can easily get current, relevant information into the hands of Detroit transit users when they want it.</p>
	<p>And since the transit data is freely available for anyone to build on, other technologists have developed <a href="http://www.huffingtonpost.com/2013/02/06/detroit-bus-app-stop313-evol-johnson_n_2630329.html">similar free apps for smartphones</a> that Detroit residents can use — at no additional cost to the City of the Detroit. </p>
	<h4>Learn More: Want to make your government’s data easy to find and use?</h4>
	<p>Making data openly available in a standard digital formats helped the City of Detroit provide better services for residents and save time and money.</p>
	<p>Code for America works with governments around the country to help them do the same. Sign up to learn more about upcoming trainings and free resources you can use to get started with open data.</p>
</div>

{% elsif include.context == 'project-abstract' %}
<!-- this is the short snippet -->
<div class="wodge wodge-l">
			<h3 class="wodge-header">Case Study: Open data to improve public transit in Detroit</h3>
			<img src="http://www.codeforamerica.org/blog/wp-content/uploads/2014/06/pittsburgh.png" class="wodge-image">
				<div class="wodge-text">
					<p>The City of Detroit published data they already had in a new digital format to help residents easily find out when their bus will arrive.</p>
				</div>
			<a href="/projects/pittsburgh-open-data" class="button wodge-button">Read more</a>
		</div>

{% endif %}
