{% if include.context == 'project-complete' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h3 class="p-name">Kansas City, MO: Open Data</h3>
	</div>
	<p>Kansas City, Missouri</p>
	<p>Population: 467,007 (2013)</p>
	<p>Form of government: Council-Manager</p>
	<p>Open data champion: <a href="https://www.linkedin.com/pub/millie-crossland/1/966/a60">Millie Crossland</a>, Technology Project Liaison</p>
	<p>Date of interview: June 2014</p>
	<h4>What were the most important steps you took to get open data off the ground?</h4>
	<p>We started the process with a conversation about Open Government and Open Data with key stakeholders. The members fell into one or more of these types: go to for data; process innovator; or connector.</p>
	<ul>
		<li>Go To For Data: These folks are who you call when you need to know something; they know where the data is and how to get it; whether it’s “their” data or not</li>
		<li>Process Innovator: These folks understand the way things work and don’t work; they know how to get things done</li>
		<li>Connector: These folks have relationships with people in all the departments at different levels; they also interface with the community and have relationships with leaders outside of the city.</li>
	</ul>
	<p>We took time about 3 months to meet about every two weeks, we researched and made presentations to the group.  We decided it would be good for Kansas City. The group facilitator took the idea to the City Manager. It was great timing too because we had applied to be a Code for America city.</p>
	<h4>How did you prioritize open data in your county?</h4>
	<p>We gave people what they wanted. Most of the group had a great deal of contact with the public. We knew the pain points. They want Traffic Studies, they want a line item budget, they want to know what 311 is doing.</p>
	<p>We did what was easy next. We placed historical that were created for projects on the catalog, much of this included crime, census and economic information over specific time periods.</p>
	<p>We listened to the questions the civic hacking communities wanted to answer. We participated in hack events and met with entrepreneurs interested in public data. Listening helped us identify the data needed, then we went back to city hall with the task of making the data available.</p>
	<h4>What have been the biggest challenges?</h4>
	<p>Getting data out of the current system into the catalog. </p>
	<h4>What tactics have you tried to overcome those challenges?</h4>
	<p>We have a multistage approach.  First we do a manual pull, then we work on a strategy to make it automatic.</p>
	<h4>How have you proved the value for open data?</h4>
	<p>The ease of access to the data and visualizations has made the data very valuable in our <a href="http://kcmo.gov/kcstat/">performance management</a> process. Our first win is better communication, cooperation and efficiencies between city departments. We have a <a href="https://data.kcmo.org/311/Illegal-Dumping-and-Rat-Cases/2z5y-yczq">pilot project</a> of proactive baiting of rats in high illegal dumping areas.</p>
	<h4>What are some of your early successes?</h4>
	<p>Traffic studies online, hands down, have been a very first success. We used to get multiple calls daily to access documents. Now they're <a href="https://data.kcmo.org/Traffic/Traffic-Counts/bsaj-jsk3">online</a> and you can find them through a map.</p>
	<h4>What has been your most successful argument for generating buy-in among the government staff or community?</h4>
	<p>We worked with people who wanted to share. They demonstrated how useful the tool is and now everyone wants to get on board.</p>
</div>

{% elsif include.context == 'project-abstract' %}
<!-- this is the short snippet -->
<div class="wodge wodge-l">
			<h3 class="wodge-header">Kansas City, MO: Open Data</h3>
			<img src="https://www.codeforamerica.org/blog/wp-content/uploads/2014/06/kcmo.png" class="wodge-image">
				<div class="wodge-text">
					<p>Millie Crossland, KCMO's technology project liason, explains the three types of stakeholders they found when implementing open data: "Data Go-tos, Process Innovators, and Connectors."</p>
				</div>
			<a href="/projects/kansas-city-open-data" class="button wodge-button">Read more</a>
		</div>

{% endif %}
