{% if include.context == 'project-complete' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h3 class="p-name">KCMO: Innovation Partnerships</h3>
	</div>

	        <nav role="navigation" class="toc" id="toc">

	        	<h4>Table of Contents</h4>

		        <ul class="sectlevel1">
		            <li><a href="#basics">The Basics</a></li>
		            <li><a href="#process">Project Summary and Process</a></li>
		            <li><a href="#outcomes">Outcomes & Results</a></li>
		            <li><a href="#next">Next Steps</a></li>
		            <li><a href="#references">References</a></li>
		        </ul>

		    </nav>

	<div class="layout-semibreve">

	<section>

	<div class="badge-heading badge-gov badge-red">
	<h2 id="basics">The Basics</h2>
	</div>
		<h3>Project description</h3>
			<p>Codified in the administrative code, the Innovation Partnership established a formal framework to engage in and evaluate partnerships with early stage companies; the purpose of which is to develop, test, and demonstrate innovative solutions in Kansas City.</p>
		<h3>Problem statement</h3>
			<p>Kansas City “wanted to leverage the entrepreneurial movement in Kansas City.” After surveying the startup community, the feedback received sought “support, not a change in policy or regulation.” More directly, the startup community contended that they lacked the necessary support resources to engage with city government. For example, there was a need to provide startups the opportunity to test early version products, i.e. a proof of concept, and be able to fail in a way that was standardized to make the process more efficient for both startups and government departments. In practical terms, this translated into a need for a formal structure “to open up city government and infrastructure to allow startups to test with the city.”</p>
		<h3>Participating Cities</h3>
			<p>The initiative was launched in Kansas City, MO.</p>
	    	<h3>When</h3>
			<p>The initiative was officially launched July 23rd, 2013 with the approval of the City Manager, Troy Schulte.</p>
	    	<h3>Key Team Members</h3>
			<p>The policy engages all city departments, but requires the City Manager to “designate an Innovation Partnerships Team who [will] coordinate the partnership creation process as defined in this policy. The Partnership Team shall consist of representatives from each of the following departments: City Manager’s Office, Office of the Mayor and City Council, Finance, Law, General Services – Procurement Division.”</p>
	</section>
	<section>

	<div class="badge-heading badge-gov badge-red">
	<h2 id="process">Project Summary and Process</h2>
	</div>
	    	<h3>Goals</h3>
			<p>Kansas City’s government leaders wanted to support, leverage, and participate in the local entrepreneurial community. As part of an informal survey, they asked the community -what was most needed to support the startup community to work with local government? The generally accepted response was that the community required supportive infrastructure, not a change in existing policies or regulations. In practice, this meant a formalized process, codified within administrative regulations, to make it easier for smaller companies to test solutions with government agencies. It also required the ability of the government to manage and track risk and the impact of solutions across the entire organization of city government.</p>
			<p>To address these needs, the Mayor and Council passed a resolution directing the City Manager to implement the program. The City Manager's administrative regulation formalized a “framework for engaging in and evaluating innovation partnerships with the aim of developing, testing and demonstrating innovative solutions”: the Innovation Partnerships. This policy provided formal requirements for the City Manager to define: (1) Goals and guiding principles for innovation partnerships; (2) Criteria for innovation partnerships; and, (3) Guidelines for conducting the selection process of innovation partnerships.</p>
			<p>This initiative is still in its initial phases; the program was officially launched in July 23rd, 2013 and the first contracts were not received until January 2014. As a result, there are not many clearly defined metrics, at least none that can be used to assess the success of the program. Rather, the existing metrics for success are more readily identifiable on the execution of the policy. For instance, the City Manager established the Partnership Team, which has held regular meetings, begun to receive and review contract submissions, and expects to issue first contracts by June of 2014.</p>
			<p>It is safe to say that the metrics at this point can largely be attributed to asking whether the policy is being executed such that the required three goals, noted above, are in the process of being fulfilled. The answer, at this time, is yes. Similar to a startup, this is an innovative approach that requires data to make more substantive decisions. The Partnership Team has begun the process of collecting that data. Only time will tell whether they are, in fact, able to answer the objectives and develop the requisite metrics. Contacts with the Kansas City indicated that a status update at the end of June 2014 would not be unreasonable.</p>
		<h3>Process</h3>
			<p>Kansas City codified a formal process to enable companies to identify problems in city services and present solutions to city government agencies. The policy was enshrined in the Administrative Code in July of 2013. This policy, Innovation Partnerships, sought to create a parallel system to allow smaller companies to submit proposals for partnerships with the city government that might be outside of the traditional procurement route. Importantly, the Innovation Partnerships program supplements the traditional procurement process; it is not a substitute to the procurement process.</p>
			<p>Because it was established by administrative code, the Innovation Partnerships has specific requirements that government entities must follow. These rules define the policy’s structure, goals, and activities. The regulations require the formation of a Partnership Team, or committee, with representatives from specific departments that interact regularly with the procurement process; and, that the Partnership Team must meet, at minimum, on a quarterly basis. For example, the City Manager was given responsibility for organizing and managing the meetings and providing reports on the Partnership Team’s progress with respect to achieving the objectives of the policy.</p>
			<p>The Innovation Partnerships works by enabling companies to submit proposals to decision-makers in the government procurement process to test potential solutions. This is a reverse of the traditional model: where government issues requests for proposals to problems already identified. The Innovation Partnerships approach allows private party actors, e.g. small companies, to identify problems and propose solutions. Furthermore, the regulations gives government agencies flexibility to take risks such that agencies may allow the “temporary use of City owned resources and infrastructure including but not limited to land, facilities, equipment, right of ways, and data.” So long as the proposal meets the “goals and criteria set forth in [the] Administrative Regulation.”</p>
			<p>Conversations with the Director of Policy and the Chief Innovation Officer indicated that the support for this initiative was widespread. The Office of the Mayor appeared to be the lead political champion, but the local City Council was equally supportive. Community and industry support was also relatively strong as well. The interviewees stated that the policy emerged following conversations with the community about what was needed. As a result, one of the critical changes was a move away from initial ideas to change existing policy and to focus on providing infrastructure instead. Put another way, the existing legal regime was not an obstacle, per se; rather, the existing regime was simply not well equipped to support the needs of non-traditional entities.</p>
			<p>Accordingly, policy makers erected a formal structure to engage and support smaller entities with an alternative approach –bringing problems and solutions to government. Equally important, the new regime was open to both the newer entities it sought to support and those entities comfortable with the traditional system. As a consequence, support for the program was widespread and disruption to the existing systems was minimized.</p>
		<h3>Costs & Savings</h3>
			<p>Exact costs of the program are still to be determined since the project is early stage. Indirect costs to manage the Partnership team are best attributed to the City Manager’s budget. The City Manager provides the substantive staff resources to manage the Innovation Partnerships. Other indirect costs include the time that can be attributed to meetings from other departments on the Partnership Team. These costs are largely limited to meetings because the actual decision about procurement and expenditure has not yet been made.</p>
			<p>Going forward, both the Chief Innovation Officer and the Director of Policy expressed the desire to track the costs associated with the initiatives. Once the first company has completed the planned process, they plan to use that as a test case to review the amount of time spent, the service delivery, and the related direct and indirect costs.</p>
	</section>
	<section>
		<div class="badge-heading badge-gov badge-red">

		<h2 id="outcomes">Results and learnings</h2>
		</div>
			<p>As of June 2014, twelve contracts have been submitted and the Partnership Team is in the process of reviewing the contracts, developing guidelines, and determining how the process should work. After completing a full cycle, they will be better able to evaluate how they are meeting objectives required by the Administrative Code. However, some early learnings and takeaways are emerging.</p>
		<h3>Flexibility</h3>
			<p>The traditional procurement system has regulations and requirements that make it difficult for agencies to test proof of concepts or to work with small companies. The new system does not evade those requirements, but bakes in flexibility for local government agencies to take some risk -in a formalized publicly transparent method. Importantly, the designers sought to make the model simple, for example, by creating a standard agreement for everyone to use.</p>
		<h3>Community engagement</h3>
			<p>Kansas City engaged in conversation with the community before enacting policy. These conversations led to shift in approach, from changing existing regulations, to focusing on providing resources, namely access to government departments.</p>
		<h3>Focus on testing and learning</h3>
			<p>The policy itself was enacted with the intent to allow the city to experiment and iterate. This allows the city, or the Partnership Team, to test new ideas going forward to determine which work the best.</p>

	</section>
	<section>
		<div class="badge-heading badge-gov badge-red">
		<h2 id="next">Next Steps</h2>
		</div>
			<p>Innovation Partnerships was established by an administrative regulation. This approach was purposeful, in order to ensure a degree of long-term viability. Furthermore, by law, the City Manager has explicit requirements to organize the Partnership Team with designated departments, organize a specific number of meetings every year, create detailed protocols and procedures to manage the contracting process, and to provide reports about the progress of the initiative. The effect is to remove the need for any one individual to ensure the project is sustained. Rather, there is a clear duty and responsibility by the City Manager</p>

	</section>
	<section>
		<div class="badge-heading badge-gov badge-red">

		<h2 id="references">References</h2>
		</div>
			<h3>Further Reading</h3>
			<p><a href="https://data.kcmo.org/api/assets/B661398E-3195-47AB-A81E-75AB557B38EA">KCMO Innovation Partnerships Policy</a></p>
	</section>
	</div>
</div>

{% elsif include.context == 'project-abstract' %}
<!-- this is the short snippet -->
<div class="wodge wodge-l">
			<h3 class="wodge-header">Kansas City, Missouri: Innovation Partnership</h3>
			<img src="https://www.codeforamerica.org/blog/wp-content/uploads/2014/06/kcmo.png" class="wodge-image">
				<div class="wodge-text">
					<p>Enacted through the Administrative Code, Kansas City established the Innovation Partnerships program within city government to formalize support for the local startup community when engaging with the government procurement process. This is accomplished by providing a specific point of contact, feedback on contracts and guidance on proposal submissions, and developing new processes and tools to make the procurement process more accessible to smaller companies, such as developing prequalification standards.</p>
				</div>
			<a href="/projects/kansas-city-innovation-partnership" class="button wodge-button">Read more</a>
		</div>

{% endif %}
