{% if include.context == 'project-complete' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h3 class="p-name">Montgomery County, Maryland: Open Data</h3>
	</div>
	<p>Montgomery County, Maryland</p>
	<p>Population: 1,016,677 (2013)</p>
	<p>Form of government: County Executive/County Council</p>
	<p>Open data champions: <a href="https://www.linkedin.com/pub/dan-hoffman/53/bb9/806">Daniel Hoffman</a>, Chief Innovation Officer</p>
	<p>Date of interview: June 2014</p>
	<h4>What were the most important steps you took to get open data off the ground?</h4>
	<p>Getting open data off the ground in Montgomery County was really a team effort. In the very early stages before I worked for the county, when I was just advocating for open data, I worked with some of our County Council and directed them to options for what would become our open data portal. Our Department of Technology Services brought in Socrata. Then the Lead for Digital Government on the County Council, Hans Riemer, gave the effort real teeth when championed legislation that made open data a mandate. Due to that we’re delivering an implementation plan this month that includes an inventory of almost 600 data sets.</p>
	<h4>How did you prioritize open data in your county?</h4>
	<p>We involved the community. We reached out through social media, Open Data Town Halls (a first as far as we are aware), and hackathons to engage residents on how and why open data is important to them.</p>
	<h4>What have been the biggest challenges?</h4>
	<p>The state of the data and resources. So much of the data we inventoried is crucial, but will take significant effort to prepare for publication. Educating folks that it’s not just a matter uploading a spreadsheet has been key.</p>
	<h4>What tactics have you tried to overcome those challenges?</h4>
	<p>The County developed a point of contact for open data in every department. We invested heavily in those POCs with training and monthly meetings. Those POCs have been our open data champions within government.</p>
	<h4>How have you proved the value for open data?</h4>
	<p>I’d say we still are trying to prove it to many people. We’re just a little over a year into what will be a 5-6 year push to get the full inventory published. This takes time and continued commitment. There will be bumps along the way and we have to continually look for ways to promote it and show value.</p>
	<h4>What are some of your early successes?</h4>
	<p>The public outreach, including hackathons, has been important. They get people excited and build the open data community. In the coming months we’ll also have a new financial transparency portal coming online that will be fed by our open data. I think folks will be amazed by this tool and it will really demonstrate the value of open data.</p>
	<h4>What has been your most successful argument for generating buy-in among the government staff or community?</h4>
	<p>I know it’s not a real “feel good” approach, but it has been incredibly helpful to be able to say, “It’s the law. So let’s find a way to make this work.” When all else breaks down, that’s our fall back. You don’t have to have legislation or a top down approach, but without significant senior leadership you won’t get far with an open data program. It costs money to stand up and more money to sustain. And because so many of the benefits are indirect or sometimes unseen, you must have commitment from your management. Thankfully my position sits in the Office of the County Executive, and I can act as a change agent knowing the County Executive and the County Council our supporting this important work.</p>
</div>

{% elsif include.context == 'project-abstract' %}
<!-- this is the short snippet -->
<div class="wodge wodge-l">
			<h3 class="wodge-header">Montgomery County, MD: Open Data</h3>
			<img src="https://www.codeforamerica.org/blog/wp-content/uploads/2014/06/montgomery-county.png" class="wodge-image">
				<div class="wodge-text">
					<p>Montgomery County was one of the first counties in the United States to enact an open data policy. Daniel Hoffman, Chief Innovation Officer, explains how they have implemented open data.</p>
				</div>
			<a href="/projects/montgomery-county-open-data" class="button wodge-button">Read more</a>
		</div>

{% endif %}
