{% if include.context == 'project-complete' %}
<div class="layout-semibreve h-card">

	<div class="heading">
		<h3 class="p-name">Nashville, Boston, Raleigh, and Palo Alto: Multi-City Innovation Campaign</h3>
	</div>

	<nav role="navigation" class="toc" id="toc">
		<h4>Table of Contents</h4>

		<ul class="sectlevel1">
		<li><a href="#basics">The Basics</a></li>
		<li><a href="#process">Project Summary and Process</a></li>
		<li><a href="#outcomes">Outcomes & Results</a></li>
		<li><a href="#next">Next Steps</a></li>
		<li><a href="#references">References</a></li>
		</ul>
	</nav>

	<div class="layout-semibreve">
		
		<section>
			<div class="badge-heading badge-gov badge-red">
				<h2 id="basics">The Basics</h2>
			</div>

			<h3>Project description</h3>
			<p>Four cities partnered together to launch the <a href="http://2014cityinnovation.populr.me/home">2014 Multi-City Innovation Campaign (MCIC)</a>: an online campaign that invited developers to submit projects in three tracks – where the winning submission is able to sign a contract with all four participating cities.</p>
			
			<h3>Problem statement</h3>
			<p>The MCIC originated from a concern that national efforts around civic hacking to develop new process, technology, and platforms to solve issues for government entities based on hackathons were unsustainable. This concern was founded on the observation that following hackathons, new products and services lacked the infrastructure to be implemented and sustained. And failure to provide a means to sustain this work would lead to community burnout and the community not benefiting from new technology resources. In response, the leaders of the MCIC sought to develop a framework to generate a more sustainable ecosystem for smaller companies to develop sustainable products and business.</p>					<h3>Participating Cities</h3>
			<p>Boston, MA; Nashville, TN; Palo Alto, CA., Raleigh, NC.</p>
			
			<h3>When</h3>
			<p>The project was launched in July 2013. A call for entries was opened January 20th, 2014. The deadline for all entries was February 21st, 2014. Finalists were selected and announced on March 13th, 2014. The finalists will present video demo (pitches) of their products for a showcase on April 27th, 2014. Following a final demo from the six finalists on the National Day of Civic Hacking on May 31st, 2014, the winner – <a href="http://enabledcity.wtfall.com/">Enabled City</a> – was <a href="http://www.paloaltoonline.com/news/2014/06/14/palo-altan-wins-multi-city-apps-challenge">announced</a> on June 12, 2014.</p>
			
			<h3>Key Team Members</h3>
			<p>Nashville: <a href="https://twitter.com/YiawayYeh">Yiaway Yeh</a> (Co-Chief Innovation Officer Nashville, TN)</p>
			<p>Boston: Chris Osgood and <a href="https://twitter.com/nsjacob">Nigel Jacob</a> (Co-Heads, Office of New Urban Mechanics)</p>
			<p>Palo Alto: <a href="https://twitter.com/Reichental">Jonathan Reichental</a> (Chief Information Officer)</p>
			<p>Raleigh: <a href="https://twitter.com/jasonmhare">Jason Hare</a> (Open Data Manager)</p>
		</section>

		<section>
			<div class="badge-heading badge-gov badge-red">
				<h2 id="process">Project Summary and Process</h2>
			</div>

			<h3>Goals</h3>
			<p>There are three initial issues the organizers of the MCIC are seeking to address. At the time of this case study, the current phase is the first step in what is anticipated to be a long-term process. As a result, the organizers approached this process as a testing or pilot phase to determine what outcomes and metrics should be going forward.</p>
			
			<h4>Problems/Issues</h4>
			<p>First, the existing procurement system for cities is generally too expensive for early stage companies to participate in. Thus, any program seeking to address this issue must be able to offer smaller contracts that do not invoke the entire procurement process. Coordinating amongst the four cities required finding a minimum threshold so that all of the cities can participate. The organizers found that for the current cities to participate $5,000.00 was the maximum threshold exemption (while this was below the threshold of the city that had the lowest threshold exemption, it provided the cities with the flexibility to potentially contract on multiple projects). Going forward, the organizers hope to demonstrate that cities can coordinate their efforts to provide seed capital to early stage companies by pooling contracts through threshold exemptions pools. This requires establishing shared regulations around threshold exemptions that other cities can follow.</p>
			<p>Second, the laws and project requirements for municipalities are often unique. Furthermore, municipalities rarely harmonize their laws or initiatives. This means companies often have to customize bids and products for each city, and for each department within a city –a challenging and costly obstacle for newer companies. As a result, developing any type of leverage requires coordinating the efforts of multiple cities into an agreed upon set of problems and possible solutions. The first phase of this initiative seeks to identify some of the complications in this process in order to provide tools for other cities to harmonize their regulations.</p>
			<p>And third, businesses focused strictly on solving local government issues might not be sustainable for long-term profitable revenue streams. As a result, early stage companies must develop more sustainable revenue models in order to build sustainable businesses; for example, developing multiple revenue streams that include private sector clients. The organizers hope to generate a marketplace that allows private funding to find nascent startups that provide tools that can be scaled to public and private consumers.</p>
			<p>Finally, to address the need for software developers to understand the business side of creating a true civic startup, the MCIC partner cities collaborated with Nashville-based startup accelerator Jumpstart Foundry.  Rated by TechCrunch as one of the top 15 startup accelerators in the country, the MCIC partner cities successfully negotiated that one team spot be held for a civic startup coming from the MCIC program.  One of the six finalist teams was <a href="http://www.paloaltoonline.com/news/2014/06/14/palo-altan-wins-multi-city-apps-challenge">selected</a> to participate in the program for the summer of 2014, in residence in Nashville.</p>
			
			<h3>Process</h3>
			<p>The MCIC initiative began as a conversation between various staff members from different cities in the summer of 2013 about the shared problems and challenges in the procurement process. These staff members were in the “Innovation” offices, IT departments, or open data programs of their respective cities. Each of the Innovation offices operates closely affiliated with the Executive administration in the strong Mayor cities (Boston and Nashville) or closely with the City Manager (Palo Alto and Raleigh). The exact structure of each partner office depends on the city, but the responsibility to support open data efforts and affiliated initiatives were all generally the same. Seven cities were involved in the initial conversations, and four decided to participate in a coordinated national effort.</p>
			<p>Beginning in the summer of 2013, conversations amongst the staff members of the various cities led to a formal plan by the Fall of 2013. The MCIC went public in January 2014 with a website to receive applications from early stage companies. Because of the national nature –the organizers are in four different states and three time zones -most of the work was conducted by shared documents to scope out a proposal. This proposal served two purposes: (i) as the core document to manage the MCIC process, and (ii) as the basis for a grant application to the National Science Foundation.</p>
			<p>During the planning period, the organizers originally sought to define specific products and tools. This proved too difficult, so the organizers adjusted their tactics. Instead of prescribing specific products, “a traditional approach,” the organizers developed three tracks based on their shared needs. These tracks were created to crowdsource solutions to shared problems and allow applicants to approach with more creativity and possibly with more scalable solutions.</p>
			<p>Difficulties in communication also presented issues that required modification of the original approach. Although sharing tools, such as Google Docs, allowed the organizers to generate documentation fairly quickly, coordinating conference calls across four time zones was difficult. The biggest challenge, however, were firewall issues that prevented the initial plan of live demos by the startup finalists. Apparently several cities have firewalls that block Google Hangout. As result, the organizers changed their requirement to have the finalists post videos online to allow the cities to review the presentations independently of each other, but by a deadline for decision-making.</p>
			<p>Because the partner offices operate within their respective placements in their government structure, there was considerable administrative flexibility in designing and launching the MCIC. Staff costs were the primary cost, separate from the $5,000.00 from each city, but these costs we already accounted for within the respective budgets. Equally important, the partner offices were already tasked with identifying and experimenting with new approaches to government technology as part of their mission statement. Consequently, the critical stakeholders were the Mayors and City Managers. Going forward, however, the organizers anticipate expanding the range of stakeholders to include the respective procurement departments and city agencies to help with identifying problems and identifying possible solutions.</p>
			<p>Finally, as a test case, the MCIC operates with minimal costs. But one purpose of the test case is to validate an approach for a grant proposal to the National Science Foundation. The organizers hope to expand the project and inject more funding through a multiyear grant.</p>
			
			<h3>Costs & Savings</h3>
			<p>The costs of the program fall into two phases (i) organizing and launching the MCIC, and (ii) awarding contracts to the selected winners in the procurement phase.</p>
			<p>The MCIC costs were minimal and largely indirect -tied to staff costs and maintaining the website. Because staff members initiated the project, there was no set budget or line item in a general fund. The lack of a budget did not negatively impact staff costs, however, because the staff were hired to identify and develop new initiatives. But there was no funding for the website maintenance and design, so those costs were paid out of a personal account. These costs can be recouped, but they are negligible.</p>
			<p>The second phase of costs follows the completion of the MCIC and assumes that the one winner of the six finalists selected by the cities on June 12, 2014 will successfully deliver the final app to the satisfaction of the four cities. If the winning team is able to do so, they will receive a contract from each of the four participating cities. The total contract award is up to $20,000.00, or $5,000.00 from each participating city. Coming into the review of the finalists, it was possible that one or more cities, but less than the four, would award contracts. The goal, however, was to select companies that have a product that works for all four cities and communities. In any case, the most any one city would pay is $35,000.00, or $5,000.00 per finalist for six contracts.</p>
			<p>Funding for the contacts would come out of the respective general funds, or budgets of the appropriate department in the respective participating cities. These projects, however, would be selected based on needs, so the funding, broadly speaking, is already allocated.</p>
		</section>

		<section>
			<div class="badge-heading badge-gov badge-red">
				<h2 id="outcomes">Results</h2>
			</div>

			<p>While the long-term impact is yet to determined (as of writing, the MCIC was launched less than a year ago and is just completing its first cycle), three tentative outcomes are discussed below, and two valuable emergent outcomes were identified from the process of building the MCIC. </p>
			
			<h3>Outcomes</h3>
			<h4>Contracts</h4>
			<p>Six finalist teams and potential companies were selected as finalists out of over 20 submissions. If one company receives a contract, it would indicate that there is a potential framework for further developing the model of a low-dollar procurement approach to procurement.</p>
			
			<h4>National Science Foundation (NSF) Funding</h4>
			<p>This project was launched absent line item budgeting in the participating cities. But the organizers have applied for a grant from the NSF to build a more sustainable framework. One of the immediate goals of the MCIC is to validate the grant application.  The decision on the grant should be made sometime in the summer/fall of 2014.  The grant would scale the effort to an online platform that enables any city with a particular problem to self-organize with other cities, push out relevant data through open data platforms, and identify a low-dollar amount it is willing to pay that remains below the triggering competitive procurement threshold.  By aggregating all cities with shared problems, a “two-sided marketplace” would be created where developers would then be able to enter the market and see the groups of cities organized around particular shared challenges and the associated aggregate dollar amount available if a developer team worked to address that shared problem.</p>
			
			<h3>Emergent</h3>
			<h4>Problem identification</h4>
			<p>The organizers have begun a discourse amongst seemingly disparate municipalities to identify how to identify shared needs. Specifically, the organizers have learned which approach is most effective in crowdsourcing ideas to address issues across multiple cities. Namely, identify problem areas, not scope out specific problems and prescribe solutions.</p>
			<p>One of the initial challenges the organizers faced was identifying problems shared across all of the cities. For example, in the initial approach, the MCIC organizers tried to develop requests for proposals around specific products. The nuances between the cities, however, created too many challenges. As a result, the cities modified their approach and adopted a track approach, asking for submissions of concepts that fell into one of three areas: Development, Analytics, and Visualization. This approach led to 20 plus entries and six finalists. This outcome would justify the organizers approach of opening up the applications to anyone, but providing specific tracks, or areas for submissions. Additionally, it would underscore the goal of the organizers to coordinate their needs to create a harmonized set of problems and the corresponding ability to create a platform that allows companies that can build tools to be immediately leveraged in more than one locality.</p>
			
			<h4>Procurement & Threshold levels</h4>
			<p>The organizers ran into a roadblock in harmonizing efforts because of variations in the procurement thresholds. Eventually, however, the organizers realized that simply adopting a low amount that would allow cities to contract on multiple projects while remaining below every city’s threshold exemption would allow each city to participate and to contribute to at least one contract.</p>
			
			<h3>Key Learnings</h3>
			<p>Again, noting the early stage of the initiative, no final conclusions can be drawn. But two takeaways from the process can be extracted, both with respect to the process.</p>
			
			<h4>Solutions focus</h4>
			<p>Originally, the organizers tried to develop explicit descriptions of the products they needed. The challenge, however, was that each city had specific nuances. As result, the organizers were unable to agree on specific products. Instead, the organizers identified shared tracks or areas they were seeking projects in. This new approach allowed the organizers to seek solutions to shared problems.</p>
			
			<h4>Coordination</h4>
			<p>The participating cities are across the United States. This introduces problems with coordinating schedules, meetings, communication, and even technical challenges. For example, one goal was to have a national day of hacking, but city firewalls blocked certain products. Another concern is that live demoing might not be viewed equally across the board if there were any communication problems. These types of issues led to the organizers to move away from seeking to coordinate 100% collaboration 100% of the time. Rather, the organizers sought to leverage technology in other ways, such as using a recorded demo video, instead of a live stream, that would allow all of the cities to view it at their own discretion, but within an agreed upon timeframe.</p>
			
			<h4>National support</h4>
			<p>The organizers expressed a desire for a national partner to participate as well. Code for America was especially singled out, as was the White House. The hope was that a third party, with a “bird’s eye view” would be able to assist in the coordination amongst the cities. Under the current system, each city represents their own interests, but nobody has a holistic understanding that can help provide standards to harmonize policy and best practices.</p>
		</section>

		<section>
			<div class="badge-heading badge-gov badge-red">
				<h2 id="next">Next Steps</h2>
			</div>

			<p>The organizers are seeking to develop a national framework that other cities can join. As a next step, the organizers have already applied for a grant from the National Science Foundation; this grant would support a larger pilot effort to scale the existing initiative. Please see attached for more details, but below is a descriptive paragraph.</p>
			<p>The 2014 Multi-City Innovation Campaign is a pilot effort to demonstrate the ability for different cities to collaborate on shared challenges.  The goal of the collaboration is to address quality of life issues by stimulating the development of new and innovative platform technologies that are shown to be sustainable over the long-term and scalable across cities.</p>
			<p>Led by Vanderbilt University and in partnership with Socrata, an $800,000 3-year grant opportunity exists through the National Science Foundation’s Partnerships for Innovation: Building Innovation Capacity program.  Vanderbilt seeks to work with the 2014 Multi-City Innovation Campaign partner cities to scale our current efforts into a “civic marketplace”.  This two-sided marketplace would provide an online forum where (1) cities would enter the marketplace from one side with a set of policy problems / challenges, provide access to the relevant data for that problem, and indicate their willingness or ability to pay for a solution, and (2) software, hardware, GIS, web, and graphic developers would enter from the other side to self-organize on addressing the presented challenges.</p>
		</section>

		<section>
			<div class="badge-heading badge-gov badge-red">

			<h2 id="references">References</h2>
			</div>
			<h3>Further Reading</h3>
			<p><a href="http://2014cityinnovation.populr.me/home">Multi-City Innovation Campaign Website</a></p>

			<h3>Special Thanks To</h3>
			<p> The partner cities appreciate the support of the pilot MCIC project from Code for America, Socrata, and Jumpstart Foundry.</p>
		</section>	 

	</div><!-- end .layout-semibreve -->
</div><!-- end .layout-semibreve .h-card -->

<a href="#toc" class="skip-to-nav">Table of Contents</a>

{% elsif include.context == 'project-abstract' %}
	<!-- this is the short snippet -->
	<div class="wodge wodge-l">
		<h3 class="wodge-header">Nashville, Boston, Raleigh, and Palo Alto: Multi-City Innovation Campaign</h3>
		<img src="http://www.codeforamerica.org/blog/wp-content/uploads/2014/06/boston.png" class="wodge-image">
	
		<div class="wodge-text">
			<p>The MultiCity Innovation Campaign (MCIC) is a coordinated effort by four cities (Boston, Nashville, Raleigh, and Palo Alto) to encourage the development of sustainable tech products to address civic needs. The MCIC launched an online nationwide contest to solicit proof-of-concept mobile and software applications in response to three tracks: Development, Analytics, and Visualization; where the winning prototypes can potentially receive $5,000 in seed investment from each interested partner city, for a total of $20,000.</p>
		</div>
	
		<a href="/projects/nashville-boston-raleigh-palo-alto-multi-city-innovation-campaign" class="button wodge-button">Read more</a>
	</div>
{% endif %}