{% if include.context == 'project-complete' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Nashville, Boston, Raleigh, and Palo Alto: Multi-City Innovation Campaign</h2>
	</div>

	<div class="layout-minor">

	    <!--h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2011-fellows/">2011 Fellows</a></li>

	    </ul-->

		<img class="profile-photo u-photo" src="http://placehold.it/195x130" />
	</div>

	<div class="layout-major">
	<h2>The Basics</h2>
		<h3>Project description</h3>
			<p>Four cities partnered together to launch the 2014 Multi-City Innovation Campaign (MCIC) -an online campaign that invited developers to submit projects in three tracks –where the winning submission is able to sign a contract with all four participating cities.</p>
		<h3>Problem statement</h3>
			<p>The MCIC originated from a concern that national efforts around civic hacking to develop new process, technology, and platforms to solve issues for government entities based on hackathons were unsustainable. This concern was founded on the observation that following hackathons, new products and services lacked the infrastructure to be implemented and sustained. And failure to provide a means to sustain this work would lead to community burnout and the community not benefiting from new technology resources. In response, the leaders of the MCIC sought to develop a framework to generate a more sustainable ecosystem for smaller companies to develop sustainable products and business.</p>					<h3>Location</h3>
			<p>Boston, MA; Nashville, TN; Palo Alto, CA., Raleigh, NC.</p>
	    	<h3>Date</h3>
			<p>The project was launched in July 2013. A call for entries was opened January 20th, 2014. The deadline for all entries was February 21st, 2014. Finalists were selected and announced on March 13th, 2014. The finalists will present video demo (pitches) of their products for a showcase on April 27th, 2014. Following a final demo from the six finalists on the National Day of Civic Hacking on May 31st, 2014, the winner – Enabled City – was announced on June 12, 2014.</p>
	    	<h3>Key Team Members</h3>
			<p>Nashville: Yiaway Yeh (Co-Chief Innovation Officer Nashville, TN)</p>
			<p>Boston: Chris Osgood and Nigel Jacobs (Co-Heads, Office of New Urban Mechanics)</p>
			<p>Palo Alto: Jonathan Reichental (Chief Information Officer)</p>
			<p>Raleigh: Jason Hare (Open Data Manager)</p>
	    	<h2>Project Summary and Process</h2>
	    	<h3>Goals</h3>
			<p>There are three initial issues the organizers of the MCIC are seeking to address. At the time of this case study, the current phase is the first step in what is anticipated to be a long-term process. As a result, the organizers approached this process as a testing or pilot phase to determine what outcomes and metrics should be going forward.</p>
		<h4>Problems/Issues</h4>
			<p>First, the existing procurement system for cities is generally too expensive for early stage companies to participate in. Thus, any program seeking to address this issue must be able to offer smaller contracts that do not invoke the entire procurement process. Coordinating amongst the four cities required finding a minimum threshold so that all of the cities can participate. The organizers found that for the current cities to participate $5,000.00 was the maximum threshold exemption (while this was below the threshold of the city that had the lowest threshold exemption, it provided the cities with the flexibility to potentially contract on multiple projects). Going forward, the organizers hope to demonstrate that cities can coordinate their efforts to provide seed capital to early stage companies by pooling contracts through threshold exemptions pools. This requires establishing shared regulations around threshold exemptions that other cities can follow.</p>
			<p>Second, the laws and project requirements for municipalities are often unique. Furthermore, municipalities rarely harmonize their laws or initiatives. This means companies often have to customize bids and products for each city, and for each department within a city –a challenging and costly obstacle for newer companies. As a result, developing any type of leverage requires coordinating the efforts of multiple cities into an agreed upon set of problems and possible solutions. The first phase of this initiative seeks to identify some of the complications in this process in order to provide tools for other cities to harmonize their regulations.</p>
			<p>And third, businesses focused strictly on solving local government issues might not be sustainable for long-term profitable revenue streams. As a result, early stage companies must develop more sustainable revenue models in order to build sustainable businesses; for example, developing multiple revenue streams that include private sector clients. The organizers hope to generate a marketplace that allows private funding to find nascent startups that provide tools that can be scaled to public and private consumers.</p>
			<p>Finally, to address the need for software developers to understand the business side of creating a true civic startup, the MCIC partner cities collaborated with Nashville-based startup accelerator Jumpstart Foundry.  Rated by TechCrunch as one of the top 15 startup accelerators in the country, the MCIC partner cities successfully negotiated that one team spot be held for a civic startup coming from the MCIC program.  One of the six finalist teams was selected to participate in the program for the summer of 2014, in residence in Nashville.</p>
		<h3>Key Team Members</h3>
			<p>Nashville: Yiaway Yeh (Co-Chief Innovation Officer Nashville, TN)</p>
		<h3>Key Team Members</h3>
			<p>Nashville: Yiaway Yeh (Co-Chief Innovation Officer Nashville, TN)</p>
			
	    <p class="p-note"></p>

	   
	</div>

</div>

{% elsif include.context == 'project-abstract' %}
<!-- this is the short snippet -->
<div class="wodge wodge-l">
			<h3 class="wodge-header">Nashville, Boston, Raleigh, and Palo Alto: Multi-City Innovation Campaign</h3>
			<img src="http://placehold.it/195x130" class="wodge-image">
				<div class="wodge-text">
					<p>The MultiCity Innovation Campaign (MCIC) is a coordinated effort by four cities (Boston, Nashville, Raleigh, and Palo Alto) to encourage the development of sustainable tech products to address civic needs. The MCIC launched an online nationwide contest to solicit proof-of-concept mobile and software applications in response to three tracks: Development, Analytics, and Visualization; where the winning prototypes can potentially receive $5,000 in seed investment from each interested partner city, for a total of $20,000.</p>
				</div>
			<a href="/projects/nashville-boston-raleigh-palo-alto-multi-city-innovation-campaign" class="button wodge-button">Read more</a>
		</div>

{% endif %}
