[class*="heading"] {
    border-bottom: 1px solid;
    @include border-color($color-light-gray, 0.8);
    padding-bottom: 0.5em;
    margin: 2em 0 2em;
    position: relative;
    }

[class*="heading"] * {
    margin: 0;
    }

.badge-heading {
    padding-left: 4.5em;
    min-height: 3.5em;
    }



.badge-heading i {
    position: absolute;
    left: 0;
    top: -0.5em;
    }

.badge-heading i:before {
    color: #fff;
    }