/* @group highlight */

.highlight {
    color: white;
    padding: 1em 2em;
    font-size: 1.5em;
    position: relative;
    font-family: $font-serif-light;
    }

/* @end highlight */

/* @group highlight with avatar */

@media (min-width: 60em) {
.highlight-with-avatar {
    padding-left: 230px;
    }
}


.highlight-avatar {
    background-color: white;
    padding: 10px;
    border-radius: 5em;
    border-width: 8px;
    border-style: solid;
    @include border-color($color-corporate-red, 1);
    width: 100px;
    float: left;
    margin-right: 1.5em;
    border-style: inset;
    top: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    
    }

    @media (min-width: 60em) {
    .highlight-avatar {
        position: absolute;
        left: 0;
        margin-top: 0;
        }
    }

/* @end highlight with avatar */
