.nav-page {
    @include background-color($color-dark-blue, 1);
    margin-bottom: 2em;
    }

.nav-page ul {
    display: table;
    }

.nav-page ul li {
    border-right: none;
    display: table-cell;
    margin: 0 1em;
    }

.nav-page a:link,
.nav-page a:visited,
.nav-page a:hover,
.nav-page a:focus,
.nav-page a:active {
    color: white;
    padding: 1em;
    display: block;
    }