.post {
    }

.post .post-content {
    @extend .layout-colspan-6;
    padding-left: 0;
    margin-left: 11%;
    float: left;
    }

.post .post-author {
    @extend .layout-col;
    @extend .layout-colspan-2;
    }

.post .post-content p:first-child:first-letter {
    float: left; 
    font-size: 3em; 
    line-height: 1em; 
    padding: 0 0.15em 0.15em 0;
    }