.profile-photo {
    border-radius: 100px;
    height: 140px;
    width: 140px;
    }

.profile-note .list-social,
.profile-note .list-social a,
.profile-note .list-social a:link,
.profile-note .list-social a:visited,
.profile-note .list-social a:hover,
.profile-note .list-social a:focus,
.profile-note .list-social a:active {
    @include color($color-corporate-red, 1);
    font-family: $font-bold;
    text-transform: uppercase;
}

.profile-small {
    border: 1px solid;
    @include border-color($color-medium-gray, 0.5);
    margin: 60px 0 2em 0;
    padding: 50px 0 0 0;
    position: relative;
    text-align: center;
    }

.profile-small .profile-photo {
    border: 6px solid white;
    height: 100px;
    left: 50%;
    margin-left: -56px; /* Half the width of the image */
    position: absolute;
    top: -50px;
    width: 100px;
    }

.profile-small .profile-name,
.profile-small .profile-note p {
    padding: 0 2%;
    }

.profile-small .profile-name {
    font-size: 1.2em;
    margin-bottom: 0.8em;
    }

.profile-small .link-more {
    @include color($color-corporate-red, 1);
    font-family: $font-bold;
    text-transform: uppercase;
    }

.profile-small .list-social {
    @include background-color($color-light-gray, 0.8);
    margin: 0;
    padding: 0.8em 0;
    }

.profile-small .list-social li {
    list-style-type: none;
    }


.profile-medium {
    clear: both;
    margin-bottom: 2em;
    min-height: 150px;
    position: relative;
    }

.profile-medium .profile-photo {
    margin-top: 0.4em;
    }

    @media (min-width: 40em) {
    .profile-medium .profile-photo {
        left: 0;
        position: absolute;
        top: 0;
        }
    }

.profile-medium .profile-name {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0 0.5em;
    padding-top: 1em;
    }

    @media (min-width: 40em) {
    .profile-medium .profile-name,
    .profile-medium .profile-note {
        margin-left: 165px;
        }
    }

.profile-medium .profile-name p:first-child {
    margin-top: 0;
    }