.stat {
    position: relative;
    padding-bottom: 2em;
    width: 7em;
    text-align: center;
    float: left;
    margin: 0 1em 1em 0;
    }

.stat .stat-heading {
    border-bottom: 1px solid;
    @include border-color($color-medium-grey, 0.3);
    @include color($color-medium-grey, 0.7);
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
    font-size: 0.9em;
    }

.stat .stat-figure {
    font-size: 3em;
    @include color($color-corporate-black, 1);
    font-family: georgia;
    font-weight: bold;
    text-align: center;
    display: block;
    }