---
layout: default
title: Denver
masthead-image: "../../media/images/governments/denver_header.jpg"
nav_tier1_active: "governments"
nav-breadcrumbs:
 - Governments: "/cities"
 - Denver: "/cities/denver"
---
  
    <section> 
        <div class="layout-semibreve">
    
            {% include nav-breadcrumbs.html %}

            <header class="badge-heading badge-brigade badge-blue">
                <h2>
                    Denver
                </h2>
            </header>
            <section>
                <div class="layout-semibreve">
                    <div class="layout-gutters">
                        <p>Denver is the largest city and the capital of Colorado. Known for its 5,280 feet elevation and set against the backdrop of the Rocky Mountains, the Mile High City is known for its picturesque setting. The City is the home to tech companies like Pivotal Labs, SendGrid and McAffe, as well as early-stage incubators like Galvanize. Denver’s Code for America Brigade brings together 194 members of the community (many from these major tech companies) to engage in regular hackathons and discussions. For more info <a href="http://www.meetup.com/Colorado-Code-for-Communities">attend one of their meetups</a>.</p>
                        <p>
                            <a href="http://www.meetup.com/Colorado-Code-for-Communities" class="button button-s">Denver Brigade</a>
                            <a href="http://data.denvergov.org/" class="button button-s">Denver Open Datasets</a> 
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </section>
            
    <section class="slab-blue"> 
        <div class="layout-semibreve">
            <div class="highlight highlight-with-avatar">
                <img class="highlight-avatar" src="../../media/images/governments/denver_seal.png" alt="" /> 
                <blockquote>
                    <p>
                        The City of Denver recently enlisted the 2014 Code for America fellows to work alongside city staff and shape government services.
                    </p>
                </blockquote>
            </div>
        </div>
    </section>

    <section> 
        <div class="layout-semibreve">
            <header class="badge-heading badge-red badge-fellowship">
                <h2>
                    The 2014 Fellowship in Denver
                </h2>
            </header>
            <div class="layout-gutters">
                <ul>
                    <li class="layout-crotchet">
                        {% include people/becky-boone.html context="2014-fellows" base="../.." %}
                    </li>
                    <li class="layout-crotchet">
                        {% include people/kavi-harshawat.html context="2014-fellows" base="../.." %}
                    </li>
                    <li class="layout-crotchet">
                        {% include people/drew-wilson.html context="2014-fellows" base="../.." %}
                    </li>
                <p><b>Team Leads</b>: David Edinger, Chief Performance Officer; Frank&nbsp;Daidone, Chief Information Officer and Scotty Martin, Manager of Analytics</p>
                <p>Follow the fellows' progress on their blog <a href="http://cfa14denver.tumblr.com/">Code for Denver</a></p>
            </div>
        </div>
    </section>


