---
layout: default
title: Puerto Rico
masthead-image: "../../media/images/governments/sanjuan_header.jpg"
nav_tier1_active: "governments"
nav-breadcrumbs:
 - Governments: "/cities"
 - Puerto Rico: "/cities/sanjuan"
---
  
 
    <section> 
        <div class="layout-semibreve">
    
            {% include nav-breadcrumbs.html %}
            
            <!--

            <header class="badge-heading badge-blue badge-fellowship">
                <h2>Puerto Rico</h2>
            </header>
            
            <section>
                <div class="layout-semibreve">
                    <div class="layout-gutters">
                        <p>Puerto Rico’s govtech scene is growing rapidly as it recently enacted an <a href="http://www2.pr.gov/cio/Politicas%20y%20Procedimientos/Guia%20TIG-016.pdf" target="_blank">API policy</a> where all agencies are expected to develop APIs for better transparency and data integration.</p>

                        <p>In collaboration with the commonwealth of Puerto Rico, the 2014 Fellows are working to encourage and support a robust local economy.</p>
                        <p>
                            <a href="#2014" class="button button-s">the 2014 Fellows</a>
                            <a href="http://code4puertorico.org/" class="button button-s" target="_blank">Code 4 Puerto Rico</a>
                        </p>

                    </div>
                </div>
            </section>
            
            -->
           
        </div>
    </section>

    <section class="slab-blue">
        <div class="layout-semibreve">
            <div class="highlight highlight-with-avatar">
                <img class="highlight-avatar" src="../../media/images/governments/puerto_rico_seal.png" alt="sanjuan_seal">
                <blockquote>
                    <p>As CIO for the Government of Puerto Rico and in conjunction with key CIO’s from local government agencies, we represent a young breed of experts looking to establish a new vision on how technology can be implemented and designed to scale as a new government platform.</p>

                    <p>We believe that technology must be leveraged to directly influence government agility and economic development strategies.</p>
                <a id="2014"></a></blockquote>

                <p class="attribute">Giancarlo Gonzalez, Chief Information Officer Estado Libre Asociado de Puerto Rico</p>
            </div>
        </div>

    </section>
    
    <section>
        <div class="layout-semibreve">

            <header class="badge-heading badge-red badge-fellowship">
                <h2>The 2014 Fellowship in Puerto Rico</h2>
            </header>

                    <div class="layout-gutters">
                        <p>Puerto Rico has 15% unemployment and a strong trend of young, bright minds leaving for the mainland. There are, however, 50 state-sponsored incentives to try to encourage business owners and entrepreneurs to stay, invest, and grow in Puerto Rico.</p>
                        <p>The 2014 Fellows have found that although the incentives themselves were appealing, many people were under-informed or confused about taking advantage of them. Their project aims to serve entrepreneurs and small business owners that don’t know what support is available to them to start, or grow their business in Puerto Rico.
                        <p>To address these problems, the 2014 Fellowship team have built <a href="http://www.primerpeso.com/" target="_blank">PrimerPeso</a> as a way to help our users find, identify, and apply for incentives and resources that they are qualified for and that will help them start or grow their business.</p>
                        <p>They are also working on <a href="http://negocio123.herokuapp.com/" target="_blank">Negocio123</a>, a practical guide in Spanish with steps and requirements of each governing agency to incorporate a business. Check out the Fellows' <a href="http://chronicles.coquicoders.org/" target="_blank">mid-year update</a> to learn more.</p>

                    </div>
                    <div style="text-align:center;"><img src="/media/images/governments/sanjuan-primerpeso.png" width="900" height="209" style="width:900px;height:209px; align:center;" />
                     
                    </div>

            <div class="layout">
            <br/>

            <h4>Meet the team:</h4>
            <p>
                <ul>
                    <li class="layout-crotchet">{% include people/maksim-pecherskiy.html context="2014-fellows" base="../.." %}</li>

                    <li class="layout-crotchet">{% include people/ainsley-wagoner.html context="2014-fellows" base="../.." %}</li>

                    <li class="layout-crotchet">{% include people/clara-gonzalez-sueyro.html context="2014-fellows" base="../.." %}</li>
                </ul>
<div><p>&nbsp;</p></div>
<div>

                <p><strong>Team Leads</strong>: Giancarlo Gonzalez, Chief Information Officer<br/>
                   <strong>Community Partners</strong>: Puerto Rico Industrial Development Company (PRIDCO), Puerto Rico Science &amp; Technology Trust</p>

                <p>Follow the fellows' progress on their blog <a href="http://coquicoders.org/" target="_blank">Coqui Coders</a></p>
                <p>Contribute to <strong>PrimerPeso</strong> on <a href="https://github.com/CoquiCoders/bizwallet" target="_blank">Github</a> and <strong>Negocio123</strong> on <a href="https://github.com/CoquiCoders/negocio123" target="_blank">Github</a>.</p> 
</div>
            </div>
       </div>
    </section>

    <section class="slab-gray">
        <div class="layout-semibreve">
            <header class="badge-heading badge-orange badge-fellowship">
                <h2>Articles &amp; video</h2>
            </header>

        <ul class="teasers layout-grid-crotchet">

        <li class="teaser-video">
          <a href="http://youtu.be/7kRU4356lpQ?list=UU6VjQY-gIxXGKmjW0LeMGOw">
              <h3>Puerto Rico, Code for America Fellows</h3>
              <div><iframe width="100%" height="250" src="//www.youtube.com/embed/7kRU4356lpQ?list=UU6VjQY-gIxXGKmjW0LeMGOw" frameborder="0" allowfullscreen></iframe>
              </div>
          </a>
          <span>BETA</span>
          <p>Ainsley Wagoner, Maksin Pecherskiy, and Clara Gonzalez-Sueyro talk more about their projects in Puerto Rico. [&hellip;] <a href="http://youtu.be/7kRU4356lpQ?list=UU6VjQY-gIxXGKmjW0LeMGOw">Read more</a></p>
        </li>

        <li>
          <a href="http://noticel.com/noticia/159452/avanza-la-busqueda-de-soluciones-tecnologicas-para-problemas-sociales.html">
             <h3>Avanza la búsqueda de soluciones tecnológicas para problemas sociales</h3>
             <div>
               <img src="/media/images/press/sanjuan-201404-noticel.png" alt="Noticle article"/>
               <span class="teaser-type-article">Article</span>
             </div>
          </a>
          <span>Noticel</span>
          <p>La posibilidad de que usted pueda acceder un mapa interactivo con las áreas de más alta incidencia criminal en la región donde reside está más cerca de lo que pensaba, pues la herramienta podrá ser utilizada de forma [&hellip;] <a href="http://noticel.com/noticia/159452/avanza-la-busqueda-de-soluciones-tecnologicas-para-problemas-sociales.html">Read more</a></p></a>
        </li>

        <li>
          <a href="http://www.metro.pr/locales/hackers-trabajaron-todo-el-fin-de-semana-en-el-senado/pGXnbx!0B5dazNcOJVjU/">
             <h3>“Hackers” trabajaron todo el fin de semana en el Senado</h3>
             <div>
               <img src="/media/images/press/sanjuan-201402-metropr.png" alt="Metro PR article"/>
               <span class="teaser-type-article">Article</span>
             </div>
          </a>
          <span>Metro</span>
          <p>El Senado sirvió este pasado fin de semana como lugar de encuentro de decenas de especialistas de tecnología de información, quienes se unieron a otros grupos en distintos lugres del mundo, con el apoyo de Code for [&hellip;] <a href="http://www.metro.pr/locales/hackers-trabajaron-todo-el-fin-de-semana-en-el-senado/pGXnbx!0B5dazNcOJVjU/">Read more</a></p></a>
        </li>

        <li>
          <a href="http://www.primerahora.com/noticias/gobierno-politica/nota/ponenlainformacionpublicaalserviciodelascomunidades-991840/">
             <h3>Ponen la información pública al servicio de las comunidades</h3>
             <div>
               <img src="/media/images/press/sanjuan-201402-primahora.png" alt="Prima Hora article"/>
               <span class="teaser-type-article">Article</span>
             </div>
          </a>
          <span>Primera Hora</span>
          <p>Puerto Rico podría contar en las próximas semanas con una aplicación informática que identificará en un mapa las áreas con mayor incidencia criminal con el objetivo de, no solo visibilizar las áreas que requieren mayor [&hellip;] <a href="http://www.primerahora.com/noticias/gobierno-politica/nota/ponenlainformacionpublicaalserviciodelascomunidades-991840/">Read more</a></p></a>
        </li>

        <li>
          <a href="http://www.indicepr.com/noticias/2014/02/07/news/15228/impulso-al-empresarismo/">
             <h3>Impulso al empresarismo</h3>
             <div>
               <img src="/media/images/press/sanjuan-201402-indicepr.png" alt="Indice article"/>
               <span class="teaser-type-article">Article</span>
             </div>
          </a>
          <span>Indice</span>
          <p>AUNQUE EN Puerto Rico existen actualmente una serie de incentivos contributivos que están disponibles a través de diversas agencias gubernamentales, muchas veces estas ayudas no se solicitan de la manera esperada por [&hellip;] <a href="http://www.indicepr.com/noticias/2014/02/07/news/15228/impulso-al-empresarismo/">Read more</a></p></a>
        </li>

        <li>
          <a href="http://elvocero.com/crearan-herramienta-desarrollo-economico/">
             <h3>Crearán herramienta desarrollo económico</h3>
             <div>
               <img src="/media/images/press/sanjuan-201402-elvocero.png" alt="El Vocero article"/>
               <span class="teaser-type-article">Article</span>
             </div>
          </a>
          <span>El Vocero</span>
          <p>Un grupo de tres programadores del programa Code for America tendrá la encomienda de crear herramientas tecnológicas para promover el desarrollo e internacionalización de empresas y la comercialización de ideas en Puerto [&hellip;] <a href="http://elvocero.com/crearan-herramienta-desarrollo-economico/">Read more</a></p></a>
        </li>

        <li>
          <a href="http://www.noticel.com/noticia/155396/llega-equipo-especial-de-programadores-para-combatir-la-burocracia-gubernamental.html">
             <h3>Llega equipo especial de programadores para combatir la burocracia gubernamental</h3>
             <div>
               <img src="/media/images/press/sanjuan-201402-noticel.png" alt="Noticel article"/>
               <span class="teaser-type-article">Article</span>
             </div>
          </a>
          <span>Noticel</span>
          <p>El gobierno de Puerto Rico anunció el jueves la llegada a la isla de tres programadores de distintas partes del mundo, quienes asumirán la tarea de "eliminar la burocracia gubernamental" en el proceso de otorgar servicios [&hellip;] <a href="http://www.noticel.com/noticia/155396/llega-equipo-especial-de-programadores-para-combatir-la-burocracia-gubernamental.html">Read more</a></p></a>
        </li>

        <li>
          <a href="http://www.sacbee.com/2014/02/07/6136880/puerto-rico-works-with-code-for.html">
             <h3>Puerto Rico Works with "Code for America" to Provide Services and Foster Economic Development</h3>
             <div>
               <img src="../../media/images/press/feb2014_sacbee.jpg"/>
               <span class="teaser-type-article">Article</span>
             </div>
          </a>
          <span>Sacramento Bee</span>
          <p>Alberto Baco Bague, the Secretary of Economic Development and Commerce, and Giancarlo Gonzalez, Puerto Rico's chief information officer [&hellip;] <a href="http://www.sacbee.com/2014/02/07/6136880/puerto-rico-works-with-code-for.html">Read more</a></p></a>
        </li>

        <li>
          <a href="http://www.elnuevodia.com/encaminanproyectotecnologicoparafomentarelempresarismo-1706227.html">
             <h3>Encaminan proyecto tecnológico para fomentar el empresarismo</h3>
             <div>
               <img src="../../media/images/press/feb2014_nuevodia.jpg"/>
               <span class="teaser-type-article">Article</span>
             </div>
          </a>
          <span>El Nuevo Dia</span>
          <p>Aunque en Puerto Rico existen actualmente una serie de incentivos contributivos que están disponibles a través de diversas agencias gubernamentales, muchas veces estas ayudas no se solicitan de la manera esperada por [&hellip;] <a href="http://www.elnuevodia.com/encaminanproyectotecnologicoparafomentarelempresarismo-1706227.html">Read more</a></p></a>
        </li>

        <li>
          <a href="http://sincomillas.com/puerto-rico-sera-sede-de-code-for-america/">
             <h3>Puerto Rico será sede de “Code for America”</h3>
             <div>
               <img src="../../media/images/press/feb2014_sincomillas.jpg"/>
               <span class="teaser-type-article">Article</span>
             </div>
          </a>
          <span>Sin Comillas</span>
          <p>El principal ejecutivo de Informática (PEI) del Gobierno, Giancarlo González, en conjunto con el director ejecutivo del Fideicomiso de Ciencia, Tecnología e Investigación (FCTI), Iván Ríos Mena, anunció la llegada del [&hellip;] <a href="http://sincomillas.com/puerto-rico-sera-sede-de-code-for-america/">Read more</a></p></a>
        </li>

        </ul>

        </div>
    </section>
