.cfa-tag {
    // background-image: url(asset_path('tag-black.png'));
    text-indent: -99999px;
    display: block;
    background-size: 90px;
    width: 100px;
    }

.cfa-tag-red {
    // background-image: url(asset_path('tag-red.png'));
    }

.cfa-tag-blue {
    // background-image: url(asset_path('tag-blue.png'));
    }

.cfa-tag-gray {
    // background-image: url(asset_path('tag-gray.png'));
    }
