.heading {
    border-bottom: 1px solid;
    @include border-color($color-light-gray, 0.8);
    margin: 2em 0 2em;
    position: relative;
    margin: 1em 0 1em 0;
    padding: 1.3em 0 0.5em 0;
    }

[class*="slab-"] .heading {
    border-bottom: none;
    }