.nav-articles {
	@extend .nav-pages;
	background-color: $color-light-gray;
	}


	@media print {
	.nav-articles {
		display: none
		}
	}

.nav-articles ul {
	margin: 0 auto;
	display: table;
	padding: 0 1%;
	@include rem(font-size, 13px);
	}

.nav-articles li {
	display: table-cell;
	margin: 0 2em;
	}

.nav-articles li a {
	display: block;
	padding: 0.5em 1em;
	color: $color-gray;
	}

.nav-articles li [rel="prev"] {
    /*background-image: url(asset_path('arrow-breadcrumb.png'));*/
    padding-left: 0;
    background-position: left center;
    background-repeat: no-repeat;
    }

.nav-articles li [rel="prev"]:before {
	content: "← ";
	vertical-align: top;
	}


.nav-articles li [rel="next"] {
    /*background-image: url(asset_path('arrow-breadcrumb.png'));*/
    padding-right: 0;
    background-position: right center;
    background-repeat: no-repeat;
    }

.nav-articles li [rel="next"]:after {
    content: " →";
    vertical-align: top;
	}
