.profile-photo {
    border-radius: 100px;
    height: 140px;
    width: 140px;
    }

.list-social {
	min-height: 30px;
	}

.list-social,
.list-social a,
.list-social a:link,
.list-social a:visited,
.list-social a:hover,
.list-social a:focus,
.list-social a:active {
    @include color($color-red, 1);
    @include font-sans-bold;
    text-transform: uppercase;
    border-bottom: none;
    }

.list-social {
	text-align: center;
	display: table;
	width: 100%;
	}

.list-social li {
	display: inline-block;
	margin: 0;
	text-align: center;
	background-position: 7px -38px;
	background-image: url('../images/sprite-20x20-social.png');
	text-indent: -9999px;
	}
	
.list-social .social-twitter {
	background-position: -174px -38px;
	}
	.list-social .social-twitter:hover,
	.list-social .social-twitter:focus,
	.list-social .social-twitter:active {
		background-position: -174px 2px;
		}

.list-social .social-linkedin {
	background-position: -204px -38px;
	}
	.list-social .social-linkedin:hover,
	.list-social .social-linkedin:focus,
	.list-social .social-linkedin:active {
		background-position: -204px 2px;
		}

.list-social .social-github {
	background-position: -234px -38px;
	}
	.list-social .social-github:hover,
	.list-social .social-github:focus,
	.list-social .social-github:active {
		background-position: -234px 2px;
		}

.list-social .social-flickr {
	background-position: -54px -38px;
	}
	.list-social .social-flickr:hover,
	.list-social .social-flickr:focus,
	.list-social .social-flickr:active {
		background-position: -54px 2px;
		}

.list-social .social-website {
	background-position: 7px -38px;
	}
    .list-social .social-website:hover,
    .list-social .social-website:focus,
    .list-social .social-website:active {
    	background-position: 7px 2px;
    	}

.list-social .social-facebook {
	background-position: -264px -38px;
	}
	.list-social .social-facebook:hover,
	.list-social .social-facebook:focus,
	.list-social .social-facebook:active {
		background-position: -264px 2px;
		}

.list-social a {
	background-repeat: no-repeat;
	text-indent: -9999px;
	width: 35px;
	height: 25px;
	display: block;
	}