---
layout: default
title: Procurement
nav_tier1_active: "our-work" 
masthead-image: "../../../media/images/cities/cities_header.jpg" 
nav-breadcrumbs:
 - Our Work: "/our-work"
---

<section class="layout-semibreve"><div class="layout-centered">
	<h2>City Leaders: Let's Improve Procurement</h2>
	<h4>Join cities and counties around the country who are making it easier for government to choose, and companies of all sizes to provide, the best solutions and services for today's challenges.</h4>
</div>
<div>	
			<p>Government procurement rules have fallen out of step with the pace of technology, making it difficult for government to access the most current and relevant tools available.</p>
			<p>Cities and counties around the country are tackling this issue. They're piloting new models that give governments more control over the purchasing process, more flexibility in terms of options, and bring new vendors into the ecosystem — while still preserving important protections for fairness and accountability.</p>
			<p><strong>We’re looking for more cities to lead the way.</strong> Join Code for America's working group to be part of a nationwide cohort of cities and counties who are reimagining procurement for the 21st century.</p>
</div>
</section>

		<!-- <div class="layout-minim slab-dark-blue chimney">
			 <div class="highlight highlight-with-avatar">
            			<img class="highlight-avatar" src="/_media/images/sf-seal.png"/>
                		<p>Finding little wins that you can discover along the way, moments when people can come together and solve some small issue — that’s critical to the experience of innovation.</p>
            			<p class="attribute">Mayor Kasim Reed <a href="#">City of Atlanta</a></p>
        		</div>
			<div class="layout-centered"><a href="#join"><button class="button-l">Join Now</button></a></div>
		</div> -->

<section class="slab-blue">
	<div class="layout-breve">
		<ul class="bricks bricks-4">
    
    			<li class="brick badge-heading badge-gov badge-red">
    				<a class="brick-link" href="#join">
				<h4 class="brick-text" style="color: white;">Lead the way</h4>
				<h4 class="brick-heading">Apply to join the CfA Working Group and collaborate with other cities</h4>
				</a>
    			</li>
    			<li class="brick badge-heading badge-gov badge-red">
    			    	<a class="brick-link" href="#jumpstart">
				<h4 class="brick-text" style="color: white;">Get a Jumpstart</h4>
				<h4 class="brick-heading">Learn about five bite-sized first steps you can take today</h4>
				</a>
    			</li>
    
    			<li class="brick badge-heading badge-gov badge-red">
    			    	<a class="brick-link" href="#casestudies">
				<h4 class="brick-text" style="color: white;">Learn from other cities</h4>
				<h4 class="brick-heading">Read case studies about experiments from six cities</h4>
				</a>
    			</li>
    
    			<li class="brick badge-heading badge-gov badge-red">
    			    	<a class="brick-link" href="#advice">
				<h4 class="brick-text" style="color: white;">Adapt their approaches</h4>
				<h4 class="brick-heading">Tips for starting an initiative in your city</h4>
				</a>
    			</li>
    
		</ul>
	</div>
</section>

<!-- <section class="slab-gray">
    <div class="layout-semibreve">
        <h2>Who We're Working With</h2>
        <h3>City seals here</h3>
    </div>
</section> -->
<section class="slab-red" id="join">
	<div class="layout-semibreve layout-centered"><h3>Lead the Way: Join the Procurement Working Group</h3></div>
		<div class="layout-chimney-invert">
		<div class="layout-minim">
			<p>Ready to dive in? Apply now to join a select group of governments in the Code for America working group. As part of the working group, you will:</p>
			<ul>
				<li>Learn about <strong>best practices and cutting edge procurement improvements</strong> from around the country, and connect directly with experts who have first-hand experience.</li>
				<li>Get <strong>individualized support</strong> from Code for America staff and advisors in determining an action plan that fits your city’s unique needs, strengths, and priorities.</li>
				<li>Get free admission to the <a href="http://cfasummit.org">Code for America Summit</a> and participate in a series of collaborative workshops and working sessions to <strong>put your plan into action</strong>.</li>
			</ul>
		</div>
		<div class="layout-minim slab-medium-red chimney">
			<h3>Get More Info</h3>
			<form class="sign-up" action="https://codeforamerica.wufoo.com/forms/z4z61om0se7ru9/" autocomplete="off" enctype="multipart/form-data" method="post" novalidate="">
        
                <ul class="list-form">
                    
                    <li class="form-field">
                        <label for="Field9">Government Agency Applying</label>
                        <input id="Field9" type="text" name="Field9">
                    </li>
                    
                    <li class="form-field">
                        <label for="Field11">Name</label>
                        <input id="Field11" type="text" name="Field11">
                    </li>
                    
                    <li class="form-field">
                        <label for="Field7">Title</label>
                        <input id="Field7" type="text" name="Field7">
                    </li>
                    
                    <li class="form-field">
                        <label for="Field6">Email</label>
                        <input id="Field6" type="text" name="Field6">
                    </li>
                    
                  
                    <button>Submit</button>
                    
                    <input id="idstamp" type="hidden" name="idstamp" value="SH5oJGKCPH3msdI4XUkYkzvuSd+bfuN2U3xv9Tzr5C8=">
                    
                </ul>
        
            </form>
		</div>
	</div>
	<div class="layout-semibreve"><p>After completing the interest form above, we'll contact you to guide you through the application process. To apply, you'll need to identify two designated staff members to participate — one from a technology or innovation-focused department, and one from Procurement or Legal. Learn more about participation commitments and benefits <a href="/governments/capabilities/procurement/working-group.html">here</a>.</p></div>
</section>
<section class="slab-gray">
	<div class="layout-semibreve">
		<div class="badge-heading badge-gov badge-red" id="jumpstart">
			<h2>Jumpstart Guide: Five First Steps</h2>
		</div>
		<p>The procurement system is complicated, nuanced, and deeply entrenched — it can be hard to figure out where to start, especially if there's not already leadership support for procurement improvement in your municipality. If that's the case, we're here to help. Here are five manageable, meaningful first steps you can take today to start making progress towards improving procurement.</p>
			<ul>
				<li>Talk to stakeholders in your city about procurement improvement. Use these <a href="https://docs.google.com/a/codeforamerica.org/document/d/1mlsnhpGhSVfc3FIyCYoJJaAObo9Ve1QzT116D3C3feQ/edit">talking points</a> to start.</li>
				<li>Make information about opportunities to work with the city more accessible to local businesses and entrepreneurs. Create a website and a structured data feed listing small-dollar opportunities below the procurement threshold that local entrepreneurs might not otherwise be aware of. This <a href="http://bigideasphl.com/">example</a> from Philadelphia is a great place to start.</li>
				<li>Procurement rules and regulations vary widely between municipalities — formal procureent thresholds can be anywhere from $5,000 to upwards of $100,000. We're working to map out the procurement landscape around the country and understand how policies compare between cities. Help us by completing this quick <a href="https://codeforamerica.wufoo.com/forms/z4yn04w1g2j1iv/">survey </a> about your government's procurement process.</li>
				<li>Consider using some of these existing technology tools to improve the process.
					<ul>
						<li><a href="http://www.screendoor.io/">Screendoor.io</a> is a subscription-based tool that provides a streamlined, user-friendly interface for acquisition process. In an earlier pilot program with the federal government, procurements made through this system had a higher number of bids from vendors who had never worked with the government before, and bids were 30% lower on average than those received through the normal process.</li>
						<li><a href="http://smartprocure.us">SmartProcure</a> is free for government and offers purchase order data to let government users see what other agencies across the US are paying for the same items. By bringing greater transparency to government purchasing and allowing for more informed comparison shopping, many agencies have realized cost savings. </li>
						<li><a href="http://github.com">Github</a>, a popular social coding site, can be a useful platform to reach a new pool of potential providers for software deveopment-related procurements. Cities like <a href="http://civic.io/2013/03/27/experiments-in-github-based-procurement/">Philadelphia</a> have successfully posted RFPs and solicited bids through Github, generating high quality responses from vendors that might not usually work with government.</li>
					</ul>
				</li>
				<li>If your city isn't ready to join the Procurement Working Group, you can still join the <a href="http://codeforamerica.org/about/peernetwork/">Code for America Peer Network</a> as an individual government employee to connect with likeminded leaders and learn about best practices in procurement. It's entirely free, and up to you to decide when and how you want to participate.</li>
			</ul>
		</p>
	</div>
</section>
<section>
	<div class="layout-semibreve" id="casestudies">
	<div class="badge-heading badge-gov badge-blue">
    		<h2>What’s Working for Other Cities: Case Studies</h2>
	</div>
	<p>Cities around the country are already experimenting with innovative new approaches to procurement. While many of these initiatives are still in early stages, they are showing promising emergent outcomes — and demonstrating growing momentum around procurement from municipalities of all sizes.</p>

		{% include projects/barcelona-openbcn.html context="project-abstract" base="../.." %}

		{% include projects/kansas-city-innovation-partnership.html context="project-abstract" base="../.." %}

		{% include projects/nashville-boston-raleigh-palo-alto-multi-city-innovation-campaign.html context="project-abstract" base="../.." %}
		
		{% include projects/new-york-city-hhs-accelerator.html context="project-abstract" base="../.." %}
				
		{% include projects/philadelphia-fastfwd.html context="project-abstract" base="../.." %}
		
		{% include projects/portland-innovation-fund.html context="project-abstract" base="../.." %}

</section>
<section class="slab-gray">
	<div class="layout-semibreve how-to" id="advice">
		<div class="badge-heading badge-gov badge-red">
    			<h2>Ready to adapt one of these approaches in your city?</h2>
		</div>
		<p>Here are some patterns we’ve observed that worked in other cities to keep in mind as you get started on any procurement improvement initiative. We encourage you to apply to <a href="#join">join the Working Group</a> so that Code for America can support your efforts.</p>
		<h4>Bring the right people at the table</h4>
		<p class="desc">Key stakeholders, including representatives from the office of the city attorney and the procurement department, should be involved in any efforts from the beginning. Getting their buy-in and input early will help ensure you’re able to get the traction you need to create lasting change. Depending on your goals, you will likely want to involve other departmental stakeholders who have a vested interest in the procurement process.</p>
		<p class="recommendations icon-thumbs-up"><em>Recommendation: Set up regular meetings (e.g. monthly) with relevant staff members and quarterly meetings in a committee structure to (1) identify shared issues in procurement, and (2) develop a collaborative vision around common goals.</em></p>
		<h4>Get the lay of the land</h4>
		<p class="desc">The procurement process is complicated, convoluted, and unique to each city. It can be difficult for those who work in the city to understand how the whole system works, let alone those outside who might want to do business with the government. Once you’ve convened internal stakeholders, the first task should be conducting interviews with the city’s procurement specialists and departmental stakeholders to better understand the nuances and pain-points in the process.</p>
		<p class="recommendations icon-thumbs-up"><em>Recommendation: Prepare a case study of the city's procurement system that (1) maps out the business process for use by non-procurement actors and post it online; (2) identify the various points of and methods of data collection, storage, and sharing in the procurement process; and, (3) determine the actual length of time the procurement process requires at each stage.</em></p>
		<h4>Look for low-hanging fruit</h4>
		<p class="desc">Once you have a complete picture of how the system works, you can start to identify potential areas for innovation. Several cities have started by leveraging their procurement thresholds (purchases under a certain dollar amount don’t have to go through the standard procurement process) as a means to explore new approaches. The levels of these thresholds vary between municipalities, from as little as $5,000 to upwards of $100,000. By focusing on these procurements below the threshold, at least initially, agencies can more easily test new ideas, support early stage companies, and adopt a flexible approach to solution implementation.</p>
		<p class="recommendations icon-thumbs-up"><em>Recommendation: After mapping out the procurement system to understand the constraints of your municipality’s procurement policy, identify points where there is the most flexibility — for example, under certain dollar thresholds. Consider how you can leverage this to pilot new approaches.</em></p>
		<h4>Involve the community</h4>
		<p class="desc">Often, one of the goals is to streamline the bidding process for entrepreneurs who might be eligible to do business with the government and expand the pool of vendors your city can work with. To understand the existing obstacles and barriers to this, you should engage with outside stakeholder like local startup community groups.</p>
		<p class="recommendations icon-thumbs-up"><em>Recommendation. Launch a series of roundtables and community outreach efforts to engage and receive feedback to determine needs and obstacles to small businesses who want to do business with the government. If possible, convene an ongoing task-force or committee comprised of the community actors to serve as a point of outreach to the community. Work with these community actors to beta test new external-facing processes, systems, or tools as they’re developed.</em></p>
		<h4>Refine your focus and desired outcomes</h4>
		<p class="desc">There’s a lot of aspects to procurement that could be improved. Keep it manageable by defining a focus on a single pain point and obstacle in the procurement process. Align this focus with goals and priorities that matter to stakeholders — such as saving money, reaching more qualified vendors, or supporting local startups — and be clear about what you’re trying to achieve and how you’ll measure it.</p>
		<p class="recommendations icon-thumbs-up"><em>Recommendation: Based on research and conversations with internal and external stakeholders, choose a clearly defined problem to focus on addressing first. Identify key metrics that will help you measure if your initiative is achieving the desired goals, and consistently track and report on those metrics.</em></p>
	</div>
</section>
<section class="layout-breve layout-centered">
           
                <h3>This work supported by:</h3>
    
                <ul class="list-logos">
                    <li>
                        <a href="http://www.omidyar.com/">
                            <img src="../../../media/images/about_peernetwork/omidyar_network.jpg">
                        </a>
                    </li>
                </ul>
</section>
