---
layout: default
title: CfA Board
nav_tier1_active: "about"
masthead-image: "../../media/images/about/team/team_header.jpg"
nav-breadcrumbs:
 - Who We Are: "/about"
 - CfA Board: "/about/board"
---
    
        <section>
            <div class="layout-semibreve">

                <header class="badge-heading badge-brigade badge-blue">
                    <h2>Who We Are</h2>
                </header>

                <section>
                    <div class="layout-gutters isolate">
                        <!--<p>Code for America was founded in 2009 by Jennifer Pahlka with the intent to reinvigorate local government using the people and power of the web. We believe that government innovators, tech-savvy citizens, and civic tech startups, can help us build governments that are by the people, for the people, that work in the 21st Century.</p>-->

                        <p>Our team is made up of web geeks, city experts, and technology industry leaders, who are dedicated to improving their communities. We’re looking for creative, collaborative people to help.</p>

                        <ul class="list-inline list-no-bullets layout-centered">
                            <li><a href="#board" class="button">Board of Directors</a></li>
                            <li><a href="#advisory-board" class="button">Advisory Board</a></li>
                        </ul>
                    </div>
                </section>

                <section>
                    <div class="layout-breve">
                        <h2 class="layout-centered h3 isolate" id="board">Board of Directors</h2>

                        <ul class="layout-grid">
                            <li class="layout-crotchet">
                                {% include people/jennifer-pahlka.html context="about-team" base="../.." %}
                            </li>
                            <li class="layout-crotchet">
                                {% include people/john-lilly.html context="about-team" base="../.." %}
                            </li>
                            <li class="layout-crotchet">
                                {% include people/stacy-donohue.html context="about-team" base="../.." %}
                            </li>
                            <li class="layout-crotchet">
                                {% include people/nigel-jacob.html context="about-team" base="../.." %}
                            </li>
                            <li class="layout-crotchet">
                                {% include people/tim-oreilly.html context="about-team" base="../.." %}
                            </li>
                            <li class="layout-crotchet">
                                {% include people/shona-brown.html context="about-team" base="../.." %}
                            </li>
                            <li class="layout-crotchet">
                                {% include people/brett-goldstein.html context="about-team" base="../.." %}
                            </li>
                        </ul>
                    </div>
                </section>

                <section>
                    <div class="layout-breve">
                        <h2 class="layout-centered h3 isolate" id="advisory-board">Advisory Board</h2>

                        <ul class="layout-grid">
                            <li class="layout-crotchet">
                                {% include people/eric-ries.html context="about-team" base="../.." %}
                            </li>
                            <li class="layout-crotchet">
                                {% include people/andrew-greenhill.html context="about-team" base="../.." %}
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            {% include speaking-requests.html ga-tracking-label="Clicked from board page" slab-layout="true" %}
            <!--@main-->
        </section>
