<!-- Load underscore for templating -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

<!-- Template for blog posts -->
<script type="text/x-template" id="blogTemplate">

  <%

  // Grab the first post with an image so we can feature it
  var featuredPost = _.find( posts, function(post){
    return post.featured_image !== null;
  });

  if (featuredPost) {
    // Filter out the featured post, so we don't post it twice
    var otherPosts = _.reject( posts, function(post){
      return featuredPost.ID == post.ID;
    });
  } else {
    var otherPosts = posts;
  }
  %>

  <section class="slab-gray">
    <div class="layout-semibreve">
      <header class="badge-heading badge-orange badge-fellowship">
        {% if page.helpers.blogpost.title %}
          <h2>{{ page.helpers.blogpost.title }}</h2>
        {% else %}
          <h2>Related blog posts</h2>
        {% endif %}
      </header>

      <% if (featuredPost) { %>
      <style>
      div.featured-header:before {
        background-image: url("<%= featuredPost.featured_image.guid %>");
      }
      </style>

      <article id="post-<%= featuredPost.ID %>" class="post-<%= featuredPost.ID %> post format-featured">
        <div class="featured-header">
          <div class="featured-content">
            <h6>Featured Post</h6>
            <h2><a href="<%= featuredPost.link %>"><%= featuredPost.title %></a></h2>
            <% var content = stripHTML( featuredPost.content );
               var excerpt = toExcerpt( content, 100 ); %>
            <p>
              <%= excerpt %>
              <a class="more-link" href="http://www.codeforamerica.org/blog/2015/01/26/doing-a-powerful-force-for-change/">[Continue Reading]</a>
            </p>
          </div>
        </div>
      </article>
      <% } %>

      <div class="layout-gutter">
        <% _.each(otherPosts, function(post){ %>
        <article id="post-<%= post.ID %>" class="post-<%= post.ID %> post type-post status-publish format-standard hentry post-preview">
          <header class="post-header isolate">
            <h2 class="entry-title">
              <a href="<%= post.link %>" rel="bookmark"><%= post.title %></a>
            </h2>
          </header>

          <div class="text-whisper info">
            <span>Posted on </span>
            <% var date = makePrettyDate( post.date ); %>
            <time class="post-date insulate text-whisper published" datetime="<%= post.date %>"><%= date %></time>
            <span> by </span>
            <span class="post-author vcard">
              <a class="url fn n" href="http://www.codeforamerica.org/blog/author/<%= post.author.slug %>/"><%= post.author.name %></a>
            </span>
          </div>

          <div class="post-body">
            <div class="post-content">
              <% var content = stripHTML( post.content );
                 var excerpt = toExcerpt( content, 220 ); %>
              <p>
                <%= excerpt %>
                <a class="more-link" href="<%= post.link %>">Continue Reading</a>
              </p>
            </div>
          </div><!-- .post-body -->
        </article>
        <% }); /* end _.each */ %>

      </div><!-- end .layout-gutter -->
    </div><!-- end .layout-semibreve -->
    <br /><br />
  </section>
</script>

<!-- Handle our call to the WordPress API, bunle and inject into page -->
<script type="text/javascript">
    var stripHTML = function(html) {
    // Thanks to: http://stackoverflow.com/questions/822452/strip-html-from-text-javascript

    // Stripping the legal HTML tags
    html = html.replace(/<[^>]*>/g, '');

    // Escaping the remaining characters
    var div = document.createElement('div');
    div.textContent = html;
    return div.innerHTML;
  }

  var toExcerpt = function(content, length) {
    // content shouldn't have any html tags

    // Get the first 200 characters
    var excerpt = content.substring(0,length);

    // Add some dots
    excerpt += '...';

    return excerpt;
  }

  var makePrettyDate = function(date) {
    // date is a string, let's make it a date object
    var dateObject = new Date(date);

    // Make an array of the months, so we can get the month by name
    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    // Grab the month name out of the array
    var month = months[dateObject.getMonth()];

    // Get the day and year
    var day = dateObject.getDay();
    var year = dateObject.getFullYear();

    // Return the date
    prettyDate = month + " " + day + ", " + year;
    return prettyDate;
  }

  var handlePosts = function(data, template, target) {
    // If the endpoint gave us any data
    if (data.length > 0) {
      // Build the template
      var template = _.template(
        $(template).html(),
        { variable: 'posts' }
      );

      // Write the template to DOM
      $(target).html(
        template(data)
      );

      return true;
    } else {
      console.log('No data in endpoint: {{ page.helpers.blogpost.category }}');
      return false;
    }
  }

  $(document).ready(function(){
    // Where to grab the data from
    var url = "http://www.codeforamerica.org/blog/wp-json/posts?filter[category_name]={{ page.helpers.blogpost.category }}&filter[posts_per_page]={{ page.helpers.blogpost.max_post_count }}";
    // ID to grab our template from
    var template = "#blogTemplate";
    // Where to send the html generated from the data and template
    var target = "#js-blogposts";

    var getPosts = $.getJSON( url, function(data) {
      handlePosts(data, template, target);
    })
    .fail(function(error){
      console.log('failed to get' + url)
    });
  });

</script>
