{% if include.context == 'footer' %}

<form class="signup-global email-entry-form" action="//codeforamerica.us2.list-manage.com/subscribe/post?u=d9acf2a4c694efbd76a48936f&amp;id=3ac3aef1a5" name="mc-embedded-subscribe-form" method="post" target="_blank">
  <h4><i class="icon-envelop"></i>Change your community. Join our email list.</h4>
  <span class="combined">
    <input type="email" name="email" id="mce-email" placeholder="Enter your email address" />
    <input type="submit" value="Submit" class="button-invert text-whisper white" />
  </span>
</form>

{% else %}

<form class="email-entry-form" action="//codeforamerica.us2.list-manage.com/subscribe/post?u=d9acf2a4c694efbd76a48936f&amp;id=3ac3aef1a5" method="post" target="_blank">
  <ul class="list-form">
    <li class="form-field">
      <input type="email" name="email" class="signup-email" placeholder="Enter your email address" />
    </li>
    <input type="submit" value="Sign up" />
  </ul>
</form>

{% endif %}