{% comment %}

This modal is loaded on all pages and hidden by default.
It serves as a confirm screen and data entry form for our global-footer mailing list.

{% endcomment %}

<div id="modal-email-signup" class="modal">
	<div class="modal-backdrop"></div>
	<section class="modal-dialog">
		<h2>Help us send you great stuff</h2>
		<p>We'll use this information to tailor our content to your interests.</p>
		<form id="email-signup" action="#">
			<ul class="list-form">
				<li class="form-field">
					<label for="email">Email*</label>
					<input type="email" id="mce-EMAIL" name="mce-EMAIL" placeholder="email@domain.com" />
				</li>
				<li class="form-field">
					<label for="firstname">First name*</label>
					<input type="text" id="mce-FIRSTNAME" name="mce-FIRSTNAME" placeholder="Jane" />
				</li>
				<li class="form-field">
					<label for="lastname">Last name*</label>
					<input type="text" id="mce-LASTNAME" name="mce-LASTNAME" placeholder="Doe" />
				</li>
				<p>
					<legend>Check all that apply:</legend>
				</p>
				<li>
					<label for="checkbox10"><input id="checkbox10" name="checkbox" type="checkbox" /> I work in government</label>
				</li>
				<li>
					<label for="checkbox11"><input id="checkbox11" name="checkbox2" type="checkbox" /> I attend Brigade events</label>
				</li>
				<div class="button-group">
					<input type="submit" class="primary-button" value="Submit" />
					<input type="button" class="button button-subtle js-modal-exit" value="Cancel"/>
				</div>
			</ul>
		</form>
		<a href="#" class="modal-exit js-modal-exit">X</a>
	</section>
</div>