{% if include.context == 'card' %}
  
{% else %}
    <h2>Enlist the Fellows</h2>
    <p>The Fellows are expert technologists who apply <a href="/governments/principles/">21st Century Government Principles</a> to important problems, focused on health, economic development and safety &amp; justice.</p>
    <p>Applications to become a 2016 Fellowship government partner are open. Get caught up on the program and start a conversation with us.</p>
    <p><a href="/governments/fellowship/" class="button button-bold">Learn more</a></p>
{% endif %}