<div class="global-footer" id="global-footer">
    
    <div class="layout-breve layout-tight">
    
        <div class="search-global">
            <input type="search" placeholder="Search" />
        </div>
    
        <nav class="nav-footer">
            <ul>
                <li class="nav-tier1"><a class="nav-heading" href="/_site/about/">About</a>
                    <ul class="nav-tier2">
                      <li><a href="/_site/programs/">What we do</a></li>
                      <li><a href="http://annual.codeforamerica.org/">Annual report</a></li>
                      <li><a href="http://www.codeforamerica.org/press/">Press</a></li>
                        <li><a href="http://www.codeforamerica.org/supporters/">Supporters</a></li>
                        <li><a href="http://www.codeforamerica.org/jobs/">Jobs</a></li>
                        <li><a href="http://www.codeforamerica.org/contact/">Contact</a></li>
                    </ul>
                </li>
                <li class="nav-tier1"><a class="nav-heading" href="http://www.codeforamerica.org/who-we-are/">Who we are</a>
                    <ul class="nav-tier2">
                        <li><a href="#">Board</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Staff</a></li>
                        <li><a href="#">City Partners</a></li>
                        <li><a href="#">Brigade captains</a></li>
                    </ul>
                </li>
                <li class="nav-tier1"><a class="nav-heading" href="#">Programs</a>
                    <ul class="nav-tier2">
                        <li><a href="/_site/fellows/">Fellowship</a></li>
                        <li><a href="/_site/brigade/">Brigade</a></li>
                      <li><a href="/_site/startups/">Startup</a></li>
                      <li><a href="/_site/international">International</a></li>
                        <li><a href="/_site/peernetwork">Peer Network</a></li>           
                    </ul>
                </li>
                <li class="nav-tier1"><a class="nav-heading" href="/_site/donate/">Donate</a>
                    <ul class="nav-tier2">
                        <li><a href="#">Financial Contributions</a></li>
                        <li><a href="#">In-Kind Donations</a></li>
                    </ul>
                </li>
                <li class="nav-tier1"><a class="nav-heading" href="#">Social</a>
                    <ul class="nav-tier2">
                        <li><a href="#" class="icon-facebook">Facebook</a></li>
                        <li><a href="#" class="icon-twitter">Twitter</a></li>
                        <li><a href="#" class="icon-youtube">YouTube</a></li>
                        <li><a href="#" class="icon-github2">GitHub</a></li>
                        <li><a href="#" class="icon-feed">RSS</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    
    </div>

</div>

<div class="global-foot">
    <div class="layout-tight layout-breve">
        <div class="global-foot-content">
            <img class="global-foot-logo" src="/_assets/logo-inversed.png" />
            <small>Code for America Labs, Inc is a non-partisan, non-political 501(c)(3) organization. Content is licensed through Creative Commons.</small>
        </div>
    </div>
</div>