<!-- Load jQuery 1.x -->
<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<!-- Load Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20825280-1', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

</script>
<!-- Load our scripts -->
<script src="/script/global.js"></script>
<!-- If requested in page frontmatter, load form helpers -->
{% if page.helpers.forms %}
  {% include form-helpers.html %}
{% endif %}
<!-- If requested in page frontmatter, load blogpost script helpers -->
{% if page.helpers.blogpost %}
  {% include blogpost-helpers.html %}
{% endif %}
<!-- If requested, load underscore -->
{% if page.helpers.underscore %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
{% endif %}
<script src="/script/email-signup.js"></script>
<!-- Ethnio Activation Code -->
<script type="text/javascript" language="javascript" src="//ethn.io/30340.js" async="true" charset="utf-8"></script>
<!-- Params.js -->
<script src="/script/params.js"></script>
<!-- Load scripts from the page, if there are any -->
{% if page.jquery-scripts %}
  {{ page.jquery-scripts }}
{% endif %}
