<div class="global-footer" id="global-footer">

  <div class="layout-breve layout-tight">

    <form class="search-global" id="search-global" action="https://www.google.com/search" method="get" role="search">
        <input type="search" id="search-global-input" class="search-global-input" autocomplete="off" placeholder="Search" name="q" />
        <!-- consider applying autofocus="autofocus" to input -->
        <button class="search-global-submit" id="search-global-submit" value="www.codeforamerica.org" type="submit" name="as_sitesearch">Search</button>
    </form>

    <nav class="nav-footer" role="navigation">
      <ul>
        <li class="nav-tier1"><a class="nav-heading" href="/">Home</a></li>
        <li class="nav-tier1"><a class="nav-heading" href="/about/">About</a>
          <ul class="nav-tier2">
            <li><a href="/governments">Government Partners</a></li>
            <li><a href="/about/team">Team</a></li>
            <li><a href="/about/board">Board</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="/about/financial-information">Financials</a></li>
            <li><a href="/contact">Contact</a></li>
            <!-- Do we need these? -->
            <li><a href="/about/fellowship">Fellowship</a></li>
            <li><a href="/brigade/about">Brigade</a></li>
            <li><a href="/about/international">International</a></li>
          </ul>
        </li>
        <li class="nav-tier1"><a class="nav-heading" href="/practices/">21st Century Gov't Practices</a>
          <ul class="nav-tier2">
            <li><a href="/practices/design">User centered design</a></li>
            <li><a href="/practices/engagement">Community engagement</a></li>
            <li><a href="/practices/iterate">Iterative development</a></li>
            <li><a href="/practices/data-driven">Data-driven decision making</a></li>
            <li><a href="/practices/open">Open government</a></li>
            <li><a href="/practices/team-building">Team building</a></li>
            <li><a href="/practices/procurement">Procurement</a></li>
          </ul>
        </li>
        <li class="nav-tier1"><a class="nav-heading" href="/join/">What You Can Do</a>
          <ul class="nav-tier2">
            <li><a href="/governments/fellowship">Be a gov partner</a></li>
            <li><a href="/geeks/fellowship-apply">Become a fellow</a></li>
            <li><a href="/support-us">Fund our work</a></li>
            <li><a href="/brigade">Volunteer your skills</a></li><!-- i.e Brigade -->
            <li><a href="/our-work/initiatives/talent">Work in government</a></li>
            <li><a href="http://awards.codeforamerica.org">Get your company recognized</a></li><!-- i.e. Companies/Awards -->
            <li><a href="/apps">Use our products</a></li><!-- i.e. Apps -->
          </ul>
        </li>
        <li class="nav-tier1"><a class="nav-heading" href="/focus">Where We Focus</a>
          <ul class="nav-tier2">
            <li><a href="/focus/health">Health</a></li>
            <li><a href="/focus/safety-justice">Safety and Justice</a></li>
            <li><a href="/focus/economic-development">Economic Development</a></li>
            <li><a href="/focus/communications-engagement">Communications and Engagement</a></li>
          </ul>
        </li>
        <li class="nav-tier1"><a class="nav-heading" href="/support-us/">Support Us</a>
          <ul class="nav-tier2">
            <li><a href="/supporters/">Our Supporters</a></li>
            <li><a href="/support-us/">Become a Supporter</a></li>
            <li><a href="https://secure.codeforamerica.org/page/contribute/default?source_codes=footer-donate-link/">Donate Now</a></li>
          </ul>
        </li>
        {% comment %}We may not need social for now down here
        <li class="nav-tier1"><a class="nav-heading">Social</a>
          <ul class="nav-tier2">
            <li><a href="https://www.facebook.com/codeforamerica" class="icon-facebook">Facebook</a></li>
            <li><a href="https://twitter.com/codeforamerica" class="icon-twitter">Twitter</a></li>
            <li><a href="http://www.youtube.com/user/CodeforAmerica" class="icon-youtube">YouTube</a></li>
            <li><a href="https://github.com/codeforamerica" class="icon-github2">GitHub</a></li>
            <li><a href="http://codeforamerica.tumblr.com/" class="icon-tumblr">Tumblr</a></li>
            <li><a href="http://www.flickr.com/photos/codeforamerica" class="icon-flickr">Flickr</a></li>
            <li><a href="http://www.codeforamerica.org/feed/" class="icon-feed">RSS</a></li>
          </ul>
        </li>
        {% endcomment %}
      </ul>
    </nav>
  </div>
</div>

<div class="global-foot" role="contentinfo">
  <div class="layout-tight layout-breve">
    <div class="global-foot-content">
      <img class="global-foot-logo" src="/assets/logo-inversed.png" alt="Code for America logo" />
      <small>Code for America Labs, Inc is a non-partisan, non-political 501(c)(3) organization. EIN number 27-1067272. Content is licensed through Creative Commons.<br/>
      Provide website feedback <a href="https://github.com/codeforamerica/codeforamerica.org/issues/new">on GitHub</a> or to <a href="mailto:info@codeforamerica.org">info@codeforamerica.org</a>.</small>
    </div>
  </div>
</div>
