<div class="global-footer" id="global-footer">
    
    <div class="layout-breve layout-tight">
    
        <div class="search-global">
            <input type="search" placeholder="Search" />
        </div>
    
        <nav class="nav-footer">
            <ul>
                <li class="nav-tier1"><a class="nav-heading" href="#">Home</a></li>
                <li class="nav-tier1"><a class="nav-heading" href="#">About</a>
                    <ul class="nav-tier2">
                        <li><a href="#">Who we are</a></li>
                        <li><a href="#">Programs</a></li>
                        <li><a href="#">Donors</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </li>
                <li class="nav-tier1"><a class="nav-heading" href="#">Fellows</a>
                    <ul class="nav-tier2">
                        <li><a href="#">Timeline</a></li>
                        <li><a href="#">Process</a></li>
                        <li><a href="#">Apply</a></li>
                    </ul>
                </li>
                <li class="nav-tier1"><a class="nav-heading" href="/cities">Governments</a>
                    <ul class="nav-tier2">
                        <li><a href="/cities/atlanta">Atlanta, GA</a></li>
                        <li><a href="/cities/charlotte">Charlotte, NC</a></li>
                        <li><a href="/cities/chattanooga">Chattanooga, TN</a></li>
                        <li><a href="/cities/denver">Denver, CO</a></li>
                        <li><a href="/cities/lexington">Lexington, KY</a></li>
                        <li><a href="/cities/longbeach">Long Beach, CA</a></li>
                        <li><a href="/cities/mesa">Mesa, AZ</a></li>
                        <li><a href="/cities/rhodeisland">Rhode Island</a></li>
                        <li><a href="/cities/sanantonio">San Antonio, TX</a></li>
                        <li><a href="/cities/sanjuan">San Juan, PR</a></li>
                    </ul>
                </li>
                <li class="nav-tier1"><a class="nav-heading" href="#">Donate</a>
                    <ul class="nav-tier2">
                        <li><a href="#">Financial Contributions</a></li>
                        <li><a href="#">In-Kind Donations</a></li>
                    </ul>
                </li>
                <li class="nav-tier1"><a class="nav-heading" href="#">Social</a>
                    <ul class="nav-tier2">
                        <li><a href="https://www.facebook.com/codeforamerica" class="icon-facebook">Facebook</a></li>
                        <li><a href="https://twitter.com/codeforamerica" class="icon-twitter">Twitter</a></li>
                        <li><a href="http://www.youtube.com/user/CodeforAmerica" class="icon-youtube">YouTube</a></li>
                        <li><a href="https://github.com/codeforamerica" class="icon-github2">GitHub</a></li>
                        <li><a href="http://codeforamerica.tumblr.com/" class="icon-tumblr">Tumblr</a></li>
                        <li><a href="http://www.flickr.com/photos/codeforamerica" class="icon-flickr">Flickr</a></li>
                        <li><a href="http://www.codeforamerica.org/feed/" class="icon-feed">RSS</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="global-foot">
    <div class="layout-tight layout-breve">
        <div class="global-foot-content">
            <img class="global-foot-logo" src="/assets/logo-inversed.png" />
            <small>Code for America Labs, Inc is a non-partisan, non-political 501(c)(3) organization. Content is licensed through Creative Commons.</small>
        </div>
    </div>
</div>
