<div class="global-footer" id="global-footer">
  
  <div class="layout-breve layout-tight">
  
    <form class="search-global" action="https://www.google.com/search" method="get">
        <input type="search" autocomplete="off" placeholder="Search" name="q" />
        <input name="as_sitesearch" value="www.codeforamerica.org" type="hidden" />
    </form>
  
    <nav class="nav-footer" role="navigation">
      <ul>
        <li class="nav-tier1"><a class="nav-heading" href="/">Home</a></li>
        <li class="nav-tier1"><a class="nav-heading" href="/about/">About</a>
          <ul class="nav-tier2">
            <li><a href="/about/fellowship/">Fellowship</a></li>
            <li><a href="/about/brigade/">Brigade</a></li>
            <li><a href="/about/startups/">Civic Startups</a></li>
            <li><a href="/about/peernetwork/">Peer Network</a></li>
            <li><a href="/about/international/">International</a></li>
            <li><a href="/about/board/">Board</a></li>
            <li><a href="/about/team/">Team</a></li>
            <li><a href="/supporters/">Supporters</a></li>
            <li><a href="/press/">Press</a></li>
            <li><a href="/jobs/">Jobs</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </li>
      
        <li class="nav-tier1"><a class="nav-heading" href="/governments/">Governments</a>
          <ul class="nav-tier2">
            <li><a href="/governments/atlanta/">Atlanta, GA</a></li>
            <li><a href="/governments/charlotte/">Charlotte, NC</a></li>
            <li><a href="/governments/chattanooga/">Chattanooga, TN</a></li>
            <li><a href="/governments/denver/">Denver, CO</a></li>
            <li><a href="/governments/lexington/">Lexington, KY</a></li>
            <li><a href="/governments/longbeach/">Long Beach, CA</a></li>
            <li><a href="/governments/mesa/">Mesa, AZ</a></li>
            <li><a href="/governments/rhodeisland/">Rhode Island</a></li>
            <li><a href="/governments/sanantonio/">San Antonio, TX</a></li>
            <li><a href="/governments/sanjuan/">San Juan, PR</a></li>
            <li><a href="/governments/alumni/">Alumni Partners</a></li>
            <li><a href="/about/peernetwork/">Peer Network</a></li>
            <li><a href="/governments/data-standards-faq/">Data Standards</a></li>
          </ul>
        </li>
          <li class="nav-tier1"><a class="nav-heading" href="/geeks/">Citizens</a>
          <ul class="nav-tier2">
            <li><a href="/geeks/our-geeks/">Our Geeks</a></li>
            <li><a href="https://github.com/codeforamerica">Our Code</a></li>
            <li><a href="/geeks/our-startups/">Our Startups</a></li>
            <li><a href="/events/">Events</a></li>
            <li><a href="https://github.com/codeforamerica/hack-requests">Requests</a></li>
          </ul>
        </li>
        
        <li class="nav-tier1"><a class="nav-heading" href="/geeks/">Companies</a>
          <ul class="nav-tier2">
            <li><a href="/geeks/our-geeks/">Our Companies</a></li>
            <li><a href="https://github.com/codeforamerica">Accelerator Apply</a></li>
            <li><a href="/geeks/our-startups/">Accelerator FAQ</a></li>
            <li><a href="/events/">Incubator FAQ</a></li>
            <li><a href="https://github.com/codeforamerica/hack-requests">Newsletter</a></li>
          </ul>
        </li>
        
        
           </li>
          <li class="nav-tier1"><a class="nav-heading" href="/our-work/">Our Work</a>
          <ul class="nav-tier2">
            <li><a href="/apps/local-service.html#nav-tabs">Local Service Apps</a></li>
            <li><a href="/apps/citizen-engagement.html#nav-tabs">Citizen Engagement Apps</a></li>
            <li><a href="/apps/free.html#nav-tabs">Free Apps</a></li>
            <li><a href="/apps/paid.html#nav-tabs">Paid Apps</a></li>
            <li><a href="/our-work/initiatives/">Initiatives</a></li>
            <li><a href="/our-work/data-formats/">Data Formats</a></li>
          </ul>
        </li>
        <li class="nav-tier1"><a class="nav-heading" href="/support-us/">Donate</a>
          <ul class="nav-tier2">
            <li><a href="/supporters/">Supporters</a></li>
            <li><a href="/donate/">Donate Now</a></li>
          </ul>
        </li>
        <li class="nav-tier1"><a class="nav-heading">Social</a>
          <ul class="nav-tier2">
            <li><a href="https://www.facebook.com/codeforamerica" class="icon-facebook">Facebook</a></li>
            <li><a href="https://twitter.com/codeforamerica" class="icon-twitter">Twitter</a></li>
            <li><a href="http://www.youtube.com/user/CodeforAmerica" class="icon-youtube">YouTube</a></li>
            <li><a href="https://github.com/codeforamerica" class="icon-github2">GitHub</a></li>
            <li><a href="http://codeforamerica.tumblr.com/" class="icon-tumblr">Tumblr</a></li>
            <li><a href="http://www.flickr.com/photos/codeforamerica" class="icon-flickr">Flickr</a></li>
            <li><a href="https://vimeo.com/codeforamerica" class="icon-vimeo2">Vimeo</a></li>
            <li><a href="http://www.codeforamerica.org/feed/" class="icon-feed">RSS</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="global-foot" role="contentinfo">
  <div class="layout-tight layout-breve">
    <div class="global-foot-content">
      <img class="global-foot-logo" src="/assets/logo-inversed.png" />
      <small>Code for America Labs, Inc is a non-partisan, non-political 501(c)(3) organization. EIN number 27-1067272. Content is licensed through Creative Commons.<br/>
      Provide website feedback <a href="https://github.com/codeforamerica/codeforamerica.org/issues/new">on GitHub</a> or to <a href="mailto:info@codeforamerica.org">info@codeforamerica.org</a>.</small>
    </div>
  </div>
</div>
