<div class="masthead masthead-l">
    <div class="masthead-hero">
        <img src="/_media/images/masthead-2.jpg" class="masthead-image"/>
    </div>
    <header class="layout-semibreve masthead-header">
        {% include /blocks/patterns/nav-breadcrumb.html %}
        <h1 class="page-title" >{% if page.path contains '_posts' %}
        Blogging [for America]
        {% else %}
        {{ page.title }}
        {% endif %}</h1>
    </header>
</div>

<div class="global-header">

    <div class="layout-breve layout-tight">
    
        <a href="/_site/home/" class="global-header-logo">
            <img src="/_assets/logo.png" />
        </a>
        
        <p class="skip-to-nav"><a href="#global-footer">Menu</a></p>
        
        <nav class="nav-global-secondary">
            <ul>
                <li class="nav-tier1 nav-has-children">
                    <a href="/_site/governments/">Governments</a>
                    <ul class="nav-tier2">
                        <li><a href="/_site/governments/">Current Governments</a></li>
                        <li><a href="#">Upcoming Governments</a></li>
                        <li><a href="#">Alumni Governments</a></li>
                        <li><a href="#">Apps &amp; APIs</a></li>
                    </ul>
                </li>
                <li class="nav-tier1 nav-has-children"><a href="/_site/citizens/">Citizens</a></li>
                <li class="nav-tier1 nav-has-children"><a href="/_site/apps/">Apps</a></li>
                <li><a href="/_site/donate/" class="button">Donate</a></li>
            </ul>
        </nav>
        
        
    
    </div>
    
</div>

<main role="main">