<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8">
    <title>Code for America</title>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6304652/777902/css/fonts.css" />
    <link rel="stylesheet" href="/_style/css/main.css">
    <link rel="stylesheet" href="/_style/css/layout.css" media="all and (min-width: 40em)">
    <link href="/_style/css/prism.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/_style/favicons/60x60/flag-red.png"/>
    
    
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if (lt IE 9)&(gt IE 6)&(!IEMobile)]>
    <link rel="stylesheet" href="/_style/css/layout.css" media="all">
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    {% if page.path contains '_posts' %}
	    <style type="text/css">
	    	.masthead:before {
	    		background-image: url('/_media/images/masthead/masthead-3.jpg');
	    	}
	    </style>
	    {% elsif page.masthead-image %}
	    <style type="text/css">
	    	.masthead:before {
	    		background-image: url('/_media/images/masthead/{{ page.masthead-image }}');
	    	}
	    </style>
    {% endif %}
    
</head>
    
<body>

<div class="js-container">

<nav class="nav-global-primary">
    <ul class="layout-breve layout-tight">
        <li><a href="/_site/blog/">Blog</a></li>
        <li><a href="/_site/library/">Library</a></li>
        <li>
            {% include /blocks/patterns/search-global.html %}
        </li>
    </ul>
</nav>