<div class="masthead {% if page.path contains '_posts' %}masthead-s{% else %}masthead-l{% endif %}">
    <div class="masthead-hero">
    	<div class="masthead-image" 
    		{% if page.masthead-image %}
    		style="background-image: url('/_media/images/masthead/{{ page.masthead-image }}')" 
    		{% elsif page.path contains '_posts' %} style="background-image: url('/_media/images/masthead/masthead-3.jpg')"
    		{% else %} style="background-image: url('/_media/images/masthead/masthead-2.jpg')"
    		{% endif %}>
    	
    	
    	</div>
    </div>
    <header class="layout-semibreve masthead-header">
        {% if page.path contains '_posts' %}
        <nav class="nav-breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li>Blog</li>
            </ul>
        </nav>
        {% else %}
        {% include /blocks/patterns/nav-breadcrumb.html %}
        {% endif %}
        <h1 class="page-title" >{% if page.path contains '_posts' %}
        Blogging [for America]
        {% else %}
        {{ page.title }}
        {% endif %}</h1>
    </header>
</div>

<div class="global-header">

    <div class="layout-breve layout-tight">
    
        <a href="/_site/home/" class="global-header-logo">
            <img src="/_assets/logo.png" />
        </a>
        
        <p class="skip-to-nav"><a href="#global-footer">Menu</a></p>
        
        <nav class="nav-global-secondary">
            <ul>
            	<li class="nav-tier1 nav-has-children">
            		<a href="/_site/about/">Who we are</a>
            	</li>
                <li class="nav-tier1 nav-has-children">
                    <a href="/_site/governments/">Governments</a>
                    {% if page.path contains 'governments' %}
                    <ul class="nav-tier2">
                        <li><a href="/_site/governments/">Current Governments</a></li>
                        <li><a href="/_site/governments/boston/">Upcoming Governments</a></li>
                        <li><a href="/_site/governments/boston/">Alumni Governments</a></li>
                        <li><a href="/_site/apps/">Apps &amp; APIs</a></li>
                    </ul>
                    {% endif %} 
                </li>
                <li class="nav-tier1 nav-has-children">
                	<a href="/_site/citizens/">Citizens</a>
                	{% if page.path contains 'citizens' %}
                	<ul class="nav-tier2">
                		<li><a href="#">Requests</a></li>
                		<li><a href="#">Code we Have</a></li>
                		<li><a href="#">Events</a></li>
                		<li><a href="#">Our geeks</a></li>
                	</ul>
                	{% endif %} 
                </li>
                <li class="nav-tier1">
                	<a href="/_site/apps/">Apps</a>
                </li>
                <li><a href="/_site/donate/" class="button">Donate</a></li>
            </ul>
        </nav>
        
        
    
    </div>
    
</div>

<main role="main">