<div class="masthead {% if page.path contains '_posts' %}masthead-s{% else %}masthead-l{% endif %}">
    <div class="masthead-hero">
    	<div class="masthead-image" 
    		{% if page.masthead-image %}
    		style="background-image: url('/_media/images/masthead/{{ page.masthead-image }}')" 
    		{% elsif page.path contains '_posts' %} style="background-image: url('/_media/images/masthead/masthead-3.jpg')"
    		{% endif %}>
    	</div>
    </div>
    <header class="layout-semibreve masthead-header" role="banner">
        {% if page.path contains '_posts' %}
        <nav class="nav-breadcrumbs" role="navigation">
            <ul>
                <li><a href="../../../home/">Home</a></li>
                <li>Blog</li>
            </ul>
        </nav>
        {% else %}
        {% include /blocks/patterns/nav-breadcrumb.html %}
        {% endif %}
        <h1 class="page-title" >{% if page.path contains '_posts' %}
        Blogging [for America]
        {% else %}
        {{ page.title }}
        {% endif %}</h1>
    </header>
</div>

<div class="global-header">
    
    <a href="{{page.base-url}}/home/" class="global-header-logo">
        <img src="{{page.base-url}}/../_assets/logo.png" />
    </a>
    
    <p class="skip-to-nav"><a href="#global-footer">Menu</a></p>
    
    <nav class="nav-global-secondary" role="navigation">
        <ul>
        	<li class="nav-tier1 nav-has-children">
        		<a href="{{page.base-url}}/about/" {% if page.path contains 'about' %}class="state-active"{% endif %}>Who we are</a>
        		{% if page.path contains 'about' %}
        		<ul class="nav-tier2">
        		    <li><a href="{{page.base-url}}/about/">Team</a></li>
        		    <li><a href="{{page.base-url}}/about/">Annual Report</a></li>
        		    <li><a href="{{page.base-url}}/about/">Supporters</a></li>
        		    <li><a href="{{page.base-url}}/about/">Press</a></li>
        		    <li><a href="{{page.base-url}}/about/">Contact</a></li>
        		</ul>
        		{% endif %} 
        	</li>
            <li class="nav-tier1 nav-has-children">
                <a href="{{page.base-url}}/governments/" {% if page.path contains 'governments' %}class="state-active"{% endif %}>Governments</a>
                {% if page.path contains 'governments' %}
                <ul class="nav-tier2">
                    <li><a href="{{page.base-url}}/governments/">Current Governments</a></li>
                    <li><a href="{{page.base-url}}/governments/boston/">Upcoming Governments</a></li>
                    <li><a href="{{page.base-url}}/governments/boston/">Alumni Governments</a></li>
                    <li><a href="{{page.base-url}}/apps/">Apps &amp; APIs</a></li>
                </ul>
                {% endif %} 
            </li>
            <li class="nav-tier1 nav-has-children">
            	<a href="{{page.base-url}}/citizens/" {% if page.path contains 'citizens' %}class="state-active"{% endif %}>Citizens</a>
            	{% if page.path contains 'citizens' %}
            	<ul class="nav-tier2">
            		<li><a href="#">Requests</a></li>
            		<li><a href="#">Code we Have</a></li>
            		<li><a href="#">Events</a></li>
            		<li><a href="#">Our geeks</a></li>
            	</ul>
            	{% endif %} 
            </li>
            <li class="nav-tier1">
            	<a href="{{page.base-url}}/apps/" {% if page.path contains 'apps' %}class="state-active"{% endif %}>Apps</a>
            </li>
            <li><a href="{{page.base-url}}/donate/" class="button">Donate</a></li>
        </ul>
    </nav>
        
</div>

<main role="main">