<!-- Place this data between the <head> tags of your website --> 
<meta name="description" content="Page description. No longer than 155 characters.">

<!-- Google Authorship and Publisher Markup --> 
<link rel="author" href="https://plus.google.com/+codeforamerica/posts"/>
<link rel="publisher" href="https://plus.google.com/+codeforamerica/about"/>

<!-- Schema.org markup for Google+ --> 
<meta itemprop="name" content="Code for America">
<meta itemprop="description" content="Code for America is working towards a government by the people, for the people, that works in the 21st century. We are a 501(c)3 non-profit that helps residents and governments harness technology to solve community problems.">
<meta itemprop="image" content="http://www.codeforamerica.org/assets/CfA_logo_metatag_square.png">

<!-- Twitter Card data --> 
<meta name="twitter:card" content="summary_large_image"> 
<meta name="twitter:site" content="@codeforamerica"> 
<meta name="twitter:title" content="Code for America"> 
<meta name="twitter:description" content="Code for America is working towards a government by the people, for the people, that works in the 21st century. We help residents and governments harness technology to solve community problems."> 
<meta name="twitter:creator" content="@codeforamerica"> 
<!-- Twitter summary card with large image must be at least 280x150px --> 
<meta name="twitter:image:src" content="http://www.codeforamerica.org/assets/CfA_logo_metatag_square.png">

<!-- Open Graph data --> 
<meta property="og:title" content="Code for America"> 
<meta property="og:type" content="article"> 
<meta property="og:url" content="http://www.codeforamerica.org">
<meta property="og:image" content="http://www.codeforamerica.org/assets/CfA_logo_metatag_square.png">
<meta property="og:description" content="Code for America is working towards a government by the people, for the people, that works in the 21st century. We are a 501(c)3 non-profit that helps residents and governments harness technology to solve community problems."> 
<meta property="og:site_name" content="Code for America"> 