{% if page.nav_tier1_active %}
    {% assign nav_tier1_active = page.nav_tier1_active %}
{% elsif include.nav_tier1_active %}
    {% assign nav_tier1_active = include.nav_tier1_active %}
{% else %}
    {% assign nav_tier1_active = false %}
{% endif %}

{% if page.masthead-class %}
    {% assign masthead-class = page.masthead-class %}
{% elsif include.masthead-class %}
    {% assign masthead-class = include.masthead-class %}
{% else %}
    {% assign masthead-class = "masthead-l" %}
{% endif %}

{% if page.masthead-image %}
    {% assign masthead-image = page.masthead-image %}
{% elsif include.masthead-image %}
    {% assign masthead-image = include.masthead-image %}
{% else %}
    {% assign masthead-image = false %}
{% endif %}

{% if page.nav-global-primary %}
    {% assign nav-global-primary = page.nav-global-primary %}
{% elsif include.nav-global-primary %}
    {% assign nav-global-primary = include.nav-global-primary %}
{% else %}
    {% assign nav-global-primary = false %}
{% endif %}

{% if page.masthead %}
    {% assign masthead = page.masthead %}
{% elsif include.masthead %}
    {% assign masthead = include.masthead %}
{% else %}
    {% assign masthead = false %}
{% endif %}


{% comment %}
      If we don't show the primary nav, we need an empty container so we can collapse the main nav on mobile screens
      This requirement is because of the nav collapse functionality in global.js
{% endcomment %}
<nav class="nav-global-primary"></nav>

{% comment %}
{% if page.sponsor-banner %}
<section>
  <div class="sponsor-banner" id="sponsor-banner">
    <p>Sponsored by:</p>
    <img id="sponsor-banner-image" src="/media/images/summit/2015/logos/socrata-cutout.png" alt="Summit sponsor logo">
  </div>
</section>
{% endif %}

{% if page.masthead-custom == "deep" %}
<div class="masthead masthead-custom masthead-{{ page.masthead-custom }}">

  <div class="masthead-hero">
    <div class="masthead-image"
      {% if masthead-image %}
      style="background-image: url('{{ masthead-image }}')"
      {% endif %}>
    </div>
  </div>

  <div class="masthead-nav">
    <ul class="list-no-bullets">
      <li class="masthead-nav-logo">
        <a class="logo-unstyled" href="/summit/"><img src="/media/images/summit/2015/summit-2015-logo-white.png"></a>
      </li>
      <div class="masthead-pages">
        <li class="masthead-nav-page">
          <a href="/summit/" {% if page.url == "/summit/index.html" %}class="active"{% endif %}>Home</a>
        </li>
        <li class="masthead-nav-page">
          <a href="/summit/videos/" {% if page.url == "/summit/videos/index.html" %}class="active"{% endif %}>Videos</a>
        </li>
        <li class="masthead-nav-page">
          <a href="/summit/schedule/" {% if page.url == "/summit/schedule/index.html" %}class="active"{% endif %}>Schedule</a>
        </li>
        <li class="masthead-nav-page">
          <a href="/summit/speakers/" {% if page.url == "/summit/speakers/index.html" %}class="active"{% endif %}>Speakers</a>
        </li>
        <li class="masthead-nav-page">
          <a href="/summit/supporters/" {% if page.url == "/summit/supporters/index.html" %}class="active"{% endif %}>Our Supporters</a>
        </li>
        <li class="masthead-nav-page">
          <a href="/summit/sponsor/" {% if page.url == "/summit/sponsor/index.html" %}class="active"{% endif %}>Become a Sponsor</a>
        </li>
        {% comment %}
        <!-- Hide these for now, because the Summit is actually going on! -->
        <li class="masthead-nav-page">
          <a href="/summit/justification/" {% if page.url == "/summit/justification/index.html" %}class="active"{% endif %}>Gov Justification Letter</a>
        </li>
        <li class="masthead-nav-page">
          <a href="/summit/#register">Register</a>
        </li>
        {% endcomment %}
      </div>
    </ul>
  </div>

  <div class="masthead-content">
    {% if page.title and page.headline %}
      <p class="masthead-content-overline">{{ page.title }}</p>
      <h1 class="masthead-content-title">{{ page.headline }}</h1>
    {% else %}
      <h1 class="masthead-content-title">{{ page.title }}</h1>
    {% endif %}

    {% if page.description %}
      <p class="masthead-content-description">{{ page.description }}</p>
    {% endif %}
  </div>

</div>
{% endif %}
{% endcomment %}

<!-- CUSTOM HEADER -->
<nav class="nav-global-primary"></nav>

<section class="slab-gray">
  <div class="summit-header layout-breve">
    <div class="masthead-nav">
      <p class="summit-overhead">The 2015 Code for America Summit is Over!</p>
      <p class="summit-secondary">We'll be back at the Oakland Marriott City Center Nov. 1 - 3, 2016 for the next CfA Summit. <a href="#" data-email-signup-button="true" data-email-headline="I want updates about Code for America and the 2016 Summit" data-email-description="Want to learn more about Code for America, including updates about registration and details for the 2016 Code for America Summit? Enter your information and we'll keep you up-to-date with the latest.">Sign up for our mailing list</a> to get notified when registration opens.</a>
      <ul class="list-no-bullets">
        <li class="masthead-nav-logo">
          <a class="logo-unstyled" href="/summit/"><img src="/media/images/summit/2015/summit-2015-logo-color.png" alt="Code for America Summit Logo"></a>
        </li>
        <div class="masthead-pages">
          <li class="masthead-nav-page">
            <a href="/summit/" {% if page.url == "/summit/index.html" %}class="active"{% endif %}>Home</a>
          </li>
          <li class="masthead-nav-page">
            <a href="/summit/videos/" {% if page.url == "/summit/videos/index.html" %}class="active"{% endif %}>Videos</a>
          </li>
          <li class="masthead-nav-page">
            <a href="/summit/schedule/" {% if page.url == "/summit/schedule/index.html" %}class="active"{% endif %}>Schedule</a>
          </li>
          <li class="masthead-nav-page">
            <a href="/summit/speakers/" {% if page.url == "/summit/speakers/index.html" %}class="active"{% endif %}>Speakers</a>
          </li>
          <li class="masthead-nav-page">
            <a href="/summit/supporters/" {% if page.url == "/summit/supporters/index.html" %}class="active"{% endif %}>Our Supporters</a>
          </li>
          <li class="masthead-nav-page">
            <a href="/summit/sponsor/" {% if page.url == "/summit/sponsor/index.html" %}class="active"{% endif %}>Become a Sponsor</a>
          </li>
        </div>
      </ul>
    </div><!-- end .masthead-nav -->
    <!-- <p class="summit-when"><i class="icon-calendar"></i>September 30 - October 2, 2015  &nbsp;&nbsp; <i class="icon-location"></i>Oakland Marriott City Center</p> -->
    <div class="summit-page-header">
      <!-- <p class="summit-page-overline">{{ page.title }}</p> -->
      <h1 class="summit-page-title">{{ page.headline }}</h1>
      <p class="summit-page-description">{{ page.description }}</p>
    </div>
  </div><!-- end .summit-header -->
</section>
