{% if page.nav_tier1_active %}
    {% assign nav_tier1_active = page.nav_tier1_active %}
{% elsif include.nav_tier1_active %}
    {% assign nav_tier1_active = include.nav_tier1_active %}
{% else %}
    {% assign nav_tier1_active = false %}
{% endif %}

<nav class="nav-global-primary">
  <ul class="layout-breve layout-tight">
    <li><a href="/">Code for America</a></li>
    <li>
      <form class="search-global" id="search-global" action="https://www.google.com/search" method="get" role="search">
          <input type="search" id="search-global-input" class="search-global-input" autocomplete="off" placeholder="Search" name="q" />
          <!-- consider applying autofocus="autofocus" to input -->
          <button class="search-global-submit" id="search-global-submit" value="www.codeforamerica.org" type="submit" name="as_sitesearch">Search</button>
      </form>
    </li>
  </ul>
</nav>

<!--div class="global-header-compact" role="banner">
  <a href="" class="global-header-logo">
      <img src="/assets/logo.png" />
  </a>

  <p class="global-header-tagline">Bringing together <strong>local governments</strong> and <strong>technologists</strong> <br />to make <strong>better cities for everyone</strong>

  </p>

  <p class="skip-to-nav"><a href="#global-footer">Menu</a></p>

  <nav class="nav-global-secondary">
    <ul>
      
      <li><a href="http://old.cfasummit.org" class="button">Past events</a></li>
    </ul>
  </nav>
</div-->

<div class="masthead masthead-l">
  <header class="layout-semibreve masthead-header">
    <h1 id="story-title" class="page-title">The CFA Summit</h1>
    <p id="story-content">The Annual Gathering of Civic Technology Leaders</p>
  </header>
</div>

<div class="global-header">  
  <a href="/" class="global-header-logo">
      <img src="/assets/logo.png">
  </a>
  <p class="skip-to-nav"><a href="#global-footer">Menu</a></p>

      
  <nav class="nav-global-secondary">
    <ul>
        <li class="nav-tier1 nav-has-children">
            <a href="/summit/2014/" {% if nav_tier1_active == "about" %}class="state-active"{% endif %}>2014 About</a>
        
            {% if nav_tier1_active == "about" %}
            <ul class="nav-tier2">
                <li><a href="/summit/2014/venue">2014 Venue</a></li>
                <li><a href="/summit/2014/contact">2014 Contact</a></li>
                <li><a href="http://old.cfasummit.org/about/">Past events</a></li>
            </ul>
            {% endif %}
        </li>
        <li class="nav-tier1 nav-has-children">
            <a href="/summit/2014/venue" {% if nav_tier1_active == "venue" %}class="state-active"{% endif %}>2014 Venue</a>
        </li>
        <li class="nav-tier1 nav-has-children">
            <a href="/summit/2014/speakers" {% if nav_tier1_active == "speakers" %}class="state-active"{% endif %}>2014 Speakers</a>
        </li>
        <li class="nav-tier1 nav-has-children">
            <a href="/summit/2014/sponsors" {% if nav_tier1_active == "sponsors" %}class="state-active"{% endif %}>2014 Sponsors</a>
        
            {% if nav_tier1_active == "sponsors" %}
            <ul class="nav-tier2">
                <li><a href="/media/docs/2014summitoverview.pdf">Prospectus</a></li>
            </ul>
            {% endif %}
        </li>
        <li>
            <a href="/library/tag/Summit+2014" class="button">Watch the 2014 Videos</a>
        </li>
    </ul>
  </nav>    
</div>
