<nav class="nav-global-primary">
  <ul class="layout-breve layout-tight">
    <li><a href="/blog">Blog</a></li>
    <li><a href="/library">Library</a></li>
    <li>
      <form class="search-global" id="search-global">
          <input type="search" id="search-global-input" class="search-global-input" autocomplete="off" placeholder="Search" name="search-global" />
          <!-- consider applying autofocus="autofocus" to input -->
          <button class="search-global-submit" id="search-global-submit" value="Search" type="submit" name="search-global">Search</button>
      </form>
    </li>
  </ul>
</nav>

<div class="masthead {% if page.masthead-class %}{{ page.masthead-class }}{% else %}masthead-l{% endif %}">
  <div class="masthead-hero">
    <div class="masthead-image" 
      {% if page.masthead-image %}
      style="background-image: url('{{ page.masthead-image }}')" 
      {% endif %}>
    </div>
  </div>
  <header class="layout-semibreve masthead-header">
    {% include nav-breadcrumbs.html %}
    <h1 class="page-title" >{{ page.title }}</h1>
  </header>
</div>

<div class="global-header">  
  <a href="/home" class="global-header-logo">
      <img src="/assets/logo.png" />
  </a>
  <p class="skip-to-nav"><a href="#global-footer">Menu</a></p>

  <nav class="nav-global-secondary">
    <ul>
      <li class="nav-tier1 nav-has-children">
        <a href="/about" {% if page.nav_tier1_active == "about" %}class="state-active"{% endif %}>About</a>
        {% if page.nav_tier1_active == "about" %}
        <ul class="nav-tier2">
            <li><a href="/contact">Contact</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="http://annual.codeforamerica.org">Annual Report</a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="/supporters">Supporters</a></li>
            <li><a href="/about/team">Team</a></li>
        </ul>
        {% endif %}
      </li>
      <li class="nav-tier1 nav-has-children">
        <a href="/cities" {% if page.nav_tier1_active == "governments" %}class="state-active"{% endif %}>Governments</a>
        {% if page.nav_tier1_active == "governments" %}
        <ul class="nav-tier2">
          <li><a href="/cities/data-standards-faq">Data Standards</a></li>
          <li><a href="/cities/alumni">Alumni Partners</a></li>
          <li><a href="/cities/2014-cities">2014 Partners</a></li>
        </ul>
        {% endif %}
      </li>
      <li class="nav-tier1 nav-has-children">
        <a href="/geeks" {% if page.nav_tier1_active == "citizens" %}class="state-active"{% endif %}>Citizens</a>  
        {% if page.nav_tier1_active == "citizens" %}
        <ul class="nav-tier2">
          <li><a href="https://github.com/codeforamerica/hack-requests">Requests</a></li>
          <li><a href="/geeks/events">Events</a></li>
          <li><a href="https://github.com/codeforamerica">Our Code</a></li>
          <li><a href="/geeks/our-geeks">Our Geeks</a></li>
        </ul>
        {% endif %}
      </li>
      <li class="nav-tier1">
        <a href="/apps" {% if page.nav_tier1_active == "apps" %}class="state-active"{% endif %}>Apps</a>
      </li>
      <li><a href="/donate" class="button">Support Our Work</a></li>
    </ul>
  </nav>    
</div>