<nav class="nav-global-primary">
  <ul class="layout-breve layout-tight">
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/library/">Library</a></li>
    <li>
          <!-- This form is in 2 different places on the main site template, so make sure IDs are unique each time it is used -->
      <form class="search-global" id="search-global">
          <input type="search" id="search-global-input" class="search-global-input" autocomplete="off" placeholder="Search" name="search-global" />
          <!-- consider applying autofocus="autofocus" to input -->
          <button class="search-global-submit" id="search-global-submit" value="Search" type="submit" name="search-global">Search</button>
      </form>
    </li>
  </ul>
</nav><!-- .nav-global-primary -->

<div class="masthead masthead-l">
  <div class="masthead-hero">
    <div class="masthead-image" 
      {% if page.masthead-image %}
      style="background-image: url('/media/images/{{ page.masthead-image }}')" 
      {% endif %}>
    </div>
  </div>
    <header class="layout-semibreve masthead-header">
      <nav class="nav-breadcrumbs">
        <ul>
          <li><a href="/">Home</a></li>
          {% for nav_hash in page.nav-breadcrumbs %}
            {% for link in nav_hash %}
              <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
              {% endfor %}
          {% endfor %}
        </ul>
      </nav>
      <h1 class="page-title" >{{ page.title }}</h1>
    </header>
  </div>

<div class="global-header">  
  <a href="/home/" class="global-header-logo">
      <img src="/assets/logo.png" />
  </a>
  <p class="skip-to-nav"><a href="#global-footer">Menu</a></p>

  <nav class="nav-global-secondary">
    <ul>
      <li class="nav-tier1 nav-has-children">
        <a href="/about/" >Who we are</a>   
      </li>
      <li class="nav-tier1 nav-has-children">
          <a href="/governments/" >Governments</a>          
      </li>
      <li class="nav-tier1 nav-has-children">
        <a href="/citizens/" class="state-active">Citizens</a>  
        <ul class="nav-tier2">
          <li><a href="#">Requests</a></li>
          <li><a href="#">Code we Have</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="../geeks/our-geeks/index.html">Our geeks</a></li>
        </ul>
      </li>
      <li class="nav-tier1">
        <a href="/apps/" >Apps</a>
      </li>
      <li><a href="/donate/" class="button">Donate</a></li>
    </ul>
  </nav>    
</div>