<div class="global-footer" id="global-footer">
    &nbsp;
</div>

<div class="global-foot" role="contentinfo">
  <div class="layout-tight layout-breve">
    <div class="global-foot-content">
      <img class="global-foot-logo" src="/assets/logo-inversed.png" />
      <small>Code for America Labs, Inc is a non-partisan, non-political 501(c)(3) organization. Content is licensed through Creative Commons.<br/>
      Provide website feedback <a href="https://github.com/codeforamerica/codeforamerica.org/issues/new">on GitHub</a> or to <a href="mailto:info@codeforamerica.org">info@codeforamerica.org</a>.</small>
    </div>
  </div>
</div>
