@mixin background-color($color, $opacity: 1) {
    /* fallback */
    background: $color;
    background: rgba($color, $opacity);
    }

@mixin color($color, $opacity: 1) {
    /* fallback */
    color: $color;
    color: rgba($color, $opacity);
    }

@mixin border-color($color, $opacity: 1) {
    /* fallback */
    border-color: $color;
    border-color: rgba($color, $opacity);
    }

/* Primary Colors */
$color-corporate-red: #CF1B41;    
$color-corporate-blue: #399FD3;
$color-corporate-gray: #6D6E71;
$color-corporate-black: #000;

/* Secondary Colors */
$color-dark-blue: #2F3D4A;
$color-light-blue: #7AB5D6;
$color-dark-gray: #494C49;
$color-medium-gray: #999595;
$color-light-gray: #E5E5E5;
$color-orange: #E87D2B;
$color-purple: #69579C;
$color-teal: #00A175;
$color-medium-blue: #4298BB;
$color-yellow: #FEDD44;
$color-white: #FFFFFF;