.global-footer {
    clear: both;
    }

.global-foot {
    @include background-color($color-corporate-black, 1);
    clear: both;
    color: white;
    padding: 1em 0;
    font-size: 1em;
    min-height: 45px;
    }

.global-foot-logo {
    width: 100px;
    position: absolute;
    margin: 0.3em 1em 0.3em 0;
    }

.global-foot small {
    margin: 0 0 0 120px;
    }