.global-footer {
    clear: both;
    @include background-color($color-gray, 1);
    border-top: 10px solid;
    @include border-color($color-blue, 1);
    @include color($color-white, 1);
    float: left;
    width: 100%;
    padding: 1.5em 0;
    }

.global-footer a:link,
.global-footer a:visited,
.global-footer a:hover,
.global-footer a:focus,
.global-footer a:active {
    @include color($color-white, 1);
    }

.global-footer .nav-footer {

    }

.global-footer .nav-footer ul,
.global-footer .nav-footer ul ul {
    @extend .list-no-bullets;
    margin: 0;
    }

.global-footer .nav-footer > ul {
    display: flex;
    padding: 0 2%;
    width: 96%;
    }



.global-footer .nav-footer .nav-tier1 {
    margin-left: 2%;
    flex: 1;
    }

.global-footer .nav-footer .nav-tier2 {
    @include color($color-light-gray, 1);
    }

.global-footer .nav-footer .nav-tier2 li {
    margin-bottom: 0.5em;
    }

.global-footer .nav-footer .nav-tier1:first-child {
    margin-left: 0;
    }

.global-footer .nav-footer .nav-heading {
    display: block;
    font-size: 1.3em;
    @include font-sans-bold;
    margin-bottom: 0.5em;
    }

.global-foot {
    @include background-color($color-black, 1);
    clear: both;
    color: white;
    padding: 1em 0;
    font-size: 1em;
    min-height: 45px;
    }

.global-foot-logo {
    width: 100px;
    position: absolute;
    margin: 0.3em 1em 0.3em 0;
    }

.global-foot small {
    margin: 0 0 0 120px;
    }
    