.global-header {
    padding: 1.5em 0;
    float: left;
    width: 100%;
    border-bottom: 1px solid;
    @include border-color($color-light-gray, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
    margin: 0;
    background-color: $color-white;
    z-index: 1;
    transition: 0.5s;
    transition-property: padding;
    }

@media (min-width: 40em) {
.global-header {
    
    }
}

.global-header-logo {
    margin: 0 auto;
    width: 8em;
    transition: 0.4s;
    }

    @media (min-width: 40em) {
    .global-header-logo {
        float: left;
        margin: 0;
        }
    }

.global-header .skip-to-nav {
    display: block;
    float: right;
    text-transform: uppercase;
    @include color($color-black, 1);
    @include font-sans-bold;
    font-size: 1.2em;
    margin: 0;
    }
    
    @media (min-width: 40em) {
    .global-header .skip-to-nav {
        display: none;
        }
    }

.global-header .skip-to-nav a {
    @include color($color-black, 1);
    border-bottom: none;
    padding: 1em 0;
    display: block;
    }

.global-header .skip-to-nav a:hover,
.global-header .skip-to-nav a:focus,
.global-header .skip-to-nav a:active {
    @include color($color-red, 1);
    }

.global-header .skip-to-nav a:after {
    content: (" ≡");
    font-size: 1.35em;
    vertical-align: text-bottom;
    }