/* Gridpak Beta CSS - http://gridpak.com/, Created by @erskinedesign */

.layout-col {
    border: 0px solid rgba(0,0,0,0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 100%;
    background-image: none;
    padding-left: 0;
    list-style-type: none;
    margin-left: 2%;
	/*padding: 0 1.5%;*/
	
    }



@media (min-width: 40em) {
    .layout-container,
    .layout-container-l {
    width: 96%;
    padding: 0 2%;
    }
}

@media (min-width: 60em) {
    .layout-container {
    width: 100%;
    padding: 0;
    }
    }

@media (min-width: 80em) {
    .layout-container-l {
    width: 96%;
    padding: 0;
    }
}


.layout-row .layout-col:first-child {
    margin-left: 0;
    }
    
    

.layout-colspan-1 {
    width: 9.33333333333%;
    }
    
    
.layout-colspan-2 {
    width: 20.6666666667%;
    }
        
    

    
    .layout-colspan-3 {
        width: 49.0%; /* 2 col */
        }
    

    @media (min-width: 50em) {
    
    .layout-colspan-3 {
        width: 32.0%; /* 3 col */
        }
    
    }
    
    
    .layout-colspan-4 {
        width: 43.3333333333%;
        }
    
    
    .layout-colspan-5 {
        width: 54.6666666667%;
        }
    
    
    .layout-colspan-6 {
        width: 66.0%;
        }
    
    
    
    .layout-colspan-7 {
        width: 77.3333333333%;
        }
    
    
    
    .layout-colspan-8 {
        width: 88.6666666667%;
        }
    

.layout-colspan-9 {
    margin-left: 0;
    width: 100%;
    }





.layout-grid {
    margin: 0;
    padding: 0;
    background-image: none;
    }

@media (min-width: 60em) {

.layout-gutter {
    padding-left: 12%;
    }

.layout-gutters {
    padding-left: 12%;
    padding-right: 12%;
    }

.layout-break-left {
    max-width: 127%;
    float: right;
    margin-bottom: 1em;
    }

.layout-break-left + * {
    clear: both;
    }
    

}

.layout-break-up {
    margin-top: -4em;
    }

@media (min-width: 40em) {

.layout-2col {
    float: left;
    width: 48.5%;
    }

.layout-2col + .layout-2col {
    float: right;
    }

}

@media (min-width: 40em) {

.layout-3col {
    float: left;
    width: 30%;
    margin-right: 5%
    }

.layout-3col + .layout-3col + .layout-3col {
    margin-right: 0;
    }

}


@media (max-width: 50em) {

.layout-grid .layout-colspan-3:first-of-type,
.layout-grid .layout-colspan-3:nth-of-type(2n+3) {
    margin-left: 0;
    clear: both;
    }

}


@media (min-width: 50em) {

.layout-grid .layout-colspan-3:first-of-type,
.layout-grid .layout-colspan-3:nth-of-type(3n+4) {
    margin-left: 0;
    clear: both;
    }

}






[class^="layout-list-col"] {
    margin: 0;
    padding: 0;
    }

.layout-list-col-2 {
    -webkit-columns: 2;
    }

.layout-list-col-3 {
    -webkit-columns: 3;
    }

.layout-list-col-4 {
    -webkit-columns: 4;
    }

.layout-list-col-5 {
    -webkit-columns: 5;
    }