.layout-col {
    border: 0px solid rgba(0,0,0,0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    width: 100%;
    background-image: none;
    padding-left: 0;
    list-style-type: none;
    margin-left: 2%;
    background-image: none;
    }

.layout-container,
.layout-container-l {
    width: 96%;
    padding: 0 2%;
    max-width: 80em;
    margin: 3em auto;
    }

.layout-row .layout-col:first-child {
    margin-left: 0;
    }

.layout-colspan-1 {
    width: 9.33333333333%;
    }

.layout-colspan-2 {
    width: 20.6666666667%;
    }
    
.layout-colspan-3 {
    width: 32.0%; /* 3 col */
    float: left;
    clear: none;
    }

.layout-grid {
    margin: 0;
    padding: 0;
    background-image: none;
    width: 100%;
    }

.layout-grid li {
    padding: 0;
    background-image: none;
    }

@media (min-width: 60em) {

    .layout-gutter {
        padding-left: 12%;
        }
    
    .layout-gutters {
        padding-left: 12%;
        padding-right: 12%;
        }
    
    .layout-break-left {
        max-width: 127%;
        float: right;
        margin-bottom: 1em;
        }
    
    .layout-break-left + * {
        clear: both;
        }
        
    }

.layout-break-up {
    margin-top: -4em;
    }

.layout-2col {
    float: left;
    width: 48.5%;
    }
    
.layout-2col + .layout-2col {
    float: right;
    }

.layout-3col {
    float: left;
    width: 30%;
    margin-right: 5%
    }
    
.layout-colspan-3 + .layout-colspan-3 + .layout-colspan-3 {
    margin-right: 0;
    }

.layout-grid .layout-colspan-3:first-of-type,
.layout-grid .layout-colspan-3:nth-of-type(3n+4) {
    margin-left: 0;
    clear: both;
    }

.layout-chimney-invert .chimney {
    padding: 2em 4%;
    margin: 1em 0 2em -4%;
    }

@media (min-width: 50em) {
    
    .layout-chimney-invert {
    width: 48%;
    position: relative;
    padding-right: 52%;
    }
    
    .layout-chimney-invert p:first-child {
    margin-top: 0;
    }
    
    .layout-chimney-invert .chimney {
    position: absolute;
    right: 0;
    top: 0;
    width: 42%;
    margin: -4em 0 0 0;
    }
    
}

.layout-chimney .chimney {
    padding: 2em 4%;
    margin: 1em 0 2em -4%;
    width: 90%;
    margin-left: 0;
    }

@media (min-width: 50em) {
    .layout-chimney {
    width: 48%;
    position: relative;
    padding-left: 52%;
    }
    .layout-chimney p:first-child {
    margin-top: 0;
    }
    .layout-chimney .chimney {
    position: absolute;
    left: 0;
    top: 0;
    width: 42%;
    margin: -4em 0 0 0;
    }
}

.layout-tight {
    margin: 0 auto;
    }

.layout-centered {
    text-align: center;
    }

@media (min-width: 50em) {
    .global-footer .nav-footer > ul {
    display: flex;
    }
    
    .global-footer .nav-footer .nav-tier1 {
    flex: 1;
    flex-basis: auto;
    margin-right: 4%;
    float: left;
    width: auto;
    }
}

@media (min-width: 60em) {
    .global-footer .search-global {
    float: right;
    width: 25%;
    margin-left: 0;
    }

    .global-footer .nav-footer {
    float: left;
    width: 73%;
    margin-right: 0;
    }

    .global-footer .nav-footer .nav-tier1:first-child {
    display: block;
    }
}