.layout-container {
    width: 92%;
    padding: 0 4%;
    max-width: 60em;
    margin: 0 auto;
    }

section.layout-container {
    margin: 3em auto;
    }

.section-blue {
    @include background-color($color-dark-blue, 1);
    }

.section-red {
    @include background-color($color-corporate-red, 1);
    }

.section-gray {
    @include background-color($color-light-gray, 0.5);
    }

[class*="section-"] {
    overflow: hidden; /* Need a better solution than this */
    clear: both;
    }