---
layout: default
title: Lexington
masthead-image: "../../media/images/governments/lexington_header.jpg"
nav_tier1_active: "governments"
nav-breadcrumbs:
 - Governments: "/cities"
 - Lexington: "/cities/lexington"
---
  
    <section> 
        <div class="layout-semibreve">
    
            {% include nav-breadcrumbs.html %}

            <header class="badge-heading badge-brigade badge-blue">
                <h2>
                    Lexington
                </h2>
            </header>
            <section>
                <div class="layout-semibreve">
                    <div class="layout-gutters">
                        <p>Lexington is known everywhere for its rich 238-year history and as the home of the best horses, best Bourbon and best college basketball (yes, that’s 8 NCAA championships). Take a closer look and you’ll find a dynamic mid-sized city with an exceptional quality of life. Home to one of the region’s leading research institutions, the University of Kentucky, as well as one of the nation’s oldest liberal arts colleges and a progressive community and technical college, Lexington is not just some college town…it’s a university city, where knowledge and creativity merge to create the perfect environment for innovation.</p>
                        <p>Named the fourth best city for “Businesses and Careers” in 2011 by Forbes Magazine, the city plays host to several large tech corporations including Xerox, Lexmark International and IBM, as well as numerous tech start-ups. Lexington’s ever-growing Code for America Brigade has more than 20 members and captains Chase Southard and Nick Such ensure that the group meets regularly for hackathons and discussions. For more on the group visit their <a href="http://www.meetup.com/cfabrigade/Lexington-KY/">Meetup Page</a>.</p>
                        <p>
                            <a href="http://www.meetup.com/cfabrigade/Lexington-KY/" class="button button-s">Code for Lexington</a>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </section>
            
    <section class="slab-blue"> 
        <div class="layout-semibreve">
            <div class="highlight highlight-with-avatar">
                <img class="highlight-avatar" src="../../media/images/governments/lexington_seal.png" alt="lexington_seal" /> 
                <blockquote>
                    <p>
                        In Lexington we’re building a Great American City by challenging ourselves to constantly strive for continuous improvement in all we do. We’re thrilled to have the opportunity to work with Code for America to better engage our citizens through innovation and technology.
                    </p>
                </blockquote>
                <p class="attribute">
                    Mayor Jim Gray, City of Lexington
                </p>
            </div>
        </div>
    </section>

    <section> 
        <div class="layout-semibreve">
            <header class="badge-heading badge-red badge-fellowship">
                <h2>
                    The 2014 Fellowship in Lexington
                </h2>
            </header>
            <div class="layout-gutters">
                <ul>
                    <li class="layout-crotchet">
                        {% include people/lyzi-diamond.html context="2014-fellows" base="../.." %}
                    </li>
                    <li class="layout-crotchet">
                        {% include people/erik-schwartz.html context="2014-fellows" base="../.." %}
                    </li>
                    <li class="layout-crotchet">
                        {% include people/livien-yin.html context="2014-fellows" base="../.." %}
                    </li>
                </ul>
                <p><b>Team Leads</b>: Shaye Rabold, Policy Advisor; Jamie Emmons, Chief of Staff; Derek Paulsen, Commissioner of Planning</p>
                <p><b>Community Partners</b>:</p>
                <ul>
                    <li>Ben Askren</li>
                    <li>Blue Grass Community Foundation</li>
                    <li>Churchill McGee, LLC</li>
                    <li>Columbia Gas</li>
                    <li>David Coomer</li>
                    <li>DMD Data Systems</li>
                    <li>Jim Gray</li>
                    <li>John and Donna Hall</li>
                    <li>Phil Holoubek</li>
                    <li>Lexington Convention and Visitors Bureau</li>
                    <li>Miller Wells, PLLC</li>
                    <li>Warren Rosenthal</li>
                    <li>Toyota</li>
                    <li>Xerox</li>
                    <li>Bingham McCutchen, LLP</li>
                    <li>Bob Babbage</li>
                    <li>John Cirigliano</li>
                    <li>Commerce Lexington</li>
                    <li>Kip Cornett</li>
                    <li>Florida Tile</li>
                    <li>Gray Construction</li>
                    <li>Debra Hensley’s Social Stimulus</li>
                    <li>Kentucky Utilities</li>
                    <li>Patrick Madden</li>
                    <li>QX.net</li>
                    <li>Ben and Becca Self</li>
                    <li>University of Kentucky</li>
                    <li>Chris Young</li>
                </ul>
                    
                <p>Follow the fellows' progress on their blog <a href="http://teambiglex.tumblr.com/">Team Big Lex</a></p>
            </div>
        </div>
    </section>

    <section class="slab-gray"> 
        <div class="layout-semibreve">
            <header class="badge-heading badge-orange badge-brigade">
                <h2>
                    Articles &amp; video
                </h2>
            </header>
            <ul class="teasers">
            
           <li class="layout-crotchet"> 
                <article class="teaser">
                    <a href="http://weku.fm/post/merging-technologies-and-community-ideas-further-lexington-s-neighborhoods/"><img class="teaser-image" src="../../media/images/press/feb2014_npr.jpg" alt="" /></a> 
                    <div class="teaser-description">
                        <h4 class="teaser-title">
                            Merging Technologies and Community Ideas to Further Lexington’s Neighborhoods – <a href="http://weku.fm/post/merging-technologies-and-community-ideas-further-lexington-s-neighborhoods">NPR</a>
                        </h4>
                        <div class="teaser-body">
                            <p>
                                Three technology specialists are working to offer suggestions on improving quality of life in Lexington neighborhoods. The bluegrass community was one of ten selected nationwide to participate in this year’s 'Code for America' project.
                            </p>
                        </div>
                    </div>
                </article>
                </li>

            
                            <li class="layout-crotchet"> 
                <article class="teaser">
                    <a href="http://bizlex.com/2014/02/code-for-america-fellows-get-to-work-on-lexington-issues/"><img class="teaser-image" src="../../media/images/press/feb2014_businesslexington.jpg" alt="" /></a> 
                    <div class="teaser-description">
                        <h4 class="teaser-title">
                            Lexington among 10 cities chosen to participate in technology program – <a href="http://bizlex.com/2014/02/code-for-america-fellows-get-to-work-on-lexington-issues/">Business Lexington</a>
                        </h4>
                        <div class="teaser-body">
                            <p>
                                Three fellows from Code for America that have been assigned to spend the next 10 months helping Lexington better use data and technology are spending the rest of their month in town getting a feel for the needs of the area.
                            </p>
                        </div>
                    </div>
                </article>
                </li>
                
                <li class="layout-crotchet"> 
                <article class="teaser">
                    <a href="http://www.wtvq.com/content/localnews/story/Code-for-America-Technologists-Arrive-in-Lexington/mu1FBESldUqO7OfNjnVBrw.cspx?rss=3441"><img class="teaser-image" src="../../media/images/press/feb2014_abc36.jpg" alt="" /></a> 
                    <div class="teaser-description">
                        <h4 class="teaser-title">
                            Code for America Technologists Arrive in Lexington – <a href="http://www.wtvq.com/content/localnews/story/Code-for-America-Technologists-Arrive-in-Lexington/mu1FBESldUqO7OfNjnVBrw.cspx?rss=3441">ABC36</a>
                        </h4>
                        <div class="teaser-body">
                            <p>
                                Mayor Jim Gray welcomed three Fellows from the Code for America Wednesday, as they set out to improve Lexington's quality of life.
                            </p>
                        </div>
                    </div>
                </article>
                </li>
                
                 <li class="layout-crotchet"> 
                <article class="teaser">
                    <a href="http://www.lanereport.com/29335/2014/02/code-for-america-fellows-arrive-in-lexington/"><img class="teaser-image" src="../../media/images/press/feb2014_lanereport.jpg" alt="" /></a> 
                    <div class="teaser-description">
                        <h4 class="teaser-title">
                            Code for America Fellows arrive in Lexington – <a href="http://www.lanereport.com/29335/2014/02/code-for-america-fellows-arrive-in-lexington">The Lane Report</a>
                        </h4>
                        <div class="teaser-body">
                            <p>
                                Mayor Jim Gray today welcomed three Fellows from Code for America, which calls itself the “Peace Corps for Geeks” because it brings superstar technologists into public service.The Fellows are starting a 10-month partnership that will focus on improving neighborhood quality of life in Lexington through more effective and interactive city government.
                            </p>
                        </div>
                    </div>
                </article>
                </li>
                
                <li class="layout-crotchet"> 
                <article class="teaser">
                    <a href="http://www.kentucky.com/2013/10/15/2877593/lexington-is-among-10-cities-participating.html"><img class="teaser-image" src="http://www.codeforamerica.org/wp-content/uploads/2013/10/lexington_press1.jpg" alt="" /></a> 
                    <div class="teaser-description">
                        <h4 class="teaser-title">
                            Lexington among 10 cities chosen to participate in technology program – <a href="../media/images/press/lexington-is-among-10-cities-participating.html">Lexington Herald Leader</a>
                        </h4>
                        <div class="teaser-body">
                            <p>
                                Lexington is one of 10 local governments to be chosen as a Code for America site — a program that links tech experts with local governments to find ways to streamline and improve government services through technology. During the past three years, the Code for America teams have developed 75 types of web applications for 20 city governments.
                            </p>
                        </div>
                    </div>
                </article>
                </li>
                
                <li class="layout-crotchet"> 
                <article class="teaser">
                    <a href="http://bizlex.com/2013/10/code-for-american-grants-lexington-three-tech-experts-for-civic-improvement/"><img class="teaser-image" src="../../media/images/press/lexington_press2.jpg" alt="" /></a> 
                    <div class="teaser-description">
                        <h4 class="teaser-title">
                            Code For America Grants Lexington Three Tech Experts for Civic Improvement – <a href="http://bizlex.com/2013/10/code-for-american-grants-lexington-three-tech-experts-for-civic-improvement/">Business Lexington</a>
                        </h4>
                        <div class="teaser-body">
                            <p>
                                Lexington is one of 10 local governments to be chosen as a Code for America site — a program that links tech experts with local governments to find ways to streamline and improve government services through technology. During the past three years, the Code for America teams have developed 75 types of web applications for 20 city governments.
                            </p>
                        </div>
                    </div>
                </article>
                </li>
            </ul>
        </div>
    </section>

