@charset "UTF-8";
/*  Elements ––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
  font-size: 16px;
  margin: 0;
  padding: 0;
}

@media print {
  body {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
details {
  display: block;
}

main {
  clear: both;
}

abbr {
  border-bottom: 1px dotted;
  border-color: #999595;
}

abbr:hover {
  cursor: help;
}

p,
ul,
ol,
dl {
  line-height: 27px;
  line-height: 1.6875rem;
  margin: 1em 0;
}

@media print {
  p,
  ul,
  ol,
  dl {
    line-height: 20px;
    line-height: 1.25rem;
  }
}
strong {
  font-weight: bold;
}

code,
.code {
  font-family: 'Courier New',Courier,monospace;
  background-color: #f5f2f0;
  padding: 2px 4px;
}

mark {
  background: #fedd44;
  padding: 0 0.1em;
  border-radius: 0.1em;
}

kbd {
  font-family: "Monaco", "Courier", monospace;
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.8);
  padding: 0.5em 0.5em 0.4em;
  border-radius: 0.3em;
}

pre {
  white-space: pre-wrap;
  max-width: 100%;
}

pre code {
  background-color: transparent;
  padding: inherit;
}

blockquote {
  color: #004b6a;
  background: #7ab5d6;
  background: rgba(122, 181, 214, 0.1);
  border: 1px solid;
  border-color: #e5e5e5;
  padding: 0.5em 5%;
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Georgia", Times, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.5px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3em;
}

@media print {
  blockquote {
    font-size: 14px;
    font-size: 0.875rem;
    margin: 28px 0;
    margin: 1.75rem 0;
    padding: 0 14px;
    padding: 0 0.875rem;
  }
}
blockquote p {
  line-height: 1.3em;
}

figure {
  margin: 0;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Georgia", Times, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.5px;
  font-weight: normal;
  margin: 0 0 0.5em 0;
}

h1,
.h1 {
  line-height: 1.2em;
  font-family: "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  display: block;
  clear: left;
  font-size: 50px;
  font-size: 3.125rem;
  letter-spacing: -3px;
}

h1 sup,
.h1 sup {
  font-size: 27px;
  font-size: 1.6875rem;
}

h2,
.h2 {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Georgia", Times, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.5px;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 44px;
  line-height: 2.75rem;
  text-transform: none;
}

@media print {
  h1,
  .h1,
  h2,
  .h2 {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 34px;
    line-height: 2.125rem;
  }
}
h3,
.h3 {
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Georgia", Times, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.5px;
  line-height: 1.15em;
}

@media print {
  h3,
  .h3 {
    font-size: 25px;
    font-size: 1.5625rem;
  }
}
h4,
.h4 {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Georgia", Times, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.5px;
}

h5,
.h5 {
  font-size: 17px;
  font-family: "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
  text-transform: uppercase;
}

h6,
.h6,
.text-quiet,
.text-whisper,
.heading-contrast {
  text-transform: uppercase;
  margin: 0;
  margin: 0 0 15px 0;
  margin: 0 0 0.9375rem 0;
  font-family: "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.8em;
  color: black;
  font-weight: normal;
  letter-spacing: 0.8px;
}

h2 {
  font-size: 25px;
  font-size: 1.5625rem;
}

h3 {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-top: 1.5em;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: #cf1b41;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  border-bottom: 1px solid;
  border-color: #cf1b41;
  border-color: rgba(207, 27, 65, 0.7);
}

main a {
  font-weight: 600;
}

main a:hover,
main a:focus,
main a:active {
  border-bottom: 1px solid;
  border-color: #cf1b41;
  border-color: rgba(207, 27, 65, 0.7);
}

@media print {
  main a:link:after,
  main a:visited:after {
    content: " [" attr(href) "] ";
  }
}
a img {
  border: none;
}

.link-unstyled:hover,
.link-unstyled:focus,
.link-unstyled:active {
  border-bottom: none;
}

.link-invert:link,
.link-invert:visited,
.link-invert:hover,
.link-invert:focus,
.link-invert:active,
.link-invert a:link,
.link-invert a:visited,
.link-invert a:hover,
.link-invert a:focus,
.link-invert a:active {
  color: #399fd3;
}

a.link-invert:hover,
a.link-invert:focus,
a.link-invert:active,
.link-invert a:hover,
.link-invert a:focus,
.link-invert a:active {
  border-bottom: 1px solid;
  border-color: #399fd3;
  border-color: rgba(57, 159, 211, 0.7);
}

img {
  max-width: 100%;
}

audio {
  margin: 16px 0;
  margin: 1rem 0;
}

video {
  margin: 16px 0;
  margin: 1rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2em;
}

caption {
  caption-side: bottom;
  color: #999;
  font-size: 0.75em;
  /* 12px */
  line-height: 1.3334;
  /* 16px */
  text-align: left;
  margin: 1em 0;
  /* 12px 0 */
}

td, th {
  text-align: left;
  border-bottom: 1px solid #e9e9e9;
  padding: 0.375em 2em 0.375em 0;
  /* 6px 32px 6px 0 */
  vertical-align: top;
}

th {
  font-weight: 700;
  padding-bottom: 0.5em;
  /* 8px */
  color: #6d6e71;
}

thead th {
  border-bottom: 2px solid #ddd;
}

tbody {
  border-bottom: 2px solid #e9e9e9;
}

tfoot,
thead {
  font-size: 1.5em;
  text-transform: uppercase;
}

tfoot tr:last-child td,
tfoot tr:last-child th {
  border-bottom: none;
}

.table-unstyled tbody,
.table-unstyled td,
.table-unstyled th {
  border: none;
}

.table-spread {
  table-layout: fixed;
}

.table-minor {
  font-size: 13px;
  font-size: 0.8125rem;
}

textarea,
input,
select {
  border-radius: 4px;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: #999595;
  border-color: rgba(153, 149, 149, 0.7);
  margin-bottom: 1em;
  font-family: "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
}

input,
select {
  padding: 0 12px;
  padding: 0 0.75rem;
  margin: 0 8px 2px 0;
  margin: 0 0.5rem 0.125rem 0;
  line-height: 19px;
  line-height: 1.1875rem;
  font-size: 14px;
  font-size: 0.875rem;
  min-height: 39px;
  min-height: 2.4375rem;
  vertical-align: middle;
  display: inline-block;
}

@media print {
  input,
  select,
  textarea {
    border: 1px solid #999595;
  }
}
select {
  background-image: url("../images/arrow-triangle-down.png");
  background-position: 96% center;
  background-position: top 12px right 15px;
  background-repeat: no-repeat;
  padding: 9px 26px;
  padding: 0.5625rem 1.625rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  font-size: 1em;
  line-height: 1.4em;
  -webkit-appearance: none;
  min-width: 150px;
}

select[disabled],
select[multiple] {
  background-image: none;
}

label {
  line-height: 20px;
  line-height: 1.25rem;
  display: block;
  margin-right: 0.5em;
  text-transform: uppercase;
  color: #6d6e71;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 0.8em;
}

@media print {
  label {
    color: #494c49;
  }
}
textarea:focus,
input:focus {
  border-color: #004b6a;
  outline: 0;
}

input.invalid {
  border: 1px solid #cf1b41;
}

input[type="text"][disabled] {
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.5);
}

abbr[title="required"],
abbr[title="Required"] {
  color: #cf1b41;
  color: rgba(207, 27, 65, 0.8);
  border-bottom: none;
}

textarea {
  max-width: 98%;
  padding: 1em 1%;
  font-size: 1em;
  margin: 0;
}

textarea[disabled] {
  cursor: not-allowed;
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.5);
}

video {
  max-width: 100%;
}

fieldset {
  border: none;
}

select:hover {
  cursor: pointer;
}

select[disabled] {
  cursor: not-allowed;
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.5);
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul {
  padding-left: 18px;
  padding-left: 1.125rem;
}

ul li {
  list-style: square;
}

ul ul {
  padding-left: 1em;
  margin: 0;
}

/*  Text ––––––––––––––––––––––––––––––––––––––––––––––––– */
.text-whisper, .heading-contrast {
  color: #6d6e71;
}

.text-prominent {
  margin: 0 0 0.3em 0;
  color: #cf1b41;
  font-size: 24px;
  font-size: 1.5rem;
}

.heading-contrast {
  color: #494c49;
  color: rgba(73, 76, 73, 0.6);
  font-size: 0.8em;
}

.heading-contrast strong {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Georgia", Times, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.5px;
  font-size: 2em;
  color: black;
  text-transform: none;
  margin: 0 0.2em;
}

.heading {
  border-bottom: 1px solid;
  border-color: #e5e5e5;
  border-color: rgba(229, 229, 229, 0.8);
  margin: 2em 0 2em;
  position: relative;
  margin: 1em 0 1em 0;
  padding: 1.3em 0 0.5em 0;
}

[class*="slab-"] .heading {
  border-bottom: none;
}

/*  Patterns ––––––––––––––––––––––––––––––––––––––––––––– */
/*  Pattern: Alert --------------------------------------- */
.alert, .alert-failure, .alert-success, .alert-info {
  padding: 10px;
  padding: 0.625rem;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
  border-radius: 3px;
  border-radius: 0.1875rem;
  background: #fedd44;
  background: rgba(254, 221, 68, 0.4);
  border: 1px solid;
  border-color: #fedd44;
  border-color: rgba(254, 221, 68, 0.5);
  color: #494c49;
}
.alert p, .alert-failure p, .alert-success p, .alert-info p {
  margin: 0;
}
.alert p + *, .alert-failure p + *, .alert-success p + *, .alert-info p + * {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.alert-failure {
  background: #cf1b41;
  background: rgba(207, 27, 65, 0.3);
  border-color: #cf1b41;
  border-color: rgba(207, 27, 65, 0.1);
}

.alert-success {
  background: #3f863f;
  background: rgba(63, 134, 63, 0.2);
  border-color: #3f863f;
  border-color: rgba(63, 134, 63, 0.1);
}

.alert-info {
  background: #399fd3;
  background: rgba(57, 159, 211, 0.2);
  border-color: #399fd3;
  border-color: rgba(57, 159, 211, 0.1);
}

/*  Button: Default --------------------------------------- */
button,
input[type="button"],
input[type="submit"],
.button,
.button-prominent,
input.button-prominent,
.button-prominent:link,
.button-prominent:visited,
.button-prominent:hover,
.button-prominent:focus,
.button-prominent:active,
.button-neutral,
input.button-neutral,
.button-neutral:link,
.button-neutral:visited,
.button-neutral:hover,
.button-neutral:focus,
.button-neutral:active,
.button-alternative,
input.button-alternative,
.button-alternative:link,
.button-alternative:visited,
.button-alternative:hover,
.button-alternative:focus,
.button-alternative:active,
.button-unstyled,
input.button-unstyled,
.button-unstyled:link,
.button-unstyled:visited,
.button-unstyled:hover,
.button-unstyled:focus,
.button-unstyled:active,
.button-subtle,
input.button-subtle,
.button-subtle:link,
.button-subtle:visited,
.button-subtle:hover,
.button-subtle:focus,
.button-subtle:active,
input[type="button"][disabled],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="button"][disabled]:active,
input[type="submit"][disabled],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
input[type="submit"][disabled]:active,
button[disabled],
button[disabled]:hover,
button[disabled]:focus,
button[disabled]:active,
.button-disabled,
.button-disabled:link,
.button-disabled:visited,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active,
.button.button-disabled,
.button.button-disabled:hover,
.button.button-disabled:focus,
.button.button-disabled:active,
.button-progress,
input.button-progress,
input.button-progress:hover,
input.button-progress:focus,
input.button-progress:active,
.button-progress:link,
.button-progress:visited,
.button-progress:hover,
.button-progress:focus,
.button-progress:active,
.button:link,
.button-prominent:link,
.button-neutral:link,
.button-alternative:link,
.button-unstyled:link,
.button-subtle:link,
input[type="button"][disabled]:link,
input[type="submit"][disabled]:link,
button[disabled]:link,
.button-disabled:link,
.button.button-disabled:link:hover,
.button.button-disabled:link:focus,
.button.button-disabled:link:active,
.button-progress:link,
.button:visited,
.button-prominent:visited,
.button-neutral:visited,
.button-alternative:visited,
.button-unstyled:visited,
.button-subtle:visited,
input[type="button"][disabled]:visited,
input[type="submit"][disabled]:visited,
button[disabled]:visited,
.button-disabled:visited,
.button.button-disabled:visited:hover,
.button.button-disabled:visited:focus,
.button.button-disabled:visited:active,
.button-progress:visited,
.button:hover,
.button-prominent:hover,
.button-neutral:hover,
.button-alternative:hover,
.button-unstyled:hover,
.button-subtle:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover,
button[disabled]:hover,
.button-disabled:hover,
.button.button-disabled:hover:focus,
.button.button-disabled:hover:active,
.button-progress:hover,
.button:focus,
.button-prominent:focus,
.button-neutral:focus,
.button-alternative:focus,
.button-unstyled:focus,
.button-subtle:focus,
input[type="button"][disabled]:focus,
input[type="submit"][disabled]:focus,
button[disabled]:focus,
.button-disabled:focus,
.button.button-disabled:focus:hover,
.button.button-disabled:focus:active,
.button-progress:focus,
.button:active,
.button-prominent:active,
.button-neutral:active,
.button-alternative:active,
.button-unstyled:active,
.button-subtle:active,
input[type="button"][disabled]:active,
input[type="submit"][disabled]:active,
button[disabled]:active,
.button-disabled:active,
.button.button-disabled:active:hover,
.button.button-disabled:active:focus,
.button-progress:active {
  padding: 0 26px;
  padding: 0 1.625rem;
  margin: 0 8px 4px 0;
  margin: 0 0.5rem 0.25rem 0;
  line-height: 40px;
  line-height: 2.5rem;
  font-size: 14px;
  font-size: 0.875rem;
  min-height: 19px;
  min-height: 1.1875rem;
  border-radius: 4px;
  border-radius: 0.25rem;
  background-color: #399fd3;
  -moz-box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: white;
  display: inline-block;
  font-weight: normal;
  font-family: "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
  height: 40px;
  min-width: auto;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  width: auto;
  vertical-align: middle;
}

@media print {
  button,
  input[type="button"],
  input[type="submit"],
  .button,
  .button-prominent,
  input.button-prominent,
  .button-prominent:link,
  .button-prominent:visited,
  .button-prominent:hover,
  .button-prominent:focus,
  .button-prominent:active,
  .button-neutral,
  input.button-neutral,
  .button-neutral:link,
  .button-neutral:visited,
  .button-neutral:hover,
  .button-neutral:focus,
  .button-neutral:active,
  .button-alternative,
  input.button-alternative,
  .button-alternative:link,
  .button-alternative:visited,
  .button-alternative:hover,
  .button-alternative:focus,
  .button-alternative:active,
  .button-unstyled,
  input.button-unstyled,
  .button-unstyled:link,
  .button-unstyled:visited,
  .button-unstyled:hover,
  .button-unstyled:focus,
  .button-unstyled:active,
  .button-subtle,
  input.button-subtle,
  .button-subtle:link,
  .button-subtle:visited,
  .button-subtle:hover,
  .button-subtle:focus,
  .button-subtle:active,
  input[type="button"][disabled],
  input[type="button"][disabled]:hover,
  input[type="button"][disabled]:focus,
  input[type="button"][disabled]:active,
  input[type="submit"][disabled],
  input[type="submit"][disabled]:hover,
  input[type="submit"][disabled]:focus,
  input[type="submit"][disabled]:active,
  button[disabled],
  button[disabled]:hover,
  button[disabled]:focus,
  button[disabled]:active,
  .button-disabled,
  .button-disabled:link,
  .button-disabled:visited,
  .button-disabled:hover,
  .button-disabled:focus,
  .button-disabled:active,
  .button.button-disabled,
  .button.button-disabled:hover,
  .button.button-disabled:focus,
  .button.button-disabled:active,
  .button-progress,
  input.button-progress,
  input.button-progress:hover,
  input.button-progress:focus,
  input.button-progress:active,
  .button-progress:link,
  .button-progress:visited,
  .button-progress:hover,
  .button-progress:focus,
  .button-progress:active,
  .button:link,
  .button-prominent:link,
  .button-neutral:link,
  .button-alternative:link,
  .button-unstyled:link,
  .button-subtle:link,
  input[type="button"][disabled]:link,
  input[type="submit"][disabled]:link,
  button[disabled]:link,
  .button-disabled:link,
  .button.button-disabled:link:hover,
  .button.button-disabled:link:focus,
  .button.button-disabled:link:active,
  .button-progress:link {
    background-color: #e5e5e5;
    color: black;
  }
}
button:hover,
button:focus,
.button:hover,
.button-prominent:hover,
.button-neutral:hover,
.button-alternative:hover,
.button-unstyled:hover,
.button-subtle:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover,
button[disabled]:hover,
.button-disabled:hover,
.button.button-disabled:hover:focus,
.button.button-disabled:hover:active,
.button-progress:hover,
.button:focus,
.button-prominent:focus,
.button-neutral:focus,
.button-alternative:focus,
.button-unstyled:focus,
.button-subtle:focus,
input[type="button"][disabled]:focus,
input[type="submit"][disabled]:focus,
button[disabled]:focus,
.button-disabled:focus,
.button.button-disabled:focus:hover,
.button.button-disabled:focus:active,
.button-progress:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #7ab5d6;
  cursor: pointer;
}

button:active,
.button:active,
.button-prominent:active,
.button-neutral:active,
.button-alternative:active,
.button-unstyled:active,
.button-subtle:active,
input[type="button"][disabled]:active,
input[type="submit"][disabled]:active,
button[disabled]:active,
.button-disabled:active,
.button.button-disabled:active:hover,
.button.button-disabled:active:focus,
.button-progress:active,
input[type="submit"]:active {
  background-color: #399fd3;
}

button::-moz-focus-inner,
.button::-moz-focus-inner,
.button-prominent::-moz-focus-inner,
.button-prominent:link::-moz-focus-inner,
.button-prominent:visited::-moz-focus-inner,
.button-prominent:hover::-moz-focus-inner,
.button-prominent:focus::-moz-focus-inner,
.button-prominent:active::-moz-focus-inner,
.button-neutral::-moz-focus-inner,
.button-neutral:link::-moz-focus-inner,
.button-neutral:visited::-moz-focus-inner,
.button-neutral:hover::-moz-focus-inner,
.button-neutral:focus::-moz-focus-inner,
.button-neutral:active::-moz-focus-inner,
.button-alternative::-moz-focus-inner,
.button-alternative:link::-moz-focus-inner,
.button-alternative:visited::-moz-focus-inner,
.button-alternative:hover::-moz-focus-inner,
.button-alternative:focus::-moz-focus-inner,
.button-alternative:active::-moz-focus-inner,
.button-unstyled::-moz-focus-inner,
.button-unstyled:link::-moz-focus-inner,
.button-unstyled:visited::-moz-focus-inner,
.button-unstyled:hover::-moz-focus-inner,
.button-unstyled:focus::-moz-focus-inner,
.button-unstyled:active::-moz-focus-inner,
.button-subtle::-moz-focus-inner,
.button-subtle:link::-moz-focus-inner,
.button-subtle:visited::-moz-focus-inner,
.button-subtle:hover::-moz-focus-inner,
.button-subtle:focus::-moz-focus-inner,
.button-subtle:active::-moz-focus-inner,
input[type="button"][disabled]::-moz-focus-inner,
input[type="button"][disabled]:hover::-moz-focus-inner,
input[type="button"][disabled]:focus::-moz-focus-inner,
input[type="button"][disabled]:active::-moz-focus-inner,
input[type="submit"][disabled]::-moz-focus-inner,
input[type="submit"][disabled]:hover::-moz-focus-inner,
input[type="submit"][disabled]:focus::-moz-focus-inner,
input[type="submit"][disabled]:active::-moz-focus-inner,
button[disabled]::-moz-focus-inner,
button[disabled]:hover::-moz-focus-inner,
button[disabled]:focus::-moz-focus-inner,
button[disabled]:active::-moz-focus-inner,
.button-disabled::-moz-focus-inner,
.button-disabled:link::-moz-focus-inner,
.button-disabled:visited::-moz-focus-inner,
.button-disabled:hover::-moz-focus-inner,
.button-disabled:focus::-moz-focus-inner,
.button-disabled:active::-moz-focus-inner,
.button.button-disabled::-moz-focus-inner,
.button.button-disabled:hover::-moz-focus-inner,
.button.button-disabled:focus::-moz-focus-inner,
.button.button-disabled:active::-moz-focus-inner,
.button-progress::-moz-focus-inner,
.button-progress:link::-moz-focus-inner,
.button-progress:visited::-moz-focus-inner,
.button-progress:hover::-moz-focus-inner,
.button-progress:focus::-moz-focus-inner,
.button-progress:active::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*  Button: Prominent --------------------------------------- */
.button-prominent,
input.button-prominent,
.button-prominent:link,
.button-prominent:visited,
.button-prominent:hover,
.button-prominent:focus,
.button-prominent:active {
  background: #cf1b41;
}

input.button-prominent:hover,
input.button-prominent:focus,
.button-prominent:hover,
.button-prominent:focus {
  background: #cf1b41;
  background: rgba(207, 27, 65, 0.8);
}

.button-prominent:active,
input.button-prominent:active {
  background: #cf1b41;
}

/*  Button: Neutral --------------------------------------- */
.button-neutral,
input.button-neutral,
.button-neutral:link,
.button-neutral:visited,
.button-neutral:hover,
.button-neutral:focus,
.button-neutral:active {
  background: #7ab5d6;
}

input.button-neutral:hover,
input.button-neutral:focus,
.button-neutral:hover,
.button-neutral:focus {
  background: #7ab5d6;
  background: rgba(122, 181, 214, 0.8);
}

.button-neutral:active,
input.button-neutral:active {
  background: #7ab5d6;
}

/*  Button: Alternative */
.button-alternative,
input.button-alternative,
.button-alternative:link,
.button-alternative:visited,
.button-alternative:hover,
.button-alternative:focus,
.button-alternative:active {
  background: #00a175;
}

input.button-alternative:hover,
input.button-alternative:focus,
.button-alternative:hover,
.button-alternative:focus {
  background: #00a175;
  background: rgba(0, 161, 117, 0.8);
}

.button-alternative:active,
input.button-alternative:active {
  background: #00a175;
}

/*  Button: Unstyled --------------------------------------- */
.button-unstyled,
input.button-unstyled,
.button-unstyled:link,
.button-unstyled:visited,
.button-unstyled:hover,
.button-unstyled:focus,
.button-unstyled:active {
  color: black;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  text-shadow: none;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.button-unstyled:hover,
.button-unstyled:focus,
.button-unstyled:active {
  color: black;
}

.button-unstyled:active,
input.button-unstyled:active {
  color: black;
  color: rgba(0, 0, 0, 0.6);
}

/*  Button: Subtle --------------------------------------- */
.button-subtle,
input.button-subtle,
.button-subtle:link,
.button-subtle:visited,
.button-subtle:hover,
.button-subtle:focus,
.button-subtle:active {
  color: #6d6e71;
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.35);
  text-shadow: none;
  border: 1px solid #e5e5e5;
}

input.button-subtle:hover,
input.button-subtle:focus,
input.button-subtle:active,
.button-subtle:hover,
.button-subtle:focus,
.button-subtle:active {
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.6);
}

.button-subtle:active,
input.button-subtle:active {
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.35);
}

/*  Button: Disabled --------------------------------------- */
input[type="button"][disabled],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="button"][disabled]:active,
input[type="submit"][disabled],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
input[type="submit"][disabled]:active,
button[disabled],
button[disabled]:hover,
button[disabled]:focus,
button[disabled]:active,
.button-disabled,
.button-disabled:link,
.button-disabled:visited,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active,
input.button-disabled.button-prominent,
input.button-disabled.button-neutral,
input.button-disabled.button-alternative,
input.button-disabled.button-unstyled,
input.button-disabled.button-subtle,
input.button-disabled[type="button"][disabled],
input.button-disabled[type="submit"][disabled],
button.button-disabled[disabled],
.button-disabled,
.button-disabled:link,
.button-disabled:visited,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active,
.button-disabled.button,
.button-disabled.button:hover,
.button-disabled.button:focus,
.button-disabled.button:active,
input.button-disabled.button-progress,
.button.button-disabled:hover,
input.button-disabled[type="button"][disabled]:hover,
input.button-disabled[type="submit"][disabled]:hover,
.button-disabled:hover,
.button-disabled.button:hover:focus,
.button-disabled.button:hover:active,
.button.button-disabled:focus,
input.button-disabled[type="button"][disabled]:focus,
input.button-disabled[type="submit"][disabled]:focus,
.button-disabled:focus,
.button-disabled.button:focus:hover,
.button-disabled.button:focus:active,
.button.button-disabled:active,
input.button-disabled[type="button"][disabled]:active,
input.button-disabled[type="submit"][disabled]:active,
.button-disabled:active,
.button-disabled.button:active:hover,
.button-disabled.button:active:focus {
  background-color: #e5e5e5;
  cursor: not-allowed;
  text-shadow: none;
  color: #999595;
}

.button-progress,
input.button-progress,
input.button-progress:hover,
input.button-progress:focus,
input.button-progress:active,
.button-progress:link,
.button-progress:visited,
.button-progress:hover,
.button-progress:focus,
.button-progress:active {
  background-position: right 10px center;
  padding-right: 50px;
  background-image: url("../images/loading-circle-blue.gif");
  background-repeat: no-repeat;
  cursor: not-allowed;
}

.button-neutral.button-progress,
input.button-neutral.button-progress,
input.button-neutral.button-progress:hover,
input.button-neutral.button-progress:focus,
input.button-neutral.button-progress:active,
.button-neutral.button-progress:link,
.button-neutral.button-progress:visited,
.button-neutral.button-progress:hover,
.button-neutral.button-progress:focus,
.button-neutral.button-progress:active {
  background-image: url("../images/loading-circle-blue.gif");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.button-alternative.button-progress,
input.button-alternative.button-progress,
input.button-alternative.button-progress:hover,
input.button-alternative.button-progress:focus,
input.button-alternative.button-progress:active,
.button-alternative.button-progress:link,
.button-alternative.button-progress:visited,
.button-alternative.button-progress:hover,
.button-alternative.button-progress:focus,
.button-alternative.button-progress:active {
  background-image: url("../images/loading-circle-green.gif");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.button-prominent.button-progress,
input.button-prominent.button-progress,
input.button-prominent.button-progress:hover,
input.button-prominent.button-progress:focus,
input.button-prominent.button-progress:active,
.button-prominent.button-progress:link,
.button-prominent.button-progress:visited,
.button-prominent.button-progress:hover,
.button-prominent.button-progress:focus,
.button-prominent.button-progress:active {
  background-image: url("../images/loading-circle-red.gif");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.button-subtle.button-progress,
input.button-subtle.button-progress,
input.button-subtle.button-progress:hover,
input.button-subtle.button-progress:focus,
input.button-subtle.button-progress:active,
.button-subtle.button-progress:link,
.button-subtle.button-progress:visited,
.button-subtle.button-progress:hover,
.button-subtle.button-progress:focus,
.button-subtle.button-progress:active {
  background-image: url("../images/loading-circle.gif");
  background-repeat: no-repeat;
  background-position: right 10px center;
  color: #6d6e71;
  border: 1px solid #e5e5e5;
}

/*  Button: Sizes --------------------------------------- */
.button-crotchet,
.button-crotchet:link,
.button-crotchet:visited,
.button-crotchet:hover,
.button-crotchet:focus,
.button-crotchet:active {
  width: 32.0%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.button-l,
input.button-l,
.button-l:link,
.button-l:visited,
.button-l:hover,
.button-l:focus,
.button-l:active {
  min-height: 50px;
  min-height: 3.125rem;
  padding: 0 32px;
  padding: 0 2rem;
  line-height: 50px;
  line-height: 3.125rem;
}

.button-s,
input.button-s,
.button-s:link,
.button-s:link,
.button-s:link,
.button-s:link,
.button-s:link {
  padding: 0 16px;
  padding: 0 1rem;
  min-height: 10px;
  min-height: 0.625rem;
  height: 30px;
  line-height: 30px;
  line-height: 1.875rem;
}

.blurb {
  text-transform: uppercase;
  color: #494c49;
  border-bottom: 1px solid #333;
  border-color: #e5e5e5;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}

.blurb em {
  color: #cf1b41;
}

.cfa-tag {
  background-image: url("/images/tag-black.png");
  text-indent: -99999px;
  display: block;
  background-size: 90px;
  width: 100px;
}

.cfa-tag-red {
  background-image: url("/images/tag-red.png");
}

.cfa-tag-blue {
  background-image: url("/images/tag-blue.png");
}

.cfa-tag-gray {
  background-image: url("/images/tag-gray.png");
}

.masthead {
  display: none;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #494c49;
}

.masthead:before {
  position: absolute;
  left: 0;
  top: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/_media/images/masthead/masthead-2.jpg");
  content: "";
  max-width: none;
  width: 100%;
  min-height: 400px;
  z-index: 1;
}

.masthead h1,
.masthead .h1 {
  color: white;
  text-align: center;
  margin: -0.22em 0 0 0;
  float: left;
  width: 100%;
}

.masthead-header {
  overflow: hidden;
  width: auto;
  display: table;
  z-index: 1;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 4%;
  clear: both;
  position: inherit;
}

.masthead-header a:link,
.masthead-header a:visited,
.masthead-header a:hover,
.masthead-header a:focus,
.masthead-header a:active {
  color: white;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: none;
  margin-bottom: 0;
  transition: 0.2s;
}

.masthead-header a:hover,
.masthead-header a:focus,
.masthead-header a:active {
  color: white;
}

@media (min-width: 63em) {
  .masthead .masthead-header {
    padding: 0;
    width: auto;
  }
}
.masthead-s .masthead-header {
  margin: 40px auto 40px;
  margin: 2.5rem auto 2.5rem;
}

@media print {
  .masthead-s .masthead-header {
    margin: 10px auto 10px;
    margin: 0.625rem auto 0.625rem;
  }
}
.masthead-s .masthead-image {
  min-height: inherit;
}

.masthead-s .page-title {
  font-size: 57px;
  font-size: 3.5625rem;
  line-height: 65px;
  line-height: 4.0625rem;
  float: none;
  margin-top: 25px;
  margin-top: 1.5625rem;
}

@media print {
  .masthead-s .page-title {
    margin-top: 5px;
    margin-top: 0.3125rem;
    font-size: 30px;
    font-size: 1.875rem;
  }
}
.masthead-s .page-title + * {
  display: block;
  margin-top: 20px;
  margin-top: 1.25rem;
  clear: both;
}

.masthead-l .masthead-header {
  margin-top: 11em;
  padding-bottom: 1em;
  padding-top: 2em;
  margin-bottom: 0;
  width: auto;
}

.masthead-l .page-title {
  font-size: 90px;
}

.masthead-header .nav-breadcrumbs {
  float: left;
  color: white;
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
}

.masthead-header .nav-breadcrumbs a:link,
.masthead-header .nav-breadcrumbs a:visited,
.masthead-header .nav-breadcrumbs a:hover,
.masthead-header .nav-breadcrumbs a:focus,
.masthead-header .nav-breadcrumbs a:active {
  color: white;
  padding-top: 0;
  padding-bottom: 0;
}

.masthead-header .nav-breadcrumbs a:hover,
.masthead-header .nav-breadcrumbs a:focus,
.masthead-header .nav-breadcrumbs a:active {
  color: white;
  color: rgba(255, 255, 255, 0.7);
}

.masthead-header .nav-breadcrumbs li {
  background-image: url("/_styleimages/arrow-breadcrumb-white.png");
}

.masthead-header .nav-breadcrumbs li:first-child a {
  background-image: url("../images/flag-white.png");
}

.masthead-header .button-cta {
  float: right;
  margin-top: 0.8em;
}

/* @group highlight */
.highlight {
  color: white;
  padding: 1em 2%;
  font-size: 1.5em;
  position: relative;
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Georgia", Times, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.5px;
}

.highlight blockquote {
  background-color: transparent;
  border: none;
  padding: 0;
  color: white;
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Sentinel Book", "Georgia", Times, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.5px;
  margin: 0;
  clear: both;
}

.highlight blockquote p:first-child {
  margin-top: 0;
}

.highlight blockquote:before {
  color: white;
  color: rgba(255, 255, 255, 0.5);
  content: "“";
  font-size: 3em;
  line-height: 0em;
  display: block;
  margin-top: 0.4em;
  margin-left: -0.05em;
  margin-bottom: 0.15em;
}

.highlight .attribute {
  text-transform: uppercase;
  font-family: "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
  font-size: 0.7em;
  font-weight: 400;
}

/* @end highlight */
/* @group highlight with avatar */
@media (min-width: 40em) {
  .highlight-with-avatar {
    padding-left: 220px;
  }
}
.highlight-avatar {
  background-color: white;
  padding: 10px;
  border-radius: 5em;
  border-width: 8px;
  border-style: solid;
  border-color: #cf1b41;
  width: 100px;
  float: left;
  margin-right: 1.5em;
  top: 2em;
  margin-bottom: 2em;
}

@media (min-width: 40em) {
  .highlight-avatar {
    position: absolute;
    left: 2em;
    margin-top: 0;
    margin-top: 1em;
  }
}
/* @end highlight with avatar */
.insulate {
  margin: 15px auto;
  margin: 0.9375rem auto;
}

.isolate {
  margin-bottom: 1.5em;
  clear: both;
}

.list-no-bullets, .list-ruled {
  margin-left: 0;
  float: left;
  width: 100%;
  padding: 0;
}

.list-no-bullets li, .list-ruled li {
  list-style-type: none;
  background-image: none;
  padding-left: 0;
  line-height: 1.5em;
}

.list-form {
  margin-left: 0;
  float: left;
  padding-left: 0;
  width: 100%;
}

.list-form li {
  list-style-type: none;
  margin-bottom: 1em;
  background-image: none;
  padding-left: 0;
}

.list-form .button, .list-form .button-prominent, .list-form .button-neutral, .list-form .button-alternative, .list-form .button-unstyled, .list-form .button-subtle, .list-form input[type="button"][disabled],
.list-form input[type="submit"][disabled],
.list-form button[disabled],
.list-form .button-disabled,
.list-form .button.button-disabled:hover,
.list-form .button.button-disabled:focus,
.list-form .button.button-disabled:active, .list-form .button-progress {
  margin-bottom: 0;
  margin-top: 1em;
}

.list-form .form-field {
  margin-bottom: 0.5em;
}

.list-form .form-field input,
.list-form .form-field textarea,
.list-form .form-field select {
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
}

.list-form .form-field select {
  width: 100%;
  margin: 0;
}

.list-form .form-field textarea {
  min-height: 100px;
}

.list-form .form-field-group {
  width: 100%;
  float: left;
  margin-bottom: 0.5em;
}

.list-form .form-field-group .form-field {
  float: left;
  width: 48%;
}

.list-form .form-field-group .form-field select {
  width: 100%;
}

.list-form .form-field-group .form-field input {
  width: auto;
  width: calc(100% - 1.7em);
}

.list-form .form-field-group .form-field:last-child {
  margin-right: 0;
  float: right;
}

.list-form .form-field-group input,
.list-form .form-field-group select {
  width: auto;
  padding-left: 0.85em;
  padding-right: 0.85em;
}

.list-inline {
  margin-left: 0;
  padding-left: 0;
}

.list-inline li {
  display: inline;
  margin: 0 0.15em 0 0;
  background-image: none;
  padding: 0;
}

.list-inline li:last-child {
  border-right: none;
}

.list-inline li a {
  padding: 0 0.5em 0 0;
}

.list-gappy li {
  margin-bottom: 1em;
}

.list-horizontal li {
  float: left;
}

.list-social li {
  background-image: none;
  padding: 0;
}

.list-social-horizontal {
  margin: 0;
  padding: 0;
}

.list-social-horizontal li {
  display: inline;
  font-size: 0.85em;
  margin-right: 0.8em;
}

@media (min-width: 60em) {
  .list-buttons {
    display: flex;
  }

  .list-buttons li {
    flex: 1;
    margin: 0 0.4em;
    text-align: center;
  }

  .list-buttons .button, .list-buttons .button-prominent, .list-buttons .button-neutral, .list-buttons .button-alternative, .list-buttons .button-unstyled, .list-buttons .button-subtle, .list-buttons input[type="button"][disabled],
  .list-buttons input[type="submit"][disabled],
  .list-buttons button[disabled],
  .list-buttons .button-disabled,
  .list-buttons .button.button-disabled:hover,
  .list-buttons .button.button-disabled:focus,
  .list-buttons .button.button-disabled:active, .list-buttons .button-progress {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .list-buttons li:first-child {
    margin-left: 0;
  }

  .list-buttons li:last-child {
    margin-right: 0;
  }
}
.list-ruled {
  margin-bottom: 1em;
}

.list-ruled li {
  border-bottom: 1px solid;
  border-color: #e5e5e5;
  padding: 0.5em 0;
}

.list-ruled li:last-child {
  border-bottom: none;
}

.island {
  margin: 15px auto;
  margin: 0.9375rem auto;
  float: left;
  display: block;
  width: 100%;
}

.island + .island {
  margin-top: 0;
}

section,
[class*="slab-"] {
  clear: both;
  width: 100%;
  float: left;
}

.slab-blue {
  background: #399fd3;
}

.slab-blue a:link,
.slab-blue a:visited,
.slab-blue a:hover,
.slab-blue a:focus,
.slab-blue a:active {
  color: white;
  color: rgba(255, 255, 255, 0.6);
}

.slab-blue a:hover,
.slab-blue a:focus,
.slab-blue a:active {
  border-bottom: 1px solid;
  border-color: white;
  border-color: rgba(255, 255, 255, 0.6);
}

.slab-dark-blue {
  background: #004b6a;
  color: white;
}

@media print {
  .slab-dark-blue {
    background-color: transparent;
    color: inherit;
  }
}
.slab-red {
  background: #cf1b41;
  color: white;
}

@media print {
  .slab-red {
    background-color: transparent;
    color: inherit;
  }
}
.slab-red a:link,
.slab-red a:visited,
.slab-red a:hover,
.slab-red a:focus,
.slab-red a:active {
  color: white;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: none;
}

.slab-red a:hover,
.slab-red a:focus,
.slab-red a:active,
.slab-red label {
  color: white;
}

.slab-medium-red {
  background: #aa1c3a;
  color: white;
}

.slab-medium-red a:link,
.slab-medium-red a:visited,
.slab-medium-red a:hover,
.slab-medium-red a:focus,
.slab-medium-red a:active {
  color: white;
  border-bottom: none;
}

.slab-medium-red a:hover,
.slab-medium-red a:focus,
.slab-medium-red a:active {
  color: white;
  color: rgba(255, 255, 255, 0.7);
}

.slab-medium-red form input,
.slab-medium-red form select {
  border: none;
}

.slab-gray {
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.5);
}

.slab-dark-gray {
  background: #494c49;
  color: white;
}

.slab-dark-gray a:link,
.slab-dark-gray a:visited,
.slab-dark-gray a:hover,
.slab-dark-gray a:focus,
.slab-dark-gray a:active {
  color: white;
  border-bottom: none;
}

.slab-dark-gray a:hover,
.slab-dark-gray a:focus,
.slab-dark-gray a:active {
  color: white;
  color: rgba(255, 255, 255, 0.7);
}

.slab-dark-gray form input,
.slab-dark-gray form select {
  border: none;
}

.slab-red .button-prominent,
.slab-red input.button-prominent,
.slab-red .button-prominent:link,
.slab-red .button-prominent:visited,
.slab-red .button-prominent:hover,
.slab-red .button-prominent:focus,
.slab-red .button-prominent:active {
  background: #82172d;
}

.slab-red input.button-prominent:hover,
.slab-red input.button-prominent:focus,
.slab-red .button-prominent:hover,
.slab-red .button-prominent:focus {
  background: #aa1c3a;
  background: rgba(170, 28, 58, 0.8);
}

.slab-medium-red .button-prominent,
.slab-medium-red input.button-prominent,
.slab-medium-red .button-prominent:link,
.slab-medium-red .button-prominent:visited,
.slab-medium-red .button-prominent:hover,
.slab-medium-red .button-prominent:focus,
.slab-medium-red .button-prominent:active {
  background: #82172d;
}

.slab-medium-red input.button-prominent:hover,
.slab-medium-red input.button-prominent:focus,
.slab-medium-red .button-prominent:hover,
.slab-medium-red .button-prominent:focus {
  background: black;
  background: rgba(0, 0, 0, 0.4);
}

.spotlight {
  background: #e5e5e5;
  background: rgba(229, 229, 229, 0.5);
  border: 1px solid;
  border-color: #e5e5e5;
  float: left;
  width: auto;
  width: calc(100% - 2px - 2em);
  padding: 1em 1em;
  margin: 0 0 8px 0;
  margin: 0 0 0.5rem 0;
}

.note {
  color: #999595;
  font-size: 13px;
  font-size: 0.8125rem;
  display: inline-block;
  line-height: 22px;
  vertical-align: top;
}

.text-invalid {
  color: #cf1b41;
}

/*  Global ––––––––––––––––––––––––––––––––––––––––––––––– */
.global-footer {
  clear: both;
  background: #494c49;
  border-top: 10px solid;
  border-color: #399fd3;
  color: white;
  float: left;
  width: 100%;
  padding: 2.5em 0 1.5em;
  padding: 30px 0 20px;
  padding: 1.875rem 0 1.25rem;
}

@media print {
  .global-footer {
    display: none;
  }
}
.global-footer a:link,
.global-footer a:visited,
.global-footer a:hover,
.global-footer a:focus,
.global-footer a:active {
  color: white;
}

.global-footer .search-global {
  margin: 0 0 2em;
}

.global-footer .search-global input {
  margin: 0;
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 5px 15px;
  padding: 0.3125rem 0.9375rem;
  color: white;
  text-transform: none;
  width: 100%;
  padding: 2px 5px;
  line-height: inherit;
  min-height: 33px;
}

.global-footer .search-global input:focus {
  border-color: white;
  border-color: rgba(255, 255, 255, 0.5);
}

.global-footer .search-global ::-webkit-input-placeholder {
  color: white;
  text-transform: uppercase;
}

.global-footer .search-global :-ms-input-placeholder {
  color: white;
  text-transform: uppercase;
}

.global-footer .search-global :-moz-placeholder {
  color: white;
  text-transform: uppercase;
}

.global-footer .search-global ::-moz-placeholder {
  color: white;
  text-transform: uppercase;
}

.global-footer .search-global .search-global-submit {
  top: 7px;
  top: 0.4375rem;
  right: 10px;
  right: 0.625rem;
}

.global-footer .search-global-input:focus + .search-global-submit,
.global-footer .search-global .search-global-submit:focus,
.global-footer .search-global .search-global-submit:active {
  background-image: url("../images/icon-search-white.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.global-footer .nav-footer .nav-tier2 {
  font-size: 12px;
  font-size: 0.75rem;
}

.global-footer .nav-footer .nav-tier2,
.global-footer .nav-footer .nav-tier2 a:link,
.global-footer .nav-footer .nav-tier2 a:visited {
  color: #e5e5e5;
  color: rgba(229, 229, 229, 0.8);
}

.global-footer .nav-footer .nav-tier2 a:hover,
.global-footer .nav-footer .nav-tier2 a:focus,
.global-footer .nav-footer .nav-tier2 a:active {
  color: white;
}

.global-footer .nav-footer .nav-tier2 li {
  margin-bottom: 0.5em;
}

.global-footer .nav-footer .nav-tier1:first-child {
  margin-left: 0;
}

.global-footer .nav-footer .nav-heading {
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}

.global-foot {
  background: black;
  clear: both;
  color: white;
  padding: 0 0 1.5em;
  font-size: 1em;
  min-height: 45px;
}

@media print {
  .global-foot {
    color: black;
  }
}
.global-foot-content {
  position: relative;
}

.global-foot-logo {
  width: 100px;
  margin: 1em 1em 1em 0;
  position: absolute;
  left: 0;
}

@media print {
  .global-foot-logo {
    display: none;
  }
}
@media (min-width: 80em) {
  .global-foot-logo {
    margin-left: 0;
  }
}
.global-foot small {
  margin: 1em 0 1em 120px;
  float: left;
  color: white;
  color: rgba(255, 255, 255, 0.7);
}

@media print {
  .global-foot small {
    color: black;
    margin-left: 0;
  }
}
.layout-centered {
  text-align: center;
}

.layout-crotchet,
.layout-crotchet-staccato,
.layout-minim,
.layout-minim-staccato {
  width: 100%;
  float: none;
  clear: both;
}

.layout-chimney .layout-minim-staccato {
  width: 92%;
  padding: 1em 4%;
  max-width: 30em;
  margin: 0 auto;
}

.layout-chimney .layout-minim-staccato.chimney {
  max-width: 92%;
}

.layout-col {
  margin-left: 0;
  background-image: none;
}

.layout-semibreve,
.layout-breve {
  width: 92%;
  padding: 0 4%;
  max-width: 60em;
  margin: 1em auto;
  clear: both;
  display: table;
}

section {
  border-bottom: 1px solid #e5e5e5;
  margin: 0 0 1em 0;
}

.skip-to-nav:link,
.skip-to-nav:visited,
.skip-to-nav:hover,
.skip-to-nav:focus,
.skip-to-nav:active {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  background-color: #399fd3;
  color: white;
  opacity: 0.6;
  transition: 0.3s;
}

.skip-to-nav:hover,
.skip-to-nav:focus,
.skip-to-nav:active {
  border-bottom: none;
  opacity: 1;
}
