{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Aaron Ogle</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2011-fellows/">2011 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/aaron-ogle.jpeg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Aaron believes that software can be used to build for a better world, and he loves designing applications to make cities more livable, beautiful, and just. While a fellow at Code for America, he partnered with the City of Philadelphia to build solutions to help foster civic engagement. He specializes in JavaScript and GIS development and has contributed to such applications as reroute.it, septa.mobi, changeby.us, walkshed.org, and phillystormwater.org. He is now CTO at OpenPlans. Besides a tech geek, Aaron is an outdoorsman, an urbanist, and a devoted husband and father. </p>
	    <p><a href="http://www.codeforamerica.org/2010/11/01/aaron-ogle-why-im-coding-for-america/">Why does Aaron Ogle code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/atogle">@atogle</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/atogle">http://github<wbr>.com/<wbr>atogle</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/aaronogle">http://linkedin<wbr>.com/<wbr>in/<wbr>aaronogle</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/blog/author/aaron/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>blog/<wbr>author/<wbr>aaron/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2011-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Aaron Ogle</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/aaron-ogle.jpeg" />
    <div class="p-note profile-note">
       	<p><a href="{{ include.base }}/cities/philadelphia/">Philadelphia Team</a></p>
        <p>Aaron believes that software can be used to build for a better world, and he loves designing applications to make cities more livable, beautiful, and just. While a fellow at Code for America, he partnered with the City of Philadelphia to build solutions to help foster civic engagement. He specializes in JavaScript and GIS development...</p>
        <p><a class="link-more" href="{{ include.base }}/people/aaron-ogle/">More</a></p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/aaronogle">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/atogle">@atogle</a></li>
            <li class="social-github"><a href="https://github.com/atogle">GitHub</a></li>
        </ul>
    </div>
</div>

{% endif %}
