{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Alan Williams</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/alan-williams.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Alan is a product manager, designer and urban planner. As a 2013 Fellow, he helped a coalition of park and public lands develop <a href="http://codeforamerica.org/specifications/trails">OpenTrails</a>, a web-oriented data format for describing trail networks. Before joining Code for America, he lead the Community team at Neighborland, a civic-ideation startup. He began his career designing and building products for disaster recovery projects on the Gulf Coast.</p>
	    <p><a href="http://www.codeforamerica.org/2013/11/05/alan-joseph-williams-why-im-coding-for-america/">Why does Alan Williams code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/alanjosephwilli">@alanjosephwilli</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/alanjosephwilliams">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>alanjosephwilliams</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/alanw/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>alanw/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' or include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Alan Williams</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/alan-williams.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/summitcounty/">Summit County Team</a>
        </p>
        <p>
            Alan is an urban planner, designer, and community strategist. Most recently he lead the Community team at Neighborland, a civic ideation platform. Alan’s early experience as a community organizer informed his work as a spatial analyst and urban planner in post-Katrina New Orleans. In 2011, he joined…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/alan-williams/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/alanjosephwilliams"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/alanjosephwilli">@alanjosephwilli</a></li>

        </ul>
    </div>
</div>

{% endif %}
