{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Alex Pandel</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/alex-pandel.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Alex Pandel is a graphic designer, writer, problem-solver, communicator, urban explorer, and internet-lover. Alex thrives on collaboration and lives to craft creative and beautiful solutions to problems big and small. Alex graduated from the University of Southern California with a degree in Studio Art, and since then, she has been busy designing pretty things on paper and the web, including projects for New York Magazine and Avon. Most recently, she led a print campaign for The Future Project, an organization that seeks to reignite a passion for learning within American public schools. &lt;a href="/alex-pandel/">Video&lt;/a></p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/alexpandel">@alexpandel</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/alexpandel">http://linkedin<wbr>.com/<wbr>in/<wbr>alexpandel</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/alexp/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>alexp/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Alex Pandel</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/alex-pandel.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/neworleans/">New Orleans Team</a>
        </p>
        <p>
            Alex Pandel is a graphic designer, writer, problem-solver, communicator, urban explorer, and internet-lover. Alex thrives on collaboration and lives to craft creative and beautiful solutions to problems big and small. Alex graduated from the University of Southern California with a degree in Studio Art,…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/alex-pandel/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/alexpandel"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/alexpandel">@alexpandel</a></li>
        </ul>
    </div>
</div>

{% endif %}
