{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Alicia Rouault</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/alicia-rouault.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Alicia Rouault is currently CfA's Economic Development Advisor and Interim Lead, supporting the creation of the new Economic Development Focus Area. Alicia is a former Code for America fellow and co-founder and CEO of urban planning software, LocalData.
Alicia's background is in city planning with expertise in Housing and Economic Development. She has worked at the intersection of urban planning, data and technology most recently as a researcher in MIT's Civic Data Design Lab within the Center for Advanced Urbanism; and with the MIT Media Lab City Science Group. 
In 2012 Alicia was selected as a Code for America Fellow. In partnership with the City of Detroit's Mayor's Office Alicia worked to connect citizen groups and government on the design and deployment of TextMyBus, Apps for Detroit and LocalData to address civic issues through digital means in Detroit.
Prior to CfA, Alicia worked with the San Francisco Office of Economic and Workforce Development and SFMade to develop a national urban manufacturing toolkit supported by the Clinton Global Initiative.
On the East coast, Alicia worked in digital journalism as Assistant Editor of Urban Omnibus, where she wrote and curated content showcasing the work of urban planners, citizens, designers and technologists on city systems. In recent past, Alicia has worked in community and economic development with the City of Newark’s Division of Planning and Economic Development, Pratt Center for Community Development and Citizens Committee for New York City.
Alicia has written for various journals and blogs including MIT CoLab Radio, Urban Omnibus, MultipliCITY journal of City and Regional Planning of the Pratt Institute, Code for America and SPUR's The Urbanist. Find her writing here.
Alicia holds a dual B.A. in Political Science and Ethics, Society and Law from the University of Toronto. She has studied City and Regional Planning at the Masters level at the Pratt Institute and UC Berkeley, and in Housing, Community and Economic Development at Massachusetts Institute of Technology. She has interest in human-centered design, post-industrial waterfronts, data visualization, community advocacy and the intersection of planning, economics and technology. 
  <a href="/alicia-rouault/">Video</a> </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/arouault">@arouault</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/pub/alicia-rouault/21/738/a17">http://linkedin<wbr>.com/<wbr>pub/<wbr>alicia-rouault/<wbr>21/<wbr>738/<wbr>a17</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/alicia/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>alicia/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Alicia Rouault</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/alicia-rouault.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/detroit/">Detroit Team</a>
        </p>
        <p>
            Alicia is a proud 2012 Code for America Fellow working with the City of Detroit. Before coming to CfA, Alicia worked in economic development and urban planning, most recently as a Research Fellow with the San Francisco Office of Economic and Workforce Development and SFMade on the development of a national…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/alicia-rouault/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/pub/alicia-rouault/21/738/a17"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/arouault">@arouault</a></li>
        </ul>
    </div>
</div>

{% endif %}
