{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Andrea Hansen</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2014-fellows/">2014 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/andrea-hansen.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Andrea is an optimistic urbanist, data visualizer, and cartography devotee. Her practice, Fluxscape, focuses on data-driven landscapes in post-industrial cities, and she also runs Visualizing Systems, an online catalog that investigates how we map data to understand complex networks. She teaches these concepts in the landscape architecture program at Harvard University’s Graduate School of Design, where she was the 2011-2012 Daniel Urban Kiley Fellow. </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/vis_sys">@vis_sys</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/reveillette">http://github<wbr>.com/<wbr>reveillette</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/andrealmhansen">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>andrealmhansen</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2014-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Andrea Hansen</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/andrea-hansen.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/atlanta/">Atlanta Team</a>
        </p>
        <p>
            Andrea is an optimistic urbanist, data visualizer, and cartography devotee. Her practice, Fluxscape, focuses on data-driven landscapes in post-industrial cities, and she also runs Visualizing Systems, an online catalog that investigates how we map data to understand complex networks. She teaches these…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/andrea-hansen/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/andrealmhansen">LinkedIn</a></li>
            <li class="social-github"><a href="http://github.com/reveillette">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/vis_sys">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
