{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Andrew Greenhill</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li>Board Emeritus</li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/andrew-greenhill.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Andrew Greenhill is the Mayor’s Chief of Staff for the City of Tucson. He has worked extensively on wide-ranging issues facing Tucson and Southern Arizona such as water, transportation, environmental sustainability, urban planning, economic development and local government reform. Andrew’s strong interest in Government 2.0‚ the use of technology to improve government and serve citizens, has led to the development of a number of technology initiatives both inside and outside city government. In addition to serving on the Board of Directors for Code for America, Andrew recently co-founded OpenTucson, a local non-profit where civic-minded web developers work closely with community leaders to develop applications and other technological solutions and improve Tucson’s quality of life.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/AndrewGreenhill">@AndrewGreenhill</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="www.linkedin.com/pub/andrew-greenhill/3/37b/488">www.linkedin.com/pub/andrew-greenhill/3/37b/488</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Andrew Greenhill</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/andrew-greenhill.jpg">

   <div class="p-note profile-note">
       <p>Emeritus</p>
       <p>Andrew Greenhill is the Mayor’s Chief of Staff for the City of Tucson. He has worked extensively on wide-ranging issues facing Tucson and Southern Arizona such as water, transportation, environmental sustainability, urban planning, economic development and local government reform. Andrew’s strong…</p>

       <p><a class="link-more" href="{{ include.base }}/people/andrew-greenhill/">More</a></p>

       <ul class="list-social list-social-horizontal">
       		<li class="social-linkedin"><a href="http://www.linkedin.com/pub/andrew-greenhill/3/37b/488">LinkedIn</a></li>
       		<li class="social-twitter"><a href="https://twitter.com/AndrewGreenhill">@AndrewGreenhill</a></li>
       </ul>
   </div>
 </div>

{% endif %}
