{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Andrew Hyder</h2>
	</div>

	<div class="layout-minor">
		<p>Developer Relations Engineer</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/andrew-hyder.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Andrew Hyder is a civic hacker who enjoys making apps and maps. He is the developer relations engineer at Code for America where he travels the world helping volunteers build useful technology for their cities. As a 2013 CfA Fellow in Kansas City he advised on open data legislation, helped organized a volunteer Brigade, and developed <a href="http://bizfriend.ly">BizFriend.ly</a> to help small business owners adopt new technology. A trained urban planner he has built school yards, bicycle paths, and neighborhood parks around the Bay Area.</p>
	    <p><a href="https://www.codeforamerica.org/2013/11/08/andrew-hyder-why-im-coding-for-america/">Why does Andrew Hyder code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/hackyourcity">@hackyourcity</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/ondrae">http://github<wbr>.com/<wbr>ondrae</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="www.linkedin.com/in/hyd415">www.linkedin.com/in/hyd415</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/andrew-hyder/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>andrew-hyder/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' or include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Andrew Hyder</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/andrew-hyder.jpg" />
    <div class="p-note profile-note">
        <p>
            {% if include.context == '2013-fellows' %}
                <a href="{{ include.base }}/cities/kansascity/">Kansas City Team</a>
            {% else %}
                Developer Relations Engineer
            {% endif %}
        </p>
        <p>
            Andrew Hyder is a civic hacker who enjoys making apps and maps. He is the developer relations engineer at Code for America where he travels the world helping volunteers build useful technology for their cities. As a 2013 CfA Fellow in Kansas City…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/andrew-hyder/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/hyd415"></a></li>
            <li class="social-github"><a href="https://github.com/ondrae">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/hackyourcity">@hackyourcity</a></li>
        </ul>
    </div>
</div>

{% endif %}
