{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Andy Hull</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/andy-hull.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Andy is a web developer and a Geographic Information Systems analyst with ten years of experience working with government agencies, academic research groups, libraries, non-profits, and think tanks to create user centered web applications. Most recently, he produced interactive maps, data driven sites focused on savings for the poor, and data visualizations at the New America Foundation. At Duke University, Andy helped redesign the library digital collections platform and built web applications around public health issues. He holds a BA in Geography and an MS in Information Science, both from the University of North Carolina.</p>
	    <p><a href="http://www.codeforamerica.org/2013/11/13/andy-hull-why-im-coding-for-america/">Why does Andy Hull code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/andyhull3">@andyhull3</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/andyhull">http://github<wbr>.com/<wbr>andyhull</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/andy-hull/27/95/678">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>andy-hull/<wbr>27/<wbr>95/<wbr>678</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/blog/author/andy/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>blog/<wbr>author/<wbr>andy/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Andy Hull</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/andy-hull.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/sanfrancisco/">San Francisco Team</a>
        </p>
        <p>
            Andy is a web developer and a Geographic Information Systems analyst with ten years of experience working with government agencies, academic research groups, libraries, non-profits, and think tanks to create user centered web applications. Most recently, he produced interactive maps, data driven sites…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/andy-hull/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/andy-hull/27/95/678"></a></li>
            <li class="social-github"><a href="https://github.com/andyhull">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/andyhull3">@andyhull3</a></li>
        </ul>
    </div>
</div>

{% endif %}
