{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Anna Bloom</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2011-fellows/">2011 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/anna-bloom.jpeg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Anna Bloom has worked as a reporter and researcher for news organizations ranging from local newspapers to national websites. After graduating from UC Berkeley’s Graduate School of Journalism in 2010, she worked for YouTube to launch an innovative news project documenting the Bay Area with user-generated video. Prior to that, she regularly contributed to The New York Times Bay Area Blog and co-founded a hyper-local news site for Oakland in 2008, OaklandNorth.net.</p>
	    <p><a href="http://www.codeforamerica.org/2010/11/01/anna-bloom-why-im-coding-for-america/">Why does Anna Bloom code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/annabloom">@annabloom</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/pub/anna-bloom/14/984/40">http://linkedin<wbr>.com/<wbr>pub/<wbr>anna-bloom/<wbr>14/<wbr>984/<wbr>40</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/blog/author/anna/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>blog/<wbr>author/<wbr>anna/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2011-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Anna Bloom</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/anna-bloom.jpeg" />
    <div class="p-note profile-note">
        <p><a href="{{ include.base }}/cities/seattle/">Seattle Team</a></p>
		<p>Anna Bloom has worked as a reporter and researcher for news organizations ranging from local newspapers to national websites. After graduating from UC Berkeley’s Graduate School of Journalism in 2010, she worked for YouTube…</p>
        <p><a class="link-more" href="{{ include.base }}/people/anna-bloom/">More</a></p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/pub/anna-bloom/14/984/40">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/annabloom">@annabloom</a></li>
        </ul>
    </div>
</div>

{% endif %}
