{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Anselm Bradford</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/anselm-bradford.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Anselm is lecturer in digital media at AUT University in New Zealand. He has worked with Apress/friends of ED, O’Reilly Media, Peachpit Press, and Lonely Planet on book titles in the areas of visual communication, web, and interactive media. He has authorship credit on HTML5 Mastery and CSS3 Solutions (Apress).</p>
	    <p><a href="https://www.codeforamerica.org/2013/11/12/anselm-bradford-why-im-coding-for-america/">Why does Anselm Bradford code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/anselmbradford">@anselmbradford</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/anselmbradford">http://github<wbr>.com/<wbr>anselmbradford</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/anselmbradford">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>anselmbradford</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/anselm-bradford/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>anselm-bradford/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Anselm Bradford</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/anselm-bradford.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/sanmateocounty/">San Mateo County Team</a>
        </p>
        <p>
            Anselm is lecturer in digital media at AUT University in New Zealand. He has worked with Apress/friends of ED, O’Reilly Media, Peachpit Press, and Lonely Planet on book titles in the areas of visual communication, web, and interactive media. He has authorship credit on HTML5 Mastery and CSS3 Solutions…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/anselm-bradford/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/anselmbradford"></a></li>
            <li class="social-github"><a href="https://github.com/anselmbradford">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/anselmbradford">@anselmbradford</a></li>
        </ul>
    </div>
</div>

{% endif %}
