{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Ashley Meyers</h2>
	</div>

	<div class="layout-minor">
		<p>Development & Engagement Manager</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/ashley-meyers.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Ashley Meyers (Development and Engagement Manager) brings expertise in coalition building,
	    policy, and community engagement to manage CfA’s development efforts. She came to Code for America with
	    a background in politics and government. Ashley caught the campaign bug in Chicago on a U.S. Senate race,
	    did a stint on the Hill, and has since worked in a variety of roles, most recently serving as the
	    Finance Director on a Congressional campaign. In 2010 she was awarded a Coro Fellowship in Public Affairs
	    and spent a year studying cross-sector public policy issues in Northern California, working with a number
	    of government agencies and non-profits in the Bay Area. Ashley was a 2013 New Leaders Council Fellow and
	    is a graduate of Northwestern University with degree in history and political science. Contact her at ashley@codeforamerica.org.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/ashleymmeyers">@ashleymmeyers</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/ashleymmeyers">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>ashleymmeyers</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/ashley/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>ashley/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Ashley Meyers</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/ashley-meyers.jpg">

    <div class="p-note profile-note">
        <p>Development &amp; Engagement Manager</p>

        <p>Ashley Meyers comes to Code for America with a background in politics and government. She caught the campaign bug in Chicago on a U.S. Senate race, did a stint on the Hill, and has since worked in a variety of roles, most recently serving as the Finance Director on…</p>

        <p><a class="link-more" href="{{ include.base }}/people/ashley-meyers/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/ashleymmeyers">LinkedIn</a></li>
            <li class="social-github"><a href="https://github.com/ashleymmeyers">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/ashleymmeyers">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
