{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Becca Blazak</h2>
	</div>

	<div class="layout-minor">
		<p>Fellowship Program Coordinator</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/becca-blazak.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">
	    Becca joined Code for America in May 2014. As Fellowship Program Coordinator, Becca works on all aspects of program developemnt, helping to streamline processes around mentorship, personal and professional developement, and fellowship recruitment. Prior to joining Code for America, Becca worked in a similar role at the Skoll Foundation where she provided support and helped develop projects such as the Young Leader Initiative and Corporate Experience for the 2014 Skoll World Forum. Before moving to the Bay Area, Becca spent 15 months teaching English in South Korea and backpacking around Southeast Asia. While in South Korea, she was the co-creator of an after school English program for elementary aged girls at Girls Town Orphanage. Becca holds a B.A. in Culture and Communications with a focus in International Studies and a minor in Politics from Ithaca College. 
	    </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/beccablazak">@beccablazak</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="https://www.linkedin.com/pub/rebecca-blazak/31/47/803">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>BeccaBlazak</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Becca Blazak</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/becca-blazak.jpg">

    <div class="p-note profile-note">
        <p>Program Coordinator</p>

        <p>Becca joined Code for America in May 2014. As Programs Coordinator, Becca works across all five of Code for America’s programs, helping to further institutionalize program integration...
</p>

        <p><a class="link-more" href="{{ include.base }}/people/becca-blazak/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="https://www.linkedin.com/pub/rebecca-blazak/31/47/803">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/beccablazak">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
