{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Becky Boone</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2014-fellows/">2014 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/becky-boone.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Becky is a software developer from Anchorage, AK. She enjoys volunteering her technical skills locally. This past year she taught free programming classes to women, as well as managed the city's commuter challenge open source project. Becky stays outside in Alaska year round through biking, hiking, and cross-country skiing.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/boonrs">@boonrs</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/boonrs">http://github<wbr>.com/<wbr>boonrs</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/rebeccaboone/">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>rebeccaboone/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2014-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Becky Boone</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/becky-boone.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/denver/">Denver Team</a>
        </p>
        <p>
            Becky is a software developer from Anchorage, AK. She enjoys volunteering her technical skills locally. This past year she taught free programming classes to women, as well as managed the city's commuter challenge open source project. Becky stays outside in Alaska year round through biking, hiking, and and cross-country skiing.
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/becky-boone/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/rebeccaboone/">LinkedIn</a></li>
            <li class="social-github"><a href="http://github.com/boonrs">Github</a></li>
            <li class="social-twitter"><a href="https://twitter.com/boonrs">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
