{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Beth Harsch</h2>
	</div>

	<div class="layout-minor">
		
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://www.hackmichiana.org/">South Bend, IN Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.jpg" />
	</div>

	<div class="layout-major">
	    	
	    <p class="p-note">Beth Harsch is passionate about her community. Her personal mission statement (to make connections, to encourage collaboration and to inspire people to take action) has been her focus. While honing in on those tenets, Beth launched ConnectHelp. Through ConnectHelp, the community is rallying around a few key issues (recidivism, jobs/economy, homelessness, education, youth) to find tangible ways to move forward and improve the community.</p>
	    

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="http://twitter.com/connecthelp_org">@connecthelp_org</a></td></tr>

	    	</table>
	    </div>	    
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Beth Harsch</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.jpg" />
    <div class="p-note profile-note">
        <p><a href="http://www.hackmichiana.org/">South Bend, IN Brigade</a></p>
        <p>Beth Harsch is passionate about her community. Her personal mission statement (to make connections, to encourage collaboration and to inspire people to take action) has been her focus.</p>
        <p><a class="link-more" href="{{ include.base }}/people/beth-harsch">More</a></p>
        <ul class="list-social list-social-horizontal">
            <li class="social-website"><a href="connecthelp.org">Website</a></li>
            <li class="social-twitter"><a href="https://twitter.com/connecthelp_org">@connecthelp_org</a></li>
        </ul>     
    </div><!-- .note -->
</div><!-- .vcard -->

{% endif %}
