{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Bob Sofman</h2>
	</div>

	<div class="layout-minor">
		<p>Former Chief Program Officer</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff Alumni</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/bob-sofman.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Bob Sofman (Chief Program Officer) has had a diverse career – from counseling adolescents early in his career to holding executive positions in both large companies and startups. During the 10 years Bob spent at ATT, he held a variety of positions, including running ATT’s International Inbound business. From ATT, Bob helped launch PacBell’s Long Distance business and from there joined his first startup AVIRNEX in a CMO role. After a successful acquisition, Bob joined PointCast where he helped direct the sale of the company and then spent 7 years as an SVP at Charles Schwab where he launched Schwab’s wireless business and led the eBusiness Group. He holds a BS in Psychology and two Masters Degrees (Counseling and Computer Science), as well as being certified in change and culture management. Bob is a single father of a 6 year-old son, lives in San Francisco, and sits on several non-profit and advisory boards.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/robert-sofman/7/bb9/452">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>robert-sofman/<wbr>7/<wbr>bb9/<wbr>452</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/bob/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>bob/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Bob Sofman</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/bob-sofman.jpg">

    <div class="p-note profile-note">
        <p>Former Chief Program Officer</p>

        <p>Bob Sofman has had a diverse career – from counseling adolescents early in his career to holding executive positions in both large companies and startups. During the 10 years Bob spent at ATT, he held a variety of positions, including running ATT’s International Inbound business.…</p>

        <p><a class="link-more" href="{{ include.base }}/people/bob-sofman/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/robert-sofman/7/bb9/452">LinkedIn</a></li>
        </ul>
    </div>
</div>

{% endif %}
