{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Bradley Holt</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://codeforbtv.org/">Burlington, VT Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains/">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Bradley Holt is a Code for America Brigade Captain with Code for BTV in Burlington, Vermont. He is Co-Founder and Technical Director at Found Line, a creative services studio with design and development capabilities in web, print, and mobile. He is an organizer of Vermont Code Camp and the Northeast PHP Conference. He serves as Board Chair at Vermont Community Access Media (VCAM)—a non-profit community media and technology center. He serves on the Burlington Mayor's BTV Ignite Advisory Committee. Bradley is an author and a speaker.
</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/BradleyHolt">@BradleyHolt</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/bradley-holt">http://github<wbr>.com/<wbr>bradley-holt</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/bradleyholt">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>bradleyholt</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Bradley Holt</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" />
    <div class="p-note profile-note">
        <p>
            <a href="http://codeforbtv.org/">Burlington, VT Brigade</a>
        </p>
        <p>
            Bradley Holt is a Code for America Brigade Captain with Code for BTV in Burlington, Vermont. He is Co-Founder and Technical Director at Found Line, a creative services studio with design and development capabilities in web, print, and mobile. He is an organizer of Vermont Code Camp and the Northeast PHP Conference...
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/bradley-holt/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/bradleyholt">LinkedIn</a></li>
            <li class="social-twitter"><a href="http://www.twitter.com/BradleyHolt">@BradleyHolt</a></li>
            <li class="social-github"><a href="https://github.com/bradley-holt">GitHub</a></li>
        </ul>
    </div>
</div>

{% endif %}
