{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Brielle Plump</h2>
	</div>

	<div class="layout-minor">
		<p>Community Coordinator</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/brielle-plump.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">
	    Brielle joined Code for America in May 2014.   As Communities Coordinator, Brielle manages incoming communication channels for the Code for America Community Programs, specifically Code for All and the Code for America Brigade.   Prior to joining the Code for America team, Brielle worked as a Marketing Manager, then Faculty Manager for Kaplan Test Prep’s Graduate Division. Prior to joining Kaplan, Brielle was a Campaign Director for Environment California and a Community Developer for the National Arthritis Foundation. Brielle has a range of experiences managing community wellness & education based projects, operating in a virtual workforce, researching health & engagement, as well as teaching Public Speech and Yoga. Brielle holds a B.A. in Communication from the University of California, Davis, and an M.A. in Communication from San Diego State University. 
	    </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/bplump">@bplump</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="https://www.linkedin.com/in/bplump">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>bplump</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Becca Blazak</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/brielle-plump.jpg">

    <div class="p-note profile-note">
        <p>Community Coordinator</p>

        <p>Brielle joined Code for America in May 2014.   As Communities Coordinator, Brielle manages incoming communication channels for the Code for America Community Programs, specifically Code for All and the Code for America Brigade.   Prior to joining the Code for America team, Brielle worked as a Marketing Manager, then Faculty Manager for Kaplan Test Prep’s Graduate Division...
</p>

        <p><a class="link-more" href="{{ include.base }}/people/brielle-plump/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="https://www.linkedin.com/in/bplump">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/bplump">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
