{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">
	<div class="heading">
    <h2 class="p-name">Caitlin Docker</h2>
	</div>

	<div class="layout-minor">
    <p>Content and Community Manager</p>
    <h4 class="text-whisper layout-tight">Member of</h4>

    <ul class="list-no-bullets text-whisper link-invert">
      <li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>
    </ul>

    <img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/caitlin-docker.jpg" />
	</div>

	<div class="layout-major">
    <p class="p-note">
      Caitlin joined Code for America in November 2014 to build and launch a community of practice to convene practitioners around specific issues in <a href="http://www.codeforamerica.org/focus/economic-development/">economic development</a>. She’ll work closely with the Brigade team to leverage that megaphone toward CfA’s focus areas. Caitlin will be documenting and disseminating the promising practices our Fellows and Brigade volunteers see across the country. Before joining Code for America, Caitlin worked as a Senior Account Executive at GMMB focusing on social innovation with the federal government and other cause-related issues.
    </p>

    <div class="spotlight">
      <h3 class="text-whisper">Contact</h3>
      <table class="table-unstyled table-minor">
        <tr><th>Twitter</th><td><a href="https://twitter.com/caitlindocker">@CaitlinDocker</a></td></tr>
        <tr><th>LinkedIn</th><td><a href="https://www.linkedin.com/in/caitlindocker">https://www.<wbr>linkedin.com/in/<wbr>caitlindocker</a></td></tr>
      </table>
    </div>
	</div>
</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
  <h3 class="p-name profile-name">Caitlin Docker</h3>

  <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/caitlin-docker.jpg">

  <div class="p-note profile-note">
		<p>Content and Community Manager</p>
    <p>
      Caitlin joined Code for America in November 2014 to build and launch a community of practice around specific issues within economic development.
    </p>

    <p><a class="link-more" href="{{ include.base }}/people/caitlin-docker/">More</a></p>

    <ul class="list-social list-social-horizontal">
      <li class="social-linkedin"><a href="https://www.linkedin.com/in/caitlindocker">LinkedIn</a></li>
      <li class="social-twitter"><a href="https://twitter.com/CaitlinDocker">@CaitlinDocker</a></li>
    </ul>
  </div>
</div>

{% endif %}
