{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Carolina Yu</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/carolina-yu.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">
	    Carolina joined Code for America in 2013. Originally from New York, she moved to the Bay Area after graduating from Boston University with a degree in psychology.   Her diverse career spans from working in the non-profit sector to healthcare and retail operations.   In her spare time, one will catch her volunteering, playing a word/trivia game and talking about (and enjoying) all epicurean matters as she considers herself a food lover. 
	    </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/carolina-yu/10/585/837/">
http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>ccarolina-yu/<wbr>10/585/837/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Carolina Yu</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/carolina-yu.jpg">

    <div class="p-note profile-note">
        <p>Operations Coordinator</p>

        <p>Carolina joined Code for America in 2013. Originally from New York, she moved to the Bay Area after graduating from Boston University with a degree in psychology.   Her diverse career spans from working in the non-profit sector to healthcare and retail operations.   In her spare time, one will catch her volunteering...</p>

        <p><a class="link-more" href="{{ include.base }}/people/carolina-yu/">More</a></p>

        <ul class="list-social list-social-horizontal">
<li class="social-linkedin"><a href="http://www.linkedin.com/pub/carolina-yu/10/585/837/">LinkedIn</a></li>
        </ul>
    </div>
</div>

{% endif %}
