{% comment %} Required speaker variables {% endcomment %}
{% assign speaker-key       = 'catherine-bracy' %}
{% assign speaker-name      = 'Catherine Bracy' %}
{% assign speaker-bio       = 'Catherine oversees Code for America&rsquo;s civic engagement portfolio, including the Brigade program. She also founded and runs Code for All, Code for America&rsquo;s international partnership program. <!-- break -->Until November 2012, she was Director of Obama for America&rsquo;s technology field office in San Francisco, the first of its kind in American political history. She was responsible for organizing technologists to volunteer their skills to the campaign&rsquo;s technology and digital efforts. <!-- break -->Prior to joining the campaign, she ran the Knight Foundation&rsquo;s 2011 News Challenge and before that was the administrative director at Harvard&rsquo;s Berkman Center for Internet & Society. She is on the board of directors at the Citizen Engagement Lab and the Public Laboratory.' %}
{% assign speaker-short-bio = 'Catherine oversees Code for America&rsquo;s civic engagement efforts. She a product manager and director of the Obama campaign&#8217;s 2012 technology field office in San Francisco.' %}
{% assign speaker-title     = 'Director of Community Organizing, Code for America' %}
{% assign speaker-topics    = 'topic-community\Community Organizing|civic-engagement\Civic Engagement' | split: "|" %}
{% capture embed %}<iframe src="https://embed.ted.com/talks/catherine_bracy_why_good_hackers_make_good_citizens.html" height="300" width="650" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>{% endcapture %}
{% assign speaker-vid-title = 'Why Good Hackers Make Good Citizens' %}
{% assign speaker-vid-desc  = 'Hacking is about more than mischief-making or political subversion. As Catherine Bracy describes in this spirited talk, it can be just as much a force for good as it is for evil. She spins through some inspiring civically-minded projects in Honolulu, Oakland and Mexico City &mdash; and makes a compelling case that we all have what it takes to get involved.' %}
{% assign speaker-vid-date  = 'September 20, 2013' %}
{% assign speaker-vid-loc   = 'New York, NY' %}
{% assign speaker-vid-group = 'TEDCity2.0 2013' %}
{% comment %} Optional speaker variables {% endcomment %}
{% assign speaker-twitter   = 'cbracy' %}
{% assign speaker-linkedin  = 'catherine-bracy/19/84b/350' %}
{% assign speaker-blogposts = 'catherine-bracy' %}
{% assign speaker-github    = 'cbracy' %}
{% assign speaker-playlist  = false %}
{% assign speaker-quote     = false %}
{% assign speaker-events    = '<a href="https://www.youtube.com/watch?v=P8lG5_6pvHg" target="_blank">WorldAffairs 2014 Civic Innovators</a>, The NextGen Changemakers Reception\March 14, 2014 in San Francsico, CA|<a href="https://www.youtube.com/watch?v=QSfQDshyULo" target="_blank">Build a New Product, Infect a Whole Organization</a>, The Lean Startup Conference\Dec. 9, 2013 in San Francisco, CA|<a href="https://www.youtube.com/watch?v=R2-Seq8S2jo" target="_blank">Coding better government</a>, TEDxKrakow\October 25, 2013 in Krakow, Poland|<a href="https://www.youtube.com/watch?v=Sictm3RNSt8" target="_blank">What Techies Need to Know About Politics</a>, PDF13\June 6, 2013 in New York, NY' | split: '|' %}
{% comment %}{% assign speaker-events    = 'Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA|Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA' | split: '|' %}{% endcomment %}
{% assign speaker-similar   = 'lane-becker|hannah-young' | split: '|' %}
{% comment %} End variables {% endcomment %}

{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Catherine Bracy</h2>
	</div>

	<div class="layout-minor">
		<p>Director of Community Organizing</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/catherine-bracy.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Catherine Bracy (Director of Community Organizing) Until November 2012, she was a product manager and director of the Obama campaign’s technology field office in San Francisco, the first of its kind in American political history. In that role she was responsible for organizing technologists to volunteer their skills to the campaign’s technology and digital efforts. Prior to joining the campaign, she ran the Knight Foundation’s 2011 News Challenge and before that was the administrative director at Harvard’s Berkman Center for Internet &amp; Society. She is on the board of directors at the Citizen Engagement Lab and the Public Laboratory.</p>
	    <p><a href="http://www.codeforamerica.org/2013/01/03/catherine-bracy-why-im-coding-for-america/">Why does Catherine Bracy code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/cbracy">@cbracy</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/catherine-bracy/19/84b/350">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>catherine-bracy/<wbr>19/<wbr>84b/<wbr>350</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/catherine-bracy/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>catherine-bracy/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Catherine Bracy</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/catherine-bracy.jpg">

    <div class="p-note profile-note">
        <p>Director of Community Organizing</p>

        <p>Until November 2012, Catherine was a product manager and director of the Obama campaign’s technology field office in San Francisco, the first of its kind in American political history. In that role she was responsible for organizing technologists to volunteer…</p>

        <p><a class="link-more" href="{{ include.base }}/people/catherine-bracy/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/catherine-bracy/19/84b/350">LinkedIn</a></li>

            <li class="social-github"><a href="https://github.com/cbracy">GitHub</a></li>

            <li class="social-twitter"><a href="https://twitter.com/cbracy">Twitter</a></li>
        </ul>
    </div>
</div>

{% elsif include.context == 'speaker-page' %}

  {% include speakers/speaker-page.html base="../.." %}

{% elsif include.context == 'speaker-card' %}

  {% include speakers/speaker-card.html base="../.." %}

{% endif %}