{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Catherine Bracy</h2>
	</div>

	<div class="layout-minor">
		<p>Director of Community Organizing</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/catherine-bracy.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Catherine Bracy (Director of Community Organizing) Until November 2012, she was a product manager and director of the Obama campaign’s technology field office in San Francisco, the first of its kind in American political history. In that role she was responsible for organizing technologists to volunteer their skills to the campaign’s technology and digital efforts. Prior to joining the campaign, she ran the Knight Foundation’s 2011 News Challenge and before that was the administrative director at Harvard’s Berkman Center for Internet &amp; Society. She is on the board of directors at the Citizen Engagement Lab and the Public Laboratory.</p>
	    <p><a href="http://www.codeforamerica.org/2013/01/03/catherine-bracy-why-im-coding-for-america/">Why does Catherine Bracy code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/cbracy">@cbracy</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/catherine-bracy/19/84b/350">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>catherine-bracy/<wbr>19/<wbr>84b/<wbr>350</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/catherine-bracy/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>catherine-bracy/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Catherine Bracy</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/catherine-bracy.jpg">

    <div class="p-note profile-note">
        <p>Director of Community Organizing</p>

        <p>Until November 2012, Catherine was a product manager and director of the Obama campaign’s technology field office in San Francisco, the first of its kind in American political history. In that role she was responsible for organizing technologists to volunteer…</p>

        <p><a class="link-more" href="{{ include.base }}/people/catherine-bracy/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/catherine-bracy/19/84b/350">LinkedIn</a></li>

            <li class="social-github"><a href="https://github.com/cbracy">GitHub</a></li>

            <li class="social-twitter"><a href="https://twitter.com/cbracy">Twitter</a></li>
        </ul>
    </div>
</div>

{% elsif include.context == 'speaker-landing' %}

  <p>Catherine was a product manager and director of the Obama campaign’s technology field office in San Francisco, the first of its kind in U.S. political history.</p>

{% endif %}
