{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Chase Southard</h2>
	</div>

	<div class="layout-minor">
		
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://www.meetup.com/cfabrigade/Lexington-KY/">Lexington, KY Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/chase-southard.jpg" />
	</div>

	<div class="layout-major">
	    	
	    <p class="p-note">A former research analyst turned software developer living in the heart of the bluegrass, Chase has a fondness and a passion for science and technology especially at the intersection of disciplines like biology and computer science. His interest in Open Data certainly stems from a decade in academia, it was a chance encounter with some folks from the Sunlight Foundation that sparked his desire to be a local advocate and civic hacker in beautiful Lexington, Kentucky. Since 2010, Chase has helped lead a group of like-minded civic hackers to help empower citizens through data. When not hacking, he is enjoys his time playing various stringed instruments and enjoying the bluegrass with his family.</p>
	    

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="http://twitter.com/southard">@southard</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/chasesouthard/">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>chasesouthard/</a></td></tr>

	    	</table>
	    </div>	    
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Chase Southard</h3>
    <img alt="chase-southard" class="u-photo profile-photo" src="{{ include.base }}/media/images/people/chase-southard.jpg" /> 
    <div class="p-note profile-note">
        <p>
            <a href="http://www.meetup.com/cfabrigade/Lexington-KY/">Lexington, KY Brigade</a>
        </p>
        <p>
            A former research analyst turned software developer living in the heart of the bluegrass, Chase has a fondness and a passion for science and technology especially at the intersection of disciplines like biology and computer science. 
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/chase-southard">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/chasesouthard/">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/southard">@southard</a></li>
        </ul>
    </div>
</div>

{% endif %}
