{% comment %} Required speaker variables {% endcomment %}
{% assign speaker-key       = 'christopher-whitaker' %}
{% assign speaker-name      = 'Christopher Whitaker' %}
{% assign speaker-bio       = 'Christopher is a project management consultant at the Smart Chicago Collaborative, utilizing his experience in government and community organizing to advance civic innovation in Chicago. Whitaker also serves as the Chicago Brigade Captain for Code for America, supporting civic hacking events and teaching a weekly Civic Hacking 101 class. <!-- break -->He is a graduate of DePaul University (MPA) and Sam Houston State University (BA, Political Science). Previously, Whitaker served with the US Army in Iraq as a mechanized infantryman.' %}
{% assign speaker-short-bio = 'Christopher uses his experience in government and community organizing to advance civic innovation at the Smart Chicago Collaborative and as Chicago Brigade Captain.' %}
{% assign speaker-title     = 'Chicago Brigade Captain, Code for America' %}
{% assign speaker-topics    = 'philosophy-gov\Philosophy of Government Innovation' | split: "|" %}
{% comment %}{% capture embed %}<iframe src="http://embed.ted.com/talks/catherine_bracy_why_good_hackers_make_good_citizens.html" height="300" width="650" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>{% endcapture %}{% endcomment %}
{% assign speaker-vid-title = '' %}
{% assign speaker-vid-desc  = '' %}
{% assign speaker-vid-date  = '' %}
{% assign speaker-vid-loc   = '' %}
{% assign speaker-vid-group = '' %}
{% comment %} Optional speaker variables {% endcomment %}
{% assign speaker-twitter   = 'civicwhitaker' %}
{% assign speaker-linkedin  = 'christopherwhitaker' %}
{% assign speaker-blogposts = 'chris-whitaker' %}
{% assign speaker-github    = 'GovInTrenches' %}
{% assign speaker-playlist  = false %}
{% assign speaker-quote     = false %}
{% comment %}{% assign speaker-events    = 'Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA|Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA' | split: '|' %}{% endcomment %}
{% assign speaker-similar   = 'catherine-bracy|luke-norris' | split: '|' %}
{% comment %} End variables {% endcomment %}

{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Christopher Whitaker</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="https://opengovhacknight.eventbrite.com/">Chicago, IL Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains/">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/christopher-whitaker.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Christopher Whitaker is a project management consultant at the Smart Chicago Collaborative, utilizing his experience in government and community organizing to advance civic innovation in Chicago. Whitaker also serves as the Chicago Brigade Captain for Code for America, supporting civic hacking events and teaching a weekly Civic Hacking 101 class. He is a graduate of DePaul University (MPA) and Sam Houston State University (BA, Political Science). Previously, Whitaker served with the US Army in Iraq as a mechanized infantryman.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/civicwhitaker">@civicwhitaker</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/christopherwhitaker">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>christopherwhitaker</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/chris-whitaker/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>chris-whitaker/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Christopher Whitaker</h3>
    <img alt="chris-whitaker" class="u-photo profile-photo" src="{{ include.base }}/media/images/people/christopher-whitaker.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="https://opengovhacknight.eventbrite.com/">Chicago, IL Brigade</a>
        </p>
        <p>
            Christopher Whitaker is a project management consultant at the Smart Chicago Collaborative, utilizing his experience in government and community organizing to advance civic innovation in Chicago. Whitaker also serves as the Chicago Brigade Captain for Code for America, supporting civic hacking events and teaching a weekly Civic Hacking 101 class.
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/christopher-whitaker/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/christopherwhitaker">LinkedIn</a></li>
            <li class="social-twitter"><a href="http://www.twitter.com/civicwhitaker">@civicwhitaker</a></li>
        </ul>
    </div>
</div>

{% elsif include.context == 'speaker-page' %}

  {% include speakers/speaker-page.html base="../.." %}

{% elsif include.context == 'speaker-card' %}

  {% include speakers/speaker-card.html base="../.." %}

{% endif %}