{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Clara Gonzalez-Sueyro</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2014-fellows/">2014 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/clara-gonzalez-sueyro.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">
	    Clara is a design researcher with a degree in Social Anthropology from The University of Buenos Aires, Argentina. Recently Clara led a project to help foster care youth to better transition into adult life through peer-to-peer networking. She led two web startups as product manager and launched her own non-profit...
	    </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/claragsueyro">@claragsueyro</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2014-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Clara Gonzalez-Sueyro</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/clara-gonzalez-sueyro.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/sanjuan/">Puerto Rico Team</a>
        </p>
        <p>
        Clara is a design researcher with a degree in Social Anthropology from The University of Buenos Aires, Argentina. Recently Clara led a project to help foster care youth to better transition into adult life through peer-to-peer networking. She led two web startups as product ...
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/clara-gonzalez-sueyro/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/claragonzalezsueyro/en">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/claragsueyro">@claragsueyro</a></li>
        </ul>
    </div>
</div>

{% endif %}
