{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Colin Copeland</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://codefordurham.com/">Durham, NC Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains/">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Colin is a web developer who likes to hack on data. He co-owns Caktus Group, a 17 member custom web app development firm out of North Carolina specializing in Django-powered websites. At Caktus, he gets to work with a great team on projects for a variety of clients, including UNICEF, UNC, and the University of Chicago. After being introduced to open data, he attended a few Open Data Days and eventually met Andy, his Brigade co-captain, and started Code for Durham.
</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/copelco">@copelco</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/copelco">http://github<wbr>.com/<wbr>copelco</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/colincopeland">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>colincopeland</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Colin Copeland</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" />
    <div class="p-note profile-note">
        <p>
            <a href="http://codefordurham.com/">Durham, NC Brigade</a>
        </p>
        <p>
            Colin is a web developer who likes to hack on data. He co-owns Caktus Group, a 17 member custom web app development firm out of North Carolina specializing in Django-powered websites.
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/colin-copeland/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/colincopeland">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/copelco">@copelco</a></li>
            <li class="social-github"><a href="https://github.com/copelco">GitHub</a></li>
        </ul>
    </div>
</div>

{% endif %}
