{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Cyd Harrell</h2>
	</div>

	<div class="layout-minor">
		<p>UX Evangelist</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/cyd-harrell.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Cyd Harrell (UX Evangelist) is a highly versatile and collaborative user experience expert with 12+ years of success improving online and software products. As CfA’s UX evangelist she works with fellows and staff to ensure we’re creating inventive and cost-effective solutions to serve the needs of real users. Previously she has been a Board Member at Brightworks School and the VP of UX Research at Bolt Peters.</p>
	    <p><a href="http://www.codeforamerica.org/2013/02/12/cyd-harrell-why-im-coding-for-america/">Why does Cyd Harrell code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/cydharrell">@cydharrell</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/cydharrell">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>cydharrell</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/cyd-harrell/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>cyd-harrell/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Cyd Harrell</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/cyd-harrell.jpg">

    <div class="p-note profile-note">
        <p>UX Evangelist</p>

        <p>Cyd Harrell is a highly versatile and collaborative user experience expert with 12+ years of success improving online and software products. As CfA’s UX evangelist she works with fellows and staff to ensure we’re creating inventive and cost-effective solutions to serve the needs of…</p>

        <p><a class="link-more" href="{{ include.base }}/people/cyd-harrell/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/cydharrell">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/cydharrell">Twitter</a></li>
        </ul>
    </div>
</div>


{% elsif include.context == 'speaker-landing' %}

  <p>Cyd Harrell is a highly versatile and collaborative user experience expert with 12+ years of success improving online and software products.</p>

{% endif %}
