{% comment %} Required speaker variables {% endcomment %}
{% assign speaker-key       = 'cyd-harrell' %}
{% assign speaker-name      = 'Cyd Harrell' %}
{% assign speaker-bio       = 'Cyd is a highly versatile and collaborative user experience expert with 12+ years of success improving online and software products. As CfA’s UX evangelist she works with fellows and staff to ensure we&rsquo;re creating inventive and cost-effective solutions to serve the needs of real users.<!-- break -->Previously she has been a Board Member at Brightworks School and the VP of UX Research at Bolt Peters.' %}
{% assign speaker-short-bio = 'Cyd is a highly versatile and collaborative user experience expert with 12+ years of success improving online and software products.' %}
{% assign speaker-title     = 'Product Director, Code for America' %}
{% assign speaker-topics    = 'design-ux\User-centered Design' | split: "|" %}
{% comment %}{% capture embed %}<iframe src="http://embed.ted.com/talks/catherine_bracy_why_good_hackers_make_good_citizens.html" height="300" width="650" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>{% endcapture %}{% endcomment %}
{% assign speaker-vid-title = false %}
{% assign speaker-vid-desc  = false %}
{% assign speaker-vid-date  = false %}
{% assign speaker-vid-loc   = false %}
{% assign speaker-vid-group = false %}
{% comment %} Optional speaker variables {% endcomment %}
{% assign speaker-twitter   = 'cydharrell' %}
{% assign speaker-linkedin  = 'cydharrell' %}
{% assign speaker-blogposts = 'cyd-harrell' %}
{% assign speaker-github    = 'cbracy' %}
{% assign speaker-playlist  = false %}
{% assign speaker-quote     = false %}
{% comment %}{% assign speaker-events    = 'Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA|Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA' | split: '|' %}{% endcomment %}
{% assign speaker-similar   = 'michal-migurski|jack-madans' | split: '|' %}
{% comment %} End variables {% endcomment %}

{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Cyd Harrell</h2>
	</div>

	<div class="layout-minor">
		<p>Product Director</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/cyd-harrell.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Cyd Harrell (UX Evangelist) is a highly versatile and collaborative user experience expert with 12+ years of success improving online and software products. As CfA’s UX evangelist she works with fellows and staff to ensure we’re creating inventive and cost-effective solutions to serve the needs of real users. Previously she has been a Board Member at Brightworks School and the VP of UX Research at Bolt Peters.</p>
	    <p><a href="https://www.codeforamerica.org/2013/02/12/cyd-harrell-why-im-coding-for-america/">Why does Cyd Harrell code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/cydharrell">@cydharrell</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/cydharrell">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>cydharrell</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/cyd-harrell/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>cyd-harrell/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Cyd Harrell</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/cyd-harrell.jpg">

    <div class="p-note profile-note">
        <p>Product Director</p>

        <p>Cyd Harrell is a highly versatile and collaborative user experience expert with 12+ years of success improving online and software products. As CfA’s UX evangelist she works with fellows and staff to ensure we’re creating inventive and cost-effective solutions to serve the needs of…</p>

        <p><a class="link-more" href="{{ include.base }}/people/cyd-harrell/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/cydharrell">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/cydharrell">Twitter</a></li>
        </ul>
    </div>
</div>

{% elsif include.context == 'speaker-page' %}

  {% include speakers/speaker-page.html base="../.." %}

{% elsif include.context == 'speaker-card' %}

  {% include speakers/speaker-card.html base="../.." %}

{% endif %}