{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Daniel Getelman</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2014-fellows/">2014 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/daniel-getelman.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Dan is a software developer and entrepreneur from New York City. He dropped out of school to co-found Lore, an education startup that sought to turn classrooms into online communities. He's a recent grad from the Management and Technology Program at the University of Pennsylvania, where he studied Computer Science and Managerial Analytics.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/dget">@dget</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/dget">http://github<wbr>.com/<wbr>dget</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/dangetelman/">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>dangetelman/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2014-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Daniel Getelman</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/daniel-getelman.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/longbeach/">Long Beach Team</a>
        </p>
        <p>
            Dan is a software developer and entrepreneur from New York City. He dropped out of school to co-found Lore, an education startup that sought to turn classrooms into online communities. He’s a recent grad from the Management and Technology Program at the University of Pennsylvania, where he studied ...
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/daniel-getelman/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/dangetelman/">LinkedIn</a></li>
            <li class="social-github"><a href="http://www.github.com/dget">Github</a></li>
            <li class="social-twitter"><a href="http://www.twitter.com/dget">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
