{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Danny Whalen</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2014-fellows/">2014 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/danny-whalen.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Danny is a web developer from Phoenix, AZ. His passion is building communities around open source software. He maintains and contributes to a variety of open source projects and helped run his local Ruby user group. Most recently, he crafted web applications at Integrallis Software. Danny studied finance at Ithaca College and computer engineering at Arizona State University.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/invisiblefunnel">@invisiblefunnel</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/invisiblefunnel/">http://github<wbr>.com/<wbr>invisiblefunnel/</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/danny-whalen/77/192/ba8">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>danny-whalen/<wbr>77/<wbr>192/<wbr>ba8</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2014-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Danny Whalen</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/danny-whalen.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/charlotte/">Charlotte Team</a>
        </p>
        <p>
            Danny is a web developer from Phoenix, AZ. His passion is building communities around open source software. He maintains and contributes to a variety of open source projects and helped run his local Ruby user group. Most recently, he crafted web applications at Integrallis Software. Danny studied finance…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/danny-whalen/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/danny-whalen/77/192/ba8">LinkedIn</a></li>
            <li class="social-github"><a href="http://github.com/invisiblefunnel">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/invisiblefunnel">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
