{% comment %} Required speaker variables {% endcomment %}
{% assign speaker-key       = 'david-leonard' %}
{% assign speaker-name      = 'David Leonard' %}
{% assign speaker-bio       = 'David is a designer and developer. He helps Code for America focus on serving its users on the web and across digital platforms. David worked as a 2014 fellow in San Antonio, Texas, where his team developed open data practices and made <a href="http://homebasefix.com" target="_blank">Homebase</a>, an app to help homeowners fix their homes.<!-- break --> As Digital Design Coordinator for Gannett&rsquo;s Louisville Design studio, David focused on helping Gannett newspapers lead the charge into a digital future with tablet-based publications.' %}
{% assign speaker-short-bio = 'David is a designer, developer and open data advocate. He develops inclusive websites and apps to push Code for America&rsquo;s mission forward.' %}
{% assign speaker-title     = 'Frontend Developer, Code for America' %}
{% assign speaker-topics    = 'design-ux\User-centered Design' | split: "|" %}
{% comment %}{% capture embed %}<iframe src="//www.youtube.com/embed/yViYA8IG36U" height="300" width="650" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>{% endcapture %}{% endcomment %}
{% assign speaker-vid-title = '' %}
{% assign speaker-vid-desc  = '' %}
{% assign speaker-vid-date  = '' %}
{% assign speaker-vid-loc   = '' %}
{% assign speaker-vid-group = '' %}
{% comment %} Optional speaker variables {% endcomment %}
{% assign speaker-twitter   = 'davidleonardii' %}
{% assign speaker-linkedin  = 'davidrleonard' %}
{% assign speaker-blogposts = false %}
{% assign speaker-github    = 'davidrleonard' %}
{% assign speaker-playlist  = false %}
{% assign speaker-quote     = false %}
{% comment %}{% assign speaker-events    = 'Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA|Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA' | split: '|' %}{% endcomment %}
{% assign speaker-similar   = 'rebecca-coelius|nicole-neditch' | split: '|' %}
{% comment %} End variables {% endcomment %}


{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">David Leonard</h2>
	</div>

	<div class="layout-minor">
    <p>Frontend Developer</p>
    <h4 class="text-whisper layout-tight">Member of</h4>
    <ul class="list-no-bullets text-whisper link-invert">
      <li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>
    	<li><a href="{{ include.base }}/geeks/our-geeks/2014-fellows/">2014 Fellows</a></li>
    </ul>
  	<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/david-leonard.jpg" />
	</div>

	<div class="layout-major">
    <p class="p-note">David is a designer and developer. He helps Code for America focus on serving its users on the web and across digital platforms. David worked as a 2014 fellow in San Antonio, Texas, where his team developed open data practices and made <a href="http://homebasefix.com" target="_blank">Homebase</a>, an app to help homeowners fix their homes.</p>
    <p class="p-note">As Digital Design Coordinator for Gannett&rsquo;s Louisville Design studio, David focused on helping Gannett newspapers lead the charge into a digital future with tablet-based publications.</p>
    <div class="spotlight">
    	<h3 class="text-whisper">Contact</h3>
    	<table class="table-unstyled table-minor">
    		<tr><th>Twitter</th><td><a href="https://twitter.com/davidleonardii">@davidleonardii</a></td></tr>
        <tr><th>GitHub</th><td><a href="http://github.com/davidrleonard">http://github<wbr>.com/<wbr>davidrleonard</a></td></tr>
        <tr><th>LinkedIn</th><td><a href="www.linkedin.com/in/davirleonard">www.linkedin.com/in/davidrleonard</a></td></tr>
    	</table>
    </div><!-- end .spotlight -->
	</div>

</div>

{% elsif include.context == '2014-fellows' or include.context == 'about-team' %}

<div class="h-card profile-small">
  <h3 class="p-name profile-name">David Leonard</h3>
  <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/david-leonard.jpg" />

  <div class="p-note profile-note">
      <p>
        {% if include.context == '2014-fellows' %}
          <a href="{{ include.base }}/cities/sanantonio/">San Antonio Team</a>
        {% else %}
          Frontend Developer
        {% endif %}
      </p>
      <p>David is a designer and developer. He helps Code for America focus on serving its users on the web and across digital platforms. David worked as a 2014 fellow in San Antonio, Texas, where his team developed open data practices and made <a href="http://homebasefix.com" target="_blank">Homebase</a> &hellip;</p>
      <p><a class="link-more" href="{{ include.base }}/people/david-leonard/">More</a></p>
      <ul class="list-social list-social-horizontal">
        <li class="social-linkedin"><a href="http://www.linkedin.com/in/davidrleonard"></a></li>
        <li class="social-github"><a href="https://github.com/davidrleonard">GitHub</a></li>
        <li class="social-twitter"><a href="http://www.twitter.com/davidleonardii">@davidleonardii</a></li>
      </ul>
  </div><!-- end profile-note -->

</div>

{% elsif include.context == 'speaker-page' %}

  {% include speakers/speaker-page.html base="../.." %}

{% elsif include.context == 'speaker-card' %}

  {% include speakers/speaker-card.html base="../.." %}

{% endif %}
