{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Dharmishta Rood</h2>
	</div>

	<div class="layout-minor">
		<p>Accelerator Program Manager</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/dharmishta-rood.jpg" />
	</div>

	<div class="layout-major">
	    	
	    <p class="p-note"> Dharmishta Rood (Accelerator Program Manager) believes that technology has the capacity to facilitate positive change in the world. Before joining Code for America, she was a Fellow in Psychology at Harvard, a Fellow at MITMedia Lab’s Center for Civic Media, wrote cases, industry reports and researched the Internet at Harvard Business School, and was a researcher at the Berkman Center for Internet and Society. While in Cambridge, she co-founded and co-directed MIT’s festival for entrepreneurs in conjunction with the Trust Center for Entrepreneurship. She is on the board of SXSW’s V2Venture and Startup Accelerator. She holds an EdM from Harvard University and graduated Phi Beta Kappa from UCLA with a BA in Design | Media Arts.</p>
	    <p><a href="http://www.codeforamerica.org/2013/10/08/dharmishta-rood-why-im-coding-for-america/">Why does Dharmishta Rood code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="http://twitter.com/Dharmishta">@Dharmishta</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/dharmishta">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>dharmishta</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/dharmishta-rood/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>dharmishta-rood/</a></td></tr>

	    	</table>
	    </div>	    
	</div>

</div>

{% endif %}
