{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Diana Tran</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/diana-tran.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Diana Tran is a graphic designer, veteran, and a recent graduate of the University of Texas, where she earned her BFA in visual communication. After hight school Diana enlisted in the United States Marine Corps, and spent six years in the reserves. In 2006 she deployed in support of Operation Iraqi Freedom. Diana is currently pursuing a MFA in graphic design at Savannah College of Art and Design.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/dianavtran">@dianavtran</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/dianavtran">http://linkedin<wbr>.com/<wbr>in/<wbr>dianavtran</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/diana/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>diana/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Diana Tran</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/diana-tran.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/honolulu/">Honolulu Team</a>
        </p>
        <p>
            Diana Tran is a graphic designer, veteran, and a recent graduate of the University of Texas, where she earned her BFA in visual communication. After hight school Diana enlisted in the United States Marine Corps, and spent six years in the reserves. In 2006 she deployed in support of Operation Iraqi Freedom.…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/diana-tran/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/dianavtran"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/dianavtran">@dianavtran</a></li>

        </ul>
    </div>
</div>

{% endif %}
