{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Doneliza Joaquin</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/doneliza-joaquin.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Doneliza is an urban planner interested in city design, transportation networks, and data visualization. She has worked as a graphic designer and on community development and events at the Dumbo Improvement District. She holds degree in Urban Studies from Fordham University and a Masters in Urban Planning from Columbia University.</p>
	    <p><a href="http://www.codeforamerica.org/2013/07/26/doneliza-joaquin-why-im-coding-for-america/">Why does Doneliza Joaquin code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/donelizasays">@donelizasays</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/donelizajoaquin">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>donelizajoaquin</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/blog/author/doneliza/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>blog/<wbr>author/<wbr>doneliza/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Doneliza Joaquin</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/doneliza-joaquin.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/newyork/">New York City Team</a>
        </p>
        <p>
            Doneliza is an urban planner interested in city design, transportation networks, and data visualization. She has worked as a graphic designer and on community development and events at the Dumbo Improvement District. She holds degree in Urban Studies from Fordham University and a Masters in Urban Planning from Columbia University.
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/doneliza-joaquin/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/donelizajoaquin"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/donelizasays">@donelizasays</a></li>
        </ul>
    </div>
</div>

{% endif %}
