{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Elizabeth Hunt</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/elizabeth-hunt.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Elizabeth Hunt is a user experience strategist and designer. After graduating from the University of New Mexico with a Ph.D. in English Literature, she began working in the technology industry. Over the past ten years, she’s worked as a web designer, instructional designer, user experience designer, and creative director. During that time, she’s designed applications and online experiences, as well as a travel program, for clients such as American Express Travel, Target, and Microsoft. <a href="/elizabeth-hunt/">Video</a></p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/ezoehunt">@ezoehunt</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/ezoehunt">http://linkedin<wbr>.com/<wbr>in/<wbr>ezoehunt</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/blog/author/liz/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>blog/<wbr>author/<wbr>liz/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Elizabeth Hunt</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/elizabeth-hunt.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/philadelphia/">Philadelphia Team</a>
        </p>
        <p>
            Elizabeth Hunt is a user experience strategist and designer. After graduating from the University of New Mexico with a Ph.D. in English Literature, she began working in the technology industry. Over the past ten years, she’s worked as a web designer, instructional designer, user experience designer,…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/elizabeth-hunt/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/ezoehunt"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/ezoehunt">@ezoehunt</a></li>
        </ul>
    </div>
</div>

{% endif %}
