{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Emily Wright Moore</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/emily-wright-moore.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Emily Wright Moore is a designer and graphic artist focused on usability and visual storytelling. Emily has worked for several Bay Area groups including Banned by the Bay, Red Ink Studios, and Intersection for the Arts, where she researched and co-designed Golden Rules as part of the Prison Project. In 2006, she completed her BFA in Illustration at the California College of Arts. </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/emilyville">@emilyville</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/blog/author/emily/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>blog/<wbr>author/<wbr>emily/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Emily Wright Moore</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/emily-wright-moore.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/austin/">Austin Team</a>
        </p>
        <p>
            Emily Wright Moore is a designer and graphic artist focused on usability and visual storytelling. Emily has worked for several Bay Area groups including Banned by the Bay, Red Ink Studios, and Intersection for the Arts, where she researched and co-designed Golden Rules as part of the Prison Project…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/emily-wright-moore/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/emilyville"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/emilyville">@emilyville</a></li>
        </ul>
    </div>
</div>

{% endif %}
