{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Emma Smithayer</h2>
	</div>

	<div class="layout-minor">
		<p>2015 Fellow</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2015-fellows/">2015 Fellow</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/emma-smithayer.jpg"/>
    </div>

	<div class="layout-major">

	    <p class="p-note">
	 Emma is a software developer from Burlington, Vermont. Prior to joining Code for America, she worked on electronic medical records at athenahealth and volunteered with tech education nonprofits in Uruguay. She studied computer science and geography at Dartmouth College.







	    </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/emmasmithayer">@emmasmithayer</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="https://www.linkedin.com/pub/emma-smithayer/2a/240/14b?trk=pub-pbmap">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>shellyni</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2015-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Emma Smithayer</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/emma-smithayer.jpg">

    <div class="p-note profile-note">
        <p>2015 Fellow</p>

        <p> Emma is a software developer from Burlington, Vermont. Prior to joining Code for America, she worked on electronic medical records at athenahealth...
</p>

        <p><a class="link-more" href="{{ include.base }}/people/emma-smithayer/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="https://www.linkedin.com/pub/emma-smithayer/2a/240/14b?trk=pub-pbmap">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/emmasmithayer">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}