{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Erica Kwan</h2>
	</div>

	<div class="layout-minor">
		<p>Former Senior Engineer</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff Alumni</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/erica-kwan.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Erica Kwan (Senior Engineer) joined Code For America in 2013. Before CfA, Erica was an early engineer at Square, where she helped build out Square’s original core infrastructure and several internal applications. At CfA, Erica sustains and maintains applications created by fellows and develops tools to support the application development process. Erica has a computer science degree from the University of Victoria, a small university on the west coast of Canada. She has been coding for over 10 years and drinks a lot of tea.</p>
	    <p><a href="http://www.codeforamerica.org/2013/09/20/erica-kwan-why-im-coding-for-america/">Why does Erica Kwan code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/pui_ling">@pui_ling</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/pui">http://github<wbr>.com/<wbr>pui</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/ericakwan">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>ericakwan</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/erica-kwan/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>erica-kwan/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Erica Kwan</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/erica-kwan.jpg">

    <div class="p-note profile-note">
        <p>Former Senior Engineer</p>

        <p>Erica Kwan joined Code For America in 2013. Before CfA, Erica was an early engineer at Square, where she helped build out Square’s original core infrastructure and several internal applications. At CfA, Erica sustains and maintains applications created by fellows and develops tools…</p>

        <p><a class="link-more" href="{{ include.base }}/people/erica-kwan/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/ericakwan">LinkedIn</a></li>

            <li class="social-github"><a href="https://github.com/pui">GitHub</a></li>

            <li class="social-twitter"><a href="https://twitter.com/pui_ling">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
