{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Frances Berriman</h2>
	</div>

	<div class="layout-minor">
		<p>Senior Designer</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/frances-berriman.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Frances Berriman is a British developer who relocated from London to San Francisco in the summer of 2013, joining Code for America in January 2014.  She previously worked as the front-end lead for <a href="http://www.gov.uk">GOV.UK</a>, the UK <a href="http://digital.cabinetoffice.gov.uk/">Government Digital Service</a>'s <a href="http://digital.cabinetoffice.gov.uk/2013/03/28/designs-of-the-year/">award-winning</a> flagship project that formed a key part of the digital strategy overhaul of services for citizens in the UK.  She brings her expertise in this field to the tech team and as an advisor to the various CfA program participants.</p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/phae">@phae</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/phae">http://github<wbr>.com/<wbr>phae</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/fberriman">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>fberriman</a></td></tr>


	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Frances Berriman</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/frances-berriman.jpg">

    <div class="p-note profile-note">
        <p>Senior Designer</p>

        <p>Frances Berriman is a British developer who relocated from London to San Francisco in the summer of 2013, joining Code for America in January 2014.  She previously worked as the front-end lead for <a href="http://www.gov.uk">GOV.UK</a>…</p>

        <p><a class="link-more" href="{{ include.base }}/people/frances-berriman/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/fberriman">LinkedIn</a></li>

            <li class="social-github"><a href="https://github.com/phae">GitHub</a></li>

            <li class="social-twitter"><a href="https://twitter.com/phae">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
