{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Garrett Jacobs</h2>
	</div>

	<div class="layout-minor">
		<p>Fellowship Engagement Lead</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/garrett-jacobs.jpeg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">
	    Garrett Jacobs joined Code for America in early 2014. He collaborates with the fellowship team to help scope projects, support both our governmnet partners and the fellows throughout the program. Garrett also helps build community with our alumni members. Studying in post Katrina New Orleans Garrett quickly learned the value of community ownership as a pathway to sustainability. Before joining Code for America he served as the Outreach Coordinator at Architecture for Humanity where he managed an international network of volunteer architects, the in house intern program and managed a community lead design build project in San Francisco.  
	    </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/garrjacobs">@garrjacobs</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="https://www.linkedin.com/pub/garrett-jacobs/3a/262/b28">www.linkedin.com/pub/garrett-jacobs/3a/262/b28</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Garrett Jacobs</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/garrett-jacobs.jpeg">

    <div class="p-note profile-note">
        <p>Fellowship Engagement Lead</p>

        <p>Garrett Jacobs joined Code for America in early 2014. He collaborates with the fellowship team to help scope projects, support both our governmnet partners and the fellows throughout the program. Garrett also helps build community with our alumni members... </p>

        <p><a class="link-more" href="{{ include.base }}/people/garrett-jacobs/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="https://www.linkedin.com/pub/garrett-jacobs/3a/262/b28">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/garrjacobs">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
