{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Garrett Jacobs</h2>
	</div>

	<div class="layout-minor">
		<p>Program Coordinator, Peer Network</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/garrett-jacobs.jpeg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">
	    Garrett moved to New Orleans three days before Hurricane Katrina. The move and ensuing activity paved a formative path for his civic engagement. Beginning with the basics of leading design/build community projects Garrett quickly learned the value of community ownership as a pathway to sustainability. Garrett has been applying design thinking to challenges outside of the physical environment since finishing grad school. Before joining Code for America in early 2014 Garrett served as the Outreach Coordinator at Architecture for Humanity where he managed an international network of volunteer architects, the in house intern program and helped the development team reach its quarterly goals for the first time in the organizations 15 year history. He holds a bachelors and masters degree in Architecture from Tulane University.  
	    </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/garrjacobs">@garrjacobs</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="https://www.linkedin.com/pub/garrett-jacobs/3a/262/b28">www.linkedin.com/pub/garrett-jacobs/3a/262/b28</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Garrett Jacobs</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/garrett-jacobs.jpeg">

    <div class="p-note profile-note">
        <p>Program Coordinator, Peer Network</p>

        <p>Garrett moved to New Orleans three days before Hurricane Katrina. The move and ensuing activity paved a formative path for his civic engagement. Beginning with the basics of leading design/build community projects Garrett quickly learned the value of community ownership as a pathway to sustainability.</p>

        <p><a class="link-more" href="{{ include.base }}/people/garrett-jacobs/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="https://www.linkedin.com/pub/garrett-jacobs/3a/262/b28">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/garrjacobs">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
