{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Giselle Sperber</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2014-fellows/">2014 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/giselle-sperber.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Giselle is a user experience designer. Over the past eight years she’s worked on technology for classrooms and students, most recently at Amplify in New York. Passionate about healthy communities and good food, she co-founded the Greene Hill Food Co-op, a member owned grocery story in Brooklyn. Giselle holds a B. Arch from Rice University.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/_giselles">@_giselles</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/giselle-sperber/34/5b9/38b">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>giselle-sperber/<wbr>34/<wbr>5b9/<wbr>38b</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2014-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Giselle Sperber</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/giselle-sperber.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/chattanooga/">Chattanooga Team</a>
        </p>
        <p>
            Giselle is a user experience designer. Over the past eight years she’s worked on technology for classrooms and students, most recently at Amplify in New York. Passionate about healthy communities and good food, she co-founded the Greene Hill Food Co-op, a member owned grocery story in Brooklyn. Giselle holds a ...
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/giselle-sperber/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/giselle-sperber/34/5b9/38b">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/gisellesperber">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
