{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Greg Kerwin</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/greg-kerwin.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">
	    Greg Kerwin (Chief Revenue & Marketing Officer) brings 20 years of business development, marketing and product management experience to Code for America.  He comes from UBM where he developed leading global events and digital media products, including collaborating with O’Reilly Media on the successful Web 2.0 and Gov 2.0 events and GTEC, Canada’s leading government technology event. He has managed the launch and acquisition of numerous tech media products, and has extensive global experience in more than 15 countries including India, China, Brazil, Japan, Indonesia, Turkey, Russia and throughout Western Europe. Greg began his career in the non-profit sector and worked on a number of political campaigns. He holds a degree in Economics from the University of Michigan and recently moved back to Oakland, CA with his wife and three children after a two-year stint in the Netherlands.
	    </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/greg_kerwin">@greg_kerwin</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/gregkerwin">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>gregkerwin</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Greg Kerwin</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/greg-kerwin.jpg">

    <div class="p-note profile-note">
        <p>Chief Revenue and Marketing Officer</p>

        <p>Greg brings 20 years of business development, marketing and product management experience to Code for America. He was recently at UBM where he developed leading global events and digital media products, including collaborating with O’Reilly Media on the successful Web 2.0 and Gov 2.0 events and GTEC...</p>

        <p><a class="link-more" href="{{ include.base }}/people/greg-kerwin/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/gregkerwin">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/greg_kerwin">@greg_kerwin</a></li>
        </ul>
    </div>
</div>

{% endif %}
