{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Hailey Pate</h2>
	</div>

	<div class="layout-minor">
		
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://code4sac.org/">Sacramento, CA Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" />
	</div>

	<div class="layout-major">
	    	
	    <p class="p-note"></p>
	    

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">

	    	</table>
	    </div>	    
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Hailey Pate</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" />
    <div class="p-note profile-note">
        <p><a href="http://code4sac.org/">Sacramento, CA Brigade</a></p>

        <p><a class="link-more" href="{{ include.base }}/people/hailey-pate">More</a></p>
        <ul class="list-social list-social-horizontal">
        </ul>     
    </div><!-- .note -->
</div><!-- .vcard -->

{% endif %}
