{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Hal Seki</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://code4japan.org/">Code for Japan</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains/">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Hal Seki has been working as a Geo Developer since 2002. He is a CEO of Georepublic Japan, which is providing location based system consulting/developing services, as well as a representative of Code for Japan. He is well known as a community manager for solving social issues in Japan. Also, He is entitled as Ushahidi Certificated Developer since he has been a managing director of Sinsai.info, a cloud sourcing crisis information collecting platform using Ushahidi since 2010, the Great East Japan Earthquake occurred. He is also a member of Open Knowledge of Foundation Japan and OpenStreetMap Foundation Japan.  </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/hal_sk">@hal_sk</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/halsk">http://github<wbr>.com/<wbr>halsk</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/halsk">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>halsk</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Hal Seki</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" />
    <div class="p-note profile-note">
        <p>
            <a href="http://code4japan.org/">Code for Japan</a>
        </p>
        <p>
            Hal Seki has been working as a Geo Developer since 2002. He is a CEO of Georepublic Japan, which is providing location based system consulting/developing services, as well as a representative of Code for Japan. He is well known as a community manager for solving social issues in Japan...
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/hal-seki/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/halsk">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/hal_sk">@hal_sk</a></li>
            <li class="social-github"><a href="https://github.com/halsk">GitHub</a></li>
        </ul>
    </div>
</div>

{% endif %}
