{% comment %} Required speaker variables {% endcomment %}
{% assign speaker-key       = 'hannah-young' %}
{% assign speaker-name      = 'Hannah Young' %}
{% assign speaker-bio       = 'Hannah Young leads Code for America&rsquo;s Brigade Program an international network of over 16,000 civic hackers in 137 cities. Hannah works with Brigades around the globe to build inclusive, sustainable local volunteer communities.<!-- break -->Before Code for America, Hannah worked in Wisconsin newsrooms, the U.S. House of Representatives, and on numerous political campaigns. Hannah graduated with dual degrees in political science and journalism from the University of Wisconsin-Madison.' %}
{% assign speaker-short-bio = 'Hannah leads Code for America&rsquo;s Brigade Program, a network of over 16,000 civic hackers in 137 cities around the globe.' %}
{% assign speaker-title     = 'Brigade Program Manager, Code for America' %}
{% assign speaker-topics    = 'topic-community\Community Organizing|start-brigade\Starting a Brigade|diversity-women\Diversity and Women in Technology|civic-hacking\Civic Hacking' | split: "|" %}
{% capture embed %}<iframe src="//www.youtube.com/embed/mMJil4Hzjjs" height="300" width="650" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>{% endcapture %}
{% assign speaker-vid-title = 'Future of Civic Volunteering: Brigades to Civic Organizations' %}
{% assign speaker-vid-desc  = 'Hannah Young talks about the tremendous growth of the Brigade and what&rsquo;s next.' %}
{% assign speaker-vid-date  = 'September 24, 2014' %}
{% assign speaker-vid-loc   = 'San Francisco, CA' %}
{% assign speaker-vid-group = 'Code for America Summit' %}
{% comment %} Optional speaker variables {% endcomment %}
{% assign speaker-twitter   = 'HannahDotYoung' %}
{% assign speaker-linkedin  = 'hannah-young/28/454/909' %}
{% assign speaker-blogposts = 'hannah-young' %}
{% assign speaker-github    = 'hannahyoung' %}
{% assign speaker-playlist  = false %}
{% assign speaker-quote     = false %}
{% comment %}{% assign speaker-events    = 'Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA|Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA' | split: '|' %}{% endcomment %}
{% assign speaker-similar   = 'catherine-bracy|nicole-neditch' | split: '|' %}
{% comment %} End variables {% endcomment %}


{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Hannah Young</h2>
	</div>

	<div class="layout-minor">
		<p>Program Manager, Brigade</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/hannah-young.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Hannah Young joined Code for America in December 2012. Before moving to San Francisco and getting bit by the startup bug, she worked in Wisconsin newsrooms, the U.S. House of Representatives, and on numerous political campaigns. Hannah graduated with dual degrees in political science and journalism from the University of Wisconsin-Madison. When she’s not working, you can find her reading newspapers and seeking out the best kimchi, coffee, and microbrews San Francisco has to offer.</p>
	    <p><a href="http://www.codeforamerica.org/2012/07/16/hannah-young-why-im-coding-for-america/">Why does Hannah Young code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/HannahDotYoung">@HannahDotYoung</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="www.linkedin.com/pub/hannah-young/28/454/909">www.linkedin.com/pub/hannah-young/28/454/909</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/hannah-young/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>hannah-young/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Hannah Young</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/hannah-young.jpg">

    <div class="p-note profile-note">
        <p>Program Manager, Brigade</p>

        <p>Hannah Young joined Code for America in December 2012. Before moving to San Francisco and getting bit by the startup bug, she worked in Wisconsin newsrooms, the U.S. House of Representatives, and on numerous political campaigns...</p>

        <p><a class="link-more" href="{{ include.base }}/people/hannah-young/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/hannah-young/28/454/909">LinkedIn</a></li>
            <li class="social-github"><a href="https://github.com/hannahyoung">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/HannahDotYoung">Twitter</a></li>
        </ul>
    </div>
</div>

{% elsif include.context == 'xxxxs' %}

<div class="speaker-box">
  <img src="/media/images/speakers/hannah-young.jpg" alt="">

  <div class="speaker-content">

    <p class="speaker-name">Hannah Young</p>
    <p class="speaker-title">Brigade Program Manager, Code for America</p>

    <p><strong>Speaks about:</strong></p>
    <p><a href="#" class="topic topic-civic-community">Civic Engagement &amp; Community Building</a></p>

    <p><strong>Biography:</strong></p>
    <p>Hannah has worked in Wisconsin newsrooms, the U.S. House of Representatives, and on numerous political campaigns.</p>

    <a href="/speakers/hannah-young/" class="button-s">Learn more</a>
  </div>
</div>

{% elsif include.context == 'speaker-page' %}

  {% include speakers/speaker-page.html base="../.." %}

{% elsif include.context == 'speaker-card' %}

  {% include speakers/speaker-card.html base="../.." %}

{% endif %}
