{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Jacob Solomon</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/jacob-solomon.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Jacob is a policy analyst and project manager from Oakland. Most recently, he studied the quality of care for mentally ill veterans, the forthcoming Medicaid expansion, and medical marijuana policy in California at RAND Corporation. Previously, he worked as a Forward Deployed Engineer at Palantir Technologies. Jacob studied Economics at Occidental College.</p>
	    <p><a href="http://www.codeforamerica.org/2013/11/16/jacob-solomon-why-i-code-for-america/">Why does Jacob Solomon code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/lippytak">@lippytak</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/jake-solomon/4/9b7/a70">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>jake-solomon/<wbr>4/<wbr>9b7/<wbr>a70</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/jacob/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>jacob/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Jacob Solomon</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/jacob-solomon.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/sanfrancisco/">San Francisco Team</a>
        </p>
        <p>
            Jacob is a policy analyst and project manager from Oakland. Most recently, he studied the quality of care for mentally ill veterans, the forthcoming Medicaid expansion, and medical marijuana policy in California at RAND Corporation. Previously, he worked as a Forward Deployed Engineer at Palantir Technologies. Jacob studied Economics at Occidental College.
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/jacob-solomon/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/jake-solomon/4/9b7/a70"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/lippytak">@lippytak</a></li>
        </ul>
    </div>
</div>

{% elsif include.context == 'speaker-landing' %}

  <p>Jacob is a policy analyst and project manager from Oakland. As a 2013 Fellow, he worked in San Francisco on improving public health outcomes.</p>

{% endif %}
