{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Jeff Maher</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2014-fellows/">2014 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/jeff-maher.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">
			Hailing from Philadelphia, Jeff is a nerd who likes using his coding skills for good causes. Before joining Code for America, Jeff helped create a web platform for diabetes data at Johnson &amp; Johnson, a crowd-sourced vacant parcel tracker called Reclaim Philly, and a bike-parking locator. When he’s not civic coding, Jeff escapes from his computer screen with travel, hiking, and biking.
	    </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/plusjeff">@plusjeff</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/plusjeff">http://github<wbr>.com/<wbr>plusjeff</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/jeffmaher">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>jeffmaher</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2014-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Jeff Maher</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/jeff-maher.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/rhodeisland/">Rhode Island Team</a>
        </p>
        <p>
            Hailing from Philadelphia, Jeff is a nerd who likes using his coding skills for good. Before joining Code for America, Jeff helped create a web platform for diabetes data at Johnson &amp; Johnson, a crowd-sourced vacant parcel tracker called Reclaim Philly (via the Code for Philly Brigade), and a bike-parki…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/jeff-maher/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/jeffmaher">LinkedIn</a></li>
            <li class="social-github"><a href="http://www.github.com/plusjeff">Github</a></li>
            <li class="social-twitter"><a href="http://www.twitter.com/plusjeff">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
