{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Jeff Reichman</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://www.ohouston.org">Houston, TX Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains/">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Jeff is a writer, entrepreneur, musician, and map nerd.  He runs January Advisors, an innovation consulting firm that he founded in 2009.  In that role, he works with startups, large corporations, and the City of Houston to help develop new products, services, and communities.  Jeff also represents Houston with Startup America, co-organizes Open Houston and Startup Softball, curates the community blog Startup Houston, and is a director of Bayou Microfund, a Houston-focused, Kiva-backed non-profit.  </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/fileunderjeff">@fileunderjeff</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/fileunderjeff">http://github<wbr>.com/<wbr>fileunderjeff</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/jeffreichman">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>jeffreichman</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Jeff Reichman</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" />
    <div class="p-note profile-note">
        <p>
            <a href="http://www.ohouston.org">Houston, TX Brigade</a>
        </p>
        <p>
            Jeff is a writer, entrepreneur, musician, and map nerd. He runs January Advisors, an innovation consulting firm that he founded in 2009. In that role, he works with startups, large corporations, and the City of Houston to help develop new products, services, and communities. Jeff also represents Houston with Startup America...
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/jeff-reichman/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/jeffreichman">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/fileunderjeff">@fileunderjeff</a></li>
            <li class="social-github"><a href="https://github.com/fileunderjeff">GitHub</a></li>
        </ul>
    </div>
</div>

{% endif %}
