{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Jennifer Pahlka</h2>
	</div>

	<div class="layout-minor">
		<p>Executive Director</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/board">Board</a></li>
		<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>
	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/jennifer-pahlka.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Jennifer Pahlka is the founder and executive director of Code for America. She recently served as the US Deputy Chief Technology Officer in the White House Office of Science and Technology Policy.  She is known for her <a href="http://codeforamerica.org/2012/03/08/jennifer-pahlka-at-ted-video">TED talk</a>, Coding a Better Government, and the recipient of several awards, including MIT’s Kevin Lynch Award, the Oxford Internet Institute’s Internet and Society Award, and the National Democratic Institute’s Democracy Award. She spent eight years at CMP Media, where she ran the Game Developers Conference, Game Developer magazine, Gamasutra.com, and the Independent Games Festival. Previously, she ran the Web 2.0 and Gov 2.0 events for TechWeb, in conjunction with O’Reilly Media. She is a graduate of Yale University and lives in Oakland, Calif. with her daughter, her fiance, and seven chickens.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/pahlkadot">@pahlkadot</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/jpahlka">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>jpahlka</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/jen/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>jen/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Jennifer Pahlka</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/jennifer-pahlka.jpg">

    <div class="p-note profile-note">
	 <p>Founder and Executive Director</p>
    
        <p>Jennifer Pahlka is the founder and executive director of Code for America. She recently served as the US Deputy Chief Technology Officer in the White House Office of Science and Technology Policy.  She is known for her <a href="http://codeforamerica.org/2012/03/08/jennifer-pahlka-at-ted-video">TED talk</a>, Coding a Better Government, and the recipient of several awards...</p>

        <p><a class="link-more" href="{{ include.base }}/people/jennifer-pahlka/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/jpahlka">LinkedIn</a></li>

            <li class="social-github"><a href="https://github.com/pahlkadot">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/pahlkadot">@pahlkadot</a></li>
        </ul>
    </div>
</div>

{% elsif include.context == 'speaker-card' %}

<div class="speaker-box">
  <img src="/media/images/speakers/jennifer-pahlka.jpg" alt="">

  <div class="speaker-content">

    <p class="speaker-name">Jennifer Pahlka</p>
    <p class="speaker-title">Executive Director, Code for America</p>

    <p><strong>Speaks about:</strong></p>
    <p><a href="#" class="topic philosophy-gov">Philosophy of Government Innovation</a></p>

    <p><strong>Biography:</strong></p>
    <p>Jennifer is founder and executive director of Code for America. She recently served as US Deputy Chief Technology Officer at the White House.</p>

    <a href="/speakers/jennifer-pahlka/" class="button-s">Learn more</a>
  </div>
</div>

{% endif %}
