{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Jeremia Kimelman</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2014-fellows/">2014 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/jeremia-kimelman.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Jeremia is passionate about the intersection of technology and policy. At Tout, he managed the design and development of video product that brought breaking news stories to life for a worldwide audience. Jeremia is a community organizer for Mobile Monday, and has traveled the world promoting technological solutions to real-world problems.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/jeremiak">@jeremiak</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/jeremiak">http://github<wbr>.com/<wbr>jeremiak</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/jeremiak">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>jeremiak</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2014-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Jeremia Kimelman</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/jeremia-kimelman.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/chattanooga/">Chattanooga Team</a>
        </p>
        <p>
            Jeremia is passionate about the intersection of technology and policy. At Tout, he managed the design and development of video product that brought breaking news stories to life for a worldwide audience. Jeremia is a community organizer for Mobile Monday, and has traveled the world promoting technological…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/jeremia-kimelman/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/jeremiak"></a></li>
            <li class="social-github"><a href="http://www.github.com/jeremiak"></a></li>
            <li class="social-twitter"><a href="http://www.twitter.com/jeremiak"></a></li>
        </ul>
    </div>
</div>

{% endif %}
