{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Jessica Silverman</h2>
	</div>

	<div class="layout-minor">
	    <h4 class="text-whisper layout-tight">Member of</h4>
      <p>Senior Development Manager</p>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>
	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/jessica-silverman.jpg" />
	</div>

	<div class="layout-major">
	    <p class="p-note">
	        As Senior Development Manager, Jessica focuses on foundation relationship management and grants administration. She joined Code for America in April 2015, a recent San Francisco transplant from the great city of New York. Previously, she worked at Carnegie Hall for 7 years, where she worked with all levels of government developing programs and aligning policies to bring music to underserved populations. Jessica worked first hand with government’s everyday challenges and is excited to help Code for America make government work. In her spare time, she enjoys singing, attending live music, and exploring the many hills of San Francisco. 
        </p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/jsilz911">@jsilz911</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="https://www.linkedin.com/in/jessicarsilverman">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>jessicarsilverman</a></td></tr>
	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Jessica Silverman</h3>

    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/jessica-silverman.jpg">

    <div class="p-note profile-note">
        <p>Senior Development Manager</p>
        <p>
            As Senior Development Manager, Jessica focuses on foundation relationship management and grants administration. She joined Code for America in April 2015, a recent San Francisco transplant from the great city of New York...
        </p>

        <p><a class="link-more" href="{{ include.base }}/people/jessica-silverman/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/jessicarsilverman">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/jsilz911">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
