{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Jesse Bounds</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/jesse-bounds.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Jesse Bounds is a software engineer who has most recently lived in Cambridge, Mass. Jesse is fascinated by the challenges and opportunities that cities present to society. After receiving his MS in Telecommunications Engineering from the University of Colorado, he worked on building scalable systems in the financial and mobile industries. He is also a web developer working for several nonprofit organizations around the world. Most recently, he was the lead developer on Fluent, the first highly optimized news aggregator and reader for the iPhone. </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/boundsj">@boundsj</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/boundsj">http://github<wbr>.com/<wbr>boundsj</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/jessebounds">http://linkedin<wbr>.com/<wbr>in/<wbr>jessebounds</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/jesse/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>jesse/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Jesse Bounds</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/jesse-bounds.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/chicago/">Chicago Team</a>
        </p>
        <p>
            Jesse Bounds is a software engineer who has most recently lived in Cambridge, Mass. Jesse is fascinated by the challenges and opportunities that cities present to society. After receiving his MS in Telecommunications Engineering from the University of Colorado, he worked on building scalable systems…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/jesse-bounds/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/jessebounds"></a></li>
            <li class="social-github"><a href="https://github.com/boundsj">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/boundsj">@boundsj</a></li>
        </ul>
    </div>
</div>

{% endif %}
