{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Jim Craner</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/jim-craner.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Jim Craner is a website and application developer and consultant with a decade of experience helping nonprofit organizations use technology to fulfill their missions. Jim is an Illinois native (and lifelong Cubs fan) who co-founded the Chicago Technology Cooperative and continued to manage the organization for five years. Jim has spoken at nonprofit technology conferences on topics including community-based electronics recycling, digital access and equality, and the use of open source geographic information systems and online mapping in community contexts. &lt;a href="/jim-craner/">Video&lt;/a></p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/jimcraner">@jimcraner</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/pub/jim-craner/5/a9/533">http://linkedin<wbr>.com/<wbr>pub/<wbr>jim-craner/<wbr>5/<wbr>a9/<wbr>533</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/jim/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>jim/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Jim Craner</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/jim-craner.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/santacruz/">Santa Cruz Team</a>
        </p>
        <p>
            Jim Craner is a website and application developer and consultant with a decade of experience helping nonprofit organizations use technology to fulfill their missions. Jim is an Illinois native (and lifelong Cubs fan) who co-founded the Chicago Technology Cooperative and continued to manage the organization…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/jim-craner/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/pub/jim-craner/5/a9/533"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/jimcraner">@jimcraner</a></li>

        </ul>
    </div>
</div>

{% endif %}
