{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Joe Merante</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/joe-merante.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Joe Merante is an Internet lawyer, web developer, and musician. Joe co-founded a business networking company and worked at a music publishing agency prior to attending law school. During his research fellowship at the Institute for Information Law &amp; Policy, he contributed to Peer to Patent and open government research and completed legal internships at Creative Commons and eMusic. Since passing the New York bar exam, he has built websites for healthcare practitioners and nonprofits. Joe holds a BA from Berklee College of Music and a JD from New York Law School.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/joemerante">@joemerante</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="www.linkedin.com/in/joemerante">www.linkedin.com/in/joemerante</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/blog/author/joe/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>blog/<wbr>author/<wbr>joe/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Joe Merante</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/joe-merante.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/austin/">Austin Team</a>
        </p>
        <p>
            Joe Merante is an Internet lawyer, web developer, and musician. Joe co-founded a business networking company and worked at a music publishing agency prior to attending law school. During his research fellowship at the Institute for Information Law &amp; Policy, he contributed to Peer to Patent and open government research…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/joe-merante/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/joemerante"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/joemerante">@joemerante</a></li>

        </ul>
    </div>
</div>

{% endif %}
