{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">John Whitlock</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://codefortulsa.org">Tulsa, OK Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains/">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/john-whitlock.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">John Whitlock is a software developer who has worked at several startups.  He got into civic technology in 2011, championing a 2-year project to get Tulsa's bus schedule into Google Maps.  He lives in Tulsa with his wife (a research librarian) and two kids.  He enjoys biking to work.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/jwhitlock">@jwhitlock</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="https://github.com/jwhitlock">http://github<wbr>.com/<wbr>jwhitlock/</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/johnwhitlock">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>johnwhitlock</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">John Whitlock</h3>

    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/john-whitlock.jpg">

    <div class="p-note profile-note">
        <p><a href="http://codefortulsa.org">Tulsa, OK Brigade</a></p>

        <p>
            John Whitlock is a software developer who has worked at several startups.  He got into civic technology in 2011, championing a 2-year project to get Tulsa's bus schedule into Google Maps.  He lives in Tulsa with his wife (a research librarian) and two kids.
        </p>

        <p><a class="link-more" href="{{ include.base }}/people/john-whitlock/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/johnwhitlock">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/jwhitlock">@jwhitlock</a></li>
        </ul>
    </div>
</div>
{% endif %}
