{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Kaleb Clark</h2>
	</div>

	<div class="layout-minor">
		
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://code4sac.org/">Sacramento, CA Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/kaleb-clark.jpg" />
	</div>

	<div class="layout-major">
	    	
	    <p class="p-note">I have been working professionally in the Information Technology community for over 15 years primarily as Unix / Linux administrator and Network Engineer. Working with and deploying open source software in corporate, and government IT shops since 1998. Early in my career I discovered the power of the Perl programming language primarily for parsing logs, debug information as well as corporate data, and of course web development. LAMP finally hit the scene, and I have been creating internal apps ever since. This has evolved into many other web development platforms such as PHP, Rails, Javascript and more. Currently I am pushing more policy to staff, than firmware updates to switches.
</p>
	    

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="http://twitter.com/_abraxxus">@_abraxxus</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/profile/view?id=218467012">http://www<wbr>.linkedin<wbr>.com/<wbr>profile/<wbr>view?id=218467012</a></td></tr>

	    	</table>
	    </div>	    
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Kaleb Clark</h3>
    
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/kaleb-clark.jpg">

    <div class="p-note profile-note">
        <p>
            I have been working professionally in the Information Technology community for over 15 years primarily as Unix / Linux administrator and Network Engineer. Working with and deploying open source software in corporate, and government IT shops since 1998...
        </p>

        <p><a class="link-more" href="{{ include.base }}/people/kaleb-clark">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/profile/view?id=218467012">LinkedIn</a></li>
            <li class="social-github"><a href="https://github.com/xxx">GitHub</a></li>
            <li class="social-twitter"><a href=" http://twitter.com/_abraxxus">@_abraxxus</a></li>
        </ul>
    </div>
</div>
{% endif %}
