{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Karla Macedo</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2011-fellows/">2011 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/karla-macedo.png" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Karla Macedo is a graphic designer with a deep interest in design that helps create positive social impact. Karla is looking to refine her skills as she transitions to web work. During her time at Code for America she helped organize the Iconathon, a series of events that helped create the first-ever civic symbol suite. As a native Spanish speaker she understands the importance of bridging communication barriers through design. Karla also helped redesign and conceptualize the branding for Bostonavigator, Discover BPS, Wheres My School Bus, Building Boston, Boston Public Schools, and Boston Public Works. She hopes to continue to use design to bring communities together, tell stories, and inform.</p>
	    <p><a href="https://www.codeforamerica.org/2010/11/01/karla-macedo-why-im-coding-for-america/">Why does Karla Macedo code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/kmimagine">@kmimagine</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/pub/karla-macedo/12/a57/95a">http://linkedin<wbr>.com/<wbr>pub/<wbr>karla-macedo/<wbr>12/<wbr>a57/<wbr>95a</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/karla/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>karla/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2011-fellows' %}

<div class="h-card profile-small">
	<h3 class="p-name profile-name">Karla Macedo</h3>
	<img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/karla-macedo.png" />
	<div class="p-note profile-note">
	<p><a href="{{ include.base }}/cities/boston/">Boston Team</a></p>
	    <p>Karla Macedo is a graphic designer with a deep interest in design that helps create positive social impact. Karla is looking to refine her skills as she transitions to web work. During her time at Code for America she helped organize the Iconathon, a series of events that helped create the first-ever civic symbol suite…</p>
	    <p><a class="link-more" href="{{ include.base }}/people/karla-macedo/">More</a></p>
	    <ul class="list-social list-social-horizontal">
	        <li class="social-linkedin"><a href="http://linkedin.com/pub/karla-macedo/12/a57/95a">LinkedIn</a></li>
	        <li class="social-twitter"><a href="https://twitter.com/kmimagine">@kmimagine</a></li>
	    </ul>
	</div>
</div>

{% endif %}
