{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Kevin Curry</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://codeforhamptonroads.org/">Hampton Roads, VA Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains/">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Kevin Curry joined Code for America at founding as an advisor. Together with Code for America founder, Jennifer Pahlka, Kevin created CityCamp, an international unconference and online community dedicated to innovation for municipal governments and community organizations. Kevin is also co-founder at Bridgeborn, Inc., in Virginia Beach, Virginia where he lives with his wife, daughter, and two pugs. </p>
	    <p><a href="http://www.codeforamerica.org/2012/01/09/kevin-curry-why-im-coding-for-america/">Why does Kevin Curry code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/kmcurry">@kmcurry</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/kmcurry">http://github<wbr>.com/<wbr>kmcurry</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/kevincurry">http://linkedin<wbr>.com/<wbr>in/<wbr>kevincurry</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/kevin/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>kevin/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Kevin Curry</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" />
    <div class="p-note profile-note">
        <p>
            <a href="http://codeforhamptonroads.org/">Hampton Roads, VA Brigade</a>
        </p>
        <p>
        Kevin Curry joined Code for America at founding as an advisor. Together with Code for America founder, Jennifer Pahlka, Kevin created CityCamp, an international unconference and online community dedicated to innovation for municipal governments and community organizations...
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/kevin-curry/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
        	<li class="social-linkedin"><a href="http://www.linkedin.com/in/kevincurry">LinkedIn</a></li>
            <li class="social-github"><a href="https://github.com/kmcurry">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/kmcurry">@kmcurry</a></li>
        </ul>
    </div>
</div>

{% endif %}
