{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Lane Becker</h2>
	</div>

	<div class="layout-minor">
		<p>Talent Director</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/lane-becker.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Lane Becker is Code for America&rsquo;s Talent Director, working to get more technologists doing meaningful work inside government, and to help governments create workspaces that allow technologists to succeed. Previously, Lane was Code for America&rsquo;s Director of Products and Startups, promoting widespread reuse of the applications developed by Code for America within cities and running the Civic Startup Accelerator program.</p>

		<p class="p-note">Lane has been hanging out on the Web pretty much since it was invented, from his work-study job setting up websites for the University of Texas at Austin in 1994, to his first (sadly failed) startup in 1999, and on to more successful ventures: co-founding Adaptive Path, one of the world&rsquo;s first user experience design firms, in 2001, and Get Satisfaction, an online customer service community platform, in 2007.</p>

		<p class="p-note">In 2012, Lane co-authored &ldquo;Get Lucky: How to Put Planned Serendipity to Work,&rdquo; a New York Times bestselling business book about harnessing serendipity as a business practice. He&rsquo;s also a certified hula hooping instructor.</p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/monstro">@monstro</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/lanebecker">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>lanebecker</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Lane Becker</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/lane-becker.jpg">

    <div class="p-note profile-note">
        <p>Talent Director</p>

        <p>Lane Becker is Code for America&rsquo;s Talent Director, working to get more technologists doing meaningful work inside government, and to help governments create workspaces that allow technologists to succeed.
		</p>

        <p><a class="link-more" href="{{ include.base }}/people/lane-becker/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/lanebecker">LinkedIn</a></li>

            <li class="social-twitter"><a href="https://twitter.com/monstro">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
