{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Laura Meixell</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/laura-meixell.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Laura served as a Presidential Management Fellow at the Department of Housing and Urban Development, where she worked on agency performance management and developed a place-based data driven review process. Prior to that she worked on a community data and mapping system in Pittsburgh, Penn.</p>
	    <p><a href="https://www.codeforamerica.org/2013/07/15/laura-meixell-why-im-coding-for-america/">Why does Laura Meixell code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/lauratypes">@lauratypes</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/pub/laura-meixell/2a/787/504">http://linkedin<wbr>.com/<wbr>pub/<wbr>laura-meixell/<wbr>2a/<wbr>787/<wbr>504</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/laura/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>laura/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Laura Meixell</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/laura-meixell.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/louisville/">Louisville Team</a>
        </p>
        <p>
            Laura served as a Presidential Management Fellow at the Department of Housing and Urban Development, where she worked on agency performance management and developed a place-based data driven review process. Prior to that she worked on a community data and mapping system in Pittsburgh, Penn.
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/laura-meixell/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/pub/laura-meixell/2a/787/504"></a></li>
             <li class="social-twitter"><a href="https://twitter.com/lauratypes">@lauratypes</a></li>
        </ul>
    </div>
</div>

{% endif %}
