{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Lauren Reid</h2>
	</div>

	<div class="layout-minor">
		<p>Senior Public Affairs Manager</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/lauren-reid.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Lauren Reid (Senior Public Affairs Manager) joined Code for America in 2011 and handles all things communications, pr, and recruitment. If involves publicly interacting with the world, whether is be a tweet, the press, an event, or a policy stance, she's got a hand in it. Lauren hosts a solid background in non-profit communications and has worked on various local and national campaigns blending new and traditional mediums. Prior to joining Code for America, Lauren spent several years amplifying the voice of registered nurses and advocating for healthcare reform at California Nurses Association. Before that, Lauren served in the art department of San Francisco magazine and facilitated communications at ACLU of Northern California. Lauren, often found Canon in-hand, is a self-proclaimed documentarian of democracy. She holds degrees in Visual Communication and English from the University of Miami. Contact: lr[@]codeforamerica.org</p>
	    <p><a href="https://www.codeforamerica.org/2011/10/06/lauren-reid-why-im-coding-for-america/">Why does Lauren Reid code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/ellereider">@ellereider</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="www.linkedin.com/in/ellereider">www.linkedin.com/in/ellereider</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/lr/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>lr/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Lauren Reid</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/lauren-reid.jpg">

    <div class="p-note profile-note">
        <p>Senior Public Affairs Manager</p>

        <p>Lauren joined Code for America in 2011 and handles all things communications, pr, and recruitment. If involves publicly interacting with the world, whether is be a tweet, the press, an event, or a policy stance, she's got a hand in it. Lauren hosts a solid background in non-profit communications and has worked on various local and national campaigns…</p>

        <p><a class="link-more" href="{{ include.base }}/people/lauren-reid/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/ellereider">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/ellereider">Twitter</a></li>
            <li class="social-github"><a href="https://github.com/ellereider">GitHub</a></li>
        </ul>
    </div>
</div>

{% endif %}
