{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Lauren Dyson</h2>
	</div>

	<div class="layout-minor">
		<p>Content Manager</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/lauren-dyson.jpeg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Lauren Dyson (Content Manager) originally got involved with Code for America as a communications intern in 2010, and joined the team full-time in 2012. She brings a range of experience in the Gov 2.0 space, having previously served as a 2010 Google Policy Fellow working with the Internet Education Foundation to promote informed decision-making by policymakers on technology policy issues, and a research assistant at the Berkman Center for Internet &amp; Society on the Digital Natives initiative. Lauren graduated from Vassar College with a degree in Media Studies.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/ladyson">@ladyson</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/ladyson">http://github<wbr>.com/<wbr>ladyson</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/lauren-dyson/a/2ab/3">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>lauren-dyson/<wbr>a/<wbr>2ab/3</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/lauren/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>lauren/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Lauren Dyson</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/lauren-dyson.jpeg">

    <div class="p-note profile-note">
        <p>Content Manager</p>

        <p>Lauren Dyson got involved with Code for America as a communications intern in 2010, and joined the team full-time in 2012. She brings a range of experience in the Gov 2.0 space, having previously served as a 2010 Google Policy Fellow working with the Internet Education Foundation…</p>

        <p><a class="link-more" href="{{ include.base }}/people/lauren-dyson/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/lauren-dyson/a/2ab/3">LinkedIn</a></li>
            <li class="social-github"><a href="https://github.com/ladyson">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/ladyson">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
