{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Lindsay Ballant</h2>
	</div>

	<div class="layout-minor">
		
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/lindsay-ballant.jpg" />
	</div>

	<div class="layout-major">
	    	
	    <p class="p-note">Lindsay is a New York–based art director and designer with a passion for journalism and storytelling. Most recently, she served as the design director of Newsweek magazine. When not on deadline, she is an adjunct professor at the School of Visual Arts, and collaborates on other web-based projects under the moniker of Public Service Bureau. Her work has received awards from the Art Directors Club, the Society of Publication Designers, the National Magazine Awards, AIGA, Communication Arts, I.D. magazine, Print magazine, and the Type Directors Club, among others.</p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="http://twitter.com/lindsayballant">@lindsayballant</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/lindsayballant">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>lindsayballant</a></td></tr>

	    	</table>
	    </div>	    
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Lindsay Ballant</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/lindsay-ballant.jpg" /> 
    <div class="p-note profile-note">Lindsay is a New York–based art director and designer with a passion for journalism and storytelling. Most recently, she served as the design director of Newsweek magazine. When not on deadline, she is an adjunct professor at the School of Visual Arts, and collaborates on other web-based projects under the moniker of Public Service Bureau.
        <p>
            <a href="{{ include.base }}/cities/lasvegas">Las Vegas Team</a>
        </p>
        <p>
            …
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/lindsay-ballant">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/lindsayballant"></a></li>
        </ul>
    </div>
</div>

{% endif %}
