{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Livien Yin</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2014-fellows/">2014 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/livien-yin.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Livien is a front-end developer and web designer. Most recently, she apprenticed at Taulia as a user interface engineer. Her passion lies in interactive art, data visualization, and environmental empathy. Livien graduated from Reed College where she made oil paintings and wrote her thesis on urban design in Portland, OR.  </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/livienyin">@livienyin</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/livienyin">http://github<wbr>.com/<wbr>livienyin</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/livien-yin/58/b00/14a/">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>livien-yin/<wbr>58/<wbr>b00/<wbr>14a/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2014-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Livien Yin</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/livien-yin.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/lexington/">Lexington Team</a>
        </p>
        <p>
            Livien is a front-end developer and web designer. Most recently, she apprenticed at Taulia as a user interface engineer. Her passion lies in interactive art, data visualization, and environmental empathy. Livien graduated from Reed College where she made oil paintings and wrote her thesis on urban design in Portland, OR.
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/livien-yin/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/livien-yin/58/b00/14a/">LinkedIn</a></li>
            <li class="social-github"><a href="http://github.com/livienyin">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/livienyin">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
