{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Lou Huang</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/lou-huang.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Lou is a front-end web developer and LEED-accredited urban designer based in San Francisco. A recovering architect, he has worked on projects from coffee shops to master plans for mixed-income residential neighborhoods, as well as guidelines and plans for a variety of cities.  During the fellowship, he developed a variety of projects for <a href='{{ include.base }}/cities/lasvegas/'>Las Vegas</a>, as well as <a href='http://streetmix.net/'>Streetmix</a> and <a href='http://naics.codeforamerica.org/'>NAICS API</a>. He holds a BA in Architecture from University of California Berkeley and a Master of City Planning from the University of Pennsylvania.

	    <p><a href="https://www.codeforamerica.org/2013/06/19/lou-huang-why-im-coding-for-america/">Why does Lou Huang code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/saikofish">@saikofish</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/louh">http://github<wbr>.com/<wbr>louh</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/louhuang">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>louhuang</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/lou-huang/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>lou-huang/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Lou Huang</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/lou-huang.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/lasvegas/">Las Vegas Team</a>
        </p>
        <p>
            Lou is a LEED-accredited urban designer based in San Francisco. Most recently he has been working on guidelines for multi-family, mixed income neighborhoods. He has also worked as a graphic and web designer, and is currently experimenting with mapping, data visualization, and using video games for effective city planning...
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/lou-huang/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/louhuang"></a></li>
            <li class="social-github"><a href="https://github.com/louh">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/saikofish">@saikofish</a></li>
        </ul>
    </div>
</div>

{% endif %}
