{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Luke Crouch</h2>
	</div>

	<div class="layout-minor">
		
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://codefortulsa.org">Tulsa, OK Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.jpg" />
	</div>

	<div class="layout-major">
	    	
	    <p class="p-note">Mozilla web developer for developer.mozilla.org; co-founder of codesy.io; collaborator on tulsawebdevs.org, 200ok.us, and codefortulsa.org; home-brewer; soccer fan; amateur mystic</p>
	    

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="http://twitter.com/groovecoder">@groovecoder</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/groovecoder/">http://github<wbr>.com/<wbr>groovecoder/</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/groovecoder">http://linkedin<wbr>.com/<wbr>in/<wbr>groovecoder</a></td></tr>

	    	</table>
	    </div>	    
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Luke Crouch</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.jpg" />
    <div class="p-note profile-note">
        <p><a href="http://codefortulsa.org">Tulsa, OK Brigade</a></p>
        <p>Mozilla web developer for <a href="http://developer.mozilla.org">developer.mozilla.org</a>; co-founder of <a href="http://codesy.io">codesy.io</a>; collaborator on <a href="http://tulsawebdevs.org">tulsawebdevs.org</a>, <a href="http://200ok.us">200ok.us</a>, and <a href="http://codefortulsa.org">codefortulsa.org</a>; home-brewer; soccer fan; amateur mystic.</p>
        <p><a class="link-more" href="{{ include.base }}/people/luke-crouch">More</a></p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/groovecoder">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/groovecoder">@groovecoder</a></li>
            <li class="social-github"><a href="https://github.com/groovecoder/">GitHub</a></li>
        </ul>     
    </div><!-- .note -->
</div><!-- .vcard -->

{% endif %}
