{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Marcin Wichary</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/marcin-wichary.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Marcin is a user interface designer and developer. Over the past seven years he’s worked at Google on Chrome and search teams, and has coded and attended to the user experience of interactive homepage doodles. After hours, Marcin takes photos and occasionally volunteers at the Computer History Museum.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/mwichary">@mwichary</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/mwichary">http://github<wbr>.com/<wbr>mwichary</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/mwichary">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>mwichary</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Marcin Wichary</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/marcin-wichary.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/louisville/">Louisville Team</a>
        </p>
        <p>
            Marcin is a user interface designer and developer. Over the past seven years he’s worked at Google on Chrome and search teams, and has coded and attended to the user experience of interactive homepage doodles. After hours, Marcin takes photos and occasionally volunteers at the Computer History Museum.
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/marcin-wichary/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/mwichary"></a></li>
            <li class="social-github"><a href="https://github.com/mwichary">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/mwichary">@mwichary</a></li>
        </ul>
    </div>
</div>

{% endif %}
