{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Matt Hampel</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/matt-hampel.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Matt Hampel is a web developer and student of civic information. Matt has worked with nonprofits, newspapers, universities, and other organizations to build tools for the public good. Most recently, he worked as a technology project manager at the University of Michigan. He has developed multiple open data web apps, including <a href="http://DetroitLedger.com">DetroitLedger.com</a> for Detroit-related civic information and <a href="http://A2Docs.org">A2Docs.org</a> for collecting public documents from Ann Arbor, MI. </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/MattH">@MattH</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/hampelm">http://github<wbr>.com/<wbr>hampelm</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/matthampel">http://linkedin<wbr>.com/<wbr>in/<wbr>matthampel</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Matt Hampel</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/matt-hampel.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/detroit/">Detroit Team</a>
        </p>
        <p>
            Matt Hampel is a web developer and student of civic information. Matt has worked with nonprofits, newspapers, universities, and other organizations to build tools for the public good. Most recently, he worked as a technology project manager at the University of Michigan. He has developed multiple open…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/matt-hampel/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/matthampel"></a></li>
            <li class="social-github"><a href="https://github.com/hampelm">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/MattH">@MattH</a></li>
        </ul>
    </div>
</div>

{% endif %}
