{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Matt Boitano</h2>
	</div>

	<div class="layout-minor">
		<p>Grants Administrator</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/matt-boitano.jpeg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Matt supports CfA's relationships with institutional supporters and local match funders, while implementing more efficient internal processes and workflows. He is an Oakland native with a passion for civic engagement, technology and inclusion. Previously, he wore multiple hats at Oakland Local, providing support for its Development department while spearheading Outreach for its award-winning Hack the Hood program. He has significant experience in the nonprofit world, having worked at a variety of organizations including California Certified Organic Farmers (CCOF) and Committee to Bridge the Gap. He graduated Magna Cum Laude from the University of California, Santa Cruz.</p>

	    <p><a href="http://www.codeforamerica.org/2013/12/12/matt-boitano-why-im-coding-for-america/">Why does Matt Boitano code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/themattboitano">@themattboitano</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/mattboitano">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>mattboitano</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/mattb/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>mattb/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Matt Boitano</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/matt-boitano.jpeg">

    <div class="p-note profile-note">
        <p>Grants Administrator</p>

	<p>Matt supports CfA's relationships with institutional supporters and local match funders, while implementing more efficient internal processes and workflows. He is an Oakland native with a passion for civic engagement, technology and inclusion. Previously, he wore multiple hats at Oakland Local, providing support for its...</p>

        <p><a class="link-more" href="{{ include.base }}/people/matt-boitano/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/mattboitano">LinkedIn</a></li>
            <li class="social-github"><a href="https://github.com/mattboitan0">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/themattboitano">Twitter</a></li>

        </ul>
    </div>
</div>

{% endif %}
