{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Matthew Loveless</h2>
	</div>

	<div class="layout-minor">
		<p>Data & Analytics Manager</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/matthew-loveless.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">
	    Matthew Loveless joined Code for America in 2014.  Before CfA, Matthew worked on data integration and management at the U.S. Department of Energy, the Democratic National Committee, and Barack Obama’s 2008 presidential campaign. At CfA, Matthew helps to track organizational growth, keep the data house in order, and assess program impacts. Matthew is originally from Seattle, and first came to the Bay Area to attend Stanford University.  After several years in Washington, DC, he now lives in Glen Park and bakes a lot of bread.
	    </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/matthew-loveless/8a/204/252">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>matthewloveless</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Matthew Loveless</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/matthew-loveless.jpg">

    <div class="p-note profile-note">
        <p>Data & Analytics Manager</p>

        <p>Matthew Loveless joined Code for America in 2014.  Before CfA, Matthew worked on data integration and management at the U.S. Department of Energy, the Democratic National Committee, and Barack Obama’s 2008 presidential campaign...</p>

        <p><a class="link-more" href="{{ include.base }}/people/matthew-loveless/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/matthew-loveless/8a/204/252">LinkedIn</a></li>
           
         
        </ul>
    </div>
</div>

{% endif %}
