{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Meghan Reilly</h2>
	</div>

	<div class="layout-minor">
		<p>CFO & COO</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/meghan-reilly.png" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Meghan Reilly (CFO &amp; COO) joined Code for America in August, 2010. After graduating from the University of Colorado she moved out West to join The Ritz-Carlton, San Francisco team. She participated in their rigorous training program and spent four years learning the hospitality industry. She then moved into the technology arena, working on major technology events such as COMDEX, Interop, Web 2.0 Summit, Web 2.0 Expo and more. Her roles on these events evolved; when she left the corporate world in August she was Associate GM &amp; Operations Director on the Web 2.0 and Gov 2.0 events, co-produced by UBM TechWeb and O’Reilly Media.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/mfreilly">@mfreilly</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/mfreilly">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>mfreilly</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/blog/author/mreilly/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>blog/<wbr>author/<wbr>mreilly/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Meghan Reilly</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/meghan-reilly.png">

    <div class="p-note profile-note">
        <p>CFO &amp; COO</p>

        <p>Meghan Reilly joined Code for America in August, 2010. After graduating from the University of Colorado she moved out West to join The Ritz-Carlton, San Francisco team. She participated in their rigorous training program and spent four years learning the hospitality industry. She then moved…</p>

        <p><a class="link-more" href="{{ include.base }}/people/meghan-reilly/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/mfreilly">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/mfreilly">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
