{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">
  <div class="heading">
    <h2 class="p-name">Meredith Hitchcock</h2>
  </div>

  <div class="layout-minor">
    <h4 class="text-whisper layout-tight">Member of</h4>
    <ul class="list-no-bullets text-whisper link-invert">
      <li><a href="/geeks/our-geeks/2016-fellows/">2016 Fellows</a></li>
      <li><a href="/governments/seattle/">Seattle Team</a></li>
    </ul>

    <img class="profile-photo u-photo" src="/media/images/people/meredith-hitchcock.jpg" />
  </div>

  <div class="layout-major">
    <p class="p-note">
      Meredith is a user experience researcher and designer. Most recently, she worked on publisher support and internal tools for Google Play Newsstand. She holds a BA in Literature from Yale and a Masters in Information Management and Systems from UC Berkeley. When she's not working, you can find her reading, cycling, or backpacking.
    </p>

    <div class="spotlight">
      <h3 class="text-whisper">Contact</h3>
      <table class="table-unstyled table-minor">
        <tr><th>Twitter</th><td><a href="https://twitter.com/meredithhitchco">@meredithhitchco</a></td></tr>
        <tr><th>LinkedIn</th><td><a href="https://www.linkedin.com/in/meredithahitchcock">https://www.linkedin.com/in/meredithahitchcock</a></td></tr>
      </table>
    </div>
  </div>
</div>

{% elsif include.context == '2016-fellows' %}

<div class="h-card profile-small">
  <h3 class="p-name profile-name">Meredith Hitchcock</h3>

  <img class="u-photo profile-photo" src="/media/images/people/meredith-hitchcock.jpg" />

  <div class="p-note profile-note">
    <p><a href="/governments/seattle/">Seattle Team</a></p>
    <p>
      Meredith is a user experience researcher and designer. Most recently, she worked on publisher support and internal tools for Google Play Newsstand. She holds a BA in Literature from Yale and a Masters...
    </p>

    <p><a class="link-more" href="/people/meredith-hitchcock/">More</a></p>

    <ul class="list-social list-social-horizontal">
      <li class="social-linkedin"><a href="https://www.linkedin.com/in/meredithahitchcock">LinkedIn</a></li>
      <li class="social-twitter"><a href="https://twitter.com/meredithhitchco">@meredithhitchco</a></li>
    </ul>
  </div>
</div>

{% endif %}
