{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Michelle Lee</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/michelle-lee.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Michelle Lee is a product designer from Philadelphia and New York City. Michelle has worked at Google since 2005 leading projects to aid in understanding and improving user experiences in Maps, Flu Trends, and Docs. Michelle started Forms under Google's 20% time policy, and it is now the fasting growing form of Google Doc online. Previously, she designed online trust and safety tools for eBay, cars for baby boomers, and studied human-computer interaction at Stanford University's Symbolic Systems Program.</p>
	    <p><a href="http://www.codeforamerica.org/2012/08/07/michelle-lee-why-im-coding-for-america/">Why does Michelle Lee code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/mishmosh">@mishmosh</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/michellelee3">http://linkedin<wbr>.com/<wbr>in/<wbr>michellelee3</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/blog/author/michelle-lee/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>blog/<wbr>author/<wbr>michelle-lee/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Michelle Lee</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/michelle-lee.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/philadelphia/">Philadelphia Team</a>
        </p>
        <p>
            Michelle Lee is a product designer from Philadelphia and New York City. Michelle has worked at Google since 2005 leading projects to aid in understanding and improving user experiences in Maps, Flu Trends, and Docs. Michelle started Forms under Google's 20% time policy, and it is now the fasting growing…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/michelle-lee/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/michellelee3"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/mishmosh">@mishmosh</a></li>
        </ul>
    </div>
</div>

{% endif %}
