{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Michelle Koeth</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://brigade.codeforamerica.org/brigades/48">Northern Virginia Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains/">Brigade Captains</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2011-fellows/">2011 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/michelle-koeth.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Michelle is a lawyer by day, and a civic hacker by night, as a Code for America Brigade co-captain, and core-developer on several open source web applications for local government. In 2011, Michelle was an inaugural Code for America fellow where she worked on the Civic Commons Legal and Procurement Issues guide, a guide for local government procurement staff to procuring open source software and potential legal issues therefrom. Prior to Code for America, Michelle worked  as a patent attorney for a private law firm, and as a web application developer and server administrator for a global health corporation. She holds a B.S. in Electrical and Computer Engineering from Rutgers University, and a J.D. from the Chicago-Kent College of Law.</p>
	    <p><a href="https://www.codeforamerica.org/2010/11/01/michelle-koeth-why-im-coding-for-america/">Why does Michelle Koeth code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/michellekoeth">@michellekoeth</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="www.linkedin.com/in/mkoeth/">www.linkedin.com/in/mkoeth/</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/michelle/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>michelle/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2011-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Michelle Koeth</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/michelle-koeth.jpg" />
    <div class="p-note profile-note">
        <p>Michelle is a patent lawyer and web developer. As a 2011 Code for America fellow she gathered user experience research and drafted the Legal and Procurement Issues Guide for Civic Commons. Further, she attended several codeathons and was a co-developer for three civic minded applications, including SnapFresh, an Apps for Good prize winner...</p>
        <p><a class="link-more" href="{{ include.base }}/people/michelle-koeth/">More</a></p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/mkoeth">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/michellekoeth">@michellekoeth</a></li>
        </ul>
    </div>
</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Michelle Koeth</h3>
    <img alt="michelle-koeth" class="u-photo profile-photo" src="{{ include.base }}/media/images/people/michelle-koeth.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="http://brigade.codeforamerica.org/brigades/48">Northern Virginia Brigade</a>
        </p>
        <p>
            Michelle is a lawyer by day, and a civic hacker by night, as a Code for America Brigade co-captain, and core-developer on several open source web applications for local government. In 2011, Michelle was an inaugural Code for America fellow where she worked on the Civic Commons Legal and Procurement Issues guide, a guide for local government procurement staff to procuring open source software and potential legal issues therefrom. Prior to Code for America, Michelle worked as a patent attorney for a private law firm, and as a web application developer and server administrator for a global health corporation.
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/michelle-koeth/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="www.linkedin.com/in/mkoeth/">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/michellekoeth">@michellekoeth</a></li>
        </ul>
    </div>
</div>

{% endif %}
