{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Michal Migurski</h2>
	</div>

	<div class="layout-minor">
		<p>CTO</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/michal-migurski.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Michal Migurski (CTO) joined Code For America in 2013. Previous to CfA, Michal spent nine years as a partner and technology director at celebrated San Francisco design studio Stamen where he architected the technical aspects of Stamen’s work, moving comfortably from active participation in Stamen’s design process, designing database schemas and API’s, to creating the dynamic applications that Stamen delivers to clients. At Code For America, he is responsible for engineering standards and technical sustainability. Michal has been building for the web since 1995, specializing in data design and publishing for a diverse range of clients and numerous public, technical research projects and active open source codebases. He’s a Polish National and holds a degree in Cognitive Science from UC Berkeley.</p>
	    <p><a href="http://www.codeforamerica.org/2013/05/15/michal-migurski-why-im-coding-for-america/">Why does Michal Migurski code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/michalmigurski">@michalmigurski</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/migurski">http://github<wbr>.com/<wbr>migurski</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/michal-migurski/0/7a/923">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>michal-migurski/<wbr>0/<wbr>7a/<wbr>923</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Michal Migurski</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/michal-migurski.jpg">

    <div class="p-note profile-note">
        <p>CTO</p>

        <p>Michal Migurski joined Code For America in 2013. Previous to CfA, Michal spent nine years as a partner and technology director at celebrated San Francisco design studio Stamen where he architected the technical aspects of Stamen’s work, moving comfortably from active participation in Stamen’s…</p>

        <p><a class="link-more" href="{{ include.base }}/people/michal-migurski/">More</a></p>

        <ul class="list-social list-social-horizontal">

            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/michal-migurski/0/7a/923">LinkedIn</a></li>

            <li class="social-github"><a href="https://github.com/migurski">GitHub</a></li>

            <li class="social-twitter"><a href="https://twitter.com/michalmigurski">@michalmigurski</a></li>
        </ul>
    </div>
</div>

{% elsif include.context == 'speaker-landing' %}

  <p>Michal spent 9 years as a partner and technology director at San Francisco design studio Stamen where he led technical aspects of Stamen’s work.</p>

{% endif %}
