{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Michael Lawrence Evans</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2011-fellows/">2011 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/michael-lawrence-evans.jpeg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Michael Lawrence Evans is a web developer from Mountain View, CA. As a self-taught open source programmer, he has focused on data visualization and GIS systems with projects such as NYC Graffiti Snapshot, which helps users explore graffiti trends with interactive maps and charts, and SF Crime Snapshot, a combination of heat maps and street maps illustrating crime density in San Francisco. He earned a BS in Physical Chemistry from UCLA in 2005. </p>
	    <p><a href="https://www.codeforamerica.org/2010/11/01/michael-lawrence-evans-why-im-coding-for-america/">Why does Michael Lawrence Evans code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/evansml">@evansml</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/mlevans">http://github<wbr>.com/<wbr>mlevans</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/mlevans">http://linkedin<wbr>.com/<wbr>in/<wbr>mlevans</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/michael/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>michael/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2011-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Michael Lawrence Evans</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/michael-lawrence-evans.jpeg" />
    <div class="p-note profile-note">
        <p><a href="{{ include.base }}/cities/philadelphia/">Philadelphia Team</a></p>
        <p>Michael Lawrence Evans is a web developer from Mountain View, CA. As a self-taught open source programmer, he has focused on data visualization and GIS systems with projects such as NYC Graffiti Snapshot, which helps users explore graffiti trends with interactive maps and charts, and SF Crime Snapshot...</p>
        <p><a class="link-more" href="{{ include.base }}/people/michael-lawrence-evans/">More</a></p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/mlevans">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/evansml">@evansml</a></li>
            <li class="social-github"><a href="https://github.com/mlevans">GitHub</a></li>
        </ul>
    </div>
</div>

{% endif %}
