{% comment %} Required speaker variables {% endcomment %}
{% assign speaker-key       = 'molly-mcleod' %}
{% assign speaker-name      = 'Molly McLeod' %}
{% assign speaker-bio       = 'Molly is a designer and typography geek passionate about social justice. As a 2014 Code for America Fellow in Long Beach, she helped design a new process for city staff to coordinate information in order to reduce 911 calls.<!-- break --> Previously, she designed print and digital projects for federal public health agencies at CommunicateHealth. She has also worked on documentary films, board games, and public art projects. Molly&rsquo;s mission is to empower people to improve their communities through design.' %}
{% assign speaker-short-bio = 'Molly is a designer and typography geek passionate about social justice. As a 2014 Code for America fellow in Long Beach, she helped design a new process for city staff to coordinate to reduce 911 calls.' %}
{% assign speaker-title     = 'Designer, Code for America' %}
{% assign speaker-topics    = 'design-ux\User-centered Design|health\Health &amp; Human Services' | split: "|" %}
{% comment %}{% capture embed %}<iframe src="//www.youtube.com/embed/yViYA8IG36U" height="300" width="650" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>{% endcapture %}{% endcomment %}
{% assign speaker-vid-title = '' %}
{% assign speaker-vid-desc  = '' %}
{% assign speaker-vid-date  = '' %}
{% assign speaker-vid-loc   = '' %}
{% assign speaker-vid-group = '' %}
{% comment %} Optional speaker variables {% endcomment %}
{% assign speaker-twitter   = 'mollyampersand' %}
{% assign speaker-linkedin  = false %}
{% assign speaker-blogposts = 'molly-mcleod' %}
{% assign speaker-github    = 'mollymcleod' %}
{% assign speaker-playlist  = false %}
{% assign speaker-quote     = false %}
{% comment %}{% assign speaker-events    = 'Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA|Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA' | split: '|' %}{% endcomment %}
{% assign speaker-similar   = 'rebecca-coelius|jack-madans' | split: '|' %}
{% comment %} End variables {% endcomment %}

{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Molly McLeod</h2>
	</div>

	<div class="layout-minor">
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
        <li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2014-fellows/">2014 Fellows</a></li>
	    </ul>
		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/molly-mcleod.jpg" />
	</div>

	<div class="layout-major">
    <p class="p-note">Molly is a designer and typography geek passionate about social justice. As a 2014 Code for America Fellow in Long Beach, she helped design a new process for city staff to coordinate information in order to reduce 911 calls. Previously, she designed print and digital projects for federal public health agencies at CommunicateHealth. She has also worked on documentary films, board games, and public art projects. Molly's mission is to empower people to improve their communities through design.</p>

    <div class="spotlight">
    	<h3 class="text-whisper">Contact</h3>
    	<table class="table-unstyled table-minor">
    		<tr><th>Twitter</th><td><a href="https://twitter.com/mollyampersand">@mollyampersand</a></td></tr>
    		<tr><th>Github</th><td><a href="http://github.com/mollymcleod">http://github<wbr>.com/<wbr>mollymcleod</a></td></tr>
    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/molly-mcleod/22/b25/506/">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>molly-mcleod/<wbr>22/<wbr>b25/<wbr>506/</a></td></tr>
    	</table>
    </div>
	</div><!-- end .layout-major -->

</div><!-- end .layout-semibreve -->

{% elsif include.context == '2014-fellows' or include.context == 'about-team' %}

<div class="h-card profile-small">
  <h3 class="p-name profile-name">Molly McLeod</h3>
  <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/molly-mcleod.jpg" />
  <div class="p-note profile-note">
      <p>
      	{% if include.context == '2014-fellows' %}
          <a href="{{ include.base }}/cities/longbeach/">Long Beach Team</a>
          {% else %}
              Designer
          {% endif %}
      </p>
      <p>Molly is a designer and typography geek passionate about social justice. As a 2014 Code for America fellow in Long Beach, she helped design a new process for city staff to coordinate to reduce 911 calls. Previously, she designed print and digital projects for federal public health agencies at CommunicateHealth...</p>
      <p><a class="link-more" href="{{ include.base }}/people/molly-mcleod/">More</a></p>
      <ul class="list-social list-social-horizontal">
        <li class="social-linkedin"><a href="http://www.linkedin.com/pub/molly-mcleod/22/b25/506/">LinkedIn</a></li>
        <li class="social-github"><a href="http://github.com/mollymcleod">Github</a></li>
        <li class="social-twitter"><a href="https://twitter.com/mollyampersand">Twitter</a></li>
      </ul>
  </div>
</div>

{% elsif include.context == 'speaker-page' %}

  {% include speakers/speaker-page.html base="../.." %}

{% elsif include.context == 'speaker-card' %}

  {% include speakers/speaker-card.html base="../.." %}

{% endif %}