{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Natasha Fountain</h2>
	</div>

	<div class="layout-minor">
		<p>2015 Fellow</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2015-fellows/">2015 Fellow</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/natasha-fountain.png"

	<div class="layout-major">

	    <p class="p-note">
	 Natasha is a designer from Fort Lauderdale, Florida. She’s led the design of enterprise-level SaaS products, created typefaces, Tumblr themes, and animations, and loves generative drawing. She holds a BFA in Art and Technology from The School of the Art Institute of Chicago and her work has been featured in publications and marketing campaigns worldwide.






	    </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>LinkedIn</th><td><a href="https://www.linkedin.com/in/natashamaria">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>natashamaria</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2015-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Natasha Fountain</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/natasha-fountain.png">

    <div class="p-note profile-note">
        <p>2015 Fellow</p>

        <p> Natasha is a designer from Fort Lauderdale, Florida. She’s led the design of enterprise-level SaaS products, created typefaces, Tumblr themes...
</p>

        <p><a class="link-more" href="{{ include.base }}/people/natasha-fountain/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-twitter"><a href="https://twitter.com/hamhandedlyv">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}