{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Nick Doiron</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/nick-doiron.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Nick Doiron is a developer focusing on web maps, interactive media, and environmental sensors. Nick has developed and taught open source programs with One Laptop per Child in Uganda, Uruguay, and Haiti. Working with open data, he has produced innovative maps for the Humanitarian OpenStreetMap Team in Port-au-Prince, the Cherokee Nation, the City of Pittsburgh, a water research group at Carnegie Mellon University, and a Mongolian offroad travel agency. He was recently a GIS intern at Esri's Applications Prototype Lab and a student in the Knight-Mozilla News Learning Lab. <a href="/nick-doiron/">Video</a></p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/mapmeld">@mapmeld</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/mapmeld">http://github<wbr>.com/<wbr>mapmeld</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/nickdoiron">http://linkedin<wbr>.com/<wbr>in/<wbr>nickdoiron</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/nickd/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>nickd/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Nick Doiron</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/nick-doiron.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/macon/">Macon Team</a>
        </p>
        <p>
            Nick Doiron is a developer focusing on web maps, interactive media, and environmental sensors. Nick has developed and taught open source programs with One Laptop per Child in Uganda, Uruguay, and Haiti. Working with open data, he has produced innovative maps for the Humanitarian OpenStreetMap Team in…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/nick-doiron/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/nickdoiron"></a></li>
            <li class="social-github"><a href="https://github.com/mapmeld">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/mapmeld">@mapmeld</a></li>
        </ul>
    </div>
</div>

{% endif %}
