{% comment %} Required speaker variables {% endcomment %}
{% assign speaker-key       = 'rebecca-coelius' %}
{% assign speaker-name      = 'Rebecca Coelius' %}
{% assign speaker-bio       = 'Rebecca Coelius is a doctor using her background in clinical medicine, policy-making, and social entrepreneurship to advance the health of individuals and cities through the Code for America Health Practice. Prior to  joining CfA, Rebecca worked for the Health and Human Services Chief Technology Officer as the Medical Officer for Innovation, and ran the Office of the National Coordinator for Health IT&raquo;s Division of Science and Innovation. <!-- break -->She has worked for and advised a variety of digital health start up companies, previously Founded and served as Executive Director of the non profit for social entrepreneurship SpanAfrica, and worked in India and Egypt on on low tech maternal health interventions. Rebecca received her Medical Degree from the University of California - San Francisco School of Medicine.' %}
{% assign speaker-short-bio = 'Rebecca is a doctor using her background in clinical medicine, policy-making, and social entrepreneurship to advance the health of individuals and cities.' %}
{% assign speaker-title     = 'Health Vertical Lead, Code for America' %}
{% assign speaker-topics    = 'health\Health &amp; Human Safety' | split: "|" %}
{% comment %}{% capture embed %}<iframe src="http://embed.ted.com/talks/catherine_bracy_why_good_hackers_make_good_citizens.html" height="300" width="650" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>{% endcapture %}{% endcomment %}
{% assign speaker-vid-title = '' %}
{% assign speaker-vid-desc  = '' %}
{% assign speaker-vid-date  = '' %}
{% assign speaker-vid-loc   = '' %}
{% assign speaker-vid-group = '' %}
{% comment %} Optional speaker variables {% endcomment %}
{% assign speaker-twitter   = 'rebeccacoelius' %}
{% assign speaker-linkedin  = 'rebeccacoelius' %}
{% assign speaker-blogposts = false %}
{% assign speaker-github    = 'RebeccaCoelius' %}
{% assign speaker-playlist  = false %}
{% assign speaker-quote     = false %}
{% comment %}{% assign speaker-events    = 'Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA|Talk Name, Event Name\Dec. 31, 2014 in San Francisco, CA' | split: '|' %}{% endcomment %}
{% assign speaker-similar   = 'jacob-solomon|jack-madans' | split: '|' %}
{% comment %} End variables {% endcomment %}

{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Rebecca Coelius</h2>
	</div>

	<div class="layout-minor">
		<p>Director of Health</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/rebecca-coelius.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">
	    Rebecca Coelius is a doctor using her background in clinical medicine, policy-making, and social entrepreneurship to advance the health of individuals and cities through the Code for America Health Practice. Prior to  joining CfA, Rebecca worked for the Health and Human Services Chief Technology Officer as the Medical Officer for Innovation, and ran the Office of the National Coordinator for Health IT&raquo;s Division of Science and Innovation. <!-- break -->She has worked for and advised a variety of digital health start up companies, previously Founded and served as Executive Director of the non profit for social entrepreneurship SpanAfrica, and worked in India and Egypt on on low tech maternal health interventions. Rebecca received her Medical Degree from the University of California - San Francisco School of Medicine.
	    </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/rebeccacoelius">@rebeccacoelius</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/rebeccacoelius">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>coelius</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Rebecca Coelius</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/rebecca-coelius.jpg">

    <div class="p-note profile-note">
        <p>Director of Health</p>

        <p>Rebecca Coelius is a doctor using her background in clinical medicine, policy-making, and social entrepreneurship to advance the health of individuals and cities through the Code for America Health Practice. Prior to  joining CfA, Rebecca worked for the Health and Human Services Chief Technology Officer as the Medical Officer for Innovation, and ran the Office of the National Coordinator for Health IT&raquo;s Division of Science and Innovation. <!-- break -->She has worked for and advised a variety of digital health start up companies, previously Founded and served as Executive Director of the non profit for social entrepreneurship SpanAfrica, and worked in India and Egypt on on low tech maternal health interventions. Rebecca received her Medical Degree from the University of California - San Francisco School of Medicine.
</p>

        <p><a class="link-more" href="{{ include.base }}/people/rebecca-coelius/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/rebeccacoelius">LinkedIn</a></li>
        
            <li class="social-twitter"><a href="https://twitter.com/rebeccacoelius">Twitter</a></li>
        </ul>
    </div>
</div>

{% elsif include.context == 'speaker-page' %}

  {% include speakers/speaker-page.html base="../.." %}

{% elsif include.context == 'speaker-card' %}

  {% include speakers/speaker-card.html base="../.." %}

{% endif %}
