{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Rebecca Ackerman</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/rebecca-ackerman.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Rebecca is a public policy researcher and social justice activist in Chicago. Most recently, she worked at Chapin Hall at the University of Chicago, where she worked on web development and research about social services in the Chicagoland area. She organized with the Immigrant Youth Justice League, an undocumented-led youth organization in Chicago. Rebecca studied at the University of Chicago.</p>
	    <p><a href="http://www.codeforamerica.org/2013/07/18/rebecca-ackerman-why-im-coding-for-america/">Why does Rebecca Ackerman code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/aka_rca">@aka_rca</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/rcackerman">http://github<wbr>.com/<wbr>rcackerman</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/rcackerman">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>rcackerman</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/rebecca/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>rebecca/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Rebecca Ackerman</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/rebecca-ackerman.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/sanfrancisco/">San Francisco Team</a>
        </p>
        <p>
            Rebecca is a public policy researcher and social justice activist in Chicago. Most recently, she worked at Chapin Hall at the University of Chicago, where she worked on web development and research about social services in the Chicagoland area. She organized with the Immigrant Youth Justice League, an…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/rebecca-ackerman/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/rcackerman"></a></li>
            <li class="social-github"><a href="https://github.com/rcackerman">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/aka_rca">@aka_rca</a></li>

        </ul>
    </div>
</div>

{% endif %}
