{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Reed Duecy-Gibbs</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/reed-duecy-gibbs.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Reed is an urbanist and interdisciplinary designer and is the co-founder of OpenUrban, a crowd sourced map and forum on current urban development. He has worked as an architect and urban designer, and as a policy researcher for the City of Seattle. Most recently his work was on display in the Istanbul Design Biennial’s Ad-Hocracy exhibition. Reed is a former Fulbright Scholar and holds a Masters of Architecture from the Rhode Island School of Design. </p>
	    <p><a href="https://www.codeforamerica.org/2013/12/20/reed-duecy-gibbs-why-im-coding-for-america/">Why does Reed Duecy-Gibbs code for America?</a></p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/rduecyg">@rduecyg</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/reed-duecy-gibbs/13/212/a1">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>reed-duecy-gibbs/<wbr>13/<wbr>212/<wbr>a1</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Reed Duecy-Gibbs</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/reed-duecy-gibbs.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/southbend/">South Bend Team</a>
        </p>
        <p>
            Reed is an urbanist and interdisciplinary designer and is the co-founder of OpenUrban, a crowd sourced map and forum on current urban development. He has worked as an architect and urban designer, and as a policy researcher for the City of Seattle. Most recently his work was on display in the Istanbul…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/reed-duecy-gibbs/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/reed-duecy-gibbs/13/212/a1"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/rduecyg">@rduecyg</a></li>
        </ul>
    </div>
</div>

{% endif %}
