{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Richa Agarwal</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/richa-agarwal.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Richa is a software developer and lover of technology, civic engagement, and the outdoors. Most recently, she has been working to help re-elect Obama from the campaign headquarters. When she’s not coding, you can find her at a local coffee shop or out on the trails. Richa holds a BA in Philosophy and Psychology from Colgate University, and an MS in Computer Science from the University of Illinois at Chicago.</p>
	    <p><a href="http://www.codeforamerica.org/2013/11/06/richa-agarwal-why-im-coding-for-america/">Why does Richa Agarwal code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/richaaaa">@richaaaa</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/richaagarwal">http://github<wbr>.com/<wbr>richaagarwal</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/richaagarwal">http://linkedin<wbr>.com/<wbr>in/<wbr>richaagarwal</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/blog/author/richa/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>blog/<wbr>author/<wbr>richa/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Richa Agarwal</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/richa-agarwal.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/oakland/">Oakland Team</a>
        </p>
        <p>
            Richa is a software developer and lover of technology, civic engagement, and the outdoors. Most recently, she has been working to help re-elect Obama from the campaign headquarters. When she's not coding, you can find her at a local coffee shop or out on the trails. Richa holds a BA in Philosophy and…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/richa-agarwal/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/richaagarwal"></a></li>
            <li class="social-github"><a href="https://github.com/richaagarwal">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/richaaaa">@richaaaa</a></li>
        </ul>
    </div>
</div>

{% endif %}
