{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Robert Campbell</h2>
	</div>

	<div class="layout-minor">
		
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://www.meetup.com/Triangle-Code-for-America/">Cary, NC Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/robert-campbell.jpg" />
	</div>

	<div class="layout-major">
	    	
	    <p class="p-note">Test engineer working on complex solutions.  I've built Central Offices and Data Centers, so now I'm out to help build a better community! I love engaging with my community through Code for America - finally, a place where geeks can make a dent! I serve on the Town of Cary's Information Services Advisory Board - providing advice to the Town Council. I've developed a good rapport with the Town and am working to liberate data for community apps!</p>
	    

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="http://twitter.com/rcampbellnc">@rcampbellnc</a></td></tr>

	    	</table>
	    </div>	    
	</div>

</div>

{% endif %}
