{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Ruthie BenDor</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/ruthie-bendor.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Ruthie BenDor is a web developer and designer with a special interest in content management system integration. Ruthie has worked at the nonprofit organizations, GLAD and MassEquality, has consulted for a variety of companies and agencies, and contributes to several open source projects. Ruthie just wrapped up her summer 2011 CyclingCoder.com project, where she rode her bicycle from Boston to San Francisco and, along the way, interviewed people who work where government and technology converge. <a href="/ruthie-bendor/">Video</a></p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/unruthless">@unruthless</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/ruthiebendor">http://linkedin<wbr>.com/<wbr>in/<wbr>ruthiebendor</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/ruthie-bendor/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>ruthie-bendor/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Ruthie BenDor</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/ruthie-bendor.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/santacruz/">Santa Cruz Team</a>
        </p>
        <p>
            Ruthie BenDor is a web developer and designer with a special interest in content management system integration. Ruthie has worked at the nonprofit organizations, GLAD and MassEquality, has consulted for a variety of companies and agencies, and contributes to several open source projects. Ruthie just…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/ruthie-bendor/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/ruthiebendor"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/unruthless">@unruthless</a></li>
        </ul>
    </div>
</div>

{% endif %}
