{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Ryan Resella</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2011-fellows/">2011 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/ryan-resella.jpeg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Ryan began working in local government in 2005 at the City of Santa Clarita in Southern California. As a Senior IT Analyst at Santa Clarita he was responsible for managing the Application Development group in the Technology Services Division. Previously, he was the project manager and lead engineer on eGraffiti which is a web based graffiti tracking and prevention application, which won the League of California Cities Grand Prize Helen Putnam Award. He also has done extensive work with GIS using Esri products. Ryan was part of the 2011 Inaugural class of Code for America Fellows. As a photographer, Ryan continues to capture great moments at Code for America. He holds a Masters Degree in Public Administration and Bachelors of Science in Computer Science from California State University, Northridge.</p>
	    <p><a href="https://www.codeforamerica.org/2010/11/01/ryan-resella-why-im-coding-for-america/">Why does Ryan Resella code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/RyanResella">@RyanResella</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/ryanatwork">http://github<wbr>.com/<wbr>ryanatwork</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/ryanresella">http://linkedin<wbr>.com/<wbr>in/<wbr>ryanresella</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://codeforamerica.org/author/ryan/">http://codeforamerica<wbr>.org/<wbr>author/<wbr>ryan/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2011-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Ryan Resella</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/ryan-resella.jpeg" />
    <div class="p-note profile-note">
        <p><a href="{{ include.base }}/cities/boston/">Boston Team</a></p>
        <p>Ryan began working in local government in 2005 at the City of Santa Clarita in Southern California. As a Senior IT Analyst at Santa Clarita he was responsible for managing the Application Development group in the Technology Services Division. Previously, he was the project manager and lead engineer on eGraffiti...</p>
        <p><a class="link-more" href="{{ include.base }}/people/ryan-resella/">More</a></p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/ryanresella">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/RyanResella">@ryanresella</a></li>
            <li class="social-github"><a href="https://github.com/ryanatwork">GitHub</a></li>
        </ul>
    </div>
</div>

{% endif %}
