{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Ryan Closner</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/ryan-closner.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Ryan is a software engineer and entrepreneur from Portland, Oregon. Most recently, he’s worked for a governmental utility analytics company based out of Bend, Oregon. Ryan’s an avid traveler, open-source contributor, and has been developing client applications for more than five years. He studied Philosophy and Political Science at Seattle Pacific University.</p>
	    <p><a href="https://www.codeforamerica.org/2013/07/16/ryan-closner-why-im-coding-for-america/">Why does Ryan Closner code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/rclosner">@rclosner</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/rclosner">http://github<wbr>.com/<wbr>rclosner</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/ryan-closner/57/9b3/301">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>ryan-closner/<wbr>57/<wbr>9b3/<wbr>301</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/ryanc/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>ryanc/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Ryan Closner</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/ryan-closner.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/lasvegas/">Las Vegas Team</a>
        </p>
        <p>
            Ryan is a software engineer and entrepreneur from Portland, Oregon. Most recently, he’s worked for a governmental utility analytics company based out of Bend, Oregon. Ryan’s an avid traveler, open-source contributor, and has been developing client applications for more than five years. He studied…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/ryan-closner/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/ryan-closner/57/9b3/301"></a></li>
            <li class="social-github"><a href="https://github.com/rclosner">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/rclosner">@rclosner</a></li>
        </ul>
    </div>
</div>

{% endif %}
