{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Sam Matthews</h2>
	</div>

	<div class="layout-minor">
		<p><a href="{{ include.base }}/governments/rva-community-partners/">RVA Community Partners Team</a></p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2015-fellows/">2015 Fellow</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/sam-matthews.jpg"/>
    </div>

	<div class="layout-major">

	    <p class="p-note">
	  Sam is a front-end web developer, designer, and cartographer. He helped create Situated Laboratories, a firm devoted to helping people explore and showcase their digital brand. He promotes open collaboration and strives to ensure content pushes design and functionality, prioritizing the user experience. He actively participates in the open data and mapping community, and proudly supports the Seattle Sounders.







	    </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/vancematthews">@vancematthews</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="https://www.linkedin.com/in/svmatthews">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>svmatthews</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2015-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Sam Matthews</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/sam-matthews.jpg">

    <div class="p-note profile-note">
        <p><a href="{{ include.base }}/governments/rva-community-partners/">RVA Community Partners Team</a></p>

        <p>Sam is a front-end web developer, designer, and cartographer. He helped create Situated Laboratories, a firm devoted to helping people explore and showcase their digital brand...
</p>

        <p><a class="link-more" href="{{ include.base }}/people/sam-matthews/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="https://www.linkedin.com/in/svmatthews">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/vancematthews">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}