{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Scott Barnwell</h2>
	</div>

	<div class="layout-minor">
		
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://www.meetup.com/Code-for-Asheville">Asheville, NC Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" />
	</div>

	<div class="layout-major">
	    	
	    <p class="p-note">Scott Barnwell is an experienced GIS/IT professional who has worked in the public, private, and non-profit sectors for the past twenty years. He currently works for the City of Asheville managing a variety of IT projects and supporting GIS operations throughout the city. As a co-founder and co-captain of Asheville’s Code for America Brigade, Scott is helping to foster a local civic tech community that can focus energies on opening up access to public data and building value-added apps using that data. When not working with technology, Scott can be found hiking and biking through the Blue Ridge Mountains foraging for mushrooms, berries, and other edibles. Scott is also busy raising two daughters, tending a flock of chickens, maintaining several hives of honeybees and an ever growing garden and fruit/nut orchard.</p>
	    

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="http://twitter.com/scott_barnwell">@scott_barnwell</a></td></tr>

	    	</table>
	    </div>	    
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Scott Barnwell</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/generic-brigade-captain.png" /> 
    <div class="p-note profile-note">
        <p>
            <a href="http://www.meetup.com/Code-for-Asheville">Asheville, NC Brigade</a>
        </p>
        <p>
            Scott Barnwell is an experienced GIS/IT professional who has worked in the public, private, and non-profit sectors for the past twenty years. He currently works for the City of Asheville managing a variety of IT projects and supporting GIS operations throughout the city. As a co-founder and co-captain of Asheville’s Code for America Brigade...
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/scott-barnwell">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-twitter"><a href="https://twitter.com/scott_barnwell">@scott_barnwell</a></li>
        </ul>
    </div>
</div>

{% endif %}
