{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Scott Silverman</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2011-fellows/">2011 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/scott-silverman.jpeg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Scott is a designer and product guy with a passion for perfection. He’s worked alongside engineers writing code, prototyping interfaces, and launching products. Prior to Code for America, Scott held product internships with Apple, The New York Times, and Arnold Worldwide. When not making software, he's usually backpacking, taking pictures, or skiing. See some of Scott's work at scottsil.com or dribbble.com/scottsil.</p>
	    <p><a href="https://www.codeforamerica.org/2010/11/01/testing/">Why does Scott Silverman code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/scottsil">@scottsil</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/scottsil">http://linkedin<wbr>.com/<wbr>in/<wbr>scottsil</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/scott/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>scott/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2011-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Scott Silverman</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/scott-silverman.jpeg" />
    <div class="p-note profile-note">
        <p><a href="{{ include.base }}/cities/boston/">Boston Team</a></p>
        <p>Scott is a designer and product guy with a passion for perfection. He’s worked alongside engineers writing code, prototyping interfaces, and launching products. Prior to Code for America, Scott held product internships with Apple, The New York Times, and Arnold Worldwide. When not making software, he's usually backpacking...</p>
        <p><a class="link-more" href="{{ include.base }}/people/scott-silverman/">More</a></p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/scottsil">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/scottsil">@scottsil</a></li>
        </ul>
    </div>
</div>

{% endif %}
