{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Serena Wales</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/serena-wales.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Serena Wales is a web developer from New York. Serena has worked at Purpose building campaigning tools and web, applications for nonprofits and corporations. Previously, she worked with museums and nonprofits to bring technology into new areas, developing interactive projects for the High Museum of Art and the Davis Museum. Serena graduated from Wellesley College in 2009, where she majored in Media Arts &amp;amp; Sciences and History. <a href="/serena-wales/">Video</a></p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/gangleton">@gangleton</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://linkedin.com/in/serenawales">http://linkedin<wbr>.com/<wbr>in/<wbr>serenawales</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Serena Wales</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/serena-wales.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/neworleans/">New Orleans Team</a>
        </p>
        <p>
            Serena Wales is a web developer from New York. Serena has worked at Purpose building campaigning tools and web, applications for nonprofits and corporations. Previously, she worked with museums and nonprofits to bring technology into new areas, developing interactive projects for the High Museum of Art…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/serena-wales/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/serenawales"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/gangleton">@gangleton</a></li>
        </ul>
    </div>
</div>

{% endif %}
