{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Shaunak Kashyap</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/shaunak-kashyap.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Shaunak is generalist backend software developer with 10 years of experience. Most recently, he helped build the ground software that will control earth-imaging satellites. Lately he has developed a passion for building RESTful web services. Outside of work he likes spending time with his wife, Tiffany, and their labradoodle, Seger.</p>
	    <p><a href="http://www.codeforamerica.org/2013/11/13/shaunak-kashyap-why-im-coding-for-america/">Why does Shaunak Kashyap code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/shaunak">@shaunak</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/ycombinator">http://github<wbr>.com/<wbr>ycombinator</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/ycombinator">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>ycombinator</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/author/shaunak/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>shaunak/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Shaunak Kashyap</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/shaunak-kashyap.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/louisville/">Louisville Team</a>
        </p>
        <p>
            Shaunak is generalist backend software developer with 10 years of experience. Most recently, he helped build the ground software that will control earth-imaging satellites. Lately he has developed a passion for building RESTful web services. Outside of work he likes spending time with his wife, Tiffany, and their labradoodle, Seger.
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/shaunak-kashyap/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/ycombinator"></a></li>
            <li class="social-github"><a href="https://github.com/ycombinator">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/shaunak">@shaunak</a></li>
        </ul>
    </div>
</div>

{% endif %}
