{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Sheba Najmi</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/sheba-najmi.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Sheba Najmi is a user experience designer and product strategist. At Yahoo! she was a lead designer for Yahoo! Mail, the company’s flagship service with over 260 million users. Most recently, Sheba co-founded a startup focused on the oft-overlooked baby boomer and senior citizen audiences. She has also worked as a television news anchor in Pakistan, interviewing and reporting from both the streets and the studio. Sheba earned MS and BS degrees in Symbolic Systems from Stanford University, where she investigated the language, thought, and interaction of humans and computers. As a <a href="http://codeforamerica.org/sheba-najmi/">CfA fellow</a>, she's the Project Lead on <a href="http://answers.honolulu.gov">Honolulu Answers</a>. She wants to change the world, together. </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/snajmi">@snajmi</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/snajmi">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>snajmi</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="https://www.codeforamerica.org/author/sheba/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>author/<wbr>sheba/</a></td></tr>
	    		<tr><th>Video</th><td><a href="https://vimeo.com/51307408">vimeo.com/51307408</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Sheba Najmi</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/sheba-najmi.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/honolulu/">Honolulu Team</a>
        </p>
        <p>
           Sheba Najmi is a user experience designer and product strategist. At Yahoo! she was a lead designer for Yahoo! Mail, the company’s flagship service with over 260 million users. Most recently, Sheba co-founded a startup focused on the oft-overlooked baby boomer and senior citizen audiences…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/sheba-najmi/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://linkedin.com/in/snajmi"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/snajmi">@snajmi</a></li>
        </ul>
    </div>
</div>

{% endif %}
