{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Sheila Dugan</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2013-fellows/">2013 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/sheila-dugan.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Sheila markets products using digital and social media. Recently, she’s worked on broadband infrastructure development and adoption issues at the Center for Innovative Technology and Connect South Carolina. In 2011, Dugan was appointed a Virginia Governor’s Fellow and served under the Secretary of Technology in the Office of the Governor. She holds a Bachelor of Arts in Political Science from Brown University and a Masters in Public Policy from The College of William and Mary</p>
	    <p><a href="https://www.codeforamerica.org/2013/11/11/sheila-dugan-why-im-coding-for-america/">Why does Sheila Dugan code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/SheilaLD">@SheilaLD</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http:///www.linkedin.com/in/sheiladugan">http:///www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>sheiladugan</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2013-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Sheila Dugan</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/sheila-dugan.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/oakland/">Oakland Team</a>
        </p>
        <p>
            Sheila markets products using digital and social media. Recently, she’s worked on broadband infrastructure development and adoption issues at the Center for Innovative Technology and Connect South Carolina. In 2011, Dugan was appointed a Virginia Governor’s Fellow and served under the Secretary of…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/sheila-dugan/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http:///www.linkedin.com/in/sheiladugan"></a></li>
            <li class="social-twitter"><a href="https://twitter.com/SheilaLD">@SheilaLD</a></li>
        </ul>
    </div>
</div>

{% endif %}
