{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Stacy Donohue</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/board">Board</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/stacy-donohue.png" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Stacy Donohue is a Investment Partner at the Omidyar Network. She brings broad technology, strategy, and financial expertise to Omidyar Network’s Media, Markets &amp; Transparency initiative, managing investments in Government Transparency across the United States and Latin America. In this role, Stacy works to encourage accountability and effectiveness in government by increasing people’s access to credible information about government activities and money in politics. Prior to joining Omidyar Network, Stacy spent nine years at Hewlett-Packard in senior roles spanning strategy, corporate development, and merger and acquisition transactions. Stacy received an MBA with distinction from Harvard Business School, an MA in art history from the University of California, Berkeley, and a BA from Yale University, where she graduated summa cum laude and was elected to Phi Beta Kappa.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/StacyDon">@StacyDon</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/stacy-donohue/0/961/b03">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>stacy-donohue/<wbr>0/<wbr>961/<wbr>b03</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Stacy Donohue</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/stacy-donohue.png">

    <div class="p-note profile-note">
        <p>Stacy Donohue is a Investment Partner at the Omidyar Network. She brings broad technology, strategy, and financial expertise to Omidyar Network’s Media, Markets &amp; Transparency initiative, managing investments in Government Transparency across the United States and Latin America. In this role,…</p>

        <p><a class="link-more" href="{{ include.base }}/people/stacy-donohue/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/stacy-donohue/0/961/b03">LinkedIn</a></li>
            <li class="social-twitter"><a href="https://twitter.com/StacyDon">@StacyDon</a></li>

        </ul>
    </div>
</div>

{% endif %}
