{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Tamara Shopsin</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/tamara-shopsin.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Tamara Shopsin is a graphic designer specializing in problem solving and conceptual illustration. Tamara's work has been featured in <em>The New York Times</em>, <em>Good</em>, <em>Time</em>, <em>Wired</em>, and <em>Newsweek</em>. She has designed book jackets for authors including Jorge Luis Borges, Charles Lindbergh and Vladimir Nabokov. Two volumes of her drawings have been published under the titles <em>C’est le Pied!</em> and <em>C’est le Pied II</em>. In her spare time she creates and sells novelties and cracks eggs at her family’s restaurant.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/crazy1eye">@crazy1eye</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/blog/author/tamara/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>blog/<wbr>author/<wbr>tamara/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Tamara Shopsin</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/tamara-shopsin.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/santacruz/">Santa Cruz Team</a>
        </p>
        <p>
            Tamara Shopsin is a graphic designer specializing in problem solving and conceptual illustration. Tamara's work has been featured in <em>The New York Times</em>, <em>Good</em>, <em>Time</em>, <em>Wired</em>, and <em>Newsweek</em>…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/tamara-shopsin/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-twitter"><a href="https://twitter.com/crazy1eye">@crazy1eye</a></li>
        </ul>
    </div>
</div>

{% endif %}
