{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Tiffani Bell</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2014-fellows/">2014 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/tiffani-bell.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Tiffani pursues better living through software. She founded Pencil You In, enabling businesses as far away as Australia to operate more efficiently by accepting appointments online. Tiffani is a front and back-end developer working primarily with Ruby on Rails and iOS. Her latest work includes determining how to take full advantage of a Hadoop cluster. Tiffani holds a BS in Computer Science from Howard University.  </p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/tiffani">@tiffani</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="http://github.com/tiffani">http://github<wbr>.com/<wbr>tiffani</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/tiffani">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>tiffani</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2014-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Tiffani Bell</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/tiffani-bell.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/atlanta/">Atlanta Team</a>
        </p>
        <p>
            Tiffani pursues better living through software. She founded Pencil You In, enabling businesses as far away as Australia to operate more efficiently by accepting appointments online. Tiffani is a front and back-end developer working primarily with Ruby on Rails and iOS. Her latest work includes determining how to take full advantage of …
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/tiffani-bell/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/in/tiffani">LinkedIn</a></li>
            <li class="social-github"><a href="http://www.github.com/tiffani">GitHub</a></li>
            <li class="social-twitter"><a href="http://www.twitter.com/tiffani">Twitter</a></li>
        </ul>
    </div>
</div>

{% endif %}
