{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Tomas Apodaca</h2>
	</div>

	<div class="layout-minor">
		<p>Engineer</p>
	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/about/team/#staff">Staff</a></li>
	    </ul>
		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/tomas-apodaca.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Tomas Apodaca joined Code For America in 2015. He's an engineer, focusing on the Code for America API and the Digital Front Door initiative. He previously worked as an Application and Data Specialist at The Asia Foundation, where he helped build an API for the 2014 Indonesian elections and improve the OpenStreetMap of Ulaanbataar with satellite and drone imagery. Before that, he co-wrote and -directed a soap opera in the Democratic Republic of Congo for an anti-HIV/AIDS program, and was an Interaction Designer at San Francisco design studio Stamen.</p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/tmaybe">@tmaybe</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/tmaybe">http://github<wbr>.com/<wbr>tmaybe</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/pub/thomas-apodaca/49/91b/977">http://www<wbr>.linkedin<wbr>.com/<wbr>pub/<wbr>thomas-apodaca/<wbr>49/<wbr>91b/<wbr>977</a></td></tr>
	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'about-team' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Tomas Apodaca</h3><img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/tomas-apodaca.jpg">

    <div class="p-note profile-note">
        <p>Engineer</p>

        <p>Tomas Apodaca joined Code For America in 2015. He's an engineer, focusing on the Code for America API and the Digital Front Door initiative. He previously worked as an Application and Data Specialist at The Asia Foundation, where he helped build an API for the 2014 Indonesian elections and</a>…</p>

        <p><a class="link-more" href="{{ include.base }}/people/tomas-apodaca/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-linkedin"><a href="http://www.linkedin.com/pub/thomas-apodaca/49/91b/977">LinkedIn</a></li>
            <li class="social-github"><a href="https://github.com/tmaybe">GitHub</a></li>
            <li class="social-twitter"><a href="https://twitter.com/tmaybe">@tmaybe</a></li>
        </ul>
    </div>
</div>

{% endif %}
