{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Tyler Stalder</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2011-fellows/">2011 Fellows</a></li>
	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/tyler-stalder.png" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Tyler Stalder is a web developer, specializing in internal application development and design. Tyler received his bachelor’s degree in Information, Networking, and Telecommunications from Fort Hays State University, while also co-founding two web companies, including an election forecasting service and a technology consulting firm...</p>
	    <p><a href="http://www.codeforamerica.org/2010/11/01/tyler-stalder-why-im-coding-for-america/">Why does Tyler Stalder code for America?</a></p>

	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/tylerstalder">@tylerstalder</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/tylerstalder">http://github<wbr>.com/<wbr>tylerstalder</a></td></tr>
	    		<tr><th>LinkedIn</th><td><a href="http://www.linkedin.com/in/tylerstalder">http://www<wbr>.linkedin<wbr>.com/<wbr>in/<wbr>tylerstalder</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/blog/author/tyler/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>blog/<wbr>author/<wbr>tyler/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2011-fellows' %}

<div class="h-card profile-small">
            <h3 class="p-name profile-name">Tyler Stalder</h3>
            <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/tyler-stalder.png" />
            <div class="p-note profile-note">
                <p><a href="{{ include.base }}/cities/philadelphia/">Philadelphia Team</a></p>
                <p>Tyler Stalder is a web developer, specializing in internal application development and design. Tyler received his bachelor’s degree in Information, Networking, and Telecommunications from Fort Hays State University, while also co-founding two web companies, including an election forecasting service and a technology consulting firm...</p>
                <p><a class="link-more" href="{{ include.base }}/people/tyler-stalder/">More</a></p>
                <ul class="list-social list-social-horizontal">
                    <li class="social-linkedin"><a href="http://linkedin.com/in/tylerstalder"></i>LinkedIn</a></li>
                    <li class="social-twitter"><a href="https://twitter.com/tylerstalder">@tylerstalder</a></li>
                    <li class="social-github"><a href="https://github.com/tylerstalder">GitHub</a></li>
                </ul>
            </div>

{% endif %}
