{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Will Scott</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="http://codeforseattle.org/">Seattle, WA Brigade</a></li>
	    	<li><a href="{{ include.base }}/geeks/our-geeks/brigade-captains/">Brigade Captains</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/will-scott.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">I'm currently a graduate student at the University of Washington, focusing on understanding and removing Internet limitations. My current research is on network structure, measuring online censorship, and extending the browser's client-server model. I've worked at Google on gmail, taught computer science in Pyongyang, and studied in Beijing.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/willscott">@willscott</a></td></tr>
	    		<tr><th>GitHub</th><td><a href="https://github.com/willscott">http://github.com/willscott</a></td></tr>
	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == 'brigade-captains' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Will Scott</h3>

    <p><a href="http://codeforseattle.org/">Seattle, WA Brigade</a></p>

    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/will-scott.jpg">

    <div class="p-note profile-note">
        <p>
            I'm currently a graduate student at the University of Washington, focusing on understanding and removing Internet limitations. My current research is on network structure, measuring online censorship, and extending the browser's client-server model. I've worked at Google on gmail, taught computer science in Pyongyang, and studied in Beijing.
        </p>

        <p><a class="link-more" href="{{ include.base }}/people/will-scott/">More</a></p>

        <ul class="list-social list-social-horizontal">
            <li class="social-website"><a href="https://wills.co.tt">Website</a></li>
            <li class="social-twitter"><a href="https://twitter.com/willscott">@willscott</a></li>
            <li class="social-github"><a href="https://github.com/willscott">GitHub</a></li>
        </ul>
    </div>
</div>
{% endif %}
