{% if include.context == 'people-page' %}

<div class="layout-semibreve h-card">

	<div class="heading">
		<h2 class="p-name">Zach Williams</h2>
	</div>

	<div class="layout-minor">

	    <h4 class="text-whisper layout-tight">Member of</h4>
	    <ul class="list-no-bullets text-whisper link-invert">
	    	<li><a href="{{ include.base }}/geeks/our-geeks/2012-fellows/">2012 Fellows</a></li>

	    </ul>

		<img class="profile-photo u-photo" src="{{ include.base }}/media/images/people/zach-williams.jpg" />
	</div>

	<div class="layout-major">

	    <p class="p-note">Zach Williams is a web developer from Fort Worth, Texas. Zach has worked with Code for America from June 2010, starting off as a Google Summer of Code intern. Over the past few months he's worked on a number of open source developer tools, the EPA data visualization site MadeWithData.com, and the City of Boston's open data catalog, Build:Boston. He recently graduated with a BS in Psychology from Tarleton State University.</p>


	    <div class="spotlight">
	    	<h3 class="text-whisper">Contact</h3>
	    	<table class="table-unstyled table-minor">
	    		<tr><th>Twitter</th><td><a href="https://twitter.com/zachwill">@zachwill</a></td></tr>
	    		<tr><th>Github</th><td><a href="http://github.com/zachwill">http://github<wbr>.com/<wbr>zachwill</a></td></tr>
	    		<tr><th>Blog Posts</th><td><a href="http://www.codeforamerica.org/blog/author/zach/">http://www<wbr>.codeforamerica<wbr>.org/<wbr>blog/<wbr>author/<wbr>zach/</a></td></tr>

	    	</table>
	    </div>
	</div>

</div>

{% elsif include.context == '2012-fellows' %}

<div class="h-card profile-small">
    <h3 class="p-name profile-name">Zach Williams</h3>
    <img class="u-photo profile-photo" src="{{ include.base }}/media/images/people/zach-williams.jpg" />
    <div class="p-note profile-note">
        <p>
            <a href="{{ include.base }}/cities/macon/">Macon Team</a>
        </p>
        <p>
            Zach Williams is a web developer from Fort Worth, Texas. Zach has worked with Code for America from June 2010, starting off as a Google Summer of Code intern. Over the past few months he's worked on a number of open source developer tools, the EPA data visualization site MadeWithData.com, and the City…
        </p>
        <p>
            <a class="link-more" href="{{ include.base }}/people/zach-williams/">More</a>
        </p>
        <ul class="list-social list-social-horizontal">
            <li class="social-twitter"><a href="https://twitter.com/zachwill">@zachwill</a></li>
            <li class="social-github"><a href="https://github.com/zachwill">GitHub</a></li>
        </ul>
    </div>
</div>

{% endif %}
