//  Badge Heading ----------------------------------------

.badge-heading {
    @include rem(margin, 16px 0 22px);
    @include rem(padding-left, 65px);
    @include rem(min-height, 65px);
    @include rem(background-size, 50px);
    background-image: url('../images/badge-rocket-blue.png');
    background-position: left top;
    background-repeat: no-repeat;
    border-bottom: 1px solid;
    border-color: $color-light-gray;
    clear: both;
    position: relative;
    }
    @media (min-width: 40em) {
        .badge-heading {
            @include rem(min-height, 70px);
            }
        }
    .svg .badge-heading {
        background-image: url('../images/badge-rocket-blue.svg');
        }

.badge-heading.badge-gray {
    background-image: url('../images/badge-rocket-gray.png');
    }
    .svg .badge-heading.badge-gray {
        background-image: url('../images/badge-rocket-gray.svg');
        }

.badge-heading.badge-orange {
    background-image: url('../images/badge-rocket-orange.png');
    }
    .svg .badge-heading.badge-orange {
        background-image: url('../images/badge-rocket-orange.svg');
        }

.badge-heading.badge-purple {
    background-image: url('../images/badge-rocket-purple.png');
    }
    .svg .badge-heading.badge-purple {
        background-image: url('../images/badge-rocket-purple.svg');
        }

.badge-heading.badge-red {
    background-image: url('../images/badge-rocket-red.png');
    }
    .svg .badge-heading.badge-red {
        background-image: url('../images/badge-rocket-red.svg');
        }

.badge-heading.badge-teal {
    background-image: url('../images/badge-rocket-teal.png');
    }
    .svg .badge-heading.badge-teal {
        background-image: url('../images/badge-rocket-teal.svg');
        }