.bricks {
    @extend .list-no-bullets;
    width: 100%;
    margin: 0; 
    }
    
.brick {
    padding: 0;
    margin-bottom: 1em;
    }

.brick:nth-child(1) {
	background-image: url('../images/brick-bg1.png');
	background-size: 100%;
	background-repeat: no-repeat;
	}

.brick:nth-child(2) {
	background-image: url('../images/brick-bg2.png');
	background-size: 100%;
	background-repeat: no-repeat;
	}

.brick:nth-child(3) {
	background-image: url('../images/brick-bg3.png');
	background-size: 100%;
	background-repeat: no-repeat;
	}

.brick .brick-link {
    @include rem(min-height, 100px);
    @include rem(padding-top, 80px);
    @include rem(padding-bottom, 80px);
    padding-left: 4%;
    padding-right: 4%;
    display: block;
    }

.brick .brick-link:hover,
.brick .brick-link:focus,
.brick .brick-link:active {
    border-bottom: none;
    }

.brick-heading {
    @extend .text-whisper;
    color: $color-light-gray;
    @include rem(margin-bottom, 5px);
    }

.brick-text {
    @include font-sans-bold;
    color: $color-white;
    text-transform: uppercase;
    @include rem(font-size, 30px);
    @include rem(line-height, 30px);
    }

@media (min-width: 40em) {
    .brick {
        margin-bottom: 0;
        }
    }