.bricks {
    @extend .list-no-bullets;
    width: 100%;
    margin: 0; 
    }
    
.brick {
    padding: 0;
    margin: 0 0 1em 0;
    position: relative;
    }

.brick a:link,
.brick a:visited,
.brick a:hover,
.brick a:focus,
.brick a:active {
    color: $color-black;
    }

.brick .brick-link {
    @include rem(min-height, 100px);
    @include rem(padding-top, 15px);
    @include rem(padding-bottom, 10px);
    padding-left: 4%;
    padding-right: 4%;
    display: block;
    }

.brick .brick-link:hover,
.brick .brick-link:focus,
.brick .brick-link:active {
    border-bottom: none;
    }

.brick-heading {
    @extend .text-whisper;
    color: $color-light-gray;
    @include rem(margin-bottom, 5px);
    }

.brick-text {
    @include font-sans-bold;
    color: $color-black;
    text-transform: uppercase;
    @include rem(font-size, 25px);
    @include rem(line-height, 25px);
    }

@media (min-width: 40em) {
    .brick {
        margin-bottom: 0;
        }
    }

.brick.badge-heading {
    border-bottom: none;
    background-position: center top;
    padding-left: 0;
    padding-top: 65px;
    text-align: center;
    }

.brick .badge-heading {
    border-bottom: none;
    background-position: center top;
    padding-left: 0;
    padding-top: 65px;
    text-align: center;
    min-height: 0;
    @extend .text-whisper;
    margin-bottom: 0.35em;
    color: $color-blue;
    }

.brick .badge-red {
    color: $color-red;
    }

.brick .badge-dark-blue {
    color: $color-dark-blue;
    }

.bricks-4 .brick {
    float: left;
    width: 40%;
    margin-right: 4%;
    padding-left: 4%;
    padding-right: 4%;
    clear: none;
    background-size: 35px;
    padding-top: 40px;
    }

.bricks-4 .brick:nth-child(2n+2) {
    margin-right: 0;
    }