/*  Button: Default --------------------------------------- */

	button,
	input[type="button"],
	input[type="submit"],
	.button,
	.button:link,
	.button:visited,
	.button:hover,
	.button:focus,
	.button:active {
	    @include rem(padding, 0 26px);
	    @include rem(margin, 0 8px 4px 0);
	    @include rem(line-height, 40px);
	    @include rem(font-size, 14px);
	    @include rem(min-height, 19px);
	    @include rem(border-radius, 4px);
	    background-color: $color-blue;
	    -moz-box-sizing: content-box;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    border: none;
	    color: $color-white;
	    display: inline-block;
	    font-weight: normal;
	    font-family: $font-sans-regular;
	    height: 40px;
	    min-width: auto;
	    overflow: visible;
	    text-align: center;
	    text-decoration: none;
	    text-shadow: none;
		width: auto;
		vertical-align: middle;
		}
	
	button:hover,
	button:focus,
	.button:hover,
	.button:focus,
	input[type="button"]:hover,
	input[type="button"]:focus,
	input[type="submit"]:hover,
	input[type="submit"]:focus {
	    background-color: $color-light-blue;
	    cursor: pointer;
	    }
	
	button:active,
	.button:active,
	input[type="submit"]:active {
	    background-color: $color-blue;
	    }
	
	button::-moz-focus-inner,
	.button::-moz-focus-inner,
	input[type="button"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner {
	    border: 0;
	    padding: 0;
		}


/*  Button: Prominent --------------------------------------- */
	
	.button-prominent,
	input.button-prominent,
	.button-prominent:link,
	.button-prominent:visited,
	.button-prominent:hover,
	.button-prominent:focus,
	.button-prominent:active {
		@extend .button;
	    @include background-color($color-red, 1);
	    }
	
	input.button-prominent:hover,
	input.button-prominent:focus,
	.button-prominent:hover,
	.button-prominent:focus {
	    @include background-color($color-red, 0.8);
	    }
	
	.button-prominent:active,
	input.button-prominent:active {
	    @include background-color($color-red, 1);
	    }

/*  Button: Neutral --------------------------------------- */

	.button-neutral,
	input.button-neutral,
	.button-neutral:link,
	.button-neutral:visited,
	.button-neutral:hover,
	.button-neutral:focus,
	.button-neutral:active {
		@extend .button;
	    @include background-color($color-light-blue, 1);
	    }
	
	input.button-neutral:hover,
	input.button-neutral:focus,
	.button-neutral:hover,
	.button-neutral:focus {
	    @include background-color($color-light-blue, 0.8);
	    }
	
	.button-neutral:active,
	input.button-neutral:active {
	    @include background-color($color-light-blue, 1);
	    }

/*  Button: Alternative */

	.button-alternative,
	input.button-alternative,
	.button-alternative:link,
	.button-alternative:visited,
	.button-alternative:hover,
	.button-alternative:focus,
	.button-alternative:active {
		@extend .button;
		@include background-color($color-teal, 1);
		}
	
	input.button-alternative:hover,
	input.button-alternative:focus,
	.button-alternative:hover,
	.button-alternative:focus {
	    @include background-color($color-teal, 0.8);
	    }
	
	.button-alternative:active,
	input.button-alternative:active {
	    @include background-color($color-teal, 1);
	    }

/*  Button: Unstyled --------------------------------------- */

	.button-unstyled,
	input.button-unstyled,
	.button-unstyled:link,
	.button-unstyled:visited,
	.button-unstyled:hover,
	.button-unstyled:focus,
	.button-unstyled:active {
		@extend .button;
	    @include color($color-black, 0.6);
	    background-color: transparent;
	    text-shadow: none;
	    padding-left: 0.25em;
	    padding-right: 0.25em;
	    }
	
	.button-unstyled:hover,
	.button-unstyled:focus,
	.button-unstyled:active {
	    @include color($color-black, 1);
	    }
	
	.button-unstyled:active,
	input.button-unstyled:active {
	    @include color($color-black, 0.6);
	    }

/*  Button: Subtle --------------------------------------- */

	.button-subtle,
	input.button-subtle,
	.button-subtle:link,
	.button-subtle:visited,
	.button-subtle:hover,
	.button-subtle:focus,
	.button-subtle:active {
		@extend .button;
	    color: $color-gray;
	    @include background-color($color-light-gray, 0.35);
	    text-shadow: none;
	    border: 1px solid $color-light-gray;
	    }
	
	input.button-subtle:hover,
	input.button-subtle:focus,
	input.button-subtle:active,
	.button-subtle:hover,
	.button-subtle:focus,
	.button-subtle:active {
	    @include background-color($color-light-gray, 0.6);
	    }
	
	.button-subtle:active,
	input.button-subtle:active {
	    @include background-color($color-light-gray, 0.35);
	    }

/*  Button: Disabled --------------------------------------- */

	input[type="button"][disabled],
	input[type="button"][disabled]:hover,
	input[type="button"][disabled]:focus,
	input[type="button"][disabled]:active,
	input[type="submit"][disabled],
	input[type="submit"][disabled]:hover,
	input[type="submit"][disabled]:focus,
	input[type="submit"][disabled]:active,
	button[disabled],
	button[disabled]:hover,
	button[disabled]:focus,
	button[disabled]:active,
	.button-disabled,
	.button-disabled:link,
	.button-disabled:visited,
	.button-disabled:hover,
	.button-disabled:focus,
	.button-disabled:active,
	.button.button-disabled,
	.button.button-disabled:hover,
	.button.button-disabled:focus,
	.button.button-disabled:active {
		@extend .button;
	    background-color: $color-light-gray;
	    cursor: not-allowed;
	    text-shadow: none;
	    color: $color-medium-gray;
	    }
	
	
	.button-progress,
	input.button-progress,
	input.button-progress:hover,
	input.button-progress:focus,
	input.button-progress:active,
	.button-progress:link,
	.button-progress:visited,
	.button-progress:hover,
	.button-progress:focus,
	.button-progress:active {
		@extend .button;
		background-position: right 10px center;
		padding-right: 50px;
		background-image: url('../images/loading-circle-blue.gif');
		background-repeat: no-repeat;
		cursor: not-allowed;
		}
	
	.button-neutral.button-progress,
	input.button-neutral.button-progress,
	input.button-neutral.button-progress:hover,
	input.button-neutral.button-progress:focus,
	input.button-neutral.button-progress:active,
	.button-neutral.button-progress:link,
	.button-neutral.button-progress:visited,
	.button-neutral.button-progress:hover,
	.button-neutral.button-progress:focus,
	.button-neutral.button-progress:active {
		background-image: url('../images/loading-circle-blue.gif');
		background-repeat: no-repeat;
		background-position: right 10px center;
		}
	
	.button-alternative.button-progress,
	input.button-alternative.button-progress,
	input.button-alternative.button-progress:hover,
	input.button-alternative.button-progress:focus,
	input.button-alternative.button-progress:active,
	.button-alternative.button-progress:link,
	.button-alternative.button-progress:visited,
	.button-alternative.button-progress:hover,
	.button-alternative.button-progress:focus,
	.button-alternative.button-progress:active {
		background-image: url('../images/loading-circle-green.gif');
		background-repeat: no-repeat;
		background-position: right 10px center;
		}
	
	.button-prominent.button-progress,
	input.button-prominent.button-progress,
	input.button-prominent.button-progress:hover,
	input.button-prominent.button-progress:focus,
	input.button-prominent.button-progress:active,
	.button-prominent.button-progress:link,
	.button-prominent.button-progress:visited,
	.button-prominent.button-progress:hover,
	.button-prominent.button-progress:focus,
	.button-prominent.button-progress:active {
		background-image: url('../images/loading-circle-red.gif');
		background-repeat: no-repeat;
		background-position: right 10px center;
		}
	
	.button-subtle.button-progress,
	input.button-subtle.button-progress,
	input.button-subtle.button-progress:hover,
	input.button-subtle.button-progress:focus,
	input.button-subtle.button-progress:active,
	.button-subtle.button-progress:link,
	.button-subtle.button-progress:visited,
	.button-subtle.button-progress:hover,
	.button-subtle.button-progress:focus,
	.button-subtle.button-progress:active {
		background-image: url('../images/loading-circle.gif');
		background-repeat: no-repeat;
		background-position: right 10px center;
		color: $color-gray;
		border: 1px solid $color-light-gray;
		}
		
	

/*  Button: Sizes --------------------------------------- */

.button-crotchet,
.button-crotchet:link,
.button-crotchet:visited,
.button-crotchet:hover,
.button-crotchet:focus,
.button-crotchet:active {
	width: 32.0%;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	}

.button-l,
input.button-l,
.button-l:link,
.button-l:visited,
.button-l:hover,
.button-l:focus,
.button-l:active {
	@include rem(min-height, 50px);
	@include rem(padding, 0 32px);
	@include rem(line-height, 50px);
	}

.button-s,
input.button-s,
.button-s:link,
.button-s:link,
.button-s:link,
.button-s:link,
.button-s:link {
	@include rem(padding, 0 16px);
	@include rem(min-height, 10px);
	height: 30px;
	@include rem(line-height, 30px);
	}