.chimney {
    padding: 2.5em 0;
    width: 100%;
    margin-bottom: 1.5em;
    }

.chimney .chimney-body {
    float: none;
    position: relative;
    padding: 0;
    max-width: 30em;
    margin: 0 auto;
    }

.chimney .profile {
    position: relative;
    min-height: 130px;
    @include rem(margin, 28px 0 24px 155px);
    }
    
    @media (max-width: 60em) and (min-width: 40em) {
    .chimney .profile {
        margin-left: 120px;
        clear: both;
        }
    }

.chimney .profile .profile-name {
    margin-bottom: 0;
    }
    
    @media (max-width: 50em) {
    .chimney .profile .profile-name {
        @include rem(font-size, 20px);
        }
    }

.chimney .profile .profile-role {
    @extend .text-whisper;
    @include color($color-white, 0.7);
    margin-bottom: 1em;
    }

.chimney .profile .profile-photo {
    width: 120px;
    border: 5px solid $color-white;
    height: 120px;
    position: absolute;
    top: 0;
    left: -155px;
    }
    
    @media (min-width: 40em) and (max-width: 60em) {
    .chimney .profile .profile-photo {
        left: -120px;
        width: 90px;
        height: 90px;
        }
    }
    
    @media (min-width: 60em) {
        .chimney .profile .profile-photo {
        width: 120px;
        height: 120px;
        left: -155px;
        }
    }

.chimney .profile .profile-note {
    @extend .text-whisper;
    @include color($color-white, 0.7);
    }

.chimney .profile .profile-org {
    clear: both;
    display: block;
    }

.chimney .button {
    margin-left: 0;
    }

.chimney a:link,
.chimney a:visited,
.chimney a:hover,
.chimney a:focus,
.chimney a:active {
    @include color($color-white, 1);
    border-bottom: none;
    }

.chimney a:hover,
.chimney a:focus,
.chimney a:active {
    @include color($color-white, 0.7);
    }