/* @group highlight */

.highlight {
    color: white;
    padding: 1em 2%;
    font-size: 1.5em;
    position: relative;
    @include font-serif-bold;
    }


.highlight blockquote {
    background-color: transparent;
    border: none;
    padding: 0;
    @include color($color-white, 1);
    @include font-serif-bold;
    margin: 0;
    clear: both;
    }

.highlight blockquote p:first-child {
    margin-top: 0;
    }

.highlight blockquote:before {
    @include color($color-white, 0.5);
    content: "“";
    font-size: 3em;
    line-height: 0em;
    display: block;
    margin-top: 0.4em;
    margin-left: -0.05em;
    margin-bottom: 0.15em;
    
    }

.highlight .attribute {
    text-transform: uppercase;
    font-family: $font-sans-regular;
    font-size: 0.7em;
    font-weight: 400;
    }

/* @end highlight */

/* @group highlight with avatar */

@media (min-width: 40em) {
.highlight-with-avatar {
    padding-left: 220px;
    }
}


.highlight-avatar {
    background-color: white;
    padding: 10px;
    border-radius: 5em;
    border-width: 8px;
    border-style: solid;
    @include border-color($color-red, 1);
    width: 100px;
    float: left;
    margin-right: 1.5em;
    top: 2em;
    margin-bottom: 2em;
    
    }

    @media (min-width: 40em) {
    .highlight-avatar {
        position: absolute;
        left: 2em;
        margin-top: 0;
        margin-top: 1em;
        }
    }


/* @end highlight with avatar */
