.list-credits {
    text-align: center;
    font-weight: bold;
    position: relative;
    @include rem(max-width, 800px);
    margin: 0 auto;
    @include rem(font-size, 13px);
    overflow: hidden;
    }
   
.js .list-credits.state-closed {
	@include rem(height, 120px);
	}

.list-credits ul {
    @extend .list-inline;
    }

.list-credits a {
    text-align: center;
    @include color($color-blue, 1);
    text-transform: uppercase;
    }

.list-credits li:after {
    content: ("-");
    }

.list-credits li:last-child:after {
    content: none;
    }

.list-credits .fade {
    background-image: url('../images/fade.png');
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 1em;
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    }