.masthead {
    display: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: $color-dark-gray;
    }

.masthead:before {
	position: absolute;
	left: 0;
	top: 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('/_media/images/masthead/masthead-2.jpg');
	content: "";
	max-width: none;
	width: 100%;
	min-height: 400px;
	z-index: 1;
	}

.masthead h1,
.masthead .h1 {
    color: $color-white;
    text-align: center;
    margin: -0.22em 0 0 0;
    float: left;
    width: 100%;
    }

.masthead-header {
    overflow: hidden;
    width: auto;
    display: table;
    z-index: 1;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 4%;
    clear: both;
    position: inherit;
    }

.masthead-header a:link,
.masthead-header a:visited,
.masthead-header a:hover,
.masthead-header a:focus,
.masthead-header a:active {
	@include color($color-white, 0.8);
    border-bottom: none;
    margin-bottom: 0;
    transition: 0.2s;
    }

.masthead-header a:hover,
.masthead-header a:focus,
.masthead-header a:active {
	color: $color-white;
	}
    
    @media (min-width: 63em) {
    .masthead .masthead-header {
        padding: 0; 
        width: auto;
        }
    }

.masthead-s .masthead-header {
    @include rem(margin, 40px auto 40px);
    }
    
    @media print {
	.masthead-s .masthead-header {
	    @include rem(margin, 10px auto 10px);
	    }
	}

.masthead-s .masthead-image {
    min-height: inherit;
    }

.masthead-s .page-title {
    @include rem(font-size, 57px);
    @include rem(line-height, 65px);
    float: none;
    @include rem(margin-top, 25px);
    }
    
    @media print {
    .masthead-s .page-title {
        @include rem(margin-top, 5px);
        @include rem(font-size, 30px);
        }
    }

.masthead-s .page-title + * {
    display: block;
    @include rem(margin-top, 20px);
    clear: both;
    }


.masthead-l .masthead-header {
    margin-top: 11em;
    padding-bottom: 1em;
    padding-top: 2em;
    margin-bottom: 0;
    width: auto;
    }

.masthead-l .page-title {
    font-size: 90px;
    }

.masthead-header .nav-breadcrumbs {
    float: left;
    @include color($color-white, 0.7);
    position: absolute;
    top: 0;
    }

.masthead-header .nav-breadcrumbs a:link,
.masthead-header .nav-breadcrumbs a:visited,
.masthead-header .nav-breadcrumbs a:hover,
.masthead-header .nav-breadcrumbs a:focus,
.masthead-header .nav-breadcrumbs a:active {
    @include color($color-white, 1);
    padding-top: 0;
    padding-bottom: 0;
    }

.masthead-header .nav-breadcrumbs a:hover,
.masthead-header .nav-breadcrumbs a:focus,
.masthead-header .nav-breadcrumbs a:active {
    @include color($color-white, 0.7);
    }

.masthead-header .nav-breadcrumbs li {
    background-image: url('../images/arrow-breadcrumb-white.png');
    }


.masthead-header .nav-breadcrumbs li:first-child a {
    background-image: url('../images/flag-white.png');
    }

.masthead-header .button-cta {
    float: right;
    margin-top: 0.8em;
    }

