.masthead {
    display: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    }

.masthead-hero {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    left: 0;
    
    }

.masthead-image {
    max-width: none;
    width: 100%;
    min-height: 400px;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    }


.masthead-header {
    overflow: hidden;
    width: auto;
    display: table;
    z-index: 1;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 4%;
    clear: both;
    position: relative;
    }

.masthead-header a:link,
.masthead-header a:visited,
.masthead-header a:hover,
.masthead-header a:focus,
.masthead-header a:active {
    color: $color-white;
    border-bottom: none;
    margin-bottom: 0;
    }
    
    @media (min-width: 63em) {
    .masthead .masthead-header {
        padding: 0; 
        width: auto;
        }
    }

.masthead-s .masthead-header {
    @include rem(margin, 40px auto 20px);
    }

.masthead-s .masthead-image {
    min-height: 200px;
    }

.masthead-s .page-title {
    @include rem(font-size, 70px);
    @include rem(line-height, 71px);
    float: none;
    @include rem(margin-top, 56px);
    margin-top: 0;
    @include rem(margin-top, 25px);
    }

.masthead-s .page-title + * {
    display: block;
    @include rem(margin-top, 17px);
    clear: both;
    }


.masthead-l .masthead-header {
    margin-top: 11em;
    padding-bottom: 1em;
    padding-top: 2em;
    margin-bottom: 0;
    }

.masthead-l .page-title {
    font-size: 90px;
    }

.masthead-header .nav-breadcrumbs {
    float: left;
    @include color($color-white, 0.7);
    position: absolute;
    top: 0;
    }

.masthead-header .nav-breadcrumbs a:link,
.masthead-header .nav-breadcrumbs a:visited,
.masthead-header .nav-breadcrumbs a:hover,
.masthead-header .nav-breadcrumbs a:focus,
.masthead-header .nav-breadcrumbs a:active {
    @include color($color-white, 1);
    padding-top: 0;
    padding-bottom: 0;
    }

.masthead-header .nav-breadcrumbs a:hover,
.masthead-header .nav-breadcrumbs a:focus,
.masthead-header .nav-breadcrumbs a:active {
    @include color($color-white, 0.7);
    }

.masthead-header .nav-breadcrumbs li {
    background-image: url('/_styleimages/arrow-breadcrumb-white.png');
    }


.masthead-header .nav-breadcrumbs li:first-child a {
    background-image: url('../images/flag-white.png');
    }

.masthead-header .button-cta {
    float: right;
    margin-top: 0.8em;
    }

