.nav-footer {
    float: left;
    width: 100%;
    }

.nav-footer ul,
.nav-footer ul ul {
    @extend .list-no-bullets;
    margin: 0;
    }

.nav-footer > ul {
    padding: 0;
    }

.nav-footer .nav-tier1 {
    float: left;
    margin-bottom: 1.5em;
    width: 96%;
    }

@media (min-width: 30em) and (max-width: 50em)  {
.nav-footer .nav-tier1 {
    float: left;
    margin-bottom: 1.5em;
    width: 50%;
    }

.nav-footer .nav-tier1:nth-of-type(2n+2) {
    clear: both;
    }
}

.nav-footer .nav-tier1:first-child {
    display: none;
    }