.nav-global-primary {
    @include background-color($color-black, 1);
    @include color($color-white, 1); 
    width: 100%;
    margin: 0;
    float: left;
    padding: 0;
    }

@media print {
	.nav-global-primary {
		display: none;
		}
	}

@media (min-width: 40em) {
.nav-global-primary {
        position: fixed;
        z-index: 2;
        top: 0;    
        }
    
.nav-global-primary + * {
    @include rem(margin-top, 30px);
    }
}

.nav-global-primary ul {
    width: 96%;
    margin: 0;
    }

.nav-global-primary li {
    display: block;
    float: left;
    @include rem(margin, 6px 0px 2px);
    @include rem(font-size, 12px);
    @include rem(line-height, 16px);
    }

.nav-global-primary li:last-child {
    margin-right: 0;
    }

.nav-global-primary li a {
    display: block;
    @include rem(padding, 4px 8px 5px);
    @include color($color-white, 1);
    }

.nav-global-primary li a:hover,
.nav-global-primary li a:focus,
.nav-global-primary li a:active {
    @include background-color($color-red, 1);
    border-radius: 0.2em;
    border: none;
    }


.nav-global-primary .search-global input {
    background-color: $color-white;
    border: none;
    border-radius: 0;
    padding: 0 0.2em;
    width: 150px;
    @include rem(margin, 2px 0 6px 0);
    min-height: 0;
    }
    
.nav-global-primary .nav-tier2 {
	display: none;
	}