.nav-tabs {
    @extend .list-no-bullets;
    background-color: $color-light-gray;
    float: left;
    width: 100%;
    @include rem(padding-top, 20px);
    border-bottom: 8px solid $color-teal;
    text-transform: uppercase;
    text-align: center;
    @include rem(margin, 0 0 43px);
    @include rem(font-size, 14px);
    }

.nav-tab {
	float: left;
    display: inline-block;
    }




.nav-tab-link {
    @include rem(padding, 16px 20px 13px 20px);
    @include rem(margin, 0 0 0 20px);
    display: block;
    position: relative;
    
    }



.nav-tab-link:link,
.nav-tab-link:visited,
.nav-tab-link:hover,
.nav-tab-link:focus,
.nav-tab-link:active {
    color: $color-black;
    }

.state-active .nav-tab-link,
.nav-tab-link:hover,
.nav-tab-link:focus,
.nav-tab-link:active {
    background-color: $color-teal;
    }

.state-active .nav-tab-link:link,
.state-active .nav-tab-link:visited,
.state-active .nav-tab-link:hover,
.state-active .nav-tab-link:focus,
.state-active .nav-tab-link:active,
.nav-tab-link:hover,
.nav-tab-link:focus,
.nav-tab-link:active {
    color: $color-white;
    border-bottom: none;
    }

.state-active .nav-tab-link:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: $color-teal;
	border-width: 16px;
	margin-left: -16px;
}