.nav-global-secondary {
    text-transform: uppercase;
    
    }

@media (min-width: 40em) {
.nav-global-secondary {
    width: auto;
    float: right;
    }
    
    .nav-global-secondary ul {
        display: table;
        }
    
    .nav-global-secondary li {
        display: table-cell;
        }
    
    }

.nav-global-secondary ul {
    @extend .list-no-bullets;
    margin: 0;
    }

.nav-global-secondary li {
    border: none;
    vertical-align: top;
    @include font-sans-bold;
    }

@media (min-width: 40em) {
    .nav-global-secondary li {
        display: inline-block;
        }
    }

.nav-global-secondary li a {
    padding: 2em 1em;
    display: block;
    @include color($color-black, 1);
    margin: 0 1.5em;
    @include transition(padding);
    }

.nav-global-secondary li a:hover,
.nav-global-secondary li a:focus,
.nav-global-secondary li a:active,
.nav-global-secondary li:hover a,
.nav-global-secondary li:focus a,
.nav-global-secondary li:active a {
    color: $color-white;
    background-color: $color-red;
    }

.nav-global-secondary li .button {
    font-size: 1em;
    padding: 0.3em 0.55em;
    margin: 1.8em 1em;
    }

.nav-global-secondary li a.button:hover,
.nav-global-secondary li a.button:focus,
.nav-global-secondary li a.button:active {
    color: $color-white;
    }

.nav-global-secondary li:last-child a {
    margin-right: 0;
    }

.nav-global-secondary .nav-tier1 {
    position: relative;
    }
   


.nav-global-secondary .nav-tier2 {
    position: absolute;
    background-color: $color-red;
    color: $color-white;
    z-index: 2;
    width: 14em;
    left: 1.5em;
    padding: 0.5em 0;
    display: none;
    transition: width 0.3s ease;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    }
   
.nav-global-secondary .nav-tier1:hover .nav-tier2 {
	display: block; 
	}

.nav-global-secondary .nav-tier2 li {
    width: 100%;
    }

.nav-global-secondary .nav-tier2 a {
    margin: 0;
    padding: 0.5em 1em;
    color: $color-white;
    }

.nav-global-secondary .nav-tier2 a:hover,
.nav-global-secondary .nav-tier2 a:focus,
.nav-global-secondary .nav-tier2 a:active {
    background-color: $color-black;
    }