body {
    background-color: $color-dark-gray;
    }

.js-container {
    background-color: $color-white;
    width: 100%;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    @include transition(all);
    min-height: 100%;
    box-shadow: 3px 0 5px rgba(0,0,0,0.5);
    }

.js-container.slid {
    right: 75%;
    }

.js-offcanvas {
    width: 75%;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    border-top: 5px solid;
    border-color: $color-blue;
    }

.js-offcanvas .nav-global-secondary {
    width: 100%;
    padding: 0;
    }

.js-offcanvas li {
	@include rem(font-size, 14px);
    clear: both;
    width: 100%;
    margin: 0;
    text-align: left;
    }
    
.js-offcanvas li a:link,
.js-offcanvas li a:visited,
.js-offcanvas li a:hover,
.js-offcanvas li a:focus,
.js-offcanvas li a:active,
.js-offcanvas li .button:link,
.js-offcanvas li .button:visited,
.js-offcanvas li .button:hover,
.js-offcanvas li .button:focus,
.js-offcanvas li .button:active {
	@include rem(line-height, 20px);
	height: auto;
    border-bottom: 1px solid;
    @include border-color($color-white, 0.05);
    color: $color-white;
    margin: 0;
    @include rem(padding, 10px 16px);
    background-color: transparent;
    font-weight: normal;
    display: block;
    text-align: left;
    }

.js-offcanvas li a:hover,
.js-offcanvas li a:focus,
.js-offcanvas li a:active,
.js-offcanvas li .button:hover,
.js-offcanvas li .button:focus,
.js-offcanvas li .button:active {
    background-color: $color-black;
    }

.js-offcanvas li.nav-has-children > a {	
	background-image: url("../images/arrow-chevron-down-gray-dark.png");
	background-position: 98% center;
	background-position: right 16px top 13px;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	text-transform: uppercase;
	}

.js-offcanvas .nav-global-primary {
    position: relative;
    padding: 0;
    clear: both;
    background-color: $color-dark-gray;
    width: 100%;
    text-transform: uppercase;
    }

.js-offcanvas .nav-global-primary .nav-tier2 {
	display: block;
	}

.js-offcanvas .nav-global-secondary .nav-tier2 {
	border-bottom: none;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	}

.js-offcanvas .nav-global-primary ul {
	padding: 0;
	margin: 0;
	width: 100%;
	}
    
.js-offcanvas .nav-tier2,
.js-offcanvas .nav-global-primary .nav-tier2,
.js-offcanvas .nav-global-secondary .nav-tier2 {
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	@include background-color($color-black, 0.2);
	box-shadow: none;
	text-transform: none;
	}

.js-offcanvas .nav-tier1 a:link,
.js-offcanvas .nav-tier1 a:visited,
.js-offcanvas .nav-tier1 a:hover,
.js-offcanvas .nav-tier1 a:focus,
.js-offcanvas .nav-tier1 a:active {
	color: $color-white;
	}

.js-offcanvas .nav-tier2 a:link,
.js-offcanvas .nav-tier2 a:visited,
.js-offcanvas .nav-tier2 a:hover,
.js-offcanvas .nav-tier2 a:focus,
.js-offcanvas .nav-tier2 a:active {
	@include rem(padding, 10px 16px);
	color: $color-white;
	}

.js-offcanvas .nav-tier1 > a.state-active, 
.js-offcanvas .nav-tier1 > a.state-active:hover,
.js-offcanvas .nav-tier1 > a.state-active:focus, 
.js-offcanvas .nav-tier1 > a.state-active:active {
	background-color: $color-black;
	}

.js-offcanvas .search-global input {
	border: 1px solid;
	border-color: $color-gray;
	background-color: transparent;
	padding: 8px 2% 8px 2px;
	width: 95%;
	width: calc(99% - 9px);
	color: $color-white;
	margin-left: 7px;
	}

.js-offcanvas .search-global .search-global-submit {
	@include rem(top, 10px);
	@include rem(right, 10px);
	}

.js-offcanvas .search-global-input:focus + .search-global-submit,
.js-offcanvas .search-global .search-global-submit:focus,
.js-offcanvas .search-global .search-global-submit:active {	
	background-image: url('../images/icon-search-white.png');
	background-position: center center;
	background-repeat: no-repeat;
	}