.skip-to-nav {
    display: block;
    float: right;
    text-transform: uppercase;
    @include color($color-black, 1);
    @include font-sans-bold;
    font-size: 1.2em;
    margin: 0;
    }
    

.skip-to-nav {
    display: none;
    }

.skip-to-nav.persist {
    display: block;
    }


.skip-to-nav a {
    @include color($color-black, 1);
    border-bottom: none;
    padding: 1em 0;
    display: block;
    }

.skip-to-nav a:hover,
.skip-to-nav a:focus,
.skip-to-nav a:active {
    @include color($color-red, 1);
    }

.skip-to-nav a:after {
    content: (" ≡");
    font-size: 1.35em;
    vertical-align: text-bottom;
    }

.slid .skip-to-nav a:link,
.slid .skip-to-nav a:visited,
.slid .skip-to-nav a:hover,
.slid .skip-to-nav a:focus,
.slid .skip-to-nav a:active {
    @include color($color-red, 1);
    }

.slid .skip-to-nav a:after {
    content: (" ×");
    }