section,
[class*="slab-"] {
    clear: both;
    width: 92%;
    float: left;
    padding-left: 4%;
    padding-right: 4%;
    }

[class*="slab-"] {
    }

.slab-blue {
    @include background-color($color-blue, 1);
    }
    
    .slab-blue a:link,
    .slab-blue a:visited,
    .slab-blue a:hover,
    .slab-blue a:focus,
    .slab-blue a:active {
        @include color($color-white, 0.6);
        }
    
    .slab-blue a:hover,
    .slab-blue a:focus,
    .slab-blue a:active {
        border-bottom: 1px solid;
        @include border-color($color-white, 0.6);
        }
    
.slab-dark-blue {
    @include background-color($color-dark-blue, 1);
    color: $color-white;
    }

.slab-red {
    @include background-color($color-red, 1);
    color: $color-white;
    }
    
    .slab-red a:link,
    .slab-red a:visited,
    .slab-red a:hover,
    .slab-red a:focus,
    .slab-red a:active {
        @include color($color-white, 0.7);
        border-bottom: none;
        }
    
    .slab-red a:hover,
    .slab-red a:focus,
    .slab-red a:active,
    .slab-red label {
        color: $color-white;
        }

.slab-medium-red {
    @include background-color($color-medium-red, 1);
    color: $color-white;
    }
    
    .slab-medium-red a:link,
    .slab-medium-red a:visited,
    .slab-medium-red a:hover,
    .slab-medium-red a:focus,
    .slab-medium-red a:active {
        color: $color-white;
        border-bottom: none;
        }
    
    .slab-medium-red a:hover,
    .slab-medium-red a:focus,
    .slab-medium-red a:active {
        @include color($color-white, 0.7);
        }
    
    .slab-medium-red form input,
    .slab-medium-red form select {
        border: none;
        }

.slab-gray {
    @include background-color($color-light-gray, 0.5);
    }

.slab-dark-gray {
    @include background-color($color-dark-gray, 1);
    color: $color-white;
    }
    
    .slab-dark-gray a:link,
    .slab-dark-gray a:visited,
    .slab-dark-gray a:hover,
    .slab-dark-gray a:focus,
    .slab-dark-gray a:active {
        @include color($color-white, 1);
        border-bottom: none;
        }
    
    .slab-dark-gray a:hover,
    .slab-dark-gray a:focus,
    .slab-dark-gray a:active {
        @include color($color-white, 0.7);
        }
    
    .slab-dark-gray form input,
    .slab-dark-gray form select {
        border: none;
        }
 
 .slab-red .button-prominent,
 .slab-red input.button-prominent,
 .slab-red .button-prominent:link,
 .slab-red .button-prominent:visited,
 .slab-red .button-prominent:hover,
 .slab-red .button-prominent:focus,
 .slab-red .button-prominent:active {
     @include background-color($color-dark-red, 1);
     }
 
 .slab-red input.button-prominent:hover,
 .slab-red input.button-prominent:focus,
 .slab-red .button-prominent:hover,
 .slab-red .button-prominent:focus {
     @include background-color($color-medium-red, 0.8);
     }
 
 .slab-medium-red .button-prominent,
 .slab-medium-red input.button-prominent,
 .slab-medium-red .button-prominent:link,
 .slab-medium-red .button-prominent:visited,
 .slab-medium-red .button-prominent:hover,
 .slab-medium-red .button-prominent:focus,
 .slab-medium-red .button-prominent:active {
     @include background-color($color-dark-red, 1);
     }
 
 .slab-medium-red input.button-prominent:hover,
 .slab-medium-red input.button-prominent:focus,
 .slab-medium-red .button-prominent:hover,
 .slab-medium-red .button-prominent:focus {
     @include background-color($color-black, 0.4);
     }