.isolate {
    margin-bottom: 1.5em;
    clear: both;
    }

.isolate-invert {
    margin-top: 1.5em;
    clear: both;
    }

.insulate {
    @include rem(margin, 15px auto);
	}

.insulate + .insulate {
	margin-top: 0;
	}

.insulate-sides,
.button-prominent.insulate-sides {
    @include rem(margin-left, 15px);
    @include rem(margin-right, 15px);
	}

.insulate-inner {
    @include rem(padding-top, 30px);
    @include rem(padding-bottom, 30px);
    }

