.stats {
	display: table;
	padding: 1em 4% 0;
	}

.stat {
	display: table-column;
    position: relative;
    border-right: 1px solid $color-light-gray;
    float: left;
    margin: 0 1em 1em 0;
    padding-right: 1em;
    min-height: 4.5em;
    }

.stat:last-child {
	border-right: none;
	}

.stat-result {
	display: table-cell;
	width: auto;
	padding: 0 2em 0 0;
	}

.stat .stat-heading {
    @extend .text-quiet;
    margin-bottom: 0.2em;
    @include rem(font-size, 12px);
    }

.stat .stat-figure {
    @include rem(font-size, 30px);
    @include color($color-black, 1);
    font-family: georgia;
    font-weight: bold;
    display: block;
    margin: 0;
    }

.stat .stat-caption {
	text-transform: none;
	@include rem(font-size, 14px);
	color: $color-dark-gray;
	}