@media (min-width: 40em) and (min-height: 30em) {

.sticky,
.sticky.global-header {
    position: fixed;
    top: 0;
    }
    
.sticky + main {
    margin-top: 6em;
    }

.sticky .global-header-logo {
    width: 80px;
    margin: 0.4em 0 0 0;
    }

.sticky .nav-global-secondary {
    }
    
.sticky .nav-global-secondary li a {
    @include rem(padding-top, 10px);
    @include rem(padding-bottom,10px);
    }

.sticky .nav-global-secondary li .button {
    @include rem(padding, 0 12px);
    @include rem(height, 30px);
    @include rem(line-height, 31px);
    @include rem(margin, 7px 0 2px 16px);
    }

.sticky .nav-tier2 a:link,
.sticky .nav-tier2 a:visited,
.sticky .nav-tier2 a:hover,
.sticky .nav-tier2 a:focus,
.sticky .nav-tier2 a:active {
	@include rem(padding-top, 7px);
	@include rem(padding-bottom,6px);
	}

}