@media (min-width: 60em) {

    .wodge-s .wodge-button {
        float: right;
        margin-left: 0;
        }
    
    .wodge-s .wodge-button .button {
        min-width: 7em;
        margin-left: 0.35em;
        }
    
    .wodge-s .wodge-header {
        float: left;
        margin-right: 0;
        width: 48%;
        }

    }