.wodge {
    border-bottom: 1px solid;
    @include border-color($color-dark-gray, 0.3);
    position: relative;
    @include rem(margin, 48px 0 32px 0);
    @include rem(padding, 0 0 32px 0);
    }

.wodge:first-child {
    margin-top: 0;
    }

.wodge:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0
    }

.wodge-image {
    border: 3px solid;
    @include border-color($color-dark-gray, 0.5);
    border-radius: 0.2em;
    margin-bottom: 1em;
    @include rem(margin-bottom, 16px);
    }

.wodge .button:last-of-type {
	margin-right: 0;
	}

