---
layout: default
masthead-image: "/media/images/focus-areas/econ_dev.png"

# Don't use the default masthead, use the custom deep masthead
masthead: "no"
nav-global-primary: "no"
masthead-custom: deep

# Title for the title bar, and the overline in the masthead
title: Economic Development Focus Area

# Content for the custom deep masthead
headline: Delivering core economic development services, promoting inclusive economic opportunities
description: Code for America partners with local governments to build and grow digital economic development services focused on inclusive opportunities, helping governments transform themselves along the way.

# Blogpost helpers
helpers:
  blogpost:
    category: economic-development
    max_post_count: 4

---
<style>
	* + section {
		margin-top: 2em;
	}
	ol li + li {
		margin-top: 1em;
	}
</style>

<!-- OUR APPROACH -->
<section class="layout-semibreve intro">


	<h2>Our Approach</h2>

	<div class="layout-minim">
		<p>The economic development focus area works to improve economic opportunity for all people and their communities. Economic outcomes depend on a place-based context of communities, and range across concentrated growth, revitalization or advancement of core governmental services and benefits necessary for business and job growth.</p>

		<p>Code for America works across a wide variety of teams who contribute to these outcomes—including municipal economic development departments, public-private economic development corporations, redevelopment authorities, and non-profit organizations. Together, we develop digital services that measurably improve economic opportunity, and help these teams retool their ways of delivering services to be more effective in the digital world.</p>

    <p><strong>Want to learn more about what Code for America is doing to promote inclusive economic growth? Join our email list help inform Code for America’s work in this area.</strong></p>
    <p><a href="#" class="js-modal-show js-email-economic-development button">Join our email list</a></p>
	</div><!-- end .layout-major-invert -->

	<div class="layout-minim" style="width:46%; padding-left: 4%;">
		<iframe width="100%" height="300" src="https://www.youtube.com/embed/dyQ33N1wDZ0" frameborder="0" allowfullscreen></iframe>
		<small>
			<b>Building business tools:</b> Joel Mahoney and Peter Koht speak about their work to create OpenCounter, a 2013 fellowship project that allows entrepreneurs to apply for business permits made in partnership with Santa Cruz, CA. <a href="https://opencounter.us/" target="_blank">OpenCounter</a> is now a business.
		</small>
	</div>

</section>

<!-- QUOTE -->
<section class="slab-blue">
	<div class="layout-semibreve">
		<div class="highlight highlight-with-avatar">
			<img class="highlight-avatar" src="/media/images/focus-areas/safety-justice/ben-hecht.jpg"/>
			<blockquote>
				<p>Shared economic prosperity is the defining issue of our time. We must harness data and technology toward economic development that will help us to produce that outcome.</p>
			</blockquote>
			<p class="attribute">BEN HECHT, PRESIDENT & CEO, <a href="https://www.livingcities.org/" target="_blank">LIVING CITIES</a></p>
		</div>
	</div>
</section>

<!-- GET INVOLVED -->
<section class="layout-semibreve">
	<h2>Get Involved</h2>

	<p>Pursuing inclusive economic outcomes often requires cross-sector partnerships spanning public, non-profit, and private-sector stakeholder groups.</p>

	<p>To expand our work and deepen impact on entrepreneurs and economic development practitioners, we are seeking partners in cities and states across the country, along with key institutional support. If you are committed to improving economic outcomes in your community through the transformation of public services, <a href="mailto:info@codeforamerica.org">contact us.</a></p>

	<!-- Space between paragraph and badges needed -->

	<div class="layout-crotchet layout-centered">
		<img src="/media/images/talent/badge-gov.svg" width="100px" alt="">
		<h3 class="heading-contrast"><strong>State and Local Governments</strong></h3>
		<p>Partnerships with city, county and state governments are the foundation of our work.</p>
	</div>
	<div class="layout-crotchet layout-centered">
		<img src="/media/images/health/badge-fellowship.svg" width="100px" alt="">
		<h3 class="heading-contrast"><strong>Non-profits and Communities</strong></h3>
		<p>Delivering services requires working with the communities we aim to serve.</p>
	</div>
	<div class="layout-crotchet layout-centered">
		<img src="/media/images/health/badge-gov.svg" width="100px" alt="">
		<h3 class="heading-contrast"><strong>Funders and Other Supporters</strong></h3>
		<p>Key support can be a catalyst for deeper impact across our efforts.</p>
	</div>
</section>

<!-- OUR PARTNERS -->
<section class="slab-dark-blue">
	<div class="layout-semibreve layout-centered">
		<h5>Our current partners</h5>
		<nav class="list-credits" role="navigation">
			<ul>
				<li>Miami-Dade County, FL&nbsp;&nbsp;</li>
				<li>Albuquerque, NM&nbsp;&nbsp;</li>
				<li>Pittsburgh, PA&nbsp;&nbsp;</li>
				<li>Santa Cruz, CA&nbsp;&nbsp;</li>
				<li>Puerto Rico&nbsp;&nbsp;</li>
				<li>Kansas City, MO&nbsp;&nbsp;</li>
				<li>Kansas City, KS&nbsp;&nbsp;</li>
				<li>New Orleans, LA&nbsp;&nbsp;</li>
				<li>Detroit, MI &nbsp;&nbsp;</li>
				<li>San Antonio, TX&nbsp;&nbsp;</li>
				<li>Las Vegas, NV&nbsp;&nbsp;</li>
			</ul>
	</div>
</section>

<!-- HOW WE WORK -->
<section>
	<div class="layout-semibreve">
		<h2>How we work</h2>
		<p>Code for America’s focus areas bring together work across all of our programs, delivering an impact greater than what each program might achieve on its own. Across our programs, we undertake deep research into the delivery of critical services, develop new digital approaches to economic opportunity, incubate digital products as they mature, and work with the highest levels of government support to scale digital services. Throughout these efforts, we work to empower our partner organizations through the <a href="/governments/principles">Principles of 21st Century Government.</a></p>

		<div class="layout-crotchet">
		    <p><strong>Original Research and Digital Work</strong></p>
        <p>Fellowship teams work with cities and counties to develop innovative digital approaches to delivering key government services.</p>
		</div>
		<div class="layout-crotchet">
		    <p><strong>Building and scaling Digital Services</strong></p>
         <p>As fellowship teams move on, we work to transform promising new technologies into the mature digital services citizens deserve in the 21st century.</p>
		</div>
		<div class="layout-crotchet">
		    <p><strong>Helping Governments Deliver Digital Services</strong></p>
        <p>We document what we learn to make building digital government easy to understand and copy through our <a href="http://www.codeforamerica.org/library/">library</a> and <a href="http://www.codeforamerica.org/about/peernetwork/">Peer Network</a>.
		</div>
	</div>
</section>

<section class="layout-semibreve">
	<h4 class="heading">Partnering with governments to produce original digital services</h4>
	<p><a href="/governments/fellowship/">The Code for America Fellowship Program</a> sends teams of technologists into local governments across the country to work full-time for a year in partnership with government officials and the community. The fellows apply 21st Century Government Principles to important problems, focused on health, economic development, and safety and justice. While the product of the Fellowship is typically an early stage application that improves the delivery of a government service, the process acts as a vehicle for driving cultural and structural change inside of government.</p>

	<figure>
	    <blockquote>
	    	<p>We will soon begin recruiting city and county government partners for 2017 Fellowships! <a href="/governments/fellowship/">Learn more about applying.</a></p>
	    </blockquote>
	</figure>

	<h4 class="heading">Impacting Small Business and Workforce Development</h4>
	<p>The economic development focus area targets interventions that impact small businesses and low income populations to:</p>
	<ul>
		<li>Involve a broader community of local businesses in growing innovation and tech-based economies</li>
		<li>Reduce barriers to low-income families and entrepreneurs in taking advantage of government programs and services </li>
		<li>Broaden access to skills-building and upward mobility of the workforce</li>
	</ul>

	<h4 class="heading">Ongoing Work</h4>
	<p>We have worked with more than 50 communities to support growth and healthy economic development practice within three strategic areas:</p>

	<div class="layout-crotchet">
	    <p><strong><u>Innovation</u></strong></p>
      <p><strong>Goal:</strong> Expanding competitiveness for future economic growth</p>
      <p><strong>Strategy:</strong> Open data legislation, offices of innovation, data-driven services</p>
      <p><strong>Apps:</strong> <a href="http://www.codeforamerica.org/blog/2014/07/07/transitmix-design-your-perfect-bus-system/">Transitmit</a>, <a href="/apps/streetmix/">Streetmix</a>, <a href="/apps/text-my-bus/">Text My Bus</a></p>
	</div>
	<div class="layout-crotchet">
	    <p><strong><u>Revitalization</u></strong></p>
      <p><strong>Goal:</strong> Improving economic viability of shrinking cities</p>
      <p><strong>Strategy:</strong> Blight mitigation, downtown redevelopment, asset mapping</p>
      <p><strong>Apps:</strong> <a href="/apps/civicinsight/">Civic Insight</a>, <a href="/apps/localdata/">LocalData</a></p>
	</div>
	<div class="layout-crotchet">
	    <p><strong><u>Advancement</u></strong></p>
      <p><strong>Goal:</strong> Advancing and streamlining existing service delivery</p>
      <p><strong>Strategy:</strong> Small business development, workforce development,  permits and zoning applications</p>
      <p><strong>Apps:</strong> <a href="/apps/development-fastpass/">Development FastPass</a>, <a href="/apps/open-counter/">OpenCounter</a>, <a href="http://primerpeso.com">Primer Peso</a>, <a href="/apps/biz-friendly/">Biz Friendly</a></p>
	</div>

	<h4 class="heading">Our Projects</h4>
	<ul class="teasers">

		<li class="layout-crotchet">
    	<article class="teaser teaser-app no-logo">
				<header class="teaser-header">
					<a href="https://opencounter.us/">
					<h1 class="teaser-title">OpenCounter</h1>
					</a>
				</header>
				<div class="teaser-body">
					<p>OpenCounter streamlines the creation of new businesses by offering small business owners a simple and 24-7 interface for business permit applications.</p>
					<p><a href="https://opencounter.us/">Learn more</a></p>
				</div>
    	</article>
    </li>

		<li class="layout-crotchet">
    	<article class="teaser teaser-app no-logo">
				<header class="teaser-header">
					<a href="/apps/bizfriendly/">
					<h1 class="teaser-title">BizFriendly</h1>
					</a>
				</header>
				<div class="teaser-body">
					<p>BizFriendly is a learning and sharing community that helps entrepreneurs start, run and grow great businesses.</p>
					<p><a href="/apps/bizfriendly/">Learn more</a></p>
				</div>
    	</article>
    </li>

		<li class="layout-crotchet">
    	<article class="teaser teaser-app no-logo">
				<header class="teaser-header">
					<a href="http://www.primerpeso.com/">
					<h1 class="teaser-title">Primer Peso</h1>
					</a>
				</header>
				<div class="teaser-body">
					<p>Primer Peso provides simple and intuitive information around incentive programs for new entrepreneurs in Puerto Rico</p>
					<p><a href="http://www.primerpeso.com/">Learn more</a></p>
				</div>
    	</article>
    </li>

		<li class="layout-crotchet">
    	<article class="teaser teaser-app no-logo">
				<header class="teaser-header">
					<a href="/apps/localdata/">
					<h1 class="teaser-title">LocalData</h1>
					</a>
				</header>
				<div class="teaser-body">
					<p>LocalData is a digital platform for mobile collection and management of data-driven economic development initiatives, property assessment and asset mapping</p>
					<p><a href="/apps/localdata/">Learn more</a></p>
				</div>
    	</article>
    </li>

		<li class="layout-crotchet">
    	<article class="teaser teaser-app no-logo">
				<header class="teaser-header">
					<a href="/apps/localdata/development-fastpass">
					<h1 class="teaser-title">Development Fastpass</h1>
					</a>
				</header>
				<div class="teaser-body">
					<p>Development FastPass combines parcel data, land use, zoning, building occupancy, and business incentives to help business owners research the best options to locate their businesses within Las Vegas.</p>
					<p><a href="/apps/localdata/development-fastpass">Learn more</a></p>
				</div>
    	</article>
    </li>

	</ul>
</section>

<section class="layout-semibreve">
	<h2>Our Team</h2>
	<ul class="layout-grid-crotchet list-no-bullets">
		<li>{% include people/efrem-bycer.html context="about-team" base="../../.." %}</li>
		<li>{% include people/jennings-hanna.html context="2015-fellows" base="../../.." %}</li>
		<li>{% include people/yaniv-zimet.html context="2015-fellows" base="../../.." %}</li>
		<li>{% include people/william-tyner.html context="2015-fellows" base="../../.." %}</li>
		<li>{% include people/patrick-hammons.html context="2015-fellows" base="../../.." %}</li>
		<li>{% include people/shelly-ni.html context="2015-fellows" base="../../.." %}</li>
		<li>{% include people/ben-smithgall.html context="2015-fellows" base="../../.." %}</li>
		<li>{% include people/mathias-gibson.html context="2015-fellows" base="../../.." %}</li>
		<li>{% include people/sophia-dengo.html context="2015-fellows" base="../../.." %}</li>
		<li>{% include people/ernest-hsiung.html context="2015-fellows" base="../../.." %}</li>
	</ul>
</section>

{% include blogpost-markup.html %}

<section class="slab-dark-blue">
	<div class="layout-semibreve">
		<h2>Work with us</h2>
		<div class="badge-heading badge-github badge-gov" style="border-bottom:none">
			<h4>Get in touch to learn more.</h4>
			<p>Learn more about how you can work with the Economic Development focus area at Code for America.</p>
			<p>Contact <strong><a href="/people/efrem-bycer/">Efrem Bycer, Economic Development Director</a></strong> at <a href="mailto:efrem@codeforamerica.org">efrem@codeforamerica.org</a></p>
		</div>
		<div class="badge-heading badge-github badge-black" style="border-bottom:none">
			<h4>Experience in Economic Development? Get involved right away.</h4>
			<p>We are currently seeking a Focus Area Lead for Economic Development.</p>
			<a href="http://codeforamerica.theresumator.com/apply/86x1Y5/Focus-Area-Lead-Economic-Development.html">Learn more</a>
		</div>
	</div>
</section>
