---
layout: default
title: Indianapolis
masthead-image: "../../media/images/governments/indianapolis_header.jpg"
nav_tier1_active: "governments"
nav-breadcrumbs:
 - Governments: "/cities"
 - Indianapolis: "/cities/indianapolis"
---
  
{% include blogposts.html category='indianapolis' %}

<section class="layout-semibreve"> 
   {% include nav-breadcrumbs.html %}
     <header class="badge-heading badge-blue badge-fellowship">
       <h2>Indianapolis</h2>
        </header>
     <div class="layout-minim">
       <p>The Code for America fellowship team is working with the Indianapolis Department of Public Safety to strengthen the relationship between law enforcement and the community it serves by enabling stronger conversations and oversight around the most critical police professional standards information, and strengthening the existing feedback capabilities available to citizens.</p>
     </div>
     <div class="layout-minim">
        <img src="/media/images/governments/indianapolis-team.jpg" alt>
   </div>
</section>

    <section class="slab-blue">
        <div class="layout-semibreve">
            <div class="highlight highlight-with-avatar">
                <img class="highlight-avatar" src="../../media/images/governments/indianapolis-seal.gif" />
                <blockquote>
                    <p>
                        &ldquo;Indy’s selection for the next Code for America program provides an excellent opportunity to bring forward-thinking solutions to city government. Indy is using data in innovative ways to enhance public safety.  Our team looks forward to working with the Code for America fellows to better integrate data in our daily efforts to make Indy an even better place live and work.&rdquo;
                    </p>
                  <a id="2014"></a>
                </blockquote>
	                <p class="attribute">
	                   Mayor Greg Ballard, Indianapolis, Indiana  
	                </p>                
            </div>
        </div>
</section>
   
   <section class="layout-semibreve">
  <header class="badge-heading badge-red badge-fellowship">
    <h2>The 2015 Fellowship in Indianapolis</h2>
  </header>
  <div class="layout-minim-staccato">
    <h3>Midyear Report</h3>
    <p>Trust is a critical resource in policing. The public’s perception of law enforcement impacts not only the tenor of their direct interactions with officers but their general willingness to follow the law. Critical to that trust is a belief that law enforcement is acting in a just and consistent manner. For the community to build that belief they require two tools: access to accurate information on the behavior of law enforcement and the ability to bring about change in how law enforcement acts. Read about how the fellows helping make this happen in their Midyear report. 
    <div class="button wodge-button">
      <a href="https://codeforamerica.github.io/indy-mid-year/" class="button wodge-button" >Read the Report</a>
    </div>
  </div><!-- end .layout-minim-staccato -->
  <div class="layout-minim-staccato">
    <h3>BETA Presentation</h3>
    <p>BETA is an event for the fellows to discuss their midway progress.</p>
   <iframe width="450" height="215" src="https://www.youtube.com/embed/ffFgmQssCrI?list=PL65XgbSILalWylZ6sbNbjROtkdB4I52OG" frameborder="0" allowfullscreen></iframe>
  </div><!-- end .layout-minim-staccato -->
</section> 
   
    <section class="layout-semibreve">
            <h4>Meet the team:</h4>
                <ul class="layout-grid-crotchet list-no-bullets">
                    <li>
                        {% include people/laura-ellena.html context="2015-fellows" base="../.." %}
                    </li>
                    <li>
                        {% include people/chris-reade.html context="2015-fellows" base="../.." %}
                    </li>
                    <li>
                        {% include people/tiffany-andrews.html context="2015-fellows" base="../.." %}
                    </li>
                </ul>
                <div class="layout-whole">
                	<p><strong>Team Leads</strong>: Gary Coons, Data/Chief of Homeland Security and Troy Riggs, Director of Public Safety</p> 
			<p><strong>Community Partners</strong>: Lilly Endowment</p>
     <!--              <p>Follow the Fellows' progress on their blog <a href="http://BLOG.tumblr.com/" target="_blank" alt="blog title">blog title</a></p>
                <p>Contribute to CITY Fellows' work on Github: <a href="https://github.com/codeforamerica/LINK" target="_blank" alt="ALT TEXT">Title</a>.</p>-->
            </div>
</section><!-- end .layout-semibreve -->
    
<div class="layout-semibreve">
  <header class="badge-heading badge-orange badge-fellowship">
    <h2>Articles &amp; video</h2>
  </header>

  <ul class="teasers layout-grid-crotchet">
    <li>
      <a href="https://www.themarshallproject.org/2015/07/02/is-google-more-accurate-than-the-fbi">
        <h3>'Is Google More Accurate Than the FBI?'</h3>
        <div>
          <img alt="The Marshall Project article" src="/media/images/fellowship-media-coverage/indianapolis-marshallreport.jpg"/>
          <span class="teaser-type-article">Article</span>
        </div>
      </a>
      <span>The Marshall Project</span>
      <p>In tracking deaths by police, the tech world might beat Uncle Sam. [&hellip;] <a href="https://www.themarshallproject.org/2015/07/02/is-google-more-accurate-than-the-fbi">Read more</a></p>
    </li>
    <li>
      <a href="http://www.usatoday.com/story/news/politics/2015/06/21/white-house-police-data-initiative-privacy-concerns/28952215/">
        <h3>'Is Google More Accurate Than the FBI?'</h3>
        <div>
          <img alt="USA Today article" src="/media/images/fellowship-media-coverage/indianapolis-whitehouse.jpg"/>
          <span class="teaser-type-article">Article</span>
        </div>
      </a>
      <span>USA Today</span>
      <p>When President Obama announced a White House police data initiative last month, he said he hoped it would help police "strengthen their work and hold themselves accountable by sharing it with the public." [&hellip;] <a href="http://www.usatoday.com/story/news/politics/2015/06/21/white-house-police-data-initiative-privacy-concerns/28952215/">Read more</a></p>
    </li>
    
  </ul>
</div>

<div id="js-blogposts"></div>
