---
layout: default
title: Indianapolis
masthead-image: "../../media/images/governments/indianapolis_header.jpg"
nav_tier1_active: "governments"
nav-breadcrumbs:
 - About: "/about"
 - Government Partners: "/governments"
 - Indianapolis: "/governments/indianapolis"
helpers:
  blogpost-helpers:
    category: "indianapolis"
    max_post_count: 5
  blogpost-markup: true
  underscore: true
---
<section class="layout-semibreve">
  {% include nav-breadcrumbs.html %}
  <header class="badge-heading badge-blue badge-fellowship">
    <h2>Indianapolis</h2>
  </header>
  <div class="layout-minim">
    <p>With an already established technology presence and growing startup scene, the city of Indianapolis identified a need to grow their civic technology offerings. In particular, they saw civic tech as a way to increase engagement of citizens and economic opportunity in providing greater access to civic data. With new access to RMS (Report Management System) and CAD (Computer-Aided Dispatch ?) data sets, the city turned to Code for America for partnership and expertise in data analysis. Code for America Fellows were to explore ways in which they could combine data, technology, and public safety. 
</p>
  </div>
  <div class="layout-minim">
    <img src="/media/images/governments/indianapolis-team.jpg" alt>
  </div>
</section>

<section class="slab-blue">
  <div class="layout-semibreve">
    <div class="highlight highlight-with-avatar">
      <img class="highlight-avatar" src="../../media/images/governments/indianapolis-seal.gif" />
      <blockquote>
        <p>Indy’s selection for the next Code for America program provides an excellent opportunity to bring forward-thinking solutions to city government. Indy is using data in innovative ways to enhance public safety.  Our team looks forward to working with the Code for America fellows to better integrate data in our daily efforts to make Indy an even better place live and work.&rdquo;</p>
      </blockquote>
      <p class="attribute">Mayor Greg Ballard, Indianapolis, Indiana</p>
    </div>
  </div>
</section>

<section class="layout-semibreve">
  <header class="badge-heading badge-red badge-fellowship">
    <h2>The 2015 Fellowship in Indianapolis</h2>
  </header>

<section class="layout-semibreve">

<h3>The Research</h3>
<p>Fellows spent the month of February learning about and talking with many departments within public safety. The team considered a wide range of potential projects from tracking transient and homeless children, to better prison reentry coordination between the Sheriff, community, and non-profits. Ultimately, the team decided that IMPD (Indianapolis Metropolitan Police Department) was where they could do the most good in their short year as fellows.</p>
<p>In May (??) the fellows and representatives from IMPD were invited to attend convening of police chiefs and other members of the law enforcement community at the White House. Indianapolis and 20 other communities raised their hand in participation of the President’s Police Data Initiative. When the city committed to opening up 7 different data sets, including officer involved shootings and use of force, the fellowship team knew this would be the main focus of their year. They spent the remainder of the year working with different resident groups, IMPD, and the Department of Public Safety translating the data and exploring ways to share it publically. </p>
<br>
<h3>The Solution</h3>
<p>Over the course of a weekend in November, team Indy launched their site, Project Comport. Comport is tool for law enforcement agencies to open their data and be more accountable to their citizens. The site features three major datasets: citizen complaints, uses of force, and officer involved shootings. There are two major goals of the site- first, to provide a base level of examination of the data so that people have better context to understand it, second, to provide raw versions of cleaned, privacy conscious, data that is easy to download for those who wish to use it for further analysis. </p>
<br>
<h3>Sustainability</h3>
<p>Code for America is continuing to support the work team Indy started and planning to pilot comport in more cities in 2016. The fellowship team saw two other major successes during their year, the start of the Indianapolis Brigade and the opening of the Indianapolis Regional Data Portal. </p>
</section>
<br>
  <div class="layout-whole">
    <h3>Summit Presentation</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GRFf_MdzqT8?list=PL65XgbSILalUZFyWsZqbtZKN1iffAOM5M" frameborder="0" allowfullscreen></iframe>
  </div><!-- end .layout-whole -->
<br>
  <h4>Meet the team:</h4>
  <ul class="layout-grid-crotchet list-no-bullets">
    <li>{% include people/laura-ellena.html context="2015-fellows" base="../.." %}</li>
    <li>{% include people/chris-reade.html context="2015-fellows" base="../.." %}</li>
    <li>{% include people/tiffany-andrews.html context="2015-fellows" base="../.." %}</li>
  </ul>
  <div class="layout-whole">
    <p><strong>Team Leads</strong>: Gary Coons, Data/Chief of Homeland Security and Troy Riggs, Director of Public Safety</p>
    <p><strong>Community Partners</strong>: Lilly Endowment</p>
  </div>
</section><!-- end .layout-semibreve -->

<section class="layout-semibreve">
  <header class="badge-heading badge-orange badge-fellowship">
    <h2>Articles &amp; video</h2>
  </header>

  <ul class="teasers layout-grid-crotchet">
    <li>
      <a href="https://www.themarshallproject.org/2015/07/02/is-google-more-accurate-than-the-fbi">
        <h3>'Is Google More Accurate Than the FBI?'</h3>
        <div>
          <img alt="The Marshall Project article" src="/media/images/fellowship-media-coverage/indianapolis-marshallreport.jpg"/>
          <span class="teaser-type-article">Article</span>
        </div>
      </a>
      <span>The Marshall Project</span>
      <p>In tracking deaths by police, the tech world might beat Uncle Sam. [&hellip;] <a href="https://www.themarshallproject.org/2015/07/02/is-google-more-accurate-than-the-fbi">Read more</a></p>
    </li>
    <li>
      <a href="http://www.usatoday.com/story/news/politics/2015/06/21/white-house-police-data-initiative-privacy-concerns/28952215/">
        <h3>'Is Google More Accurate Than the FBI?'</h3>
        <div>
          <img alt="USA Today article" src="/media/images/fellowship-media-coverage/indianapolis-whitehouse.jpg"/>
          <span class="teaser-type-article">Article</span>
        </div>
      </a>
      <span>USA Today</span>
      <p>When President Obama announced a White House police data initiative last month, he said he hoped it would help police "strengthen their work and hold themselves accountable by sharing it with the public." [&hellip;] <a href="http://www.usatoday.com/story/news/politics/2015/06/21/white-house-police-data-initiative-privacy-concerns/28952215/">Read more</a></p>
    </li>
  </ul>
</section>

<div id="js-blogposts"></div>
