---
layout: default
title: Indianapolis
masthead-image: "../../media/images/governments/indianapolis_header.jpg"
nav_tier1_active: "governments"
nav-breadcrumbs:
 - Governments: "/cities"
 - Indianapolis: "/cities/indianapolis"
---
  
 
    <section> 
        <div class="layout-semibreve">
    
            {% include nav-breadcrumbs.html %}

       
            <header class="badge-heading badge-blue badge-fellowship">
                <h2>
                	Indianapolis
                </h2>
            </header>
            <section>
                <div class="layout-semibreve">
                    <div class="layout-gutters">
                        <p>Indianapolis is the 13th largest metro area in the nation serving as a central node for national shipping and transportation. In recent years, Indy has endured crime rates as high as three times the national average. This midwestern transit hub will be working with the Code for America fellows to develop tools to improve data analysis, increase transparency and highlight public engagement to improve safety for all its residents.   
</p>
                    
                    </div>
                </div>
            </section>
       
        </div>
    </section>
    


    <section class="slab-blue">
        <div class="layout-semibreve">
            <div class="highlight highlight-with-avatar">
                <img class="highlight-avatar" src="../../media/images/governments/indianapolis-seal.gif" />
                <blockquote>
                    <p>
                        &ldquo;Indy’s selection for the next Code for America program provides an excellent opportunity to bring forward-thinking solutions to city government. Indy is using data in innovative ways to enhance public safety.  Our team looks forward to working with the Code for America fellows to better integrate data in our daily efforts to make Indy an even better place live and work.&rdquo;

                    </p>
                  <a id="2014"></a>
                </blockquote>
	                <p class="attribute">
	                   Mayor Greg Ballard, Indianapolis, Indiana  
	                </p>                
            </div>
        </div>

    </section>
    
    <section>
            <div class="layout-semibreve">
            <h4>Meet the team:</h4>
                <ul>
                    <li class="layout-crotchet">
                        {% include people/laura-ellena.html context="2015-fellows" base="../.." %}
                    </li>
                    <li class="layout-crotchet">
                        {% include people/chris-reade.html context="2015-fellows" base="../.." %}
                    </li>
                    <li class="layout-crotchet">
                        {% include people/tiffany-andrews.html context="2015-fellows" base="../.." %}
                    </li>
                </ul>
                <div class="layout-semibreve"><strong>Team Leads</strong>: Gary Coons, Data/Chief of Homeland Security and Troy Riggs, Director of Public Safety 

 <br/>
    <!--             <strong>Community Partners</strong>: Lilly Endowment

                <p>Follow the Fellows' progress on their blog <a href="http://BLOG.tumblr.com/" target="_blank" alt="blog title">blog title</a></p>

                <p>Contribute to CITY Fellows' work on Github: <a href="https://github.com/codeforamerica/LINK" target="_blank" alt="ALT TEXT">Title</a>.</p>-->
	        </div>
            </div>


       </div>
    </section>

    