{% if include.context == "app-page" %}

  <style>
  #card {
    width: 700px;
    display:inline;
  }

  #phone {
    float: right;
    width: 200px;
    display:inline;
  }

  </style>

	<div class="heading">
		<h2>Check your Food Stamp balance right now</h2>
	</div>
	
	<div class="layout-major" style="width:100%; padding-bottom: 200px;">
	    	
      <img id="card" class="isolate" src="../../../media/images/apps/balance-hockeystick.png" />
      <img id="phone" class="isolate" src="../../../media/images/apps/balance-phone.png" />
	
  </div>

{% endif %}
