{% if include.context == "app-page" %}

  <div class="heading">
    <h2>Farm Stand</h2>
  </div>
  
  <div class="layout-minor">
    <img class="isolate" src="{{ include.base }}/media/images/apps/placeholder.png" />
      <p>
      Farm Stand is a tool that helps urban farms reach potential customers in West Sacramento.
      </p>
      
      <h4 class="text-whisper layout-tight">Created by</h4>
      <ul class="list-no-bullets text-whisper link-invert">
        <li><a href="{{ include.base }}/people/imanol-aranzadi">Imanol Aranzadi</a></li>
        <li><a href="{{ include.base }}/people/natasha-fountain">Natasha Fountain</a></li>
        <li><a href="{{ include.base }}/people/grant-Smith">Grant Smith</a></li>
      </ul>
  
  </div>
  
  <div class="layout-major">
      <p>Once a farm is established, it needs customers. Farm Stand is a collection of tools that urban farmers in West Sacramento can use to easily catalogue what they were growing, when it will be available, where they are selling their produce, and for how much. Residents can sign up to receive either texts or emails, and farmers have a simple mobile interface for updating their available produce before messages are sent to everyone who signed up for them.</p>

      <div class="spotlight">
        <table class="table-unstyled table-minor">
          <tr><th>Live</th><td><a href="https://www.westsacramentourbanfarm.com/">https://www.westsacramentourbanfarm.com/</a></td></tr>
          <tr><th>Codebase</th><td><a href="https://github.com/codeforamerica/westsac-farm-stand">https://github.com/codeforamerica/westsac-farm-stand</a></td></tr>
          <tr><th>Video</th><td><a href="https://www.youtube.com/watch?v=mu9LYPmv_iI">Farm Stand Demo at the 2015 Summit</a></td></tr>
        </table>
        
      </div>

      <p><h3 class="text-prominent">Background</h3></p>
      <p>West Sacramento has a vision to become a place where it’s easy to establish urban farms, and where those farms can quickly connect with their surrounding communities to maximize the extent to which farmers and nearby residents alike share in the farm's bounty. The Fellowship program aimed to increase local awareness of, and consumption of food from, local farms. Fellows looked to address food deserts by making it easier to start new urban farms, and enable local farmers to connect with their surrounding communities and promote the sale of farm-fresh produce directly to residents.</p>

        <p><h3 class="text-prominent">In Partnership With</h3></p>
        <ul>
          <li><b>Jon Robinson</b>, Deputy City Manager, City of Sacramento</li>
          <li><b>Raef Porter</b>, Director, Sacramento Area Council Of Governments</li>
        </ul>
  </div>

{% endif %}
