{% if include.context == "app-page" %}

  <div class="heading">
    <h2>Financial Wellness Calculator</h2>
  </div>
  
  <div class="layout-minor">
    <img class="isolate" src="{{ include.base }}/media/images/apps/placeholder.png" />
      <p>
      The Financial Wellness Calculator helps evaluate residents financial wellness and provide resources accordingly.
      </p>
      
      <h4 class="text-whisper layout-tight">Created by</h4>
      <ul class="list-no-bullets text-whisper link-invert">
        <li><a href="{{ include.base }}/people/william-tyler">William Tyler</a></li>
        <li><a href="{{ include.base }}/people/yaniv-zimet">Yaniv Zimet</a></li>
        <li><a href="{{ include.base }}/people/jennings-hanna">Jennings Hanna</a></li>
      </ul>
  
  </div>
  
  <div class="layout-major">
      <p>The Financial Wellness Calculator is a tool that allows employers to help their employees achieve financial wellness by connecting them to pre-existing government services. Through an anonymous survey, employers can collect attitudinal data (how people feel about their finances) with their behavior (how often they save), to give employers a holistic view into the financial health of their staff. The tool also creates a community database of financial wellness data that is open for analysis. For example, government officials can see all of the anonymous, aggregated data, from all of the organizations using the platform to see trends and needs in the community, which can help them make better decisions on how they allocate resources to service providers.</p>

      <div class="spotlight">
        <table class="table-unstyled table-minor">
          <tr><th>Live</th><td><a href="http://codeforamerica.github.io/abq-financial-wellness-wizard/index.html">http://codeforamerica.github.io/abq-financial-wellness-wizard/index.html</a></td></tr>
          <tr><th>Codebase</th><td><a href="https://github.com/codeforamerica/abq-financial-wellness-wizard">https://github.com/codeforamerica/abq-financial-wellness-wizard</a></td></tr>
          <tr><th>Video</th><td><a href="https://www.youtube.com/watch?v=ix1OBAJrA8A">Financial Wellness Calculator Demo at the 2015 Summit</a></td></tr>
        </table>
        
      </div>

      <p><h3 class="text-prominent">Background</h3></p>
      <p>As New Mexico’s largest city, the City of Albuquerque is working to increase opportunities for economic development and social mobility for all residents. Code for America partnered with the Albuquerque Mayor’s Office to research and build interventions addressing the barriers that residents face in accessing critical information, services, and employment opportunities. The Code for America fellows were to test and develop a technology solution that facilitates upward mobility for Albuquerque residents.</p>

        <p><h3 class="text-prominent">In Partnership With</h3></p>
        <ul>
          <li><b>Mark Leech</b>, Application Services Group Manager, City of Albuquerque</li>
          <li><b>Gary Oppedahl</b>, Director of Economic Development, City of Albuquerque</li>
          <li><b>Gilbert Montano</b>, Chief of Staff, City of Albuquerque</li>
        </ul>
  </div>


{% endif %}
