{% if include.context == "app-page" %}

  <div class="heading">
    <h2>Student Insights</h2>
  </div>
  
  <div class="layout-minor">
    <img class="isolate" src="{{ include.base }}/media/images/apps/placeholder.png" />
      <p>
      Student Insights helps teachers use data to identify at-risk students and match them to the help they need.
      </p>
      
      <h4 class="text-whisper layout-tight">Created by</h4>
      <ul class="list-no-bullets text-whisper link-invert">
        <li><a href="{{ include.base }}/people/alex-soble">Alex Soble</a></li>
        <li><a href="{{ include.base }}/people/mari-muraki">Mari Muraki</a></li>
        <li><a href="{{ include.base }}/people/amir-hadjihabib">Amir Hadjihabib</a></li>
      </ul>
  
  </div>
  
  <div class="layout-major">
      <p>Student Insights enables educators to identify at-risk students and match them to the help they need, such as tutoring, parent/teacher conferences, etc. With Student Insights, teachers can look at various risk factors- such as assessment scores or attendance, and view a full story of a student's academic and behavioral history in one place. By using this tool, teachers can avoid manually tracking down this information, and can instead work closely with their pupils.</p>

      <div class="spotlight">
        <table class="table-unstyled table-minor">
          <tr><th>Live</th><td><a href="https://somerville-teacher-tool-demo.herokuapp.com/">https://somerville-teacher-tool-demo.herokuapp.com</a></td></tr>
          <tr><th>Codebase</th><td><a href="https://github.com/codeforamerica/Somerville-Teacher-Tool">https://github.com/codeforamerica/Somerville-Teacher-Tool</a></td></tr>
          <tr><th>Video</th><td><a href="https://www.youtube.com/watch?v=MzhKX49Pi0Q">Student Insights Demo at the 2015 Summit</a></td></tr>
        </table>
        
      </div>

      <p><h3 class="text-prominent">Background</h3></p>
      <p>During the 2015 Fellowship, the Somerville team worked with partners in the City and the Somerville school district to bring technology and data-driven decision-making into the classroom. While the school district was already collecting various data about its students, the process was very manual and time-consuming for teachers, which limited their face-to-face time with students. The fellows identified that technology could help make this process more efficient, and give educators more time to work directly with their students.</p>

        <p><h3 class="text-prominent">In Partnership With</h3></p>
        <ul>
          <li><b>Denise Taylor</b>, Director of Communications and Community Engagement, City of Somerville</li>
          <li><b>Stephanie Hirsch</b>, Advisor to the Mayor, City of Somerville</li>
          <li><b>Uri Harel</b>, Elementary Curriculum Coordinator, Somerville Public Schools</li>
        </ul>
  </div>


{% endif %}
