{% if include.context == 'apps-list' or include.context == 'our-startups' %}
 
     <article class="teaser teaser-app">
         <header class="teaser-header">
             <a href="http://productbio.com">
                 <h1 class="teaser-title">ProductBio</h1>
             </a>
         </header>
         <div class="teaser-body">
             <p>ProductBio provides product information for sustainable procurement and reporting. It is the largest product sustainability information database in the world, automatically understanding production and consumption impacts of things on the planet, people, and places.</p>
           
             <p><a href="http://productbio.com/">Learn more about this app</a></p>
         </div>
         <footer class="teaser-footer">
             <a href="http://productbio.com" class="teaser-masthead">
                 <img class="teaser-image" src="{{ include.base }}/media/images/apps/productbio.png" />
             </a>
         </footer>
     </article>
 
 {% endif %}
