{% if include.context == 'apps-list' or include.context == 'our-startups' %}
 
     <article class="teaser teaser-app">
         <header class="teaser-header">
             <a href="https://www.seamlessdocs.com/">
                 <h1 class="teaser-title">SeamlessDocs</h1>
             </a>
         </header>
         <div class="teaser-body">
             <p>SeamlessDocs turns any existing document into a dynamic SeamlessDoc that can be completed and eSigned from any device. SeamlessDocs is the modern replacement for the PDF.</p>
           
             <p><a href="https://www.seamlessdocs.com/">Learn more about this app</a></p>
         </div>
         <footer class="teaser-footer">
             <a href="https://www.seamlessdocs.com/" class="teaser-masthead">
                 <img class="teaser-image" src="{{ include.base }}/media/images/apps/seamlessdoc.png" />
             </a>
         </footer>
     </article>
 
 {% endif %}
