---
layout: default
title: Seattle
masthead-image: "../../media/images/governments/seattle_header.jpg"
nav_tier1_active: "about"
nav-breadcrumbs:
 - About: "/about"
 - Government Partners: "/governments"
 - Seattle: "/governments/seattle"
---
<section class="layout-semibreve">
  {% include nav-breadcrumbs.html %}
  <header class="badge-heading badge-red badge-fellowship">
    <h2>The 2016 Fellowship in Seattle</h2>
  </header>
  <!--<p>The City of Seattle is engaging Code for America to help divert homeless and mentally ill individuals away from the criminal justice system and connect them to health, housing, and social services. From January 2014 to January 2015 there was a  21% increase in men, women, and children sleeping without shelter on the streets of King County. Homelessness has devastating impacts for these individuals and poses serious public health and safety risks for the broader Seattle community. Homeless individuals are about 10 times more likely than the general population to be booked into jail. Homeless people who become incarcerated are more likely than other inmates to be charged with a non-violent offense, and to suffer from mental illness and substance abuse problems.</p>
  <p>To direct these individuals to the appropriate and necessary treatment, programs, and resources, the project will build off of <a href="http://leadkingcounty.org/">LEAD</a>, Seattle’s successful diversion program, the department’s mental health crisis intervention program, and the City’s efforts to make services more available to help combat homelessness.</p>-->
  <p>Code for America and Seattle will work together to safely reduce incarceration and help those in need access critical services. For more information on the 2016 Code for America Fellowship see the <a href="http://c4a.me/2016">announcement</a>.</p>

  <h4>Meet the 2016 team:</h4>
  <div class="layout-whole">
    <p><strong>Team Leads</strong>: Bill Schrier, CIO and Mike Wagers, COO Seattle Police Department</p>
  </div>
</section>

<section class="slab-dark-blue">
  <div class="layout-semibreve">
    <div class="highlight highlight-with-avatar">
      <img class="highlight-avatar" src="/media/images/governments/seattle_seal.png" alt="Seattle Seal" />
      <blockquote>
        <p>We are pleased to have such an innovative partner working with us to connect officers, service providers, and those in need quickly and efficiently. This is another example of technology driving positive change for all.</p>
      </blockquote>
      <p class="attribute">Police Chief Kathleen O’Toole, Seattle, WA</p>
    </div>
  </div>
</section>

<section class="layout-semibreve">
  <header class="badge-heading badge-red badge-fellowship">
    <h2>The 2011 Fellowship in Seattle</h2>
  </header>
  <div class="layout-major-invert">
    <p>Led by city contacts Amy Hirotaka, Bill Schrier, Bruce Blood and Julie O’Brien, 2011 fellows <a href="http://www.codeforamerica.org/2011-fellows/">Alan Palazzolo, Anna Bloom, Chacha Sikes</a> were asked to make it easier for the city to communicate with a variety of civic leaders including block watch captains and neighborhood council leaders. After a month of research, the fellows built a map interface offering info on local community groups while also deploying <a href="http://codeforamerica.org/2011/09/07/change-by-us-seattle-user-no-1/">Change by Us</a> – an online marketplace for community projects to encourage volunteerism. While the app launched initially in New York, Change By Us continues to be deployed and receive updates from a <a href="http://codeforamerica.org/2011/09/01/change-by-us/&quot;">variety of supporters</a>.</p>
    <p>This team’s most successful project was perhaps <a href="http://iconathon.org/">Iconathon</a>. Iconathon is an event series where community members create a set of graphic symbols for public domain that communicate concepts in civic design. Now supported by the Noun Project, Iconathons have created public domain symbols for concepts like&nbsp; “human rights”, “food bank”,&nbsp;“electric car”, and “sustainable energy” across the nation. To check out those icons visit <a href="http://thenounproject.com/Iconathon1/#"> The Noun Project website</a>.</p>
  </div>
  <div class="layout-minor-invert">
    <h4>2011 Apps:</h4>
    <ul class="list-no-bullets layout-grid">
      <li> <a href="http://codeforamerica.org/2011/09/07/change-by-us-seattle-user-no-1/" class="billboard"> <img class="billboard-image" src="../../media/images/app-generic.png" /> <strong class="billboard-label">Change By Us</strong> </a> </li>
      <li> <a href="http://iconathon.org" class="billboard"> <img class="billboard-image" src="../../media/images/app-generic.png" /> <strong class="billboard-label">Iconathon</strong> </a> </li>
      <li> <a href="https://vimeo.com/31446858" class="billboard"> <img class="billboard-image" src="../../media/images/app-generic.png" /> <strong class="billboard-label">City Groups</strong> </a> </li>
    </ul>
  </div>
  <h4 class="isolate">Meet the 2011 team:</h4>
  <ul class="layout-grid-crotchet list-no-bullets">
    <li>{% include people/anna-bloom.html context="2011-fellows" base="../.." %}</li>
    <li>{% include people/chacha-sikes.html context="2011-fellows" base="../.." %}</li>
    <li>{% include people/alan-palazzolo.html context="2011-fellows" base="../.." %}</li>
  </ul>
</section>

<section class="slab-gray">
  <div class="layout-semibreve">
    <header class="badge-heading badge-orange badge-fellowship">
      <h2>Articles &amp; video</h2>
    </header>
    <ul class="teasers layout-grid-crotchet">
      <li class="teaser-video">
        <a href="https://player.vimeo.com/video/31446858">
          <h3>City Groups Civic Apps Demo</h3>
          <div><iframe width="100%" height="250" src="https://player.vimeo.com/video/31446858" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
        </a>
        <span>CfA Blog</span>
        <p>Code for America fellow Chacha Sikes presents City Groups at the Code for America Summit. [&hellip;] <a href="https://player.vimeo.com/video/31446858">Watch now</a></p>
      </li>
      <li>
        <a href="http://www.codeforamerica.org/2011/09/07/change-by-us-seattle-user-no-1/">
          <h3>Change By Us: Seattle User Number 1</h3>
          <div>
            <img src="/media/images/app-generic.png" alt="Change by Us" />
            <span class="teaser-type-article">Article</span>
          </div>
        </a>
        <span>CfA Blog</span>
        <p>Change by Us is an online marketplace for community projects. The idea behind Change by Us is to empower neighbors in Seattle to coordinate offline efforts to make their city better — from building a skate park to cleaning up their street to hosting a block party. [&hellip;] <a href="http://www.codeforamerica.org/2011/09/07/change-by-us-seattle-user-no-1/">Read more</a></p></a>
      </li>
    </ul>
  </div>
</section>

<section class="slab-dark-gray layout-centered insulate-inner">
  <h2 class="text-whisper layout-centered">The 2016 Seattle Fellowship is supported by</h2>
  <p class="layout-center">The Jacob &amp; Valeria Langeloth Foundation</p>
</section>
