/* Sans serif */

$font-sans-regular: "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";

$font-serif-regular: "Sentinel A", "Sentinel B", "Sentinel Book", "Georgia", Times, sans-serif;

@mixin font-sans-regular {
    font-family: $font-sans-regular;
    font-weight: 400;
    font-style: normal;
    }

@mixin font-sans-bold {
    font-family: $font-sans-regular;
    font-weight: 700;
    font-style: normal;
    }

/* Serif */

@mixin font-serif-bold {
    font-family: $font-serif-regular;
    font-weight: 700;
    font-style: normal;
    }