@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/opensans/opensans-regular-webfont.eot');
    src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans/opensans-bold-webfont.eot');
    src: url('../fonts/opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Open Sans Extra Bold';
    src: url('../fonts/opensans/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Sentinel Book';
    src: url('../fonts/sentinel/sentinel-book.eot');
    src: url('../fonts/sentinel/sentinel-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sentinel/sentinel-book.woff') format('woff'),
         url('../fonts/sentinel/sentinel-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Sentinel Bold';
    src: url('../fonts/sentinel/sentinel-bold.eot');
    src: url('../fonts/sentinel/sentinel-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sentinel/sentinel-bold.woff') format('woff'),
         url('../fonts/sentinel/sentinel-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Sentinel Light';
    src: url('../fonts/sentinel/sentinel-light.eot');
    src: url('../fonts/sentinel/sentinel-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sentinel/sentinel-light.woff') format('woff'),
         url('../fonts/sentinel/sentinel-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

$font-serif-regular: "Sentinel Book", "Georgia", Times, sans-serif;

$font-sans-regular: "Gotham Book HTF", "Open Sans Regular", "Helvetica", "Arial";

$font-sans-bold: "Gotham A", "Gotham B", "Gotham Book HTF", "Gotham Book", "Gotham SSm A", "Open Sans Bold", "Helvetica", "Arial";

$font-serif-bold: "Sentinel Bold", "Georgia", Times, sans-serif;

$font-serif-light: "Sentinel Light", "Georgia", Times, sans-serif;

$font-extrabold: "Gotham Book HTF", "Open Sans Extra Bold", "Helvetica", "Arial";