---
layout: default
title: Vallejo
masthead-image: "../../media/images/governments/vallejo_header.jpg"
nav_tier1_active: "governments"
nav-breadcrumbs:
 - Governments: "/cities"
 - Vallejo: "/cities/vallejo"
---
  
 
    <section> 
        <div class="layout-semibreve">
    
            {% include nav-breadcrumbs.html %}

       
            <header class="badge-heading badge-blue badge-fellowship">
                <h2>
                	Vallejo
                </h2>
            </header>
            <section>
                <div class="layout-semibreve">
                    <div class="layout-gutters">
                        <p>
The Bay Area city of Vallejo has one of the most diverse population of any city in the United States. It was hit hard by the foreclosure crisis and is still recovering from municipal bankruptcy. In this context of severely limited resources and reduced staff, Vallejo is partnering with Code for America to use technology and innovation to improve public safety. With a combination of data analytics and civic engagement, the Code for America fellows will address the trust between law enforcement and Vallejo residents. 
 </p>
                   
                    </div>
                </div>
            </section>
       
        </div>
    </section>
    


    <section class="slab-blue">
        <div class="layout-semibreve">
            <div class="highlight highlight-with-avatar">
                <img class="highlight-avatar" src="../../media/images/governments/vallejo-seal.jpg" />
                <blockquote>
                    <p>
                        &ldquo;The Code for America fellowship is an opportunity for us to enhance communication and increase engagement, and to maximize public involvement and collaboration. The City Council and I are thrilled to have been selected after having made the application to Code for America a top priority this year. We look forward to the many possibilities that will surely come from this fantastic partnership.&rdquo;

                    </p>
                  <a id="2014"></a>
                </blockquote>
	                <p class="attribute">
	                    Mayor Osby Davis, Vallejo, California
	                </p>                
            </div>
        </div>

    </section>
    
    <section>
            <div class="layout-semibreve">
            <h4>Meet the team:</h4>
                <ul>
                    <li class="layout-crotchet">
                        {% include people/NAME.html context="2015-fellows" base="../.." %}
                    </li>
                    <li class="layout-crotchet">
                        {% include people/NAME.html context="2015-fellows" base="../.." %}
                    </li>
                </ul>
                <div class="layout-semibreve"><strong>Team Leads</strong>: City Manager and Joanna Altman, Administrative Analyst 


 <br/>
                <strong>Community Partners</strong>: James Irvine Foundation 
 <!--
                <p>Follow the Fellows' progress on their blog <a href="http://BLOG.tumblr.com/" target="_blank" alt="blog title">blog title</a></p>

                <p>Contribute to CITY Fellows' work on Github: <a href="https://github.com/codeforamerica/LINK" target="_blank" alt="ALT TEXT">Title</a>.</p>
	        </div>
            </div>


       </div>
    </section>

    -->