---
---

//
// SUMMIT-2015 SCSS
// 
// These custom styles are for the /summit-2015/ microsite.
// Note: Some of these styles are fresh, and some rewrite existing pattern-portfolio behavior.
//
// Layouts served: summit-2015
//

// =====
// Breakpoints
// =====

$breakpoint-tablet: 850px;
$breakpoint-mobile: 640px;

// =====
// Box-sizing
// =====

$color-summit-blue: #17618f;
$color-summit-red: #cb5156;
$color-summit-yellow: #fedd44;
$color-summit-orange: #d9813a;
$color-summit-purple: #635f9a;

// =====
// Box-sizing
// =====

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


// =====
// Override typeface settings
// =====

$font-sans-serif: 'Gotham A', 'Gotham B', "Open Sans Regular", "Verdana", "Helvetica", "Arial", sans-serif;
$font-serif: "Sentinel SSm A", "Sentinel SSm B", Georgia, Times, "Times New Roman", serif;

body {
  font-family: $font-serif;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: none;
  font-family: $font-sans-serif;
  font-weight: 700; 
  font-style: normal;

  margin-top: 0;
  margin-bottom: 1em;
}

p {
  font-family: $font-serif;
}

// =====
// New layout type: .layout-whole (like .layout-semibreve)
// =====

.layout-whole {
  // width: 100%;
  padding: 3em 8%;
  // max-width: 80em;
  // margin: 0 auto;
  float: none;
}

.layout-whole:after {
  display: table;
  content: "";
  clear: both;
}

// =====
// New layout types: .subsection
// =====

.subsection + .subsection {
  &:before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 0.5em;
    margin-top: 2em;
  }
}

// =====
// New layout type: .announcement (inset article announcing recent speaker)
// =====

.announcement {
  padding-left: 100px;
  color: white;

  @media only screen and (max-width: $breakpoint-tablet) {
    margin-top: 2em;
    padding-left: 0;
  }
}

.announcement * {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-sans-serif;
}

.announcement * + * {
  margin-top: 1em;
}

.announcement p {
  font-size: 0.8em;
}

.announcement-content {
  background-color: $color-summit-blue;
  padding: 20px;
  margin-top: -10px;
}

p.announcement-overline {
  text-transform: uppercase;
  font-size: 0.7em;
  margin-bottom: -1.5em;
  opacity: 0.8;
}

// =====
// New layout type: .section and .section-topper
// =====

// Striped color bars above each major section
.section {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    // background-color: $color-summit-red;
  }
}

.section-topper {
  margin-bottom: 2em;
}

.section-topper h5 a {
  text-transform: uppercase;
}

@mixin section-colors($requested-color) {
  &:before {
    background-color: $requested-color;
  }
  .section-topper h5 a {
    color: $requested-color;
  }
  a.button-color {
    background-color: $requested-color !important;
  }
  a.button-color:hover, .button-color:focus {
    background-color: lighten($requested-color,10%) !important;
  }
}

.section-color-red {
  @include section-colors($color-summit-red);
}

.section-color-blue {
  @include section-colors($color-summit-blue);
}

.section-color-orange {
  @include section-colors($color-summit-orange);
}

.section-color-purple {
  @include section-colors($color-summit-purple);
}

// =====
// New layout type: .pullout (custom quote style)
// =====

.pullout {
  min-height: 500px;
  position: relative;
  background-color: $color-summit-purple;
}

.pullout:before {
  content: "";
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  display: block;
  opacity: 0.2;
  
  min-height: 100%;
  width: 100%;
  max-width: none;

  background-image: url('/media/images/summit/2015/sponsor/networking.jpg');
  background-position: center center;
  background-size: cover;  
}

.pullout-content {
  position: relative;
  color: white;
}

.pullout-content > * {
  position: relative;
  z-index: 3;
  position: relative;
}

.pullout-content:before {
  background-image: url("../images/fade-black.png");
  width: 100%;
  content: "";
  height: 300px;
  position: absolute;
  display: block;
  z-index: 1;
  bottom: 0;
  left: 0;
}

// =====
// .masthead override
// =====
.masthead.masthead-custom {
  // tighten up .masthead to .nav-global-primary
  margin-top: 0;
  // padding: 25px 8%;
  padding-top: 0;

  // @media only screen and (max-width: $breakpoint-mobile) {
  //   padding: 10px 3%;
  // }
}

// =====
// .masthead-nav
// Navigation embedded inside deep masthead
// =====

.masthead-nav {
  position: relative;
  z-index: 3;
  display: block;
  margin-bottom: 4em;

  @media only screen and (max-width: $breakpoint-tablet) {
    margin-bottom: 100px;    
  }
}

.masthead-nav:after,
.masthead-nav ul:after {
  display: table;
  content: "";
  clear: both;
}

.masthead-nav ul {
  display: table;
}

.masthead-nav ul li {
  display: table-cell;
  float: left;
  margin-right: 10px;
  margin-top: 25px;
}

// anchor element

.masthead-nav ul li a {
  position: relative;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;

  border: 2px solid white;
  border-radius: 2px;

  &:hover {
    background: #fedd44;
    border-color: #fedd44;
    color: black;
    text-shadow: none;
  }
}

.masthead-nav ul li a.active {
  border-color: #fedd44;
}

// the logo

.masthead-nav ul li.masthead-nav-logo {
  width: 300px;
  // reset the margin-top on all .masthead-nav li's
  margin-top: 0;
  // more margin after the logo
  margin-right: 20px;
}

// =====
// .masthead-content
// Simpler take on the content embedded in the header (title/description)
// =====

.masthead-content {
  position: relative;
  z-index: 3;
}

.masthead-content *,
.masthead-content h1 {
  text-align: left;
}

h1.masthead-content-title {
  font-family: $font-sans-serif;
  letter-spacing: 0;

  @media only screen and (max-width: $breakpoint-mobile) {
    font-size: 40px;
    line-height: 40px;
    color: white;
  }
}

p.masthead-content-overline {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: $font-serif;

  @media only screen and (max-width: $breakpoint-mobile) {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

p.masthead-content-description {
  font-size: 20px;
  line-height: 35px;
  font-family: $font-serif;
  max-width: 800px;

  @media only screen and (max-width: $breakpoint-tablet) {
    font-size: 16px;
    line-height: 28px;
  }
  @media only screen and (max-width: $breakpoint-mobile) {
    font-size: 14px;
    line-height: 25px;
  }
}