---
---

//
// SUMMIT-2015 SCSS
//
// These custom styles are for the /summit-2015/ microsite.
// Note: Some of these styles are fresh, and some rewrite existing pattern-portfolio behavior.
//
// Layouts served: summit-2015
//

// =====
// Breakpoints
// =====

$breakpoint-tablet: 850px;
$breakpoint-mobile: 640px;

// =====
// .masthead override
// =====
.masthead.masthead-custom {
  // tighten up .masthead to .nav-global-primary
  margin-top: 0;
  padding: 25px 8%;

  @media only screen and (max-width: $breakpoint-mobile) {
    padding: 10px 3%;
  }
}

// =====
// .masthead-nav
// Navigation embedded inside deep masthead
// =====

.masthead-nav {
  position: relative;
  z-index: 3;
  display: block;
  margin-bottom: 100px;

  @media only screen and (max-width: $breakpoint-tablet) {
    margin-bottom: 50px;
  }
}

.masthead-nav:after,
.masthead-nav ul:after {
  display: table;
  content: "";
  clear: both;
}

.masthead-nav ul {
  display: table;
}

.masthead-nav ul li {
  display: table-cell;
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}

// anchor element
.masthead-nav ul li a {
  position: relative;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;

  border: 2px solid white;
  border-radius: 2px;
  font-size: 0.9em;

  &:hover {
    background: #fedd44;
    border-color: #fedd44;
    color: black;
    text-shadow: none;
  }
}

@media screen and (max-width: 1145px) {
  .masthead-pages {
    width: 100%;
    &:before, &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .masthead-nav ul li {
    margin-top: 10px;
  }
  .masthead-nav ul li a {
    font-size: 0.8em;
  }
}

.masthead-nav ul li a.active {
  border-color: #fedd44;
}

// the logo -- unstyled

.masthead-nav ul li a.logo-unstyled {
  position: relative;
  padding: 0;
  color: white;
  text-transform: none;

  border: none;
  border-radius: none;

  &:hover {
    background: transparent;
    border-color: none;
    text-shadow: none;
  }
}

// the logo

.masthead-nav ul li.masthead-nav-logo {
  width: 300px;
  // reset the margin-top on all .masthead-nav li's
  margin-top: 0;
  // more margin after the logo
  margin-right: 20px;
}

// =====
// .masthead-content
// Simpler take on the content embedded in the header (title/description)
// =====

.masthead-content {
  position: relative;
  z-index: 3;
}

.masthead-content *,
.masthead-content h1 {
  text-align: left;
}

h1.masthead-content-title {
  @media only screen and (max-width: $breakpoint-mobile) {
    font-size: 40px;
    line-height: 40px;
    color: white;
  }
}

p.masthead-content-overline {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  @media only screen and (max-width: $breakpoint-mobile) {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

p.masthead-content-description {
  font-size: 20px;
  line-height: 35px;
  font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
  max-width: 800px;

  @media only screen and (max-width: $breakpoint-tablet) {
    font-size: 16px;
    line-height: 28px;
  }
  @media only screen and (max-width: $breakpoint-mobile) {
    font-size: 14px;
    line-height: 25px;
  }
}

// =====
// Sponsor banner module, for the little sponsor banners throughout
// =====
.sponsor-banner {
  display: none;
}
.sponsor-banner.sponsor-baner-visible {
  display: block;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.sponsor-banner p {
  text-align: center;
  margin: 0;
  padding-bottom: 0.4em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.6em;
  line-height: 1.2;
}
.sponsor-banner img {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: -10px;
}
