---
---

//
// TALENT SCSS
// 
// These custom styles are for the /talent/ microsite.
// Note: Some of these styles are fresh, and some rewrite existing pattern-portfolio behavior.
//
// Layouts served: talent
//

// ###### MEDIA QUERY BREAKPOINTS + COLORS ######

$breakpoint-tablet: 850px;
$breakpoint-mobile: 640px;

$color-medium-red: #aa1c3a;
$color-yellow: #fedd44;
$color-medium-gray: #999595;

// ###### TALENT ######

// ## Styles for the nav and masthead ##

// Make header flush with content below
.global-header {
  margin-bottom: 0;
}

// Style the masthead
$masthead-desktop-depth: calc(100vh - 96px); // Minimum depth of masthead on desktop
$masthead-tablet-depth: 350px;
$masthead-mobile-depth: 300px;

.masthead:before {
  // Custom background image in the masthead
  // background-image: url('../media/images/speakers/jake-gif-smaller.gif');
  background-size: cover;
  // min-height: $masthead-desktop-depth;
  opacity: 0.3;
}
.masthead {
  // Deeper masthead
  // min-height: $masthead-desktop-depth;
  // Blue color the masthead image fades into
  background-color: #004b6a;
}

// Big masthead
.masthead-l {
  min-height: $masthead-desktop-depth;
}
.masthead-l:before {
  min-height: $masthead-desktop-depth;
}

.masthead-l .masthead-header {
  // Make the header tight to the top
  margin-top: 50px;
}
.masthead-l .page-title {
  // Restyle the page header text
  font-size: 65px;
  line-height: 80px;
  letter-spacing: -1px;
  line-height: 4.0625rem;
  margin-top: 0;
  text-transform: none;
}

// Create a custom content module for the masthead
.on-top {
  // Position content above image/overlays
  position: relative;
  z-index: 3;
}

.talent-description {
  // Absolutely position featured 
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 180px;

  p {
    font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
    font-size: 20px;
    line-height: 35px;
  }
}

// Text styles for the description
.featured-speaker {
  
  p {
    font-size: 17px;
    line-height: 30px;
  }

  .featured-name {
    // Style the name
    font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
    letter-spacing: -3px;
    font-weight: 200;
    text-transform: none;
    font-size: 85px;
    line-height: 85px;

    margin-top: 0;
    margin-bottom: 0;
  }

  .featured-name a {
    // Make the name white
    color: white;
  }

  .featured-name a:hover {
    // On hover, make the underline white
    padding-bottom: 0;
    border-bottom: 2px solid white;
  }

  .featured-description span a {
    // Color and hover line color for title in the description
    color: $color-yellow;
    &:hover {
      border-color: $color-yellow;
    }
  } // end .featured-description span a

}

// Responsive header code

@media only screen and (max-width: $breakpoint-tablet) {
  
  // On tablet, featured speaker spans all the way across
  .featured-speaker {
    text-align: center;
    left: 10%;
    bottom: 10%;
    width: 80%;
  }

}

@media only screen and (max-width: $breakpoint-mobile) {

  .masthead:before {
    // On mobile, don't hide our photo
    display: inherit;
    min-height: $masthead-mobile-depth;
    opacity: 1; 
  }
  .masthead {
    overflow: visible;
    background-color: transparent;
  }

  // Big masthead
  .masthead-l {
    min-height: $masthead-mobile-depth;
  }
  .masthead-l:before {
    min-height: $masthead-mobile-depth;
  }
  .masthead-l .masthead-header {
    text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
  }
  .masthead-l h1.page-title {
    color: white;
  }

  // Small masthead
  .masthead-s:before {
    position: relative;
    min-height: 100px;
  }
  .masthead-s .masthead-header {
    text-shadow: none;
  }
  .masthead-s .masthead-header h1 {
    color: $color-medium-red;
  }
  .overline {
    display: none; // Hide overline on mobile
  }

  .featured-speaker {
    position: relative;
    padding-top: 325px;

    text-align: center;
    left: auto;
    bottom: auto;

    margin-left: 5%;
    width: 90%;

    .featured-name { 
      float: none;
      text-align: center;
      font-size: 30px;
      line-height: 30px;
      letter-spacing: -1px;
    }

    .featured-name a {
      color: #999595;
      width: 100%;
    }
    .featured-name a:hover {
      border-color: #999595;
    }

    .featured-description {
      font-style: italic;
      color: $color-medium-gray;
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 50px;
    }

    .featured-description span a {
      // Color and hover line color for title in the description
      color: $color-medium-red;
      &:hover {
        border-color: $color-medium-red;
      }
    } // end .featured-description span a

  } // end .featured-speaker

}

p.overline {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
}

div.downarrow {
  img {
    margin-top: 10px;
    width: 30px;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}
