---
layout: default
title: Albuquerque
masthead-image: "../../media/images/governments/albuquerque_header.jpg"
nav_tier1_active: "governments"
nav-breadcrumbs:
 - Governments: "/cities"
 - Albuquerque: "/cities/albuquerque"
---
  
{% include blogposts.html category='albuquerque' %}

    <section> 
        <div class="layout-semibreve">
    
            {% include nav-breadcrumbs.html %}

       
            <header class="badge-heading badge-blue badge-fellowship">
                <h2>
                	Albuquerque
                </h2>
            </header>

  <section class="layout-semibreve">
    	<div class="layout-minim">
                        <p>Code for America has partnered with the Albuquerque Mayor’s Office to research and build interventions addressing the barriers that residents face in accessing critical information, services, and employment opportunities. The Code for America fellows are testing and developing technology solutions that facilitate upward mobility for Albuquerque residents.</p>
                    </div>
        <div class="layout-minim">
        	<img src="/blob/city_page_updates/media/images/governments/albuquerque-news.JPG"/>
        	</div>
   </section>
        </div>
    </section>
    


    <section class="slab-blue">
        <div class="layout-semibreve">
            <div class="highlight highlight-with-avatar">
                <img class="highlight-avatar" src="../../media/images/governments/albuquerque-seal.png" />
                <blockquote>
                    <p>
                        &ldquo;We are delighted to welcome the 2015 Code for America fellows to Albuquerque. We look forward to collaborating with the fellows to identify ways in which we can match citizens in need with critical information and services. This exciting collaboration between the City of Albuquerque, the fellows, and our community will build digital capabilities in the city and continue to strengthen Albuquerque’s position as an innovative place to live, thrive, and do business.&rdquo;

                    </p>
                  <a id="2014"></a>
                </blockquote>
	                <p class="attribute">
	                    Mayor Richard J. Berry, Albuquerque, New Mexico
	                </p>                
            </div>
        </div>

    </section>
    
     <section>
    	<div class="layout-semibreve">
    		<header class="badge-heading badge-red badge-fellowship">
    			<h2>The 2015 Fellowship in Somerville</h2></header>
    		<div align="center">			
    			<p>A key outcome of the fellowship is to connect the dots and standardize some of the communications and data being shared between the city and its residents around economic development departments, initiatives, and community partners. The city would also like to see the fellows ‘refresh’ some of the technology now used for skills based hiring, including hiring within city hall. Another key objective is to improve access to talent for small businesses moving to or operating out of the metro area.</p>
    			<a href="http://codeforamerica.github.io/abq-midyear/" class="button button-bold button-l" >Read the Midyear Report</a>	
    		</div>
    	</div>
    </section>
    
    <section>
            <div class="layout-semibreve">
            <h4>Meet the team:</h4>
                <ul>
                    <li class="layout-crotchet">
                        {% include people/william-tyner.html context="2015-fellows" base="../.." %}
                    </li>
                      <li class="layout-crotchet">
                        {% include people/yaniv-zimet.html context="2015-fellows" base="../.." %}
                    </li>
                      <li class="layout-crotchet">
                        {% include people/jennings-hanna.html context="2015-fellows" base="../.." %}
                    </li>
                
                </ul>
                <div class="layout-semibreve"><strong>Team Leads</strong>: Mark Leech, Application Services Group Manager; Gary Oppedahl, Director of Economic Development; and Gilbert Montano, Chief of Staff 
 <br/>
                <!--<strong>Community Partners</strong>: McCune, Abelard LOI, United Way
 <!--
                <p>Follow the Fellows' progress on their blog <a href="http://BLOG.tumblr.com/" target="_blank" alt="blog title">blog title</a></p>

                <p>Contribute to CITY Fellows' work on Github: <a href="https://github.com/codeforamerica/LINK" target="_blank" alt="ALT TEXT">Title</a>.</p>-->
	        </div>
            </div>


    
    </section>

<div id="js-blogposts"></div>
