---
layout: default
title: Albuquerque
masthead-image: "../../media/images/governments/albuquerque_header.jpg"
nav_tier1_active: "governments"
nav-breadcrumbs:
 - Governments: "/cities"
 - Albuquerque: "/cities/albuquerque"
---
  
{% include blogposts.html category='albuquerque' %}

    <section class="layout-semibreve"> 
            {% include nav-breadcrumbs.html %}
            <header class="badge-heading badge-blue badge-fellowship">
                <h2>Albuquerque</h2>
            </header>
    	<div class="layout-minim">
           <p>Code for America has partnered with the Albuquerque Mayor’s Office to research and build interventions addressing the barriers that residents face in accessing critical information, services, and employment opportunities. The Code for America fellows are testing and developing technology solutions that facilitate upward mobility for Albuquerque residents.</p>
         </div>
        <div class="layout-minim">
        	<img src="/media/images/governments/albuquerque-news.JPG" alt>
        </div>
    </section>

<section class="slab-blue">
        <div class="layout-semibreve">
            <div class="highlight highlight-with-avatar">
                <img class="highlight-avatar" src="../../media/images/governments/albuquerque-seal.png" />
                <blockquote>
                    <p>
                        &ldquo;We are delighted to welcome the 2015 Code for America fellows to Albuquerque. We look forward to collaborating with the fellows to identify ways in which we can match citizens in need with critical information and services. This exciting collaboration between the City of Albuquerque, the fellows, and our community will build digital capabilities in the city and continue to strengthen Albuquerque’s position as an innovative place to live, thrive, and do business.&rdquo;
                    </p>
                  <a id="2014"></a>
                </blockquote>
	                <p class="attribute">
	                    Mayor Richard J. Berry, Albuquerque, New Mexico
	                </p>                
            </div>
        </div>
</section>
    
     <section class="layout-semibreve">
    		<header class="badge-heading badge-red badge-fellowship">
    			<h2>The 2015 Fellowship in Albuquerque</h2>
    			</header>
    		<div align="center">			
    			<p>A key outcome of the fellowship is to connect the dots and standardize some of the communications and data being shared between the city and its residents around economic development departments, initiatives, and community partners. The city would also like to see the fellows ‘refresh’ some of the technology now used for skills based hiring, including hiring within city hall. Another key objective is to improve access to talent for small businesses moving to or operating out of the metro area.</p>
    			<a href="http://codeforamerica.github.io/abq-midyear/" class="button button-bold button-l" >Read the Midyear Report</a>	
    		</div>
    </section>
    
    <section class="layout-semibreve">
            <h4>Meet the team:</h4>
                <ul class="layout-grid-crotchet list-no-bullets">
                    <li>
                        {% include people/william-tyner.html context="2015-fellows" base="../.." %}
                    </li>
                      <li>
                        {% include people/yaniv-zimet.html context="2015-fellows" base="../.." %}
                    </li>
                      <li>
                        {% include people/jennings-hanna.html context="2015-fellows" base="../.." %}
                    </li>
                </ul>
                <div class="layout-semibreve">
                	<p><strong>Team Leads</strong>: Mark Leech, Application Services Group Manager; Gary Oppedahl, Director of Economic Development; and Gilbert Montano, Chief of Staff </p>
			<p><strong>Community Partners</strong>: McCune, Abelard LOI, United Way</p>
 <!--
                <p>Follow the Fellows' progress on their blog <a href="http://BLOG.tumblr.com/" target="_blank" alt="blog title">blog title</a></p>
                <p>Contribute to CITY Fellows' work on Github: <a href="https://github.com/codeforamerica/LINK" target="_blank" alt="ALT TEXT">Title</a>.</p>-->
	        </div>
    </section>
    
<section class="slab-grey">
<div class="layout-semibreve">
  <header class="badge-heading badge-orange badge-fellowship">
    <h2>Articles &amp; video</h2>
  </header>

  <ul class="teasers layout-grid-crotchet">
    <li>
      <a href="http://www.bizjournals.com/albuquerque/blog/bizventures/2015/02/three-code-for-america-fellows-to-create-new-apps.html">
        <h3>'Three Code for America fellows to create new apps for city services'</h3>
        <div>
          <img alt="BIZVENTURES article" src="/media/images/fellowship-media-coverage/albuquerque-bizventures.jpg"/>
          <span class="teaser-type-article">Article</span>
        </div>
      </a>
      <span>BIZVENTURES</span>
      <p>On Tuesday morning, Mayor Richard Berry announced that William Tyner, Yaniv Zimet and Jennings Hanna have been named Code for America fellows and will join the city to create new apps. [&hellip;] <a href="http://www.bizjournals.com/albuquerque/blog/bizventures/2015/02/three-code-for-america-fellows-to-create-new-apps.html">Read more</a></p>
    </li>
     <li>
      <a href="http://krqe.com/2015/02/19/mayor-berry-introduces-code-for-america-fellowship/">
        <h3>'Mayor Berry introduces Code For America fellowship'</h3>
        <div>
          <img alt="KRQE News 13 video" src="/media/images/fellowship-media-coverage/albuquerque-mayoral-intro.jpg"/>
          <span class="teaser-type-article">Article</span>
        </div>
      </a>
      <span>KRQE News 13</span>
      <p>Around two weeks ago, Mayor Richard Berry welcomed a team of technology experts to Albuquerque for the 2015 Code for America Fellowship program. The Fellowship pairs local governments with teams of mid-career, civic-minded technologists for one year. [&hellip;] <a href="http://krqe.com/2015/02/19/mayor-berry-introduces-code-for-america-fellowship/">Read more</a></p>
    </li>
  </ul>
</div>
</section>

<div id="js-blogposts"></div>
