body {
    font-size: 16px;
    }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
details { 
    display:block;
}

abbr {
    border-bottom: 1px dotted;
    @include border-color($color-medium-gray, 1);
    }

abbr:hover {
    cursor: help;
    }

img {
    max-width: 100%;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-serif-bold;
    font-weight: normal;
}

h1 {
    font-size: 2em;
    
    }

h2 {
    font-size: 1.8em;
    margin: 0 0 0.8em;
    }

h3 {
    font-size: 1.6em;
    }

h4 {
    font-size: 1.4em;
    }

p,
ul,
ol,
dl {
    line-height: 1.5em;
    margin: 1em 0;
    }

ol {
    margin: 0.5em 0 0.5em 1.4em;
    }

ul {
    margin: 0.5em 0 0.5em 1.25em;
    }

ol li {
    list-style-type: decimal;
    }

ul li {
    list-style-type: square;
    }

strong {
    font-weight: bold;
    }

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    @include color($color-corporate-blue, 1);
    text-decoration: none;
    }

a:hover,
a:focus,
a:active {
    @include color($color-corporate-blue, 0.7);
    }



input[type="text"][disabled] {
    @include background-color($color-light-gray, 0.5);
}

code,
.code {
    font-family: Menlo,Monaco,'Courier New',Courier,monospace;
    }


mark {
    @include background-color($color-yellow, 1);
    padding: 0 0.1em;
    border-radius: 0.1em;
    }

kbd {
    @include background-color($color-light-gray, 0.8);
    padding: 0.5em 0.5em 0.4em;
    border-radius: 0.3em;
    }

pre {
    white-space: pre-wrap;
    }

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 2em;
	font-family: $font-sans-regular;
    }
caption {
	caption-side: bottom;
	color: #999;
	font-size: 0.75em; /* 12px */
	line-height: 1.3334; /* 16px */
	text-align: left;
	margin: 1em 0; /* 12px 0 */
    }
table {
    width: 100%;
    table-layout: fixed;
    }

td, th {
	text-align: left;
	border-bottom: 1px solid #e9e9e9;
	padding: 0.375em 2em 0.375em 0; /* 6px 32px 6px 0 */
	vertical-align: top;
    }
th {
	font-weight: 700;
	padding-bottom: 0.5em; /* 8px */
    }
thead th {
	border-bottom: 2px solid #ddd;
    }

tbody {
    border-bottom: 2px solid #e9e9e9;
    }

tfoot,
thead {
    font-size: 1.5em;
    text-transform: uppercase;
    }
tfoot tr:last-child td,
tfoot tr:last-child th {
    border-bottom: none;
    }

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    }

.caption {
    font-size: 0.8em;
    @include color($color-medium-gray, 1);
    vertical-align: middle;
    }

blockquote {
    margin: 0;
    }

form {
    font-family: $font-sans-regular;
    }

label {
    margin-bottom: 0.3em;
    }

select {
    -webkit-appearance: none;
    min-width: 150px;
    }