@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

$font-regular: "Gotham Book HTF", "Open Sans Regular", "Helvetica", "Arial"!important;

body {
    font-family: $font-regular;
    }

h1 {
    font-family: $font-regular;
    font-weight: bold;
    }

