textarea,
input,
select {
    border-width: 1px;
    border-style: solid;
    @include border-color($color-medium-gray, 0.5);
    border-radius: 0.2em;
    margin-bottom: 1em;
    font-family: $font-sans-regular;
    }

input,
select {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0 0.5em 0 0;
    padding: 0.54em 0.5em;
    vertical-align: middle;
    }

label {
    display: block;
    margin-right: 0.5em;
    text-transform: uppercase;
    @include color($color-medium-gray, 0.8);
    vertical-align: middle;
    }

textarea:focus,
input:focus {
    @include border-color($color-dark-blue, 1);
    outline: 0;
    }

input:valid {
    color: green;
    }

input:valid ~ .input-validation::before {
    content: "✓";
    color: green;
    }

input:invalid {
    color: red;
    }

abbr[title="required"],
abbr[title="Required"] {
    @include color($color-corporate-red, 0.8);
    border-bottom: none;
    }

textarea {
    max-width: 98%;
    padding: 1em 1%;
    font-size: 1em;
    margin: 0;
    }

textarea[disabled] {
    cursor: not-allowed;
    @include background-color($color-light-gray, 0.5);
    }

video {
    max-width: 100%;
    }

fieldset {
    border: none;
    }

select {
    font-size: 1em;
    line-height: 1.4em;
    }

select[disabled] {
    cursor: not-allowed;
    @include background-color($color-light-gray, 0.5);
    }
