/* line 1, ../../scss/patterns/flags.scss */
.cfa-tag {
  background-image: url("/images/tag-black.png");
  text-indent: -99999px;
  display: block;
  background-size: 90px;
  width: 100px;
}

/* line 9, ../../scss/patterns/flags.scss */
.cfa-tag-red {
  background-image: url("/images/tag-red.png");
}

/* line 13, ../../scss/patterns/flags.scss */
.cfa-tag-blue {
  background-image: url("/images/tag-blue.png");
}

/* line 17, ../../scss/patterns/flags.scss */
.cfa-tag-gray {
  background-image: url("/images/tag-gray.png");
}
