/* line 1, ../../scss/patterns/nav-footer.scss */
.nav-footer {
  float: left;
  width: 100%;
}

/* line 7, ../../scss/patterns/nav-footer.scss */
.nav-footer ul,
.nav-footer ul ul {
  margin: 0;
}

/* line 12, ../../scss/patterns/nav-footer.scss */
.nav-footer > ul {
  padding: 0;
}

/* line 16, ../../scss/patterns/nav-footer.scss */
.nav-footer .nav-tier1 {
  float: left;
  margin-bottom: 1.5em;
  width: 96%;
}

@media (min-width: 30em) and (max-width: 50em) {
  /* line 23, ../../scss/patterns/nav-footer.scss */
  .nav-footer .nav-tier1 {
    float: left;
    margin-bottom: 1.5em;
    width: 50%;
  }

  /* line 29, ../../scss/patterns/nav-footer.scss */
  .nav-footer .nav-tier1:nth-of-type(2n+2) {
    clear: both;
  }
}
/* line 34, ../../scss/patterns/nav-footer.scss */
.nav-footer .nav-tier1:first-child {
  display: none;
}
