/* line 3, ../../scss/patterns/nav.scss */
nav a:hover,
nav a:focus,
nav a:active {
  border-bottom: none;
}

/* line 7, ../../scss/patterns/nav.scss */
nav ul li {
  background-image: none;
  padding-left: 0;
}
