@media (min-width: 40em) and (min-height: 30em) {
  /* line 3, ../../scss/patterns/sticky-nav.scss */
  .sticky {
    position: fixed;
    margin-top: 2.25em;
    top: 0;
    padding: 0.5em 0;
  }

  /* line 10, ../../scss/patterns/sticky-nav.scss */
  .sticky + main {
    margin-top: 6em;
  }

  /* line 14, ../../scss/patterns/sticky-nav.scss */
  .sticky .global-header-logo {
    width: 90px;
  }

  /* line 18, ../../scss/patterns/sticky-nav.scss */
  .sticky .nav-global-secondary {
    margin-top: 0.18em;
  }
}
