@media (min-width: 40em) {
  /* line 2, ../../scss/patterns/wodge-small.scss */
  .wodge-s .wodge-button {
    margin-left: 150px;
  }
}
@media (min-width: 60em) {
  /* line 9, ../../scss/patterns/wodge-small.scss */
  .wodge-s .wodge-button {
    float: right;
    margin-left: 0;
  }

  /* line 14, ../../scss/patterns/wodge-small.scss */
  .wodge-s .wodge-button .button {
    min-width: 7em;
    margin-left: 0.35em;
  }

  /* line 19, ../../scss/patterns/wodge-small.scss */
  .wodge-s .wodge-header {
    float: left;
    margin-right: 0;
    width: 50%;
  }
}
