---
layout: default
title: RVA Community Partners
masthead-image: "../../media/images/governments/richmond_header.jpg"
nav_tier1_active: "governments"
nav-breadcrumbs:
 - Governments: "/cities"
 - RVA Community Partners: "/cities/rva-community-partners"
---

{% include blogposts.html category='rva-community-partners' %}
 
    <section> 
        <div class="layout-semibreve">
    
            {% include nav-breadcrumbs.html %}

       
            <header class="badge-heading badge-blue badge-fellowship">
                <h2>
                	RVA Community Partners in Richmond, Virginia
                </h2>
            </header>
            <section>
                <div class="layout-semibreve">
                    <div class="layout-gutters">
                        <p>
More than one in four Richmond residents live in poverty. Many have minimal or no access to basic healthcare, causing illness and disease, that if left untreated, puts unnecessary burdens on the city's emergency rooms and hospitals. With the passing of the Affordable Care Act, it is important for newly enrolled residents to be empowered to take control of their health. The Code for America fellows will work to leverage and align the many components of Richmond's many healthcare systems to better serve the needs of low-income residents.
 </p>
                   
                    </div>
                </div>
            </section>
       
        </div>
    </section>
    


    <section class="slab-blue">
        <div class="layout-semibreve">
            <div class="highlight highlight-with-avatar">
                <img class="highlight-avatar" src="../../media/images/governments/richmond-seal.png" />
                <blockquote>
                    <p>
                        &ldquo;On behalf of leaders across the Richmond region, we are thrilled to be working with CfA to integrate technology and innovation into our approach to improve healthcare access and utilization by our vulnerable populations.  We have an unprecedented opportunity to bring together healthcare, philanthropy, the technology sector and government to engage our community residents in the design of a solution that will fundamentally change the way we interact with the healthcare system.&rdquo;

                    </p>
                  <a id="2014"></a>
                </blockquote>
	                <p class="attribute">
	                     Danny Avula, Deputy Director of the Richmond City Health Department
	                </p>                
            </div>
        </div>

    </section>
    
    <section>
            <div class="layout-semibreve">
            <h4>Meet the team:</h4>
                <ul>
                    <li class="layout-crotchet">
                        {% include people/ben-golder.html context="2015-fellows" base="../.." %}
                    </li>
                    <li class="layout-crotchet">
                        {% include people/emma-smithayer.html context="2015-fellows" base="../.." %}
                    </li>
                    <li class="layout-crotchet">
                        {% include people/sam-matthews.html context="2015-fellows" base="../.." %}
                    </li>
                </ul>
                <div class="layout-semibreve"><strong>Team Leads</strong>: Andreas Addison, Chief Innovation Officer and Danny Avula, Deputy Director, Richmond City Health Department



 <br/>
                <strong>Community Partners</strong>: Bon Secours, Richmond Memorial Health Foundation, VCU Health Systems, Jenkins Foundation, The Community Foundation Serving Richmond and Central Virginia 

 <!--
                <p>Follow the Fellows' progress on their blog <a href="http://BLOG.tumblr.com/" target="_blank" alt="blog title">blog title</a></p>

                <p>Contribute to CITY Fellows' work on GitHub: <a href="https://github.com/codeforamerica/LINK" target="_blank" alt="ALT TEXT">Title</a>.</p> -->
	        </div>
            </div>


      
    </section>

<div id="js-blogposts"></div>