h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-serif-bold;
    font-weight: normal;
    margin: 0 0 0.5em 0;
}

h1,
.h1,
h2,
.h2 {
    font-size: 40px;
    line-height: 44px;
    font-family: $font-serif-bold;
    text-transform: none;
    }

h3,
.h3 {
    font-size: 30px;
    font-family: $font-serif-bold;
    }

h4,
.h4 {
    font-size: 24px;
    font-family: $font-serif-bold;
    }

h5,
h6,
.h5,
.h6 {
    font-size: 22px;
    font-family: $font-sans-regular;
    text-transform: uppercase;
    }
