ol,
ul {
    @include rem(margin, 8px 0 24px);
    @include rem(padding, 0 0 0 35px);
    }

ul {
    padding-left: 0;
    }

ol li {
    list-style-type: decimal;
    }

ul li {
    background-image: url("../images/bullet.gif");
    background-repeat: no-repeat;
    list-style-type: none;
    background-position: left 0.63em;
    padding-left: 1.3em;
    }

	@media print {
		ul li {
			background-image: none;
			list-style-type: square;
			padding-left: 0;
			}
		}

.list-minim {
	-webkit-column-count: 2;
	column-count: 2;
	}

.list-crotchet {
	-webkit-column-count: 3;
	column-count: 3;
	}