table {
    width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 2em;
    }
caption {
	caption-side: bottom;
	color: #999;
	font-size: 0.75em; /* 12px */
	line-height: 1.3334; /* 16px */
	text-align: left;
	margin: 1em 0; /* 12px 0 */
    }

td, th {
	text-align: left;
	border-bottom: 1px solid #e9e9e9;
	padding: 0.375em 2em 0.375em 0; /* 6px 32px 6px 0 */
	vertical-align: top;
	min-width: 50px;
    }
th {
	font-weight: 700;
	padding-bottom: 0.5em; /* 8px */
	color: $color-gray;
    }
thead th {
	border-bottom: 2px solid #ddd;
    }

tbody {
    border-bottom: 2px solid #e9e9e9;
    }

tfoot,
thead {
    font-size: 1.5em;
    text-transform: uppercase;
    }
tfoot tr:last-child td,
tfoot tr:last-child th {
    border-bottom: none;
    }

.table-unstyled tbody,
.table-unstyled td,
.table-unstyled th {
	border: none;
	}

.table-spread {
	table-layout: fixed;
	}

.table-minor {
	@include rem(font-size, 13px);
	}