---
layout: default
title: 2015 Fellows
nav_tier1_active: "citizens"
masthead-image: "../../../media/images/geeks/fellowship2014_header.jpg"
nav-breadcrumbs:
 - citizens: "/geeks"
 - our geeks: "/geeks/our-geeks"
 - 2015 fellows: "/geeks/our-geeks/2015-fellows"
---
    
    <section>

    <div class="layout-semibreve">
    
	{% include nav-breadcrumbs.html %}
            
            <header class="badge-heading badge-fellowship badge-blue">
                <h2>Become a Fellow</h2>
            </header>
            
            <section>
            <div class="layout-gutters isolate">
                
                <p>Meet the 24 civic superheroes who have taken leave from jobs at tech companies, their own businesses, and government, to pursue a year of using their skills for the public good. We’re incredibly grateful that they choose to help make government work for the people, by the people, in the 21st century. <a href="http://www.codeforamerica.org/blog/2014/10/16/2015-fellowship-applications-by-the-numbers/">Learn more about the 2015 fellowship selection process.</a></p>
                
    
                <ul class="list-inline list-no-bullets layout-centered"> 
                    <li><a href="../../../geeks/fellowship-faq/#eligibility" class="button">Eligibility and Selection</a></li>
                    <li><a href="../../../geeks/fellowship-faq/#appsandtraining" class="button">Apps and Training</a></li>
                    <li><a href="../../../geeks/fellowship-faq/#timing" class="button">See the Timeline</a></li>
                </ul>
            
            </div>
            
            </section>
            
            <section>
                
                <div class="layout-breve">
                
                    <h2 class="layout-centered h3 isolate">Meet the 2015 Fellows</h2>
                    
                    <ul>
                        <li class="layout-crotchet">
                            {% include people/alex-soble.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/amir-hadjihabib.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/andrew-schneider.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/ben-golder.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/ben-smithgall.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/chris-reade.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/emma-smithayer.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/ernie-hsiung.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/grant-smith.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/imanol-aranzadi.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/jazmyn-latimer.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/jennings-hanna.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/laura-ellena.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/mari-muraki.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/mathias-gibson.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/natasha-fountain.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/nikki-zeichner.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/patrick-hammons.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/tiffany-andrews.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/sophia-dengo.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/sam-matthews.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/shelly-ni.html context="2015-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/william-tyner.html context="2015-fellows" base="../../.." %}
                        </li>
                        
                       
                    </ul>
                
                </div>
                
            </section>
            
    </div>

</section>