.layout-centered {
    text-align: center;
    }

.layout-crotchet,
.layout-crotchet-staccato,
.layout-minim,
.layout-minim-staccato {
    width: 100%;
    float: none;
    clear: both;
    }

.layout-chimney .layout-minim-staccato {
	width: 92%;
	padding: 1em 4%;
	max-width: 30em;
	margin: 0 auto;
	}

.layout-chimney .layout-minim-staccato.chimney {
	max-width: 92%;
	}



.layout-col {
    margin-left: 0;
    background-image: none;
    }

.layout-semibreve,
.layout-breve {
    width: 92%;
    padding: 0 4%;
    max-width: 60em;
    margin: 1em auto;
    clear: both;
    display: table;
    }

