.xx {
    padding: 0;
    margin: 0;
    background-color: white;
    }

.xx .js-container {
    display: none;
    }
    
.xx-options {
    background-color: #f1f1f1;
    padding: 0.5em 0;
    width:  100%;
    z-index: 3;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #ddd;
    }

.xx-options .xx-nav {
    padding: 0;
    margin: 0;
    display: none;
    font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
    }

.js .xx-options .xx-nav {
    display: block;
    }
    
    @media (min-width: 40em) {
        .xx-options .xx-nav {
        margin: 1em 0 6em;
        }
    }

.xx-options .xx-nav li {
    list-style-type: none;
    margin: 0;
    width: 100%;
    font-size: 1em;
    }
    
    @media (min-width: 40em) {
    }

.xx-options .xx-nav .text-whisper,
.xx-options .xx-nav li a {
    padding: 0.8em 1em;
    display: block;
    line-height: 1.4em;
    text-align: center;
    }
    
    @media (min-width: 40em) {
    .xx-options .xx-nav .text-whisper,
    .xx-options .xx-nav li a {
        padding: 0.2em 5% 0.2em 15%;
        text-align: left;
        }
        
    }

.xx-nav .text-whisper {
    padding: 1em 1.25em 0;
    color: #aaa;
    margin: 0 0 0.3em;
    clear: both;
    }

.xx-nav ol {
    margin-bottom: 1em;
    }

.xx-container {
    width: 96%;
    padding: 1em 2%;
    background-color: white;
    }

.xx-title {
    padding: 100px 2.5% 50px;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    }

.xx-cfa-logo {
    display: block;
    margin: 0;
    width: 150px;
    float: left;
    }

.xx-cfa-logo:hover,
.xx-cfa-logo:focus,
.xx-cfa-logo:active {
    border-bottom: none;
    }

.xx-cfa-logo img {
    width: 70%;
    margin: 0 auto;
    display: block;
    }

.xx-section {
    clear: both;
    padding-top: 1em;
    }

.xx-section-title {
    font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
        font-weight: 700;
        font-style: normal;
    margin: 1em 0 1em;
    font-size: 25px;
    text-transform: uppercase;
    clear: both;
    display: block;
    float: left;
    width: 100%;
    }

.xx-options button {
    margin-top: 6px;
    
}

.xx-nav ol {
    margin: 0;
    padding: 0;
    }

.xx-link-special {
    
    }

.xx .nav-global-primary {
    position: relative;
    }

.xx-pattern-layout {
    margin-bottom: 1em;
    float: left;
    width: 100%;
    
    }

.xx-pattern-layout div,
.xx-pattern-layout li {
    background-color: #eee;
    color: #777;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 80px;
    outline: 1px dashed #ccc;
    line-height: 22px;
    background-image: none;
    }
   
.xx-pattern-layout div p,
.xx-pattern-layout li {
	margin-bottom: 0;
	font-size: 0.8em;
	}

.xx-pattern-layout div p {
	font-family: "Monaco", "Courier" monospace;
	}
   
.xx-pattern-layout div div {
    background-color: #ddd;
    border-bottom: 1px dashed #ccc;
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666;
    }
   
.xx-pattern-layout p {
	line-height: 1.2em;
	}

.xx .list-swatches {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.xx .swatch {
    float: left;
    margin-bottom: 1em;
    width: 96%;
    margin-right: 2%;
    background-color: #fff;
    padding: 10px 0;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0,0,0,0.4);
    flex: 1;
    min-width: 235px;
    }

.xx .swatch-details {
    padding: 0 8px;
    }
    
    @media (min-width: 40em) {
    .xx .swatch {
        width: 33%;
        }
    }
    
    @media (min-width: 50em) {
    .xx .swatch {
        width: 25%;
        }
    }
    
    @media (min-width: 60em) {
    .xx .swatch {
        width: 20%;
        
        }
    }

.xx .list-favicons img {
    display: block;
    margin-right: 1.5em;
    margin-bottom: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px;
    }

.xx .swatch-preview {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: block;
    float: left;
    height: 60px;
    width: 100%;
    margin: 0 0.8em 0.5em 0;
    }

.xx .swatch-details {
    float: left;
    margin: 0 1em 0 0;
    font-size: 0.8em;
    clear: both;
    font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
    }
    
    @media (min-width: 70em) {
    .xx .swatch-details  {
        clear: none;
        }
    }

.xx-slabs section {
	padding: 1em 2%;
	width: 96%
	}

.pattern {
    clear: both;
    float: left;
    margin: 0 0 3em;
    width: 100%;
    border: 1px solid;
    border-color: #e5e5e5; /* $color-light-gray */
    border-radius: 3px;
    }

.xx-patchwork .pattern {	
	margin: 0;
	border: none;
	padding: 0;
	}

.pattern-name {
    font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
    font-size: 16px;
    text-transform: none;
    margin: 0;
    }

.pattern-details {
    color: #004b6a; /* $color-dark-blue */;
    background-color: #fbf9f9;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
    padding: 0.5em 1%;
    width: 98%;
    overflow: hidden;
    display: block;
    border-bottom: 1px solid;
    border-color: rgba(229, 229, 229, 0.5); /* $color-light-gray */
    border-radius: 3px 3px 0 0;
    }

.pattern-markup {
    border: 1px solid;
    border-color: rgba(229, 229, 229, 0.5);
    width: 64%;
    display: block;
    font-size: 12px;
    overflow: scroll;
    max-height: 200px;
    padding: 1em 2%;
    margin: 1em 0;
    float: left;
    }

.pattern-markup,
:not(pre) > code[class*="language-"] {
    padding: 1em 2% !important;
    line-height: 18px;
    }

.pattern-details:hover {
    cursor: pointer;
    }
    
.pattern .pattern-code {
    border: 1px solid #ccc;
    float: left;
    width: 67.5%;
    margin: 0.5em 0 0.5em 0;
    font-family: Menlo,Monaco,'Courier New',Courier,monospace;
    font-size: 13px;
    line-height: 1.2em;
    padding: 0.5em;
    }

.pattern-usage {
    float: right;
    width: 30%;
    margin: 1.25em 0 0.5em 0;
    font-size: 13px;
    white-space: pre-line;
    line-height: 1.4em;
    font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
    }

.pattern-preview {
    padding: 10px;
    width: auto;
    overflow: hidden;
    }

.pattern {
    clear: both;
    }

.pattern-link {
    float: right;
    padding: 0 0 0 0.5em;
    }

.pattern-link:hover,
.pattern-link:focus,
.pattern-link:active {
    border-bottom: none;
    }

.nav-section-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    background-color: #eee;
    color: black;
    opacity: 0.8;
    border-radius: 0;
    display: inline-block;
    padding: 0.4em 0.5em 0.3em 0.5em;
    position: fixed;
    right: -2px;
    bottom: -2px;
    width: auto;
    z-index: 100;
    margin: 0;
    border: none;
    font-size: 0.85em;
    transition: 0.2s;
    min-height: 35px;
    }

.nav-section-select:hover {
    cursor: pointer;
    color: black;
    opacity: 1;
    }

.nav-section-select:focus {
    outline: 2px solid #399fd3; /* $color-blue */
    background-color: white;
    color: black;
    opacity: 1;
    }

.xx .js-offcanvas {
    }
    
.xx {
    background-color: #444444; /* $color-dark-gray; */
    }

.xx-js-container {
    background-color: #fff;
    width: 100%;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    min-height: 100%;
    box-shadow: 3px 0 5px rgba(0,0,0,0.5);
    }

.xx-js-container.slid {
    right: 75%;
    }

.xx-js-offcanvas {
    width: 75%;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    border-top: 5px solid;
    border-color: #399fd3; /* $color-blue */
    height: 100%;
    overflow: scroll;
    position: fixed;
    top: 0;
    }
        
    @media (min-width: 500px) {
        
        .xx-js-container.slid {
            right: 300px;
            }
        
        .xx-js-offcanvas {
            width: 300px;
        }
        
    }

.xx-js-offcanvas .nav-global-secondary {
    width: 100%;
    padding: 0;
    }

.xx-js-offcanvas li {
	font-size: 14px;
    clear: both;
    width: 100%;
    margin: 0;
    text-align: left;
    }
    
.xx-js-offcanvas li a:link,
.xx-js-offcanvas li a:visited,
.xx-js-offcanvas li a:hover,
.xx-js-offcanvas li a:focus,
.xx-js-offcanvas li a:active,
.xx-js-offcanvas li .button:link,
.xx-js-offcanvas li .button:visited,
.xx-js-offcanvas li .button:hover,
.xx-js-offcanvas li .button:focus,
.xx-js-offcanvas li .button:active {
	line-height: 20px;
	height: auto;
    border-bottom: 1px solid;
    border-color: rgba(255,255,255,0.2);
    color: #fff;
    margin: 0;
    padding: 10px 16px;
    background-color: transparent;
    font-weight: normal;
    display: block;
    text-align: left;
    }

.xx-js-offcanvas li a:hover,
.xx-js-offcanvas li a:focus,
.xx-js-offcanvas li a:active,
.xx-js-offcanvas li .button:hover,
.xx-js-offcanvas li .button:focus,
.xx-js-offcanvas li .button:active {
    background-color: #000000; /* $color-black */
    }

.xx-js-offcanvas li.nav-has-children > a {	
	background-image: url("../images/arrow-chevron-down-gray-dark.png");
	background-position: 98% center;
	background-position: right 16px top 13px;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	text-transform: uppercase;
	}

.xx-js-offcanvas .nav-global-primary {
    position: relative;
    padding: 0;
    clear: both;
    background-color: #444444; /* $color-dark-gray */
    width: 100%;
    }

.xx-js-offcanvas .nav-global-primary .nav-tier2 {
	display: block;
	}

.xx-js-offcanvas .nav-global-secondary .nav-tier2 {
	border-bottom: none;
	}

.xx-js-offcanvas .nav-global-primary ul {
	padding: 0;
	margin: 0;
	width: 100%;
	}
    
.xx-js-offcanvas .nav-tier2,
.xx-js-offcanvas .nav-global-primary .nav-tier2,
.xx-js-offcanvas .nav-global-secondary .nav-tier2 {
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	background-color: rgb(203, 204, 203);
	box-shadow: none;
	text-transform: none;
	}

.xx-js-offcanvas .nav-tier1 a:link,
.xx-js-offcanvas .nav-tier1 a:visited,
.xx-js-offcanvas .nav-tier1 a:hover,
.xx-js-offcanvas .nav-tier1 a:focus,
.xx-js-offcanvas .nav-tier1 a:active {
	color: #fff;
	}

.xx-js-offcanvas .nav-tier2 a:link,
.xx-js-offcanvas .nav-tier2 a:visited,
.xx-js-offcanvas .nav-tier2 a:hover,
.xx-js-offcanvas .nav-tier2 a:focus,
.xx-js-offcanvas .nav-tier2 a:active {
	padding: 10px 16px;
	color: #fff;
	}

.xx-js-offcanvas .nav-tier1 > a.state-active, 
.xx-js-offcanvas .nav-tier1 > a.state-active:hover,
.xx-js-offcanvas .nav-tier1 > a.state-active:focus, 
.xx-js-offcanvas .nav-tier1 > a.state-active:active {
	background-color: #000;
	}

.xx-js-offcanvas .search-global input {
	border: 1px solid;
	border-color: #6D6E71; /* $color-gray*/
	background-color: transparent;
	padding: 8px 2% 8px 2px;
	width: 95%;
	width: calc(99% - 9px);
	color: #fff;
	margin-left: 7px;
	}

.xx-js-offcanvas .search-global .search-global-submit {
	top: 10px;
	right: 10px;
	}

.xx-js-offcanvas .search-global-input:focus + .search-global-submit,
.xx-js-offcanvas .search-global .search-global-submit:focus,
.xx-js-offcanvas .search-global .search-global-submit:active {	
	background-image: url('../images/icon-search-white.png');
	background-position: center center;
	background-repeat: no-repeat;
	}

.xx-skip-to-nav {
    position: absolute;
    right: 1em;
    top: 0.25em;
    }

.xx .global-header {
    position: relative;
    }