blockquote {
  font-size: 1.2em;
}

/* Make masthead page titles white in widescreen mode */
.masthead-header .page-title a:link,
.masthead-header .page-title a:visited,
.masthead-header .page-title a:hover,
.masthead-header .page-title a:focus,
.masthead-header .page-title a:active {
  color: white;
  text-decoration: none;
}

.masthead-header .page-title a:hover,
.masthead-header .page-title a:focus,
.masthead-header .page-title a:active {
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.7);
}

/* Layout ========================================== */
/*  9 column = quaver  */
.layout-quaver {
  width: 9.33333333333%;
  float: left;
  clear: none;
  margin: 0 2% 0 0;
  background-image: none;
  padding: 0;
}

.layout-quaver:nth-of-type(9n+9) {
  margin-right: 0;
}

.layout-quaver:nth-of-type(9n+10) {
  clear: both;
}

/*  3 column = crotchet  */
.layout-crotchet {
  width: 32.0%;
  float: left;
  clear: none;
  margin: 0;
}

.layout-crotchet + .layout-crotchet {
  margin-left: 2%;
}

.layout-crotchet:nth-of-type(3n+4) {
  margin-left: 0;
  clear: both;
}

/*  3 column = crotchet  */
.layout-crotchet-staccato {
  width: 27%;
  float: left;
  clear: none;
  margin: 0;
  background-image: none;
  padding: 0;
}

.layout-crotchet-staccato + .layout-crotchet-staccato {
  margin-left: 9.5%;
}

.layout-crotchet-staccato:nth-of-type(3n+4) {
  margin-left: 0;
  clear: both;
}

/*  2 column = minim  */
.layout-minim {
  float: left;
  width: 49%;
  clear: none;
  margin: 0;
  background-image: none;
  padding: 0;
}

.layout-minim + .layout-minim {
  float: right;
}

.layout-minim + .layout-minim + .layout-minim {
  clear: both;
  float: left;
}

/*.layout-minim:nth-child(3n+2) {
    clear: both;
    }*/
/*  2 column = minim  */
.layout-minim-staccato {
  float: left;
  width: 42%;
  clear: none;
  margin: 0;
  background-image: none;
  padding: 0;
}

.layout-minim-staccato + .layout-minim-staccato {
  float: right;
}

.layout-minim-staccato:nth-of-type(2n+3) {
  clear: both;
}

/*  1 column = semibreve  */
.layout-semibreve, .layout-chimney,
.layout-chimney-invert,
.layout-breve {
  width: 96%;
  padding: 0 2%;
  max-width: 80em;
  margin: 3em auto;
  float: none;
}

.layout-semibreve, .layout-chimney,
.layout-chimney-invert {
  max-width: 960px;
  max-width: 60rem;
}

/*  One 2 column + One 5 column = minor and major  */
.layout-minor {
  width: 26%;
  float: left;
}

.layout-minor,
.layout-minor p,
.layout-minor ul,
.layout-minor ol {
  font-size: 13px;
  line-height: 20px;
  color: #666;
}

.layout-major {
  float: right;
  width: 70%;
  clear: none;
}

.layout-solo {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

@media (min-width: 60em) {
  .layout-gutter {
    padding-left: 12%;
  }

  .layout-gutters {
    padding-left: 12%;
    padding-right: 12%;
  }

  .layout-break-left {
    max-width: 127%;
    float: right;
    margin-bottom: 1em;
  }

  .layout-break-left + * {
    clear: both;
  }
}
.layout-break-up {
  margin-top: -4em;
}

.layout-chimney,
.layout-chimney-invert {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: relative;
}

.layout-chimney p:first-child,
.layout-chimney-invert p:first-child {
  margin-top: 0;
}

.layout-chimney .chimney,
.layout-chimney-invert .chimney {
  position: relative;
  width: 33%;
  padding-left: 4%;
  padding-right: 4%;
  margin: -1em 0 1em 4%;
}

@media (min-width: 63em) {
  .layout-chimney .chimney,
  .layout-chimney-invert .chimney {
    margin: -1em 0 0 0;
  }
}
.layout-chimney-invert .chimney {
  right: 0;
}

.layout-chimney .layout-minim,
.layout-chimney-invert .layout-minim {
  width: 42%;
}

.layout-chimney .layout-minim-staccato,
.layout-chimney-invert .layout-minim-staccato {
  width: 38%;
}

.global-footer .nav-footer > ul {
  display: flex;
}

.global-footer .nav-footer .nav-tier1 {
  flex: 1;
  flex-basis: auto;
  margin-right: 4%;
  float: left;
  width: 15%;
}

.global-footer .search-global {
  width: 254px;
  margin-left: 0;
}

.global-footer .search-global input {
  width: 254px;
}

.global-footer .nav-footer {
  float: left;
  width: 100%;
  margin-right: 0;
}

.global-footer .nav-footer .nav-tier1:first-child {
  display: block;
}

.layout-tight {
  margin: 0 auto;
}

section,
[class*="slab-"] {
  width: 100%;
}

.global-header {
  margin-bottom: 41px;
  position: relative;
}

.global-header-compact {
  margin-bottom: 0;
}

.global-header-compact .nav-global-secondary {
  display: none;
}

.global-header-tagline {
  display: block;
}

.global-header-logo {
  float: left;
  width: 8em;
  margin: 1em auto;
}

@media (min-width: 40em) and (max-width: 60em) {
  .global-header-logo {
    width: 6em;
  }
}
.nav-global-secondary {
  float: right;
}

.nav-global-secondary li {
  display: block;
  float: left;
}

@media (max-width: 50em) {
  .nav-footer .nav-tier1 {
    float: left;
    margin-bottom: 1.5em;
    width: 50%;
  }

  .nav-footer .nav-tier1:nth-of-type(2n+2) {
    clear: both;
  }
}
.nav-global-primary ul {
  width: auto;
  float: right;
}

.nav-global-primary li {
  margin: 6px 10px 2px;
}

.masthead {
  background-color: #000;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
  margin-top: 35px;
}

.masthead:before {
  display: block;
}

.masthead h1,
.masthead .h1,
.masthead p {
  color: white;
}

.masthead p {
  float: none;
}

.masthead h1,
.masthead .h1 {
  margin: -0.22em 0 0 0;
  text-align: center;
}

.masthead-image {
  display: block;
}

.masthead-header {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  float: none;
  text-align: center;
}

.masthead .button-invert,
.masthead input.button-invert,
.masthead .button-invert:link,
.masthead .button-invert:visited,
.masthead .button-invert:hover,
.masthead .button-invert:focus,
.masthead .button-invert:active {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  opacity: 1;
}

.masthead input.button-invert:hover,
.masthead input.button-invert:focus,
.masthead input.button-invert:active,
.masthead .button-invert:hover,
.masthead .button-invert:focus,
.masthead .button-invert:active {
  border: 1px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.masthead-s .page-title {
  font-size: 57px;
  line-height: 65px;
  line-height: 4.0625rem;
  margin-top: 1.5625rem;
  margin-top: 25px;
}

.masthead-l .page-title {
  font-size: 90px;
}

.masthead-l .masthead-header {
  margin-top: 11em;
  padding-top: 2em;
}

.masthead-xl:before {
  background-position: top;
  min-height: 600px;
}

.masthead-xl .masthead-header {
  padding-top: 11em;
  padding-bottom: 1.25em;
  max-width: inherit;
  margin: 2em auto 0;
}

.masthead-xl .masthead-header:before {
  background-image: url("../images/fade-black.png");
  width: 100%;
  content: "";
  height: 300px;
  position: absolute;
  display: block;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.masthead-hero:before {
  background-image: url("../images/fade-black.png");
  width: 100%;
  content: "";
  height: 300px;
  position: absolute;
  display: block;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.masthead-xl .page-title {
  margin-top: 95px;
  margin-bottom: 15px;
}

.masthead-xl .masthead-header > * {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.masthead-header .nav-breadcrumbs {
  position: absolute;
}

.masthead-header .nav-breadcrumbs,
.masthead-header .nav-breadcrumbs a:link,
.masthead-header .nav-breadcrumbs a:visited,
.masthead-header .nav-breadcrumbs a:hover,
.masthead-header .nav-breadcrumbs a:focus,
.masthead-header .nav-breadcrumbs a:active {
  color: white;
}

.masthead-header .nav-breadcrumbs a:hover,
.masthead-header .nav-breadcrumbs a:focus,
.masthead-header .nav-breadcrumbs a:active {
  color: #ccc;
  color: rgba(255, 255, 255, 0.7);
}

.masthead-header .nav-breadcrumbs li:first-child a {
  background-image: url("../images/flag-white.png");
}

.wodge-image {
  position: absolute;
  left: 0;
  top: 0;
}

.wodge-header,
.wodge-text {
  margin-left: 150px;
}

.wodge-text {
  clear: both;
}

@media (min-width: 60em) {
  .wodge-header {
    margin-right: 6em;
  }
}
.wodge-l .wodge-header,
.wodge-l .wodge-text,
.wodge-l .wodge-button {
  margin-left: 225px;
}

.nav-articles ul {
  font-size: 1em;
}

.insulate {
  margin: 49px auto;
}

.island {
  margin: 49px auto;
}

.nav-global-secondary {
  width: auto;
  float: right;
}

.nav-global-secondary ul {
  display: table;
}

.nav-global-secondary li {
  display: table-cell;
}

.button-crotchet,
.button-crotchet:link,
.button-crotchet:visited,
.button-crotchet:hover,
.button-crotchet:focus,
.button-crotchet:active {
  width: 32.0%;
  padding: 0;
}

.bricks-cta {
  margin-bottom: 1.5em;
}

.bricks-3 .brick {
  width: 32.0%;
  float: left;
  clear: none;
  margin: 0;
}

.bricks-3 .brick + .brick {
  margin-left: 2%;
}

.bricks-3 .brick:nth-of-type(3n+4) {
  margin-left: 0;
  clear: both;
}

.bricks-4 .brick {
  width: 19.5%;
  float: left;
  clear: none;
  margin: 0;
  padding-left: 2%;
  padding-right: 2%;
}

.bricks-4 .brick.badge-heading {
  padding-top: 40px;
}

.bricks-4 .brick + .brick {
  margin-left: 2%;
}

.bricks-4 .brick:nth-of-type(4n+5) {
  margin-left: 0;
  clear: both;
}

.bricks-3 .brick {
  padding-top: 50px;
}

.brick.badge-heading.badge-blue,
.brick.badge-heading.badge-red,
.brick.badge-heading.badge-dark-blue {
  background-color: transparent;
}

.brick.badge-blue .brick-text,
.brick.badge-red .brick-text,
.brick.badge-dark-blue .brick-text {
  color: black;
  text-align: center;
}

.list-logos li {
  width: 9em;
}

.nav-breadcrumbs {
  display: block;
}
