/*****************************************************************************/
/*
/* Logos
/*
/*****************************************************************************/

.appspop {
  background-image: url('../img/apps_logos.png');
  background-size: 100px;
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px 20px 0 0;
}

a.appspop:hover  {
  border: none;
}

.srtracker,
.fm,
.labs,
.adopta,
.blight,
.blockee,
.hnlanswers,
.localdata, 
.neighborhow,
.opencounter,
.openstatus,
.preparedly,
.routeview,
.opendata,
.socialcity,
.pennywork,
.straymapper,
.supermayor,
.textmybus,
.textizen,
.dailybrief,
.nolaready,
.atxfloods,
.bike,
.deepdish,
.publicart,
.scmap,
.maconmap {
  background-image: url('../img/apps_logos.png');
  background-size: 100px;
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px 20px 0 0;
}

.srtracker {
  background-position: 0 0;
}

.fm {
  background-position: 0 -100px;
}

.labs {
  background-position: 0 -200px;
}

.adopta {
  background-position: 0 -300px;
}

.blight {
  background-position: 0 -400px;
}

.blockee {
  background-position: 0 -500px;
}

.hnlanswers {
  background-position: 0 -600px;
}

.localdata {
  background-position: 0 -700px;
}

.neighborhow {
  background-position: 0 -800px;
}

.opencounter {
  background-position: 0 -900px;
}

.openstatus {
  background-position: 0 -1000px;
}

.preparedly {
  background-position: 0 -1100px;
}

.routeview {
  background-position: 0 -1200px;
}

.opendata {
  background-position: 0 -1300px;
}

.socialcity {
  background-position: 0 -1400px;
}

.pennywork {
  background-position: 0 -1500px;
}

.straymapper {
  background-position: 0 -1600px;
}

.supermayor {
  background-position: 0 -1700px;
}

.textmybus {
  background-position: 0 -1800px;
}

.textizen {
  background-position: 0 -1900px;
}

.dailybrief {
  background-position: 0 -2000px;
}

.nolaready {
  background-position: 0 -2100px;
}

.atxfloods {
  background-position: 0 -2200px;
}

.bike {
  background-position: 0 -2300px;
}

.deepdish {
  background-position: 0 -2400px;
}

.publicart {
  background-position: 0 -2500px;
}

.scmap {
  background-position: 0 -2600px;
}

.maconmap {
  background-position: 0 -2700px;
}


// .appspop.adoptadrain {
//   background-image: url('../img/apps/adoptadrain.jpg');
// }

// .appspop.adoptatwincities {
//   background-image: url('../img/apps/adoptatwincities.png');
// }

// .appspop.alexandriaplays {
//   background-image: url('../img/apps/alexandriaplays.png');
// }

// .appspop.archivesocial {
//   background-image: url('../img/apps/archivesocial_sq.png');
// }

// .appspop.bizfriendly {
//   background-image: url('../img/apps/bizfriendly_logo.jpg');
// }

// .appspop.BTVmusicarchiveapp {
//   background-image: url('../img/apps/vermontlibrary.png');
// }

// .appspop.city_voice {
//   background-image: url('../img/apps/cityvoice_logo.jpg');
// }

// .appspop.civicinsight{
//   background-image: url('../img/apps/civicinsight.jpg');
// }

// .appspop.ckan{
//   background-image: url('../img/apps/ckan.jpg');
// }

// .appspop.clickthathood{
//   background-image: url('../img/apps/clickthathood.jpg');
// }

// .appspop.councilmatic{
//   background-image: url('../img/apps/councilmatic.png');
// }

// .appspop.criminalcase {
//   background-image: url('../img/apps/nycccs.jpg');
// }

// .appspop.dctrees{
//   background-image: url('../img/apps/dcstreettrees.png');
// }

// .appspop.development_fast_pass{
//   background-image: url('../img/apps/development_fast_pass.png');
// }

// .appspop.discover_bps{
//   background-image: url('../img/apps/discoverbpsnew.png');
// }

// .appspop.early_oakland{
//   background-image: url('../img/apps/early_oakland.png');
// }

// .appspop.faf_logo{
//   background-image: url('../img/apps/faf.jpg');
// }

// .appspop.fishstockingschedule{
//   background-image: url('../img/apps/fishstocking.png');
// }

// .appspop.floridabilltracker{
//   background-image: url('../img/apps/fllegtracker.png');
// }

// .appspop.flu_shot_finder{
//   background-image: url('../img/apps/flu_shot_finder.png');
// }

// .appspop.hampton_roads_bus_app{
//   background-image: url('../img/apps/hampton_roads.png');
// }

// .appspop.honolulubudget{
//   background-image: url('../img/apps/honlulubudget.png');
// }

// .appspop.lakecraft{
//   background-image: url('../img/apps/lakecraft.jpg');
// }

// .appspop.lasvegas_foodtrucks {
//   background-image: url('../img/apps/foodtruckslv.png');
// }

// .appspop.localdata-logo {
//   background-image: url('../img/apps/localdata-Logo.png');
// }

// .appspop.lookatasheville {
//   background-image: url('../img/apps/lookatasheville.png');
// }

// .appspop.louisville_app {
//   background-image: url('../img/apps/jailpop.jpg');
// }

// .appspop.localwiki {
//   background-image: url('../img/apps/localwiki.png');
// }

// .appspop.mapping_gentrification {
//   background-image: url('../img/apps/mappinggentrification.png');
// }

// .appspop.nwdata {
//   background-image: url('../img/apps/nwdata.png');
// }

// .appspop.ohana_api {
//   background-image: url('../img/apps/ohana_api.jpg');
// }

// .appspop.omgtransit {
//   background-image: url('../img/apps/omgtransit.png');
// }

// .appspop.openbudget_app {
//   background-image: url('../img/apps/openbudgetoak.png');
// }

// .appspop.oppcaster {
//   background-image: url('../img/apps/oppcaster.png');
// }

// .appspop.opencounter {
//   background-image: url('../img/apps/opencounter.png');
// }

// .appspop.opentwincitiesquestionnaire {
//   background-image: url('../img/apps/dataquestionnaire.png');
// }

// .appspop.pantrypickup_app {
//   background-image: url('../img/apps/pantry_pickup2.png');
// }

// .appspop.promptly {
//   background-image: url('../img/apps/promptly.png');
// }

// .appspop.recordtrac {
//   background-image: url('../img/apps/recordtrac.png');
// }

// .appspop.smartprocure {
//   background-image: url('../img/apps/smartprocure_sq.png');
// }

// .appspop.smc_connect {
//   background-image: url('../img/apps/smcconnect.png');
// }

// .appspop.streetcred {
//   background-image: url('../img/apps/streetcredsq.png');
// }

// .appspop.streetmix {
//   background-image: url('../img/apps/streetmix.png');
// }

// .appspop.textmybus {
//   background-image: url('../img/apps/textmybus.png');
// }

// .appspop.textizen {
//   background-image: url('../img/apps/textizensmall.png');
// }

// .appspop.tothetrails {
//   background-image: url('../img/apps/tothetrails_logo.gif');
// }

// .appspop.whatsmydistrict {
//   background-image: url('../img/apps/whatsmydistrict.png');
// }

// .appspop.wheresmybus {
//   background-image: url('../img/apps/wheresmyschoolbus.png');
// }

.adoptadrain, .adoptatwincities, .alexandriaplays, .archivesocial_sq, .bizfriendly_logo, .cityvoice_logo, .civicinsight, .clickthathood, .councilmatic, .dataquestionnaire, .development_fast_pass, .discoverbpsnew, .early_oakland, .fishstocking, .fllegtracker, .flu_shot_finder, .foodtruckslv, .hampton_roads, .honlulubudget, .lakecraft, .littlelibrariesmadison, .localwiki, .lookatasheville, .mappinggentrification, .nwdata, .oakland_answers, .omgtransit, .openbudgetoak, .opencounter, .oppcaster, .pantry_pickup2, .promptly, .recordtrac, .smartprocure_sq, .smcconnect, .streetcred_logo, .streetcredsq, .streetmix, .textizensmall, .textmybus, .tothetrails_logo, .vermontlibrary, .whatsmydistrict, .wheresmyschoolbus, .ohana_api, .ckan, .faf, .jailpop, .nycccs, .streettrees{
  background: url('../img/apps/appssprites.png') no-repeat;
}

.adoptadrain{
  background-position: 0 0;
  width: 100px;
  height: 101px;
}

.adoptatwincities{
  background-position: -109px -1px ;
  width: 100px;
  height: 100px;
}

.alexandriaplays{
  background-position: -353px 0;
  width: 100px;
  height: 100px;
}

.archivesocial_sq{
  background-position: -113px -424px ;
  width: 100px;
  height: 100px;
}

.bizfriendly_logo{
  background-position: -439px -535px ;
  width: 100px;
  height: 100px;
}

.cityvoice_logo{
  background-position: -220px -531px ;
  width: 100px;
  height: 100px;
}

.civicinsight{
  background-position: -326px -538px ;
  width: 100px;
  height: 100px;
}

.clickthathood{
  background-position: -111px -532px ;
  width: 100px;
  height: 100px;
}

.councilmatic{
  background-position: -333px -425px ;
  width: 100px;
  height: 100px;
}

.dataquestionnaire{
  background-position: -2px -530px ;
  width: 100px;
  height: 100px;
}

.development_fast_pass{
  background-position: -552px -429px ;
  width: 100px;
  height: 100px;
}

.discoverbpsnew{
  background-position: -662px -422px ;
  width: 100px;
  height: 100px;
}

.early_oakland{
  background-position: -778px -417px ;
  width: 100px;
  height: 100px;
}

.fishstocking{
  background-position: -442px -427px ;
  width: 100px;
  height: 100px;
}

.fllegtracker{
  background-position: -767px -314px ;
  width: 100px;
  height: 100px;
}

.flu_shot_finder{
  background-position: -445px -322px ;
  width: 100px;
  height: 100px;
}

.foodtruckslv{
  background-position: -418px -215px ;
  width: 100px;
  height: 100px;
}

.hampton_roads{
  background-position: -333px -317px ;
  width: 100px;
  height: 100px;
}

.honlulubudget{
  background-position: -554px -322px ;
  width: 100px;
  height: 100px;
}

.lakecraft{
  background-position: -662px -319px ;
  width: 100px;
  height: 100px;
}

.littlelibrariesmadison{
  background-position: -110px -311px ;
  width: 100px;
  height: 100px;
}

.localwiki{
  background-position: -942px -210px ;
  width: 100px;
  height: 100px;
}

.lookatasheville{
  background-position: -832px -208px ;
  width: 100px;
  height: 100px;
}

.mappinggentrification{
  background-position: -660px -214px ;
  width: 100px;
  height: 100px;
}

.nwdata{
  background-position: -527px -213px ;
  width: 100px;
  height: 100px;
}

.oakland_answers{
  background-position: -310px -207px ;
  width: 100px;
  height: 100px;
}

.omgtransit{
  background-position: -102px -204px ;
  width: 100px;
  height: 100px;
}

.openbudgetoak{
  background-position: 0 -204px ;
  width: 100px;
  height: 100px;
}

.opencounter{
  background-position: -899px -424px ;
  width: 100px;
  height: 100px;
}

.oppcaster{
  background-position: -874px -102px ;
  width: 100px;
  height: 100px;
}

.pantry_pickup2{
  background-position: -748px -103px ;
  width: 100px;
  height: 100px;
}

.promptly{
  background-position: -637px -107px ;
  width: 100px;
  height: 100px;
}

.recordtrac{
  background-position: -527px -109px ;
  width: 100px;
  height: 100px;
}

.smartprocure_sq{
  background-position: -425px -106px ;
  width: 100px;
  height: 100px;
}

.smcconnect{
  background-position: -322px -106px ;
  width: 100px;
  height: 100px;
}

.streetcred_logo{
  background-position: -218px -106px ;
  width: 100px;
  height: 100px;
}

.streetcredsq{
  background-position: -107px -100px ;
  width: 100px;
  height: 100px;
}

.streetmix{
  background-position: 0 -102px ;
  width: 100px;
  height: 100px;
}

.textizensmall{
  background-position: -902px 0;
  width: 100px;
  height: 100px;
}

.textmybus{
  background-position: -792px 0;
  width: 100px;
  height: 100px;
}

.tothetrails_logo{
  background-position: -680px -2px ;
  width: 100px;
  height: 100px;
}

.vermontlibrary{
  background-position: -578px -3px ;
  width: 100px;
  height: 100px;
}

.whatsmydistrict{
  background-position: -470px -4px ;
  width: 100px;
  height: 100px;
}

.wheresmyschoolbus{
  background-position: -229px -2px ;
  width: 100px;
  height: 100px;
}

.ohana_api{
  background-position: -206px -207px ;
  width: 100px;
  height: 100px;
}

.ckan{
  background-position: -2px -426px ;
  width: 100px;
  height: 100px;
}

.faf{
  background-position: -872px -317px ;
  width: 100px;
  height: 100px;
}

.jailpop{
  background-position: -222px -422px ;
  width: 100px;
  height: 100px;
}

.localdatalogo{
  background-image: url('../img/apps/localdatalogo.png');
}

.nycccs{
  background-position: -223px -315px ;
  width: 100px;
  height: 100px;
}

.streettrees{
  background-position: -552px -538px ;
  width: 100px;
  height: 100px;
}


