/*****************************************************************************/
/*
/* Sidebar and social buttons
/*
/*****************************************************************************/



.sidebar{ 
  width:400px;
  position:fixed;
  left:0px;
  top:0px;
  bottom:0px;
  z-index:-7;
  @media screen and (max-width: 480px) {
    display:none;
  }
}

.sidebartitle{ 
  width:400px;
  left:0px;
  position:absolute;
  top:80px;

  img {
    padding: 14px 0px 0px 5px;
  }
}

.sidebartitle h1{ 
  font-size: 90px;
  color: #fff;
  margin: 30px 0px 0px 50px;
  text-align: left;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.mapsidebar h1{ 
  font-size: 100px;
  color: #333;
  margin-bottom: 0px;
}

.sidebartitle h2{ 
  font-size: 33px;
  position:relative;
  left:-400px;
  line-height: 35px;
  padding-top: 10px;
  padding-bottom: 13px;
  margin-top:20px;
  text-transform: uppercase;
}

.sidebartitle.appear h2{ 
  left: 50px;
  transition: left 1s;
  -webkit-transition: left 1s;
}

.sidebartitle h2 img {
  width: 100px;
}

iframe {
  width: 100%;
  min-height: 200px;
}

iframe.twitter-share-button{ 
  min-height:20px;
}