/*****************************************************************************/
/*
/* Specific typography changes for sections
/*
/*****************************************************************************/



.attribution{
  bottom: 0;
  padding: 20px 20px 0px 0px;
  position: absolute; 
  right: 0;

  p {
  color: #fff;
  border: none;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 0px;
  padding: 0px;
  text-align: right;
  }

  img {
  padding-bottom: 30px;
  border: none;
  }

   a {
   &:hover {
      border: none;
      color: #fff;
      text-decoration: none;
   }
   &:active {
      color: #fff;
      text-decoration: none;
   }
 }
}

.attribution.credits {

}


