<div class="heading">
    <h1>No badge</h1>
</div>

<div class="badge-heading">
    <i class="pop icon-rocket"></i>
    <h1>Regular heading with a badge</h1>
</div>

<div class="badge-heading">
    <i class="pop-neutral icon-pencil"></i>
    <h1>Heading with lot of text let's see what happens when this thing wraps. Coolio.</h1>
</div>

<div class="badge-heading">
    <i class="pop icon-rocket"></i>
    <h1>What if we want a heading</h1>
    <h2>And a sub-heading</h2>
</div>

<div class="badge-heading">
    <i class="pop-bright icon-home"></i>
    <h1>Heading</h1>
</div>