<div class="heading">
    <h2>No badge</h2>
</div>

<div class="badge-heading">
    <h2>Black badge heading (default)</h2>
</div>

<div class="badge-heading badge-blue">
    <h2>Blue badge heading</h2>
</div>

<div class="badge-heading badge-red">
    <h2>Red badge heading</h2>
    <h3>with a sub-heading</h3>
</div>

<div class="badge-heading badge-orange">
    <h2>Orange badge heading</h2>
</div>

<div class="badge-heading badge-teal">
    <h2>Teal badge heading</h2>
</div>

<div class="badge-heading badge-purple">
    <h2>Purple badge heading which has lots of text in it so will wrap</h2>
</div>

<div class="badge-heading badge-gray">
    <h2>Gray badge heading</h2>
</div>

<div class="badge-heading badge-dark-blue">
    <h2>Dark blue badge heading</h2>
</div>