<div class="heading">
    <h1>No badge</h1>
</div>

<div class="badge-heading">
    <h1>Blue badge heading (default)</h1>
</div>

<div class="badge-heading badge-red">
    <h1>Red badge heading</h1>
    <h2>with a sub-heading</h2>
</div>

<div class="badge-heading badge-orange">
    <h1>Orange badge heading</h1>
</div>

<div class="badge-heading badge-teal">
    <h1>Teal badge heading</h1>
</div>

<div class="badge-heading badge-purple">
    <h1>Purple badge heading which has lots of text in it so will wrap</h1>
</div>

<div class="badge-heading badge-gray">
    <h1>Gray badge heading</h1>
</div>