<ul class="list-no-bullets layout-grid">
    <li class="layout-crotchet">
        <a href="#" class="billboard">
            <img src="/../media/images/logo-promptly.jpg" />
            <strong class="billboard-label">Promptly</strong>
        </a>
    </li>
    <li class="layout-crotchet">
        <a href="#" class="billboard">
            <img src="/../media/images/logo-civicinsight.jpg" />
            <strong class="billboard-label">Civic Insight</strong>
        </a>
    </li>
    <li class="layout-crotchet">
        <a href="#" class="billboard">
            <img src="/../media/images/logo-textmybus.jpg" />
            <strong class="billboard-label">Text my Bus</strong>
        </a>
    </li>
    <li class="layout-crotchet">
        <a href="#" class="billboard">
            <img src="/../media/images/logo-localdata.jpg" />
            <strong class="billboard-label">Localdata</strong>
        </a>
    </li>
    <li class="layout-crotchet">
        <a href="#" class="billboard">
            <img src="/../media/images/logo-promptly.jpg" />
            <strong class="billboard-label">Promptly</strong>
        </a>
    </li>
    <li class="layout-crotchet">
        <a href="#" class="billboard">
            <img src="/../media/images/logo-civicinsight.jpg" />
            <strong class="billboard-label">Civic Insight</strong>
        </a>
    </li>
</ul>