<ul class="layout-grid">
    <li class="billboard">
        <a href="#">
            <img src="/../media/images/logo-promptly.jpg" />
            Promptly
        </a>
    </li>
    <li class="billboard">
        <a href="#">
            <img src="/../media/images/logo-civicinsight.jpg" />
            Civic Insight
        </a>
    </li>
    <li class="billboard">
        <a href="#">
            <img src="/../media/images/logo-textmybus.jpg" />
            Text my Bus
        </a>
    </li>
    <li class="billboard">
        <a href="#">
            <img src="/../media/images/logo-localdata.jpg" />
            Localdata
        </a>
    </li>
    <li class="billboard">
        <a href="#">
            <img src="/../media/images/logo-promptly.jpg" />
            Promptly
        </a>
    </li>
    <li class="billboard">
        <a href="#">
            <img src="/../media/images/logo-civicinsight.jpg" />
            Civic Insight
        </a>
    </li>
</ul>