<h4>Bring the right people at the table</h4>

<div class="layout-major-invert">
    <p>Key stakeholders, including representatives from the office of the city attorney and the procurement department, should be involved in any efforts from the beginning. Getting their buy-in and input early will help ensure you’re able to get the traction you need to create lasting change. Depending on your goals, you will likely want to involve other departmental stakeholders who have a vested interest in the procurement process.</p>
</div>

<div class="layout-minor-invert block-teal">
    <p class="icon-thumbs-up">Recommendation: Set up regular meetings (e.g. monthly) with relevant staff members and quarterly meetings in a committee structure to (1) identify shared issues in procurement, and (2) develop a collaborative vision around common goals.</p>
</div>