<ul class="bricks bricks-cta bricks-3">
    
    <li class="brick badge-heading badge-blue">
        <a class="brick-link" href="/donate/">
            <h3 class="brick-heading">Donors</h3>
            <h4 class="brick-text">Help make a difference</h4>
        </a>
    </li>
    
    <li class="brick badge-heading badge-red">
        <a class="brick-link" href="/governments/">
            <h3 class="brick-heading">Governments</h3>
            <h4 class="brick-text">Solve your city's problems</h4>
        </a>
    </li>
    
    <li class="brick badge-heading badge-dark-blue">
        <a class="brick-link" href="/citizens/">
            <h3 class="brick-heading">Geeks</h3>
            <h4 class="brick-text">Use your skills for good</h4>
        </a>
    </li>
    
</ul>