<div class="slab-dark-blue">

    <ul class="bricks bricks-4">
        
        <li class="brick badge-heading badge-github">
            <h3 class="text-feature">3,372</h3>
            <p class="text-whisper">Civic Code Commits in <a href="#">December</a></p>
        </li>
        
        <li class="brick badge-heading badge-github">
            <h3 class="text-feature">348</h3>
            <p class="text-whisper">Civic Code Commits in <a href="#">December</a></p>
        </li>
        
        <li class="brick badge-heading badge-github">
            <h3 class="text-feature">157</h3>
            <p class="text-whisper">Total number of <a href="#">members</a> on Github</p>
        </li>
        
        <li class="brick badge-heading">
            <h3 class="text-feature">75</h3>
            <p class="text-whisper">Total number of <a href="#">apps deployed</a> by brigades</p>
        </li>
        
    </ul>

</div>