<table class="calendar">
  
  <thead class="calendar-days">
  	<tr class="calendar-header">
  	  <th class="calendar-nav" colspan="7">
  	  	<a class="calendar-month-prev">Previous</a>
  	  	<a class="calendar-month-next">Next</a>
  	  	<h2 class="calendar-heading">March 2013</h2>
  	  </th>
  	</tr>
    <tr class="calendar-day-names">
      <th class="calendar-day-weekend">Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th class="calendar-day-weekend">Sat</th>
    </tr>
  </thead>
  <tbody>
    <tr class="calendar-week">
      <td>24</td>
      <td>25</td>
      <td>26</td>
      <td>27</td>
      <td>28</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr class="calendar-week">
      <td>3</td>
      <td class="calendar-has-event">4
      	<ul class="calendar-events">
      		<li class="calendar-event">2pm: An event</li>
      		<li class="calendar-event">4pm: Another event</li>
      	</ul>
      </td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr class="calendar-week">
      <td class="calendar-has-event">10
      	<ul class="calendar-events">
      		<li class="calendar-event">2pm: An event</li>
      		<li class="calendar-event">4pm: Another event</li>
      	</ul>
      </td>
      <td>11</td>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td class="calendar-has-event">15
      	<ul class="calendar-events">
      		<li class="calendar-event">2pm: An event</li>
      	</ul>
      </td>
      <td>16</td>
    </tr>
    <tr class="calendar-week">
      <td>17</td>
      <td>18</td>
      <td>19</td>
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
    </tr>
    <tr class="calendar-week">
      <td>24</td>
      <td>25</td>
      <td class="calendar-day-active">26</td>
      <td>27</td>
      <td>28</td>
      <td>29</td>
      <td class="calendar-has-event">30
      	<ul class="calendar-events">
      		<li class="calendar-event">2pm: An event</li>
      		<li class="calendar-event">4pm: Another event</li>
      	</ul>
      </td>
    </tr>
    <tr class="calendar-week">
      <td>31</td>
      <td>1</td>
      <td>2</td>
      <td class="calendar-has-event">3
      	<ul class="calendar-events">
      		<li class="calendar-event">2pm: An event</li>
      		<li class="calendar-event">4pm: Another event</li>
      	</ul>
      </td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tfoot class="calendar-summary" colspan="7">
    	<tr><th>Next 7 days:</th>
    		<td colspan="6">
    			<ul class="calendar-summary-events">
    				<li>Sunday 17th, 9am: <a href="#">A hack thing in San Francisco</a></li>
    				<li>Monday 18th, All day: <a href="#">A thing</a></li>
    				<li>Monday 18th, 3pm: <a href="#">Another thing in Maryland</a></li>
    				<li>Tuesday 19th, All day: <a href="#">A thing</a></li>
    				<li>Thursday 21st, 3pm: <a href="#">A hack thing in New York</a></li>
    			</ul>
    		</td>
    	</tr>
    </tfoot>
    </tbody>
  </tbody>
</table>