<section class="slab-red">

    <div class="layout-chimney">
        
        	<div class="layout-minim-staccato slab-medium-red chimney">
            
            	<div class="chimney-body">
        
                <h3>Why I Code for America</h3>
                <div class="h-card profile">
                    <h4 class="p-name profile-name">Richa Agarwal</h4>
                    <img class="u-photo profile-photo" src="/media/images/avatar-tiffani-bell.png" />
                    <p class="p-role profile-role">2012 Fellow</p>
                    <p class="p-note profile-note">Co-creator of <a class="p-org profile-org" href="#">Recordtrac</a></p>
                </div>
                <a href="#" class="button button-prominent">Meet more civic hackers</a>
            	
            	</div>
            	
            </div>
            
            <div class="layout-minim-staccato">
            
	            <h3 class="h4">What's happening?</h3>
	            
	            <ul class="list-no-bullets list-icons">
	                <li class="icon-calendar"><a href="#">Nov 19: Bike Hack NYU Rudin</a> 
	                	<a class="text-whisper" href="#">More events</a>
	                </li>
	                <li class="icon-github2"><a href="#">Hack request: Add SMS to Ohana API</a> 
	                	<a class="text-whisper" href="#">More hack requests</a>
	                </li>
	                <li class="icon-lamp"><a href="#">Feb 22-24: Code Across America</a> 
	                	<a class="text-whisper" href="#">More national projects</a>
	                </li>
	                <li class="icon-youtube"><a href="#">Video: Civic Engagement &amp; Design</a> 
	                	<a class="text-whisper" href="#">More CFA videos</a>
	                </li>
	                <li class="icon-tools"><a href="#">Publish and Curate Open Data</a>
	                	<a class="text-whisper" href="#">More organizing</a>
	                </li>
	            </ul>
	         
	        </div>
        
    </div>
    

</section>