<section class="slab-red">
            
    <div class="layout-semibreve">
        
        <div class="layout-chimney-invert">
    
            <p>Over 200 local officials, startups and NGOs discuss data standards, current events and civic tech on a focused, moderated email list.</p>
            
            <h3 class="h4">Titles of some active members include:</h3>
            
            <ul class="isolate">
                <li>Chief Innovation Officer, City of KC, Missouri</li>
            	<li>Deputy Chief of Staff, City of Houston</li>
            	<li>Director of Research and Technology, Urban Strategies Council</li>
            </ul>
            
            <div class="slab-medium-red chimney">
                    
                <h3>Join the conversation</h3>
                
                <form>
                
                    <ul class="list-form">
                        
                        <li class="form-field">
                            <label for="invitee-name">Your Name</label>
                        	<input id="invitee-name" class="input" type="text" />
                        </li>
                        
                        <li class="form-field">
                            <label for="donor-address-line1">Your preferred title</label>
                        	<input id="donor-address-line1" class="input" type="text" />
                        </li>
                        
                        <li class="form-field">
                            <label for="invitee-title">Address Line 2</label>
                        	<input id="invitee-title" class="input" type="text" />
                        </li>
                        
                        <li class="form-field-group">
                            <div class="form-field">
                                <label for="donor-address-city">City</label>
                            	<input id="donor-address-city" class="input" type="text" />
                            </div>
                            <div class="form-field">
                                <label for="donor-address-state">State</label>
                            	<select id="donor-address-state">
                            	    <option>USA</option>
                            	    <option>USA</option>
                            	    <option>USA</option>
                            	</select>
                            </div>
                        </li>
                        
                        <li class="form-field">
                            <label for="donor-email">Email</label>
                        	<input id="donor-email" class="input" type="email" />
                        </li>
                                                    
                        <a href="#" class="button">Join now</a>
                        
                    </ul>
                
                </form>
                
            </div>
            
            <h3 class="h4">Ready to Level Up?</h3>
            
            <p>Code for America's Peer Network helps you innovate by providing targeted training, hands-on support and early access to new technology. Recent trainings include user interface engineering and broadband Policy</p>
            
            <a href="#" class="button button-prominent">Request an invite</a>
            
        </div>
        
    </div>

</section>