<div class="fade fade-toggle" id="fade">
    <nav class="list-credits" role="navigation">
        <ul class="fade-content" id="fade-content">
            <li><a href="#">New York</a></li>
            <li><a href="#">Philadelphia</a></li>
            <li><a href="#">Boston</a></li>
            <li><a href="#">Seattle</a></li>
            <li><a href="#">San Francisco</a></li>
            <li><a href="#">DC</a></li>
            <li><a href="#">Oakland</a></li>
            <li><a href="#">Chicago</a></li>
            <li><a href="#">International</a></li>
            <li><a href="#">Tampa</a></li>
            <li><a href="#">Tulsa</a></li>
            <li><a href="#">Chattanooga</a></li>
            <li><a href="#">Austin</a></li>
            <li><a href="#">Colorado</a></li>
            <li><a href="#">Lexington</a></li>
            <li><a href="#">Salt Lake</a></li>
            <li><a href="#">San Diego</a></li>
            <li><a href="#">Cincinnati</a></li>
            <li><a href="#">Whitewater</a></li>
            <li><a href="#">Raleigh</a></li>
            <li><a href="#">Orlando</a></li>
            <li><a href="#">Maine</a></li>
            <li><a href="#">Kansas City</a></li>
            <li><a href="#">Las Vegas</a></li>
            <li><a href="#">Durham</a></li>
            <li><a href="#">Hawaii</a></li>
            <li><a href="#">Detroit</a></li>
            <li><a href="#">New York</a></li>
            <li><a href="#">Philadelphia</a></li>
            <li><a href="#">Boston</a></li>
            <li><a href="#">Seattle</a></li>
            <li><a href="#">San Francisco</a></li>
            <li><a href="#">DC</a></li>
            <li><a href="#">Oakland</a></li>
            <li><a href="#">Chicago</a></li>
            <li><a href="#">International</a></li>
            <li><a href="#">Tampa</a></li>
            <li><a href="#">Tulsa</a></li>
            <li><a href="#">Chattanooga</a></li>
            <li><a href="#">Austin</a></li>
            <li><a href="#">Colorado</a></li>
            <li><a href="#">Lexington</a></li>
            <li><a href="#">Salt Lake</a></li>
            <li><a href="#">San Diego</a></li>
            <li><a href="#">Cincinnati</a></li>
            <li><a href="#">Whitewater</a></li>
            <li><a href="#">Raleigh</a></li>
            <li><a href="#">Orlando</a></li>
            <li><a href="#">Maine</a></li>
            <li><a href="#">Kansas City</a></li>
            <li><a href="#">Las Vegas</a></li>
            <li><a href="#">Durham</a></li>
            <li><a href="#">Hawaii</a></li>
            <li><a href="#">Detroit</a></li>
        </ul>
    </nav>
</div>
<p class="isolate text-whisper"><a href="#" class="fade-activate" id="fade-activate">See all cities</a></p>