<form class="spotlight">
    
    <h3>Donate now</h3>
    
    <ul class="list-form">
        
        <li class="form-field">
            <label for="donor-first-name">First Name</label>
        	<input id="donor-first-name" class="input" type="text" />
        </li>
        
        <li class="form-field">
            <label for="donor-last-name">Last Name</label>
        	<input id="donor-last-name" class="input" type="text" />
        </li>
        
        <li class="form-field">
            <label for="donor-address-line1">Address Line 1</label>
        	<input id="donor-address-line1" class="input" type="text" />
        </li>
        
        <li class="form-field">
            <label for="donor-address-line2">Address Line 2</label>
        	<input id="donor-address-line2" class="input" type="text" />
        </li>
        
        <li class="form-field">
            <label for="donor-address-city">City</label>
        	<input id="donor-address-city" class="input" type="text" />
        </li>
        
        <li class="form-field-group">
            <div class="form-field">
                <label for="donor-address-state">State</label>
            	<select id="donor-address-state">
            	    <option>USA</option>
            	    <option>USA</option>
            	    <option>USA</option>
            	</select>
            </div>
            <div class="form-field">
                <label for="donor-address-zip">Zip</label>
                <input id="donor-address-zip" class="input" type="text"  />
            </div>
        </li>
        
        <li class="form-field">
            <label for="donor-email">Email</label>
        	<input id="donor-email" class="input" type="email" />
        </li>
        
        <li class="form-field">
            <label for="donor-phone">Phone Number</label>
        	<input id="donor-phone" class="input" type="tel" pattern="\d*" />
        </li>
        
        <!--<li class="form-field">
            <label for="donor-address-state">How much would you like to donate?</label>
            <select id="donor-address-state">
                <option>USA</option>
                <option>USA</option>
                <option>USA</option>
            </select>
        </li>-->
        
        <li class="form-field">
            <label for="donor-donation-amount">How much would you like to donate?</label>
            <input id="donor-donation-amount" class="input" />
        </li>
        
        <li class="form-field">
            <label for="donor-card-number">Card Number</label>
        	<input id="donor-card-number" class="input" type="tel" pattern="\d*" />
        </li>
        
        <li class="form-field">
            <label for="donor-card-number">Card Expiry</label>
            <input id="donor-card-expiry" name="expiry" type="month" required>
        </li>
        
        <li class="form-field">
            <label for="donor-inspiration">What inspired your contribution?</label>
            <textarea></textarea>
        </li>
        
        <button class="button-prominent">Process my contribution</button>
        
    </ul>
</form>