<section class="slab-blue">
    <div class="layout-semibreve">
        <div class="highlight highlight-with-avatar">
            <img class="highlight-avatar" src="/media/images/sf-seal.png"/>
            <blockquote>
                <p>Finding little wins that you can discover along the way, moments when people can come together and solve some small issue — that’s critical to the experience of innovation.</p>
            </blockquote>
            <p class="attribute">Nigel Jacob, Co-Director <a href="#">Boston’s Office of New Urban Mechanics</a></p>
        </div>
    </div>
</section>