<div class="slab-blue">
    <div class="layout-container">
        <div class="highlight highlight-with-avatar">
            <img class="highlight-avatar" src="/_media/images/sf-billboard.png"/>
            <blockquote><p>“The City of San Francisco is proud to have Code for America in our innovation ecosystem. We have partnered with Code for America on many of their initiatives, and we are very excited to work with them to bring passionate web developers, designers, and entrepreneurs here to help make San Francisco more open and efficient”</p></blockquote>
            <p class="attribute">Mayor Ed Lee, City of San Francisco</p>
        </div>
    </div>
</div>