<ul class="list-logos muted">
    <li><a href="#"><img src="/../media/images/bluth-company.png"/></a></li>
    <li><a href="#"><img src="/../media/images/dunder-mifflin.png"/></a></li>
    <li><a href="#"><img src="/../media/images/bluth-company.png"/></a></li>
    <li><a href="#"><img src="/../media/images/dunder-mifflin.png"/></a></li>
    <li><a href="#"><img src="/../media/images/bluth-company.png"/></a></li>
    <li><a href="#"><img src="/../media/images/dunder-mifflin.png"/></a></li>
    <li><a href="#"><img src="/../media/images/bluth-company.png"/></a></li>
    <li><a href="#"><img src="/../media/images/dunder-mifflin.png"/></a></li>
</ul>

<p class="layout-centered"><a href="#">More&hellip;</a></p>