<ul class="list-logos">
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
</ul>