<ul class="list-no-bullets list-icons">
    <li class="icon-calendar"><a href="#">Nov 19: Bike Hack NYU Rudin</a> 
    	<a class="text-whisper" href="#">More events</a>
    </li>
    <li class="icon-github2"><a href="#">Hack request: Add SMS to Ohana API</a> 
    	<a class="text-whisper" href="#">More hack requests</a>
    </li>
    <li class="icon-lamp"><a href="#">Feb 22-24: Code Across America</a> 
    	<a class="text-whisper" href="#">More national projects</a>
    </li>
    <li class="icon-youtube"><a href="#">Video: Civic Engagement &amp; Design</a> 
    	<a class="text-whisper" href="#">More CFA videos</a>
    </li>
    <li class="icon-tools"><a href="#">Publish and Curate Open Data</a>
    	<a class="text-whisper" href="#">More organizing</a>
    </li>
</ul>