<ul class="list-logos muted">
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
    <li><a href="#"><img src="/_media/images/logo-microsoft.png"/></a></li>
</ul>

<p class="layout-centered"><a href="#">More&hellip;</a></p>