<div class="masthead masthead-s">
    <div class="masthead-hero">
    	<div class="masthead-image" 
    		style="background-image: url('/media/images/masthead/masthead-3.jpg')">
    	</div>
    </div>
    <header class="layout-semibreve masthead-header" role="banner">
        <nav class="nav-breadcrumbs" role="navigation">
            <ul>
                <li><a href="/home/index.php">Home</a></li>
                <li>Blog</li>
            </ul>
        </nav>
        <h1 class="page-title" >Title</h1>
    </header>
</div>
