<article class="post-preview">
    
    <header class="post-header isolate">
        <time class="post-date insulate text-whisper" datetime="2013-11-01T20:00+00:00">November 1st 2013</time>
        <h2 class="post-title"><a href="#">People, not data</a></h2>
    </header>
    
    <div class="post-author">
        <h2 class="text-whisper layout-tight">Written by</h2>
        <div class="h-card">
            <h3 class="p-name profile-name text-prominent">Zachary Townsend</h3>
            <img class="u-photo profile-photo" src="/../media/images/avatar-zachary-townsend.jpg" />
        </div>
    </div><!-- .post-author -->
    
    <div class="post-body">
    
        <div class="post-content">
            <p>This is San Francisco’s main Food Stamps office. People call it twelve-thirty-five, as in 1235 Mission Street. The first time I went was on Thursday, February 7, 2013</p>
        </div>
    </div><!-- .post-body -->
    
    <a class="post-link" href="/about/">Read this post</a>

</article><!-- .post -->