<ul class="profiles layout-grid-crotchet">

    <li>
        <h3>Cyd Harrell</h3>
        <img src="/../media/images/avatar-cyd-harrell.jpg" />
        <p>Cyd Harrell is UX Evangelist at Code for America, where she gets to spend all day helping create better experiences for citizens. She encourages like-minded UXers to apply for the 2014 CfA Fellowship. <a href="#">Before its acquisition in June 2012</a>, she was VP of UX Research at Bolt Peters in San Francisco. </p>
        <a href="#">More</a>
        <ul>
            <li><a href="http://cydharrell.com/">Website</a></li>
            <li><a href="http://www.linkedin.com/in/cydharrell"></i>LinkedIn</a></li>
            <li><a href="http://twitter.com/cydharrell">@cydharrell</a></li>
        </ul>
    </li>
    
    <li>
        <h3>Michal Migurski</h3>
        <img src="/../media/images/avatar-michal-migurski.jpg" />
        <p>Michal joined Code For America in 2013. Previous to CfA, Michal spent nine years as a partner and technology director at celebrated San Francisco design studio Stamen. At Code For America, he is responsible for engineering standards and technical sustainability.</p>
        <a href="#">More</a>
        <ul>
            <li><a href="http://mike.teczno.com/">Website</a></li>
            <li><a href="http://twitter.com/michalmigurski">@michalmigurski</a></li>
            <li><a href="http://www.linkedin.com/pub/michal-migurski/0/7a/923"></i>LinkedIn</a></li>
            <li><a href="https://github.com/migurski">GitHub</a></li>
            <li><a href="http://www.flickr.com/people/mmigurski/">Flickr</a></li>
        </ul>
    </li>

    <li>
        <h3>Dana Oshiro</h3>
        <img src="/../media/images/avatar-dana-oshiro.jpg" />
        <p>Dana Oshiro (Senior Marketing Manager) is a writer and marketing strategist with a love of tech and an interest in how new innovations affect our societies and lives. Prior to her position at CfA she worked in tech journalism, publishing, public affairs, environmental health and anti-poverty advocacy.</p>
        <a href="#">More</a>
        <ul>
            <li><a href="https://twitter.com/danaoshiro">@danaoshiro</a></li>
            <li><a href="http://linkedin.com/in/danaoshiro"></i>LinkedIn</a></li>
            <li><a href="http://facebook.com/danaoshiro">Facebook</a></li>
            <li><a href="https://github.com/danaoshiro">Github</a></li>
        </ul>
    </li>
    
    <li>
        <h3>Cyd Harrell</h3>
        <img src="/../media/images/avatar-cyd-harrell.jpg" />
        <p>Cyd Harrell is UX Evangelist at Code for America, where she gets to spend all day helping create better experiences for citizens. She encourages like-minded UXers to apply for the 2014 CfA Fellowship. <a href="#">Before its acquisition in June 2012</a>, she was VP of UX Research at Bolt Peters in San Francisco. </p>
        <a href="#">More</a>
        <ul>
            <li><a href="http://cydharrell.com/">Website</a></li>
            <li><a href="http://www.linkedin.com/in/cydharrell"></i>LinkedIn</a></li>
            <li><a href="http://twitter.com/cydharrell">@cydharrell</a></li>
        </ul>
    </li>
    
    <li>
        <h3>Michal Migurski</h3>
        <img src="/../media/images/avatar-michal-migurski.jpg" />
        <p>Michal joined Code For America in 2013. Previous to CfA, Michal spent nine years as a partner and technology director at celebrated San Francisco design studio Stamen. At Code For America, he is responsible for engineering standards and technical sustainability.</p>
        <a href="#">More</a>
        <ul>
            <li><a href="http://mike.teczno.com/">Website</a></li>
            <li><a href="http://twitter.com/michalmigurski">@michalmigurski</a></li>
            <li><a href="http://www.linkedin.com/pub/michal-migurski/0/7a/923"></i>LinkedIn</a></li>
            <li><a href="https://github.com/migurski">GitHub</a></li>
            <li><a href="http://www.flickr.com/people/mmigurski/">Flickr</a></li>
        </ul>
    </li>

    <li>
        <h3>Dana Oshiro</h3>
        <img src="/../media/images/avatar-dana-oshiro.jpg" />
        <p>Dana Oshiro (Senior Marketing Manager) is a writer and marketing strategist with a love of tech and an interest in how new innovations affect our societies and lives. Prior to her position at CfA she worked in tech journalism, publishing, public affairs, environmental health and anti-poverty advocacy.</p>
        <a href="#">More</a>
        <ul>
            <li><a href="https://twitter.com/danaoshiro">@danaoshiro</a></li>
            <li><a href="http://linkedin.com/in/danaoshiro"></i>LinkedIn</a></li>
            <li><a href="http://facebook.com/danaoshiro">Facebook</a></li>
            <li><a href="https://github.com/danaoshiro">Github</a></li>
        </ul>
    </li>

</ul>