<ul class="layout-grid">

    <li class="layout-crotchet">
        <div class="h-card profile-small">
            <h3 class="p-name profile-name">Tiffani Bell</h3>
            <img class="u-photo profile-photo" src="/_media/images/avatar-tiffani-bell.png" />
            <div class="p-note profile-note">
                <p>Tiffani pursues better living through software. She founded Pencil You In, enabling businesses as far away as Australia to operate more efficiently by accepting appointments online. Tiffani is a front and back-end developer working primarily with Ruby on Rails and iOS. Her latest work includes determining how to take full advantage of a Hadoop cluster. Tiffani holds a BS in Computer Science from Howard University.</p>
                <p><a class="link-more" href="#">More</a></p>
                <ul class="list-social list-social-horizontal">
                    <li><a href="#"><i class="icon icon-linkedin"></i>LinkedIn</a></li>
                    <li><a href="#"><i class="icon icon-twitter"></i>@tiffani</a></li>
                    <li><a href="#"><i class="icon icon-github"></i>GitHub</a></li>
                </ul>    
            </div><!-- .note -->
        </div><!-- .vcard -->
    </li>
    
    <li class="layout-crotchet">
        <div class="h-card profile-small">
            <h3 class="p-name profile-name">Tiffani Bell</h3>
            <img class="u-photo profile-photo" src="/_media/images/avatar-tiffani-bell.png" />
            <div class="p-note profile-note">
                <p>Tiffani pursues better living through software. She founded Pencil You In, enabling businesses as far away as Australia to operate more efficiently by accepting appointments online. Tiffani is a front and back-end developer working primarily with Ruby on Rails and iOS. Her latest work includes determining how to take full advantage of a Hadoop cluster. Tiffani holds a BS in Computer Science from Howard University.</p>
                <p><a class="link-more" href="#">More</a></p>
                <ul class="list-social list-social-horizontal">
                    <li><a href="#"><i class="icon icon-linkedin"></i>LinkedIn</a></li>
                    <li><a href="#"><i class="icon icon-twitter"></i>@tiffani</a></li>
                    <li><a href="#"><i class="icon icon-github"></i>GitHub</a></li>
                </ul>     
            </div><!-- .note -->
        </div><!-- .vcard -->
    </li>
    
    <li class="layout-crotchet">
        <div class="h-card profile-small">
            <h3 class="p-name profile-name">Tiffani Bell</h3>
            <img class="u-photo profile-photo" src="/_media/images/avatar-tiffani-bell.png" />
            <div class="p-note profile-note">
                <p>Tiffani pursues better living through software. She founded Pencil You In, enabling businesses as far away as Australia to operate more efficiently by accepting appointments online. Tiffani is a front and back-end developer working primarily with Ruby on Rails and iOS. Her latest work includes determining how to take full advantage of a Hadoop cluster. Tiffani holds a BS in Computer Science from Howard University.</p>
                <p><a class="link-more" href="#">More</a></p>
                <ul class="list-social list-social-horizontal">
                    <li><a href="#"><i class="icon icon-linkedin"></i>LinkedIn</a></li>
                    <li><a href="#"><i class="icon icon-twitter"></i>@tiffani</a></li>
                    <li><a href="#"><i class="icon icon-github"></i>GitHub</a></li>
                </ul>    
            </div><!-- .note -->
        </div><!-- .vcard -->
    </li>

</ul>