<!-- This form is in 2 different places on the main site template, so make sure IDs are unique each time it is used -->
<form class="search-global" id="search-global">
    <input type="search" id="search-global-input" class="search-global-input" autocomplete="off" placeholder="Search" name="search-global" />
    <!-- consider applying autofocus="autofocus" to input -->
    <button class="search-global-submit" id="search-global-submit" value="Search" type="submit" name="search-global">Search</button>
</form>