<ul class="teasers">
	<li class="layout-crotchet">
	    <article class="teaser teaser-app">
	        <header class="teaser-header">
	            <a href="promptly/">
	                <h1 class="teaser-title">Promptly</h1>
	            </a>
	        </header>
	        <div class="teaser-body">
	            <p>Promptly text messages San Francisco Human Services Agency clients with important information to keep them enrolled in services.</p>
	            
	            <h2 class="text-whisper">Environment</h2>
	            <p>Ruby on Rails with Ohana API backend</p>
	            
	            <h2 class="text-whisper">Redeploy</h2>
	            <p>Programming and design skills</p>
	            
	            <p><a href="promptly/">Learn more about this app</a></p>
	        </div>
	        <footer class="teaser-footer">
	            <a href="promptly/" class="teaser-masthead">
	                <img class="teaser-image" src="/../media/images/logo-promptly.jpg" />
	            </a>
	        </footer>
	    </article>
	</li>
    <li class="layout-crotchet">
        <article class="teaser teaser-app">
            <header class="teaser-header">
                <a href="promptly/">
                    <h1 class="teaser-title">Civic Insight</h1>
                </a>
            </header>
            <div class="teaser-body">
                <p>Civic Insight (formerly BlightStatus) offers residents up-to-date information on the status of underutilized properties in their community.</p>
                
                <h2 class="text-whisper">Environment</h2>
                <p>Ruby on Rails with Ohana API backend</p>
                
                <h2 class="text-whisper">Redeploy</h2>
                <p>Programming and design skills</p>
                
                <p><a href="promptly/">Learn more about this app</a></p>
            </div>
            <footer class="teaser-footer">
                <a href="promptly/" class="teaser-masthead">
                    <img class="teaser-image" src="/../media/images/logo-civicinsight.jpg" />
                </a>
            </footer>
        </article>
    </li>
    <li class="layout-crotchet">
        <article class="teaser teaser-app">
            <header class="teaser-header">
                <a href="promptly/">
                    <h1 class="teaser-title">TextMyBus</h1>
                </a>
            </header>
            <div class="teaser-body">
                <p>TextMyBus provides a simple text messaging service to relay real time transit information to riders.</p>
                
                <h2 class="text-whisper">Environment</h2>
                <p>Ruby on Rails with Ohana API backend</p>
                
                <h2 class="text-whisper">Redeploy</h2>
                <p>Programming and design skills</p>
                
                <p><a href="promptly/">Learn more about this app</a></p>
            </div>
            <footer class="teaser-footer">
                <a href="promptly/" class="teaser-masthead">
                    <img class="teaser-image" src="/../media/images/logo-textmybus.jpg" />
                </a>
            </footer>
        </article>
    </li>
    <li class="layout-crotchet">
        <article class="teaser teaser-app">
            <header class="teaser-header">
                <a href="promptly/">
                    <h1 class="teaser-title">Localdata</h1>
                </a>
            </header>
            <div class="teaser-body">
                <p>Localdata is a digital toolkit that allows organizers and canvassers to collect and manage place-based data.</p>
                
                <h2 class="text-whisper">Environment</h2>
                <p>Ruby on Rails with Ohana API backend</p>
                
                <h2 class="text-whisper">Redeploy</h2>
                <p>Programming and design skills</p>
                
                <p><a href="promptly/">Learn more about this app</a></p>
            </div>
            <footer class="teaser-footer">
                <a href="promptly/" class="teaser-masthead">
                    <img class="teaser-image" src="/../media/images/logo-localdata.jpg" />
                </a>
            </footer>
        </article>
    </li>
    <li class="layout-crotchet">
        <article class="teaser teaser-app">
            <header class="teaser-header">
                <a href="promptly/">
                    <h1 class="teaser-title">Promptly</h1>
                </a>
            </header>
            <div class="teaser-body">
                <p>Promptly text messages San Francisco Human Services Agency clients with important information to keep them enrolled in services.</p>
                
                <h2 class="text-whisper">Environment</h2>
                <p>Ruby on Rails with Ohana API backend</p>
                
                <h2 class="text-whisper">Redeploy</h2>
                <p>Programming and design skills</p>
                
                <p><a href="promptly/">Learn more about this app</a></p>
            </div>
            <footer class="teaser-footer">
                <a href="promptly/" class="teaser-masthead">
                    <img class="teaser-image" src="/../media/images/logo-promptly.jpg" />
                </a>
            </footer>
        </article>
    </li>
    <li class="layout-crotchet">
        <article class="teaser teaser-app">
            <header class="teaser-header">
                <a href="promptly/">
                    <h1 class="teaser-title">Civic Insight</h1>
                </a>
            </header>
            <div class="teaser-body">
                <p>Civic Insight (formerly BlightStatus) offers residents up-to-date information on the status of underutilized properties in their community.</p>
                
                <h2 class="text-whisper">Environment</h2>
                <p>Ruby on Rails with Ohana API backend</p>
                
                <h2 class="text-whisper">Redeploy</h2>
                <p>Programming and design skills</p>
                
                <p><a href="promptly/">Learn more about this app</a></p>
            </div>
            <footer class="teaser-footer">
                <a href="promptly/" class="teaser-masthead">
                    <img class="teaser-image" src="/../media/images/logo-civicinsight.jpg" />
                </a>
            </footer>
        </article>
    </li>
</ul>
