<ul class="teasers">
    <li class="layout-crotchet">
        <article class="teaser">
            <header class="teaser-header">
                <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">
                    <h1 class="teaser-title">Why I'm mentoring for America, by Zacahry Townsend</h1>
                </a>
            </header>
            <div class="teaser-body">
                <p>This post is part of an ongoing series by Code for America mentors. Zachary is a 2013 mentor at Code for America for the startups program. <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">Read more</a></p>
            </div>
            <footer class="teaser-footer">
                <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html" class="teaser-masthead">
                    <img class="teaser-image" src="{{page.base-url}}/../_media/images/big-data.jpg" />
                    <span class="teaser-type teaser-type-article">Article</span>
                </a>
            </footer>
        </article>
    </li>
    <li class="layout-crotchet">
        <article class="teaser">
            <header class="teaser-header">
                <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">
                    <h1 class="teaser-title">Why I'm mentoring for America, by Zacahry Townsend</h1>
                </a>
            </header>
            <div class="teaser-body">
                <p>This post is part of an ongoing series by Code for America mentors. Zachary is a 2013 mentor at Code for America for the startups program. <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">Read more</a></p>
            </div>
            <footer class="teaser-footer">
                <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html" class="teaser-masthead">
                    <img class="teaser-image" src="{{page.base-url}}/../_media/images/big-data.jpg" />
                    <span class="teaser-type teaser-type-article">Article</span>
                </a>
            </footer>
        </article>
    </li>
    <li class="layout-crotchet">
        <article class="teaser">
            <header class="teaser-header">
                <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">
                    <h1 class="teaser-title">Why I'm mentoring for America, by Zacahry Townsend</h1>
                </a>
            </header>
            <div class="teaser-body">
                <p>This post is part of an ongoing series by Code for America mentors. Zachary is a 2013 mentor at Code for America for the startups program. <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">Read more</a></p>
            </div>
            <footer class="teaser-footer">
                <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html" class="teaser-masthead">
                    <img class="teaser-image" src="{{page.base-url}}/../_media/images/big-data.jpg" />
                    <span class="teaser-type teaser-type-article">Article</span>
                </a>
            </footer>
        </article>
    </li>
    <li class="layout-crotchet">
        <article class="teaser">
            <header class="teaser-header">
                <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">
                    <h1 class="teaser-title">Why I'm mentoring for America, by Zacahry Townsend</h1>
                </a>
            </header>
            <div class="teaser-body">
                <p>This post is part of an ongoing series by Code for America mentors. Zachary is a 2013 mentor at Code for America for the startups program. <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">Read more</a></p>
            </div>
            <footer class="teaser-footer">
                <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html" class="teaser-masthead">
                    <img class="teaser-image" src="{{page.base-url}}/../_media/images/big-data.jpg" />
                    <span class="teaser-type teaser-type-article">Article</span>
                </a>
            </footer>
        </article>
    </li>
    <li class="layout-crotchet">
        <article class="teaser">
            <header class="teaser-header">
                <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">
                    <h1 class="teaser-title">Why I'm mentoring for America, by Zacahry Townsend</h1>
                </a>
            </header>
            <div class="teaser-body">
                <p>This post is part of an ongoing series by Code for America mentors. Zachary is a 2013 mentor at Code for America for the startups program. <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">Read more</a></p>
            </div>
            <footer class="teaser-footer">
                <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html" class="teaser-masthead">
                    <img class="teaser-image" src="{{page.base-url}}/../_media/images/big-data.jpg" />
                    <span class="teaser-type teaser-type-article">Article</span>
                </a>
            </footer>
        </article>
    </li>
</ul>
