<ul class="teasers layout-grid-crotchet">
    <li>
        <a href="/posts/why-im-mentoring-for-america-by-zachary-townsend.php">
            <h3>Why I'm mentoring for America, by Zacahry Townsend</h3>
            <div>
                <img src="/../media/images/big-data.jpg" alt="" />
                <span class="teaser-type-article">Article</span>
            </div>
        </a>
        <span>The Boston Globe</span>
        <p>This post is part of an ongoing series by Code for America mentors. Zachary is a 2013 mentor at Code for America for the startups program. <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">Read more</a></p>
        </a>
    </li>
    <li>
        <a href="/posts/why-im-mentoring-for-america-by-zachary-townsend.php">
            <h3>Why I'm mentoring for America, by Zacahry Townsend</h3>
            <div>
                <img src="/../media/images/big-data.jpg" alt="" />
                <span class="teaser-type-article">Article</span>
            </div>
        </a>
        <span>The Boston Globe</span>
        <p>This post is part of an ongoing series by Code for America mentors. Zachary is a 2013 mentor at Code for America for the startups program. <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">Read more</a></p>
        </a>
    </li>
    <li>
        <a href="/posts/why-im-mentoring-for-america-by-zachary-townsend.php">
            <h3>Why I'm mentoring for America, by Zacahry Townsend</h3>
            <div>
                <img src="/../media/images/big-data.jpg" alt="" />
                <span class="teaser-type-article">Article</span>
            </div>
        </a>
        <span>The Boston Globe</span>
        <p>This post is part of an ongoing series by Code for America mentors. Zachary is a 2013 mentor at Code for America for the startups program. <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">Read more</a></p>
        </a>
    </li>
    <li>
        <a href="/posts/why-im-mentoring-for-america-by-zachary-townsend.php">
            <h3>Why I'm mentoring for America, by Zacahry Townsend</h3>
            <div>
                <img src="/../media/images/big-data.jpg" alt="" />
                <span class="teaser-type-article">Article</span>
            </div>
        </a>
        <span>The Boston Globe</span>
        <p>This post is part of an ongoing series by Code for America mentors. Zachary is a 2013 mentor at Code for America for the startups program. <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">Read more</a></p>
        </a>
    </li>
    <li>
        <a href="/posts/why-im-mentoring-for-america-by-zachary-townsend.php">
            <h3>Why I'm mentoring for America, by Zacahry Townsend</h3>
            <div>
                <img src="/../media/images/big-data.jpg" alt="" />
                <span class="teaser-type-article">Article</span>
            </div>
        </a>
        <span>The Boston Globe</span>
        <p>This post is part of an ongoing series by Code for America mentors. Zachary is a 2013 mentor at Code for America for the startups program. <a href="../2013/11/13/why-im-mentoring-for-america-by-zachary-townsend.html">Read more</a></p>
        </a>
    </li>
</ul>
