<ul class="teasers layout-grid-crotchet">
    <li>
        <a href="#">
            <h3>Technology team is developing smart solutions to everyday city problems</h3>
            <div>
                <img src="/../media/images/big-data.jpg" alt="" />
                <span class="teaser-type-article">Article</span>
            </div>
        </a>
        <span>The Boston Globe</span>
        <p>On a Friday in the middle of February, Michael Hughes, director of the Boston Public Schools Transportation Department, met with seven visiting fellows from Code for America, a new nonprofit organization that matches teams [&hellip;] <a href="#">Read more</a></p>
        </a>
    </li>
    <li>
        <a href="file.pdf">
            <h3>Open Data Barometer – Open Data Research Network</h3>
            <div>
                <span class="teaser-type-data">Open Data</span>
            </div>
        </a>
        <p>This project was supported with funding from the Open Data Institute</p>
    </li>
    <li class="teaser-video">
        <a href="#">
            <h3>Technology team is developing smart solutions to everyday city problems</h3>
            <div>
                <iframe width="100%" height="250" src="//www.youtube.com/embed/g5P1vJVQc-c?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </a>
        <span>The Boston Globe</span>
        <p>On a Friday in the middle of February, Michael Hughes, director of the Boston Public Schools Transportation Department, met with seven visiting fellows from Code for America, a new nonprofit organization that matches teams [&hellip;] <a href="#">Read more</a></p>
    </li>
    <li>
        <a href="#">
            <h3>Technology team is developing smart solutions to everyday city problems</h3>
            <div>
                <img src="/../media/images/big-data.jpg" alt="" />
                <span class="teaser-type-article">Article</span>
            </div>
        </a>
        <span>The Boston Globe</span>
        <p>On a Friday in the middle of February, Michael Hughes, director of the Boston Public Schools Transportation Department, met with seven visiting fellows from Code for America, a new nonprofit organization that matches teams [&hellip;] <a href="#">Read more</a></p>
        </a>
    </li>
</ul>
