<ul class="teasers">
    <li class="layout-crotchet">
        <article class="teaser teaser-app">
            <header class="teaser-header">
                <a href="#">
                    <h1 class="teaser-title">Civic Insight</h1>
                </a>
            </header>
            <div class="teaser-body">
                <p>Civic Insight (formerly BlightStatus) offers residents up-to-date information on the status of underutilized properties in their community.</p>
                
                <h2 class="text-whisper">Environment</h2>
                <p>Ruby on Rails with Ohana API backend</p>
                
                <h2 class="text-whisper">Redeploy</h2>
                <p>Programming and design skills</p>
                
                <p><a href="#">Learn more about this app</a></p>
            </div>
            <footer class="teaser-footer">
                <a href="#" class="teaser-masthead">
                    <img class="teaser-image" src="/_media/images/logo-civicinsight.jpg" />
                </a>
            </footer>
        </article>
    </li>
    <li class="layout-crotchet">
        <article class="teaser teaser-app">
            <header class="teaser-header">
                <a href="#">
                    <h1 class="teaser-title">Civic Insight</h1>
                </a>
            </header>
            <div class="teaser-body">
                <p>Civic Insight (formerly BlightStatus) offers residents up-to-date information on the status of underutilized properties in their community.</p>
                
                <h2 class="text-whisper">Environment</h2>
                <p>Ruby on Rails with Ohana API backend</p>
                
                <h2 class="text-whisper">Redeploy</h2>
                <p>Programming and design skills</p>
                
                <p><a href="#">Learn more about this app</a></p>
            </div>
            <footer class="teaser-footer">
                <a href="#" class="teaser-masthead">
                    <img class="teaser-image" src="/_media/images/logo-civicinsight.jpg" />
                </a>
            </footer>
        </article>
    </li>
    <li class="layout-crotchet">
        <article class="teaser teaser-app">
            <header class="teaser-header">
                <a href="#">
                    <h1 class="teaser-title">Civic Insight</h1>
                </a>
            </header>
            <div class="teaser-body">
                <p>Civic Insight (formerly BlightStatus) offers residents up-to-date information on the status of underutilized properties in their community.</p>
                
                <h2 class="text-whisper">Environment</h2>
                <p>Ruby on Rails with Ohana API backend</p>
                
                <h2 class="text-whisper">Redeploy</h2>
                <p>Programming and design skills</p>
                
                <p><a href="#">Learn more about this app</a></p>
            </div>
            <footer class="teaser-footer">
                <a href="#" class="teaser-masthead">
                    <img class="teaser-image" src="/_media/images/logo-civicinsight.jpg" />
                </a>
            </footer>
        </article>
    </li>
</ul>
