<div class="wodge wodge-s">
    <img src="http://placehold.it/120x120" class="wodge-image" />
    <h3 class="wodge-header">Build capacity in your community</h3>
    <div class="wodge-button">
        <a href="#" class="button">Brigades</a>
        <a href="#" class="button">Events</a>
    </div>
    <div class="wodge-text">
        <p>Volunteer researchers, designers, developers and city officials are building better civic technology and deploying apps in more than 40 cities. See who’s hacking near you or check out an event in your city.</p>
    </div>

</div>