<div class="wodge wodge-l">
    <h3 class="wodge-header">Fellowship: Ready to spend a year in civic service</h3>
    <img src="http://placehold.it/195x130" class="wodge-image" />
    <div class="wodge-text">
        <p>Code for America’s Accelerator is an annual 4-month program bringing funding, support, and mentorship to early-stage technology businesses that serve local governments.</p>
    </div>
    <a href="#" class="button wodge-button">Find out more</a>
</div>
<div class="wodge wodge-l">
    <h3 class="wodge-header">Fellowship: Ready to spend a year in civic service</h3>
    <img src="http://placehold.it/195x130" class="wodge-image" />
    <div class="wodge-text">
        <p>Code for America’s Accelerator is an annual 4-month program bringing funding, support, and mentorship to early-stage technology businesses that serve local governments.</p>
    </div>
    <a href="#" class="button wodge-button">Find out more</a>
</div>