---
layout: default
title: Somerville
masthead-image: "../../media/images/governments/somerville_header.jpg"
nav_tier1_active: "governments"
nav-breadcrumbs:
 - About: "/about"
 - Government Partners: "/governments"
 - Somerville: "/governments/somerville"
helpers:
  blogpost-helpers:
    category: "somerville"
    max_post_count: 5
  blogpost-markup: true
  underscore: true
---
<section class="layout-semibreve">
  {% include nav-breadcrumbs.html %}
  <header class="badge-heading badge-blue badge-fellowship">
    <h2>Somerville</h2>
  </header>
  <div class="layout-minim">
  	<p>Over the past 10 years, the City of Somerville has prioritized understanding the the needs of all its residents through culturally inclusive dialogue and data-driven insights such as <a href="http://www.somervillema.gov/departments/somerstat"> SomerStat</a> and <a href="http://somervilleresistat.blogspot.com/">ResiStat</a>. However, this data-driven, technology enabled approach had yet to reach the City's school system. In partnership with the City of Somerville, Somerville Public Schools, and Commonwealth of Massachusetts, the 2015 Code for America fellows focused how data and technology could better equip teachers to support their students in need. </p>
  </div>
  <div class="layout-minim">
    <img src="/media/images/governments/somerville-teachers-talking.jpg" alt>
  </div>
</section>

<section class="slab-blue">
  <div class="layout-semibreve">
    <div class="highlight highlight-with-avatar">
      <img class="highlight-avatar" src="../../media/images/governments/somerville-seal.jpg" />
      <blockquote>
        <p>In a time of national gridlock where municipalities increasingly need to be the driving force for creative problem-solving and innovation, it’s critical to have a nimble organization like Code for America working directly with cities to develop new solutions and accelerate our progress. Our Fellows will be helping to expand data-based decision-making in our schools to improve outcomes for our students, and we are honored that we were selected to host them.&rdquo;</p>
      </blockquote>
      <p class="attribute">Mayor Joseph A. Curtatone, Somerville, Massachusetts</p>
    </div>
  </div>
</section>

<section class="layout-semibreve">
  <header class="badge-heading badge-red badge-fellowship">
    <h2>The 2015 Fellowship in Somerville</h2>
  </header>
  <h3>The Research</h3>
<p>During the fellowship, the Somerville team worked closely with the 5th grade teacher team at a local elementary school in one of Massachusetts' top school districts. While the fellows saw that the teachers were already using classroom data to help their students succeed, the process was complicated and full of time-consuming tasks. Teachers shared how they spent too much time manually collating data from diferent systems (attednace rosters, homework assignments, tests, behavioral reviews, etc.), and how they wished that time could be spent working directly with their students. </p>

<p>From the research, the fellows identified four major needs for how a technological solution would best support teachers in the classroom: 
	<ul><li>Help teachers interact with student data to identify patterns e.g., students who are at-risk</li>
	<li>Allow teachers to dig deeper into a student’s history</li>
	<li>Effectively match students to timely and targeted interventions</li>
	<li>Be able to track (effectiveness of) interventions over time, as students switch grades and teachers</li>
	</ul>
</p>
<br>
<h3>The Solution</h3>
<p>With these needs in mind, the fellows developed a tool called Student Insights, which enables educators to see at-risk students and match them to the help they need. With Student Insights, teachers can see who in their classroom needs immediate support, what a student's history is, and what kind of interventions would be most helpful- including tutoring, a parent/teacher conference, etc. The tool enables educators to look at various risk factors- such as assessment scores or attendance- and provide a snapshot of how a student is currently perfomring. The tool also provides the full story of a student's academic and behavioral history in one place, saving teachers time manually tracking down this information. </p>

<br>
<h3>Sustainability</h3>
<p>Student Insights was piloted at a local school at the start of the 2015-16 school. During this testing period, the fellows saw how the tool was helpful, and how it could be improved to better support educators in the classroom. Piloting the tool was so successful that the City has continued to fund development of Student Insights. Post-Fellowship, the City has hired one of the fellows to continue refining and developing the tool. The City is also looking to deploy Student Insights across numerous public schools in the district, and exploring options to create a version of Student Insights that would be helpful for school principals.</p>
	</section>
  <div class="layout-semibreve">
    <h3>Summit Presentation</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MzhKX49Pi0Q?list=PL65XgbSILalUZFyWsZqbtZKN1iffAOM5M" frameborder="0" allowfullscreen></iframe>
  <h4>Meet the team:</h4>
  <ul class="layout-grid-crotchet list-no-bullets">
    <li>{% include people/amir-hadjihabib.html context="2015-fellows" base="../.." %}</li>
    <li>{% include people/mari-muraki.html context="2015-fellows" base="../.." %}</li>
    <li>{% include people/alex-soble.html context="2015-fellows" base="../.." %}</li>
  </ul>
    </div>

  <div class="layout-whole">
    <p><strong>Team Leads</strong>: Denise Taylor, Dir. of Communications and Community Engagement and Stephanie Hirsch, Advisor to the Mayor</p>
    <p><strong>Community Partners</strong>: The Boston Foundation and Microsoft New England</p>
  </div>


<div id="js-blogposts"></div>
