---
layout: default

# Don't use the default masthead
masthead: "no"
nav-global-primary: "no"

nav_tier1_active: "our-work"
nav-breadcrumbs:
 - "Apps": "/our-work/apps"
---
<style>
  input[type="button"] {
    width: 100px;
    height: 40px;
  }
  .teaser-title {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: inherit;
    line-height: 22px;
    margin: 0;
    text-transform: none;
    color: #cf1b41;
  }
</style>
<section>

    <div class="layout-breve layout-tight">
      <!-- App sorting menu -->
	    <div class="layout-minor layout-tight">
        <div class="sort-border">
	    	<h3>Sort By Stage</h3>
	    	<ul>
          <li><input type="button" value="Live" class="button-alternative button-sort"></li>
          <li><input type="button" value="Beta" class="button-default button-sort"></li>
          <li><input type="button" value="Alpha" class="button-bold button-sort"></li>
          <li><input type="button" value="Experimental" class="button-subtle button-sort"></li>
        </ul>
        </div>
	    </div>

	    <div class="layout-major layout-tight">
	    	<!-- Featured App -->
	    	<div class="layout-breve layout-tight">
	    		<h1>Apps</h1>
	    		<div>
    				<div class="layout-major-invert">
    				  <img src="/media/images/apps/cityvoice.jpg" height="200em">
    				</div>

    				<div class="layout-minor-invert">
    					<h3>Featured App</h3>
    					<h4>CityVoice</h4>
    					<p>CityVoice is a location based call-in system for collecting, sharing and understanding community feedback.<a href="../apps/cityvoice/#voiceTop">Read more</a></p>
    				</div>
	    		</div>
	    	</div>

        <div class="layout-whole">
  	    		<h3>Economic Development</h3>
            {% for product in site.data.products %}
              {% if product.focus-area == "Economic Development" %}
    		  			<div class="layout-crotchet-staccato layout-tight js-product js-product-{{ product.stage | replace:' ', '-' | downcase }}">
                  {% if product.imgUrl == null %}
                    <img src="/media/images/apps/app-generic.jpg" height="80" width="247.5">
                  {% else %}
                    <img src="/media/images/apps/{{ product.imgUrl }}" height="80" width="247.5">
                  {% endif %}
                  <h1 class="teaser-title">{{ product.name }}</h1>
                  <p>{{ product.description }}</p>
    		    		</div>
              {% endif %}
            {% endfor %}
        </div>

        <div class="layout-whole">
  	    		<h3>Safety and Justice</h3>
            {% for product in site.data.products %}
              {% if product.focus-area == "Safety & Justice" %}
    		  			<div class="layout-crotchet-staccato layout-tight js-product js-product-{{ product.stage | replace:' ', '-' | downcase }}">
                  {% if product.imgUrl == null %}
                    <img src="/media/images/apps/app-generic.jpg" height="80" width="247.5">
                  {% else %}
                    <img src="/media/images/apps/{{ product.imgUrl }}" height="80" width="247.5">
                  {% endif %}
                  <h1 class="teaser-title">{{ product.name }}</h1>
                  <p>{{ product.description }}</p>
    		    		</div>
              {% endif %}
            {% endfor %}
        </div>

        <div class="layout-whole">
            <h3>Health</h3>
            {% for product in site.data.products %}
              {% if product.focus-area == "Health" %}
                <div class="layout-crotchet-staccato layout-tight js-product js-product-{{ product.stage | replace:' ', '-' | downcase }}">
                  {% if product.imgUrl == null %}
                    <img src="/media/images/apps/app-generic.jpg" height="80" width="247.5">
                  {% else %}
                    <img src="/media/images/apps/{{ product.imgUrl }}" height="80" width="247.5">
                  {% endif %}
                  <h1 class="teaser-title">{{ product.name }}</h1>
                  <p>{{ product.description }}</p>
                </div>
              {% endif %}
            {% endfor %}
        </div>

        <div class="layout-whole">
            <h3>Communications and Engagement</h3>
            {% for product in site.data.products %}
              {% if product.focus-area == "Comms & Engagement" %}
                <div class="layout-crotchet-staccato layout-tight js-product js-product-{{ product.stage | replace:' ', '-' | downcase }}">
                  {% if product.imgUrl == null %}
                    <img src="/media/images/apps/app-generic.jpg" height="80" width="247.5">
                  {% else %}
                    <img src="/media/images/apps/{{ product.imgUrl }}" height="80" width="247.5">
                  {% endif %}
                  <h1 class="teaser-title">{{ product.name }}</h1>
                  <p>{{ product.description }}</p>
                </div>
              {% endif %}
            {% endfor %}
        </div>

        <div class="layout-whole">
            <h3>Other</h3>
            {% for product in site.data.products %}
              {% if product.focus-area != "Comms & Engagement" and product.focus-area != "Economic Development" and product.focus-area != "Health" and product.focus-area != "Safety & Justice" %}
                <div class="layout-crotchet-staccato layout-tight js-product js-product-{{ product.stage | replace:' ', '-' | downcase }}">
                  {% if product.imgUrl == null %}
                    <img src="/media/images/apps/app-generic.jpg" height="80" width="247.5">
                  {% else %}
                    <img src="/media/images/apps/{{ product.imgUrl }}" height="80" width="247.5">
                  {% endif %}
                  <h1 class="teaser-title">{{ product.name }}</h1>
                  <p>{{ product.description }}</p>
                </div>
              {% endif %}
            {% endfor %}
        </div>
      </div>

    </div>




</section>
