---
layout: default
title: 2014 Fellows
nav_tier1_active: "citizens"
masthead-image: "../../../media/images/geeks/fellowship2014_header.jpg"
nav-breadcrumbs:
 - citizens: "/geeks"
 - our geeks: "/geeks/our-geeks"
 - 2014 fellows: "/geeks/our-geeks/2014-fellows"
---
    
    <section>

    <div class="layout-semibreve">

            <header class="badge-heading badge-fellowship badge-blue">
                <h2>Become a Fellow</h2>
            </header>
            
            <section>
            <div class="layout-gutters isolate">
                
                <p>Over 600 people applied to be Code for America Fellows for the 2014 program. Candidates came in from across the country and around the world, and they came with backgrounds ranging from back-end development experience to urban design.</p>
                
    
                <ul class="list-inline list-no-bullets layout-centered"> 
                    <li><a href="../../../geeks/fellowship-faq/#eligibility" class="button">Eligibility and Selection</a></li>
                    <li><a href="../../../geeks/fellowship-faq/#appsandtraining" class="button">Apps and Training</a></li>
                    <li><a href="../../../geeks/fellowship-faq/#timing" class="button">See the Timeline</a></li>
                </ul>
            
            </div>
            
            </section>
            
            <section>
                
                <div class="layout-breve">
                
                    <h2 class="layout-centered h3 isolate">Meet the 2014 Fellows</h2>
                    
                    <ul>
                        <li class="layout-crotchet">
                            {% include people/tiffani-bell.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/maya-benari.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/becky-boone.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/tom-buckley.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/tiffany-chu.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/jason-denizac.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/lyzi-diamond.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/andrew-douglass.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/wendy-fong.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/rhys-fureigh.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/daniel-getelman.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/clara-gonzalez-sueyro.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/kavi-harshawat.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/sam-hashemi.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/jeremia-kimelman.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/david-leonard.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/jeff-maher.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/andrew-maier.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/molly-mcleod.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/amy-mok.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/anna-marie-panlilio.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/maksim-pecherskiy.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/erik-schwartz.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/giselle-sperber.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/ainsley-wagoner.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/peter-welte.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/danny-whalen.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/drew-wilson.html context="2014-fellows" base="../../.." %}
                        </li>
                        <li class="layout-crotchet">
                            {% include people/livien-yin.html context="2014-fellows" base="../../.." %}
                        </li>
                    </ul>
                
                </div>
                
            </section>
            
    </div>

</section>
