{% include head.html %}
    
    {% include header.html %}
    
    <section>
    
        <div class="layout-semibreve layout-tight">
            
            {% include /blocks/patterns/nav-breadcrumb.html %}
            
            <div class="layout-centered">
                
                <h2 class="h3 isolate">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</h2>
                            
            </div>
        
        </div>
        
        <div class="nav-tabs">
        	<ul class="layout-semibreve layout-tight">
    	        <li class="nav-tab state-active"><a class="nav-tab-link" href="#">News</a></li>
    	        <li class="nav-tab"><a class="nav-tab-link" href="#">Cities</a></li>
    	        <li class="nav-tab"><a class="nav-tab-link" href="#">Startups</a></li>
    	        <li class="nav-tab"><a class="nav-tab-link" href="#">Civic Hacking</a></li>
            </ul>
        </div>
        
        <div class="layout-semibreve layout-tight">
        <div class="tab-content">
            <div class="tab-pane state-active">
                {% include /blocks/patterns/teasers-blog.html %}
                <p class="layout-centered isolate"><a href="#" class="button button-subtle button-crotchet text-whisper">Load More</a></p>
            </div>
        </div>
        </div>
        
    </section>
    
    {% include footer.html %}
    
{% include foot.html %}