<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% if page.title != "Code for America" %}{{ page.title }} —{% endif %} Code for America</title>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6435252/646022/css/fonts.css" />
    <link rel="stylesheet" href="/style/css/main.css">
    <link rel="stylesheet" href="/style/css/layout.css" media="all and (min-width: 40em)">
    <link href="/style/css/prism.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/style/favicons/60x60/flag-red.png"/>

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!--[if (lt IE 9)&(gt IE 6)&(!IEMobile)]>
        <link rel="stylesheet" href="/style/css/layout.css" media="all">
    <![endif]-->
      
    {% if page.masthead-image %}
      <style type="text/css">
        .masthead:before {
                background-image: url('{{ page.masthead-image }}');
        }
      </style>
    {% endif %}
  </head>
      
  <body>
    <div class="js-container">
      {% include nav.html %}
      <main role="main">
        {{ content }}
        
        {% include global-footer.html %}
      </main>
    </div>
    <script src="/script/global.js"></script>
  </body>
</html>