<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Code for America</title>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6435252/678502/css/fonts.css" />
    <link rel="stylesheet" href="/style/css/main.css">
    <link rel="stylesheet" href="/style/css/layout.css" media="all and (min-width: 40em)">
    <link href="/style/css/prism.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/style/favicons/60x60/flag-red.png"/>

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!--[if (lt IE 9)&(gt IE 6)&(!IEMobile)]>
        <link rel="stylesheet" href="/style/css/layout.css" media="all">
    <![endif]-->

	<style type="text/css">
		.masthead:before {
			background-image: url('/media/images/masthead/masthead-6.jpg');
		}
	</style>
</head>
    
<body>
<div class="js-container">

<nav class="nav-global-primary">
  <ul class="layout-breve layout-tight">
    <li><a href="/blog">Blog</a></li>
    <li><a href="/library">Library</a></li>
    <li>
      <form class="search-global" id="search-global" action="https://www.google.com/search" method="get" role="search">
          <input type="search" id="search-global-input" class="search-global-input" autocomplete="off" placeholder="Search" name="q" />
          <!-- consider applying autofocus="autofocus" to input -->
          <button class="search-global-submit" id="search-global-submit" value="www.codeforamerica.org" type="submit" name="as_sitesearch">Search</button>
      </form>
    </li>
  </ul>
</nav>

<div class="global-header global-header-compact" role="banner">
  <a href="/" class="global-header-logo">
      <img src="/assets/logo.gif" />
  </a>

  <p class="global-header-tagline">
    <strong>By the people, for the people,</strong> for the 21<sup>st</sup> century
  </p>

  <p class="skip-to-nav"><a href="#global-footer">Menu</a></p>

  <nav class="nav-global-secondary">
    <ul>
      <li class="nav-tier1 nav-has-children">
        <a href="/about">About</a>
      </li>
      <li class="nav-tier1 nav-has-children">
        <a href="/cities">Governments</a>
      </li>
      <li class="nav-tier1 nav-has-children">
        <a href="/geeks">Citizens</a>  
      </li>
      <li class="nav-tier1">
        <a href="/apps">Apps</a>
      </li>
      <li><a href="/donate" class="button">Donate</a></li>
    </ul>
  </nav>    
</div>
        
<div class="masthead masthead-xl">
    <header class="layout-semibreve masthead-header">
        <h1 class="page-title" >In San Francisco</h1>
        <p>One third of HSA clients are unneccessarily cut from food benefits. Four fellows built <a href="#">Promptly</a> offering SMS notifications to keep families fed.</p>
        <a class="text-whisper button-invert" href="/_site/about/">Learn more about what we do</a>
    </header>
</div>
    
<main role="main">
    {{ content }}
    
    {% include global-footer.html %}
</main>

</div><!-- /.js-container -->

<script src="/script/global.js"></script>

</body>

</html>
