{% include head.html %}
    
    {% include header.html %}
    
    <section>
    
        <div class="layout-semibreve">
        
            <nav class="nav-breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>Blog</li>
                </ul>
            </nav>
            
            <article>
                
                <header class="post-header isolate">
                    <h2 class="post-title">{{ page.title }}</h2>
                    <time class="post-date insulate text-whisper" datetime="{{ page.date }}">November 1st 2013</time>
                </header>
                
                <div class="post-body">
                
                    <div class="post-content layout-major">
                        
                        {{ content }}
                    
                    </div>
                    
                    <div class="post-author layout-minor">
                        <h2 class="text-whisper layout-tight">Written by</h2>
                        <div class="h-card">
                            <h3 class="p-name profile-name text-prominent">Zachary Townsend</h3>
                            <img class="u-photo profile-photo" src="/_media/images/avatar-zachary-townsend.jpg" />
                        </div>
                        
                        <div class="p-note profile-note">
                            <p>I have spent most of my professional life working to understand and improve the efficiencies and effectiveness of governments.</p>
                        </div>
                        
                        <div>
                            <h2 class="text-quiet layout-tight">Filed under</h2>
                            <ul class="list-no-bullets link-invert text-whisper">
                                <li><a href="#">Accelerator</a></li>
                                <li><a href="#">Commentary</a></li>
                                <li><a href="#">Guest Post</a></li>
                                <li><a href="#">Mentor</a></li>
                            </ul>
                        </div>
                        
                    </div><!-- .post-author -->
                
                </div><!-- .post-body -->
            
            </article><!-- .post -->
            
        </div><!-- .layout-semibreve -->
            
    	<nav role="navigation">
    	    <ul class="list">
    	        <li><a href="#" rel="prev">Previous</a></li>
    	        <li><a class="icon-grid" href="#">All articles</a></li>
    	        <li><a href="#" rel="next">Next</a></li>
    	    </ul>
    	</nav><!--/.nav-page-->
    	
    	<div class="layout-semibreve">
            
        	<p>Questions? Comments? <a class="button button-prominent" href="http://twitter.com/codeforamerica">Hit us up at <strong class="icon-twitter2">@codeforamerica</strong></a></p>
        
        </div>
        
    </section>
    
    {% include footer.html %}
    
{% include foot.html %}