/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 7, ../sass/ie.scss */
.getinvolved {
  background: #fff;
}

/* line 11, ../sass/ie.scss */
#marker {
  background: url("https://a.tiles.mapbox.com/v3/marker/pin-m+e87d2b.png");
}

/* line 15, ../sass/ie.scss */
#markerCircle {
  background: url("https://a.tiles.mapbox.com/v3/marker/pin-m+e87d2b.png");
}
