/*  Colors ––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin color($color, $opacity: 1) {
    color: $color; // fallback
    color: rgba($color, $opacity);
    }

@mixin background-color($color, $opacity: 1) {
    background: $color; // fallback
    background: rgba($color, $opacity);
    }

@mixin border-color($color, $opacity: 1) {
    border-color: $color; // fallback
    border-color: rgba($color, $opacity);
    }


/*  Primary Colors --------------------------------------- */
    
    $color-red: #CF1B41;    
    $color-blue: #399FD3;
    $color-gray: #6D6E71;
    $color-black: #000;


/*  Secondary Colors ------------------------------------- */
    
    $color-dark-red: #82172D;
    $color-medium-red: #AA1C3A;
    $color-dark-blue: #004B6A;
    $color-light-blue: #7AB5D6;
    $color-dark-gray: #494C49;
    $color-medium-gray: #999595;
    $color-light-gray: #E5E5E5;
    $color-orange: #E87D2B;
    $color-purple: #69579C;
    $color-teal: #00A175;
    $color-medium-blue: #4298BB;
    $color-yellow: #FEDD44;
    $color-white: #FFFFFF;