/*  Icons ––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
	font-family: 'ico-moon';
	src: url('../fonts/ico-moon/ico-moon.eot');
	src: url('../fonts/ico-moon/ico-moon.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ico-moon/ico-moon.ttf') format('truetype'),
		 url('../fonts/ico-moon/ico-moon.woff') format('woff'),
		 url('../fonts/ico-moon/ico-moon.svg#ico-moon') format('svg');
	font-weight: normal;
	font-style: normal;
    }

[class*="icon"] {
    background-repeat: no-repeat;
    }

[class*="icon-"] {
	speak: none;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    }

.icon-large {
    font-size: 1.5em;
    }

.icon-red,
.icon-red:link,
.icon-red:visited,
.icon-red:hover,
.icon-red:focus,
.icon-red:active {
    @include color($color-red, 1);
    }

.icon-blue,
.icon-blue:link,
.icon-blue:visited,
.icon-blue:hover,
.icon-blue:focus,
.icon-blue:active {
    @include color($color-blue, 1);
    }

.icon-grey,
.icon-grey:link,
.icon-grey:visited,
.icon-grey:hover,
.icon-grey:focus,
.icon-grey:active {
    @include color($color-gray, 1);
    }

[class*="icon-"]:before {
	font-family: 'ico-moon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 0.35em;
    font-size: 1em;
    vertical-align: middle;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    }


.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-twitter2:before {
	content: "\e49d";
}
.icon-feed:before {
	content: "\e602";
}
.icon-vimeo2:before {
	content: "\e603";
}
.icon-lanyrd:before {
	content: "\e604";
}
.icon-flickr:before {
	content: "\e605";
}
.icon-mail:before {
	content: "\e606";
}
.icon-youtube:before {
	content: "\e607";
}
.icon-google-plus:before {
	content: "\e608";
}
.icon-google-plus2:before {
	content: "\e609";
}
.icon-github:before {
	content: "\e60c";
}
.icon-linkedin:before {
	content: "\e612";
}
.icon-skype:before {
	content: "\e613";
}
.icon-html5:before {
	content: "\e614";
}
.icon-css3:before {
	content: "\e615";
}
.icon-chrome:before {
	content: "\e616";
}
.icon-firefox:before {
	content: "\e617";
}
.icon-IE:before {
	content: "\e618";
}
.icon-opera:before {
	content: "\e619";
}
.icon-safari:before {
	content: "\e61a";
}
.icon-share:before {
	content: "\e61b";
}
.icon-github2:before {
	content: "\e61e";
}
.icon-user:before {
	content: "\e61f";
}
.icon-cc:before {
	content: "\e622";
}
.icon-phone:before {
	content: "\e625";
}
.icon-location:before {
	content: "\e626";
}
.icon-envelop:before {
	content: "\e627";
}
.icon-alarm:before {
	content: "\e628";
}
.icon-print:before {
	content: "\e631";
}
.icon-database:before {
	content: "\e633";
}
.icon-undo:before {
	content: "\e637";
}
.icon-redo:before {
	content: "\e638";
}
.icon-bubble:before {
	content: "\e63d";
}
.icon-users:before {
	content: "\e641";
}
.icon-quotes-left:before {
	content: "\e642";
}
.icon-quotes-right:before {
	content: "\e643";
}
.icon-key:before {
	content: "\e648";
}
.icon-wrench:before {
	content: "\e649";
}
.icon-cogs:before {
	content: "\e64a";
}
.icon-download2:before {
	content: "\e670";
}
.icon-upload2:before {
	content: "\e671";
}
.icon-earth:before {
	content: "\e672";
}
.icon-star:before {
	content: "\e679";
}
.icon-star2:before {
	content: "\e67a";
}
.icon-star3:before {
	content: "\e67b";
}
.icon-arrow-up:before {
	content: "\e695";
}
.icon-arrow-right2:before {
	content: "\e696";
}
.icon-arrow-down:before {
	content: "\e697";
}
.icon-arrow-left:before {
	content: "\e698";
}
.icon-arrow-up2:before {
	content: "\e699";
}
.icon-arrow-right3:before {
	content: "\e69a";
}
.icon-arrow-down2:before {
	content: "\e69b";
}
.icon-arrow-left2:before {
	content: "\e69c";
}
.icon-new-tab:before {
	content: "\e69e";
}
.icon-embed:before {
	content: "\e69f";
}
.icon-code:before {
	content: "\e6a0";
}
.icon-search:before {
	content: "\e6a2";
}
.icon-bullhorn:before {
	content: "\e6a3";
}
.icon-rocket:before {
	content: "\e65a";
}
.icon-checkmark:before {
	content: "\e370";
}
.icon-tools:before {
	content: "\e1e9";
}
.icon-lamp:before {
	content: "\e24d";
}
.icon-calendar:before {
	content: "\e115";
}
.icon-cc2:before {
	content: "\e6a4";
}
.icon-cc-by:before {
	content: "\e6a5";
}
.icon-cc-nc:before {
	content: "\e6a6";
}
.icon-cc-nc-eu:before {
	content: "\e6a7";
}
.icon-cc-nc-jp:before {
	content: "\e6a8";
}
.icon-cc-sa:before {
	content: "\e6a9";
}
.icon-cc-nd:before {
	content: "\e6aa";
}
.icon-cc-pd:before {
	content: "\e6ab";
}
.icon-cc-zero:before {
	content: "\e6ac";
}
.icon-cc-share:before {
	content: "\e6ad";
}
.icon-cc-share2:before {
	content: "\e6ae";
}
.icon-thumbs-up:before {
	content: "\e6b0";
}
.icon-thumbs-down:before {
	content: "\e6b1";
}
.icon-upload3:before {
	content: "\e6b2";
}
.icon-cloud:before {
	content: "\e6b3";
}
.icon-grid:before {
	content: "\e2a0";
}
.icon-tumblr:before {
	content: "\e611";
}