textarea,
input,
select {
	@include rem(border-radius, 4px);
    border-width: 1px;
    border-style: solid;
    @include border-color($color-medium-gray, 0.7);
    margin-bottom: 1em;
    font-family: $font-sans-regular;
    }

input,
select {
    @include rem(padding, 0 12px);
    @include rem(margin, 0 8px 2px 0);
    @include rem(line-height, 19px);
    @include rem(font-size, 14px);
    @include rem(min-height, 39px);
    vertical-align: middle;
    display: inline-block;
    }
    
    @media print {
    input,
    select,
    textarea {
    	border: 1px solid $color-medium-gray;
    	}
    }

select {
	background-image: url("../images/arrow-triangle-down.png");
	background-position: 96% center;
	background-position: top 12px right 15px;
	background-repeat: no-repeat;
	@include rem(padding, 9px 26px);
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	text-indent: 0.01px;
	text-overflow: "";
	font-size: 1em;
	line-height: 1.4em;
	-webkit-appearance: none;
	min-width: 150px;
	}

select[disabled],
select[multiple] {
	background-image: none;
	}

label {
	@include rem(line-height, 20px);
    display: block;
    margin-right: 0.5em;
    text-transform: uppercase;
    color: $color-gray;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 0.8em;
    }
    
    @media print {
    	label {
    		color: $color-dark-gray
    		}
    	}

textarea:focus,
input:focus {
    @include border-color($color-dark-blue, 1);
    outline: 0;
    }

input.invalid {
    border: 1px solid $color-red;
    }

input[type="text"][disabled] {
    @include background-color($color-light-gray, 0.5);
    }

abbr[title="required"],
abbr[title="Required"] {
    @include color($color-red, 0.8);
    border-bottom: none;
    }

textarea {
    max-width: 98%;
    padding: 1em 1%;
    font-size: 1em;
    margin: 0;
    }

textarea[disabled] {
    cursor: not-allowed;
    @include background-color($color-light-gray, 0.5);
    }

video {
    max-width: 100%;
    }

fieldset {
    border: none;
    }

select:hover {	
	cursor: pointer;
	}

select[disabled] {
    cursor: not-allowed;
    @include background-color($color-light-gray, 0.5);
    }
    
input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }