h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-serif-bold;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    }

h1,
.h1 {
    line-height: 1.2em;
    @include font-sans-bold;
    text-transform: uppercase;
    display: block;
    clear: left;
    @include rem(font-size, 50px);
    letter-spacing: -3px;
    }

h1 sup,
.h1 sup {
	@include rem(font-size, 27px);
	}

h2,
.h2 {
    @include font-serif-bold;
    @include rem(font-size, 40px);
    @include rem(line-height, 44px);
    text-transform: none;
    }
    
    @media print {
    	h1,
    	.h1,
    	h2,
    	.h2 {
    		@include rem(font-size, 30px);
    		@include rem(line-height, 34px);
    		}
    	}

h3,
.h3 {
    @include rem(font-size, 30px);
    @include font-serif-bold;
    line-height: 1.15em;
    }
    
    @media print {
    	h3,
    	.h3 {
    		@include rem(font-size, 25px);
    		}
    	}

h4,
.h4 {
    @include rem(font-size, 24px);
    @include font-serif-bold;
    }

h5,
.h5 {
    font-size: 17px;
    font-family: $font-sans-regular;
    text-transform: uppercase;
    }

h6,
.h6 {
    text-transform: uppercase;
    margin: 0;
    @include rem(margin, 0 0 15px 0);
    font-family: $font-sans-regular;
    @include rem(font-size, 12px);
    line-height: 1.8em;
    color: $color-black;
    font-weight: normal;
    letter-spacing: 0.8px;
    }