a:link,
a:visited,
a:hover,
a:focus,
a:active {
    @include color($color-red, 1);
    text-decoration: none;
    }

a:hover,
a:focus,
a:active {
    border-bottom: 1px solid;
    @include border-color($color-red, 0.7);
    }

main a {
    font-weight: 600;
    }

main a:hover,
main a:focus,
main a:active {
    border-bottom: 1px solid;
    @include border-color($color-red, 0.7);
    }

a img { // IE adds a border around images if a link
	border: none;
	}

.link-unstyled:hover,
.link-unstyled:focus,
.link-unstyled:active {
	border-bottom: none;
	}

.link-invert:link,
.link-invert:visited,
.link-invert:hover,
.link-invert:focus,
.link-invert:active,
.link-invert a:link,
.link-invert a:visited,
.link-invert a:hover,
.link-invert a:focus,
.link-invert a:active {
	color: $color-blue;
	}

a.link-invert:hover,
a.link-invert:focus,
a.link-invert:active,
.link-invert a:hover,
.link-invert a:focus,
.link-invert a:active {
	border-bottom: 1px solid;
	@include border-color($color-blue, 0.7);
	}