ol,
ul {
    @include rem(margin, 8px 0);
    @include rem(padding, 0 0 0 35px);
    }

ul {
    padding-left: 0;
    }

ol li {
    list-style-type: decimal;
    }

ul li {
    background-image: url("../images/bullet.gif");
    background-repeat: no-repeat;
    list-style-type: none;
    background-position: left 0.63em;
    padding-left: 1.3em;
    }

.list-minim {
	-webkit-column-count: 2;
	column-count: 2;
	}